---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=07d04db73f3042988d5b458c04d70467-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 07d04db73f3042988d5b458c04d70467-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"07d04db73f3042988d5b458c04d70467-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"1bd30e47a8814ee4b58dccf2d9442202"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - a31f5c11-03ca-4df6-5a97-7db616e289ba
        status: 200 OK
        code: 200
        duration: 193.123178ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/784b4cd0-4771-4e4d-9052-a07e178bae56/users?page=1&per_page=50
        method: GET
      response:
        body: '{"errors":[{"detail":"Space not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1707469388"
            X-Vcap-Request-Id:
                - d3058b2c-849d-4c86-7fba-542648e2ab8a::d57af263-46c7-4425-959d-f720ad44e33b
        status: 404 Not Found
        code: 404
        duration: 189.293711ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/dd457c79-f7c9-4828-862b-35843d3b646d/users?page=1&per_page=50
        method: GET
      response:
        body: '{"errors":[{"detail":"Organization not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1707469388"
            X-Vcap-Request-Id:
                - c7ba354d-240a-4670-5347-0607b6c025e2::f4605bec-b43b-4160-81e5-0ab5237986ec
        status: 404 Not Found
        code: 404
        duration: 183.771397ms
