---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organization_quotas?names=tf-test-do-not-delete
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?names=tf-test-do-not-delete\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?names=tf-test-do-not-delete\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"e3cef997-9ba5-4cb4-b25b-c79faa81a33f","created_at":"2024-02-01T05:45:49Z","updated_at":"2024-02-02T07:16:17Z","name":"tf-test-do-not-delete","apps":{"total_memory_in_mb":51200,"per_process_memory_in_mb":2048,"total_instances":100,"per_app_tasks":10,"log_rate_limit_in_bytes_per_second":1000},"services":{"paid_services_allowed":true,"total_service_instances":200,"total_service_keys":120},"routes":{"total_routes":50,"total_reserved_ports":5},"domains":{"total_domains":40},"relationships":{"organizations":{"data":[{"guid":"30edf44a-2d4c-432c-9680-9a61123edcf1"}]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/e3cef997-9ba5-4cb4-b25b-c79faa81a33f"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 24b2c6e3-7405-43ea-7dc2-597d4d8af6f1::c1f9cbff-7037-4b18-95b5-cec7918f4fb5
        status: 200 OK
        code: 200
        duration: 195.463042ms
[...]
