---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/stacks?names=cflinuxfs4
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/stacks?names=cflinuxfs4\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/stacks?names=cflinuxfs4\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"e30ec8ca-f6ef-4bf4-8354-17670f89844e","created_at":"2022-12-13T14:13:59Z","updated_at":"2022-12-13T14:13:59Z","name":"cflinuxfs4","description":"Cloud Foundry Linux-based filesystem (Ubuntu 22.04)","run_rootfs_image":"cflinuxfs4","build_rootfs_image":"cflinuxfs4","default":true,"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/stacks/e30ec8ca-f6ef-4bf4-8354-17670f89844e"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e3a937e2-42e8-44cf-7d0d-5c45ee7b9f4d::6054978e-b4a7-44ed-a796-21e5bfb45363
        status: 200 OK
        code: 200
        duration: 751.634875ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/stacks?names=cflinuxfs4
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/stacks?names=cflinuxfs4\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/stacks?names=cflinuxfs4\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"e30ec8ca-f6ef-4bf4-8354-17670f89844e","created_at":"2022-12-13T14:13:59Z","updated_at":"2022-12-13T14:13:59Z","name":"cflinuxfs4","description":"Cloud Foundry Linux-based filesystem (Ubuntu 22.04)","run_rootfs_image":"cflinuxfs4","build_rootfs_image":"cflinuxfs4","default":true,"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/stacks/e30ec8ca-f6ef-4bf4-8354-17670f89844e"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - fbab3fb7-21c3-43ab-7970-ec4a511ab686::f5629d95-3518-4228-b727-809210afd365
        status: 200 OK
        code: 200
        duration: 168.927084ms
[...]
