---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=ee096ec89fff44f6b42803aa15a43ea2-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - ee096ec89fff44f6b42803aa15a43ea2-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"ee096ec89fff44f6b42803aa15a43ea2-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"12ddc8fc3e35479d9ecc054873722578"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 4e61e147-3495-4b3d-5c0c-1e4018dc3150
        status: 200 OK
        code: 200
        duration: 338.744792ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?names=invalid-binding-name&page=1&per_page=50&service_instance_guids=5e2976bb-332e-41e1-8be3-53baafea9296
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?names=invalid-binding-name\u0026page=1\u0026per_page=50\u0026service_instance_guids=5e2976bb-332e-41e1-8be3-53baafea9296"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?names=invalid-binding-name\u0026page=1\u0026per_page=50\u0026service_instance_guids=5e2976bb-332e-41e1-8be3-53baafea9296"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - 46f02a27-ba4e-4e17-66c3-11ff074ea1ed::6bdb0bac-5189-4fbc-8d8b-cb77f57ecf1c
        status: 200 OK
        code: 200
        duration: 261.89775ms
