---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?names=hifi&page=1&per_page=50&service_instance_guids=e9ec29ca-993d-42e2-9c5b-cb17b1972cce
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?names=hifi\u0026page=1\u0026per_page=50\u0026service_instance_guids=e9ec29ca-993d-42e2-9c5b-cb17b1972cce"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?names=hifi\u0026page=1\u0026per_page=50\u0026service_instance_guids=e9ec29ca-993d-42e2-9c5b-cb17b1972cce"},"next":null,"previous":null},"resources":[{"guid":"e558565e-3374-429a-a822-99a61853a2da","created_at":"2024-04-18T04:50:40Z","updated_at":"2024-04-18T04:50:41Z","name":"hifi","type":"key","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2024-04-18T04:50:41Z","created_at":"2024-04-18T04:50:41Z"},"metadata":{"labels":{},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"e9ec29ca-993d-42e2-9c5b-cb17b1972cce"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/e558565e-3374-429a-a822-99a61853a2da"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/e558565e-3374-429a-a822-99a61853a2da/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/e9ec29ca-993d-42e2-9c5b-cb17b1972cce"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/e558565e-3374-429a-a822-99a61853a2da/parameters"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1731922388"
            X-Vcap-Request-Id:
                - b26041a5-cf16-4073-7ca5-e7c9138cbc67::62006e07-c411-405d-832e-6ad789d55228
        status: 200 OK
        code: 200
        duration: 809.501459ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/e558565e-3374-429a-a822-99a61853a2da/details
        method: GET
      response:
        body: '{"credentials":{"tenantmode":"dedicated","sburl":"https://internal-xsuaa.authentication.sap.hana.ondemand.com","subaccountid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","credential-type":"instance-secret","clientid":"sb-tf-test231!t4176","xsappname":"tf-test231!t4176","clientsecret":"22dtaFC7SAaJQbmEBKKAB7CWiwY=","serviceInstanceId":"e9ec29ca-993d-42e2-9c5b-cb17b1972cce","url":"https://performanceteamblr.authentication.sap.hana.ondemand.com","uaadomain":"authentication.sap.hana.ondemand.com","verificationkey":"-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt0mX/xGskI6pZuVyh9ql\n6y1OBDcC8eIBIYOY0bJGuu7KWnT3H8pY+6DDPmKM3mqoEMsNDwmQo0BF3RvuJkxY\nc4qAJe13p2juqCpuEtd+dRTeiEcL1ZIByiT11OQ2QgIsDDiYJRpSOp8kjB6KtVGY\nGp9wyE2KkaOPP3TsZaJtxoCTuylBMlvEam144O47Y7po/HrvxgUo1nZRb5a2qtna\nhYwnUAu5XjJNvFuZFtXIiLhGypBoqySBcA/0RQhbW5pSUOmY8XI0FHrY+/kolNsj\n0ePsSBCKLdSmh7qByUjbqcDgq424TZsXwRyyFHLy309LzZx9zU5bbANyX6+aq/GJ\nMQIDAQAB\n-----END PUBLIC KEY-----","apiurl":"https://api.authentication.sap.hana.ondemand.com","identityzone":"performanceteamblr","identityzoneid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","tenantid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","zoneid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1731922388"
            X-Vcap-Request-Id:
                - 6816f232-bc26-4a57-714b-836ca18df5d8::24d382ea-721f-4583-8095-70797696a195
        status: 200 OK
        code: 200
        duration: 316.046458ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/e558565e-3374-429a-a822-99a61853a2da/parameters
        method: GET
      response:
        body: '{"errors":[{"detail":"This service does not support fetching service binding parameters.","title":"CF-ServiceFetchBindingParametersNotSupported","code":90007}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1731922388"
            X-Vcap-Request-Id:
                - 9d26bf65-f9a1-44bd-4357-aac7168fe9f5::6d98cd73-88d4-4697-a414-8da1d99c35e1
        status: 400 Bad Request
        code: 400
        duration: 320.112125ms
[...]
