---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users?usernames=debaditya.ray%40sap.com
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/users?page=1\u0026per_page=50\u0026usernames=debaditya.ray%40sap.com"},"last":{"href":"https://api.x.x.x.x.com/v3/users?page=1\u0026per_page=50\u0026usernames=debaditya.ray%40sap.com"},"next":null,"previous":null},"resources":[{"guid":"2334cf47-fead-4e5f-bd2a-6e7153e7f144","created_at":"2023-02-01T11:41:32Z","updated_at":"2023-05-15T11:36:22Z","username":"debaditya.ray@sap.com","presentation_name":"debaditya.ray@sap.com","origin":"sap.ids","metadata":{"labels":{"enviroment":"staging"},"annotations":{"note":"detailed information"}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/2334cf47-fead-4e5f-bd2a-6e7153e7f144"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f01e6799-8e2b-4c7e-738a-c09b0ee9443b::1c526a97-51c2-4c59-872c-27fbd5c2145c
        status: 200 OK
        code: 200
        duration: 687.476317ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users?usernames=debaditya.ray%40sap.com
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/users?page=1\u0026per_page=50\u0026usernames=debaditya.ray%40sap.com"},"last":{"href":"https://api.x.x.x.x.com/v3/users?page=1\u0026per_page=50\u0026usernames=debaditya.ray%40sap.com"},"next":null,"previous":null},"resources":[{"guid":"2334cf47-fead-4e5f-bd2a-6e7153e7f144","created_at":"2023-02-01T11:41:32Z","updated_at":"2023-05-15T11:36:22Z","username":"debaditya.ray@sap.com","presentation_name":"debaditya.ray@sap.com","origin":"sap.ids","metadata":{"labels":{"enviroment":"staging"},"annotations":{"note":"detailed information"}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/2334cf47-fead-4e5f-bd2a-6e7153e7f144"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - dbf7cb2b-02af-4f3c-49b5-6df686693822::ffa85929-297d-4030-bf29-f8bcf8f0eca0
        status: 200 OK
        code: 200
        duration: 260.200894ms
[...]
