---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=ee096ec89fff44f6b42803aa15a43ea2-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - ee096ec89fff44f6b42803aa15a43ea2-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"ee096ec89fff44f6b42803aa15a43ea2-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"773d4655cf504ba3af68e20ee9387ca6"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 4a47d8ad-d0eb-4db0-6b86-7b4e7b75b37d
        status: 200 OK
        code: 200
        duration: 280.156875ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?page=1&per_page=50&service_instance_guids=5e2976bb-332e-41e1-8be3-53baafea9296
        method: GET
      response:
        body: '{"pagination":{"total_results":2,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?page=1\u0026per_page=50\u0026service_instance_guids=5e2976bb-332e-41e1-8be3-53baafea9296"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?page=1\u0026per_page=50\u0026service_instance_guids=5e2976bb-332e-41e1-8be3-53baafea9296"},"next":null,"previous":null},"resources":[{"guid":"b266dc59-369b-42ad-9272-a4cf6f07dba4","created_at":"2025-04-30T16:39:48Z","updated_at":"2025-04-30T16:39:48Z","name":null,"type":"app","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2025-04-30T16:39:48Z","created_at":"2025-04-30T16:39:48Z"},"metadata":{"labels":{},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"5e2976bb-332e-41e1-8be3-53baafea9296"}},"app":{"data":{"guid":"e04e63c1-6e69-4537-b9e2-95ab6f3ebfcf"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/b266dc59-369b-42ad-9272-a4cf6f07dba4"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/b266dc59-369b-42ad-9272-a4cf6f07dba4/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/5e2976bb-332e-41e1-8be3-53baafea9296"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/e04e63c1-6e69-4537-b9e2-95ab6f3ebfcf"}}},{"guid":"1c7993bb-d0f4-43b6-b5c4-3acc2d27bcd8","created_at":"2025-05-13T09:34:04Z","updated_at":"2025-05-13T09:34:04Z","name":null,"type":"app","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2025-05-13T09:34:04Z","created_at":"2025-05-13T09:34:04Z"},"metadata":{"labels":{},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"5e2976bb-332e-41e1-8be3-53baafea9296"}},"app":{"data":{"guid":"00fcc2ff-7377-4bdf-8217-f1f28f199a89"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/1c7993bb-d0f4-43b6-b5c4-3acc2d27bcd8"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/1c7993bb-d0f4-43b6-b5c4-3acc2d27bcd8/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/5e2976bb-332e-41e1-8be3-53baafea9296"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/00fcc2ff-7377-4bdf-8217-f1f28f199a89"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - cde35c97-3723-4e27-6316-8fceab0041f2::f1a1f816-99c3-4f33-9143-4572e6e7caf7
        status: 200 OK
        code: 200
        duration: 293.952542ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/b266dc59-369b-42ad-9272-a4cf6f07dba4/details
        method: GET
      response:
        body: '{"credentials":{"hi":"wot"},"syslog_drain_url":"https://google.com"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806596"
            X-Vcap-Request-Id:
                - 648bc0b0-bc69-4349-48cb-69ea214774db::6f840ad4-572d-43eb-9b58-a8524beac98b
        status: 200 OK
        code: 200
        duration: 335.918083ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/b266dc59-369b-42ad-9272-a4cf6f07dba4/parameters
        method: GET
      response:
        body: '{"errors":[{"detail":"This service does not support fetching service binding parameters.","title":"CF-ServiceFetchBindingParametersNotSupported","code":90007}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - b27a081e-0d86-4835-76c5-2adc7bbb9976::509ac55e-3abd-4cde-a8aa-fff0c9338668
        status: 400 Bad Request
        code: 400
        duration: 273.159125ms
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/1c7993bb-d0f4-43b6-b5c4-3acc2d27bcd8/parameters
        method: GET
      response:
        body: '{"errors":[{"detail":"This service does not support fetching service binding parameters.","title":"CF-ServiceFetchBindingParametersNotSupported","code":90007}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - f251d09d-6aeb-4b49-7f23-2a6f34606c85::5421402c-e9cb-464e-bd62-312bed2c56a1
        status: 400 Bad Request
        code: 400
        duration: 305.630583ms
[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/b266dc59-369b-42ad-9272-a4cf6f07dba4/parameters
        method: GET
      response:
        body: '{"errors":[{"detail":"This service does not support fetching service binding parameters.","title":"CF-ServiceFetchBindingParametersNotSupported","code":90007}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - aaf90a84-cf74-4a91-4bf8-bc0879a22ffb::99b17bdc-edde-4433-bbce-d0a99688686c
        status: 400 Bad Request
        code: 400
        duration: 272.746792ms
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/1c7993bb-d0f4-43b6-b5c4-3acc2d27bcd8/details
        method: GET
      response:
        body: '{"credentials":{"hi":"wot"},"syslog_drain_url":"https://google.com"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - f5f530f6-8352-41ac-6d2b-7853b7eb708a::6570ce00-3835-4873-a0bb-f2d7b7536796
        status: 200 OK
        code: 200
        duration: 275.362167ms
[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/b266dc59-369b-42ad-9272-a4cf6f07dba4/details
        method: GET
      response:
        body: '{"credentials":{"hi":"wot"},"syslog_drain_url":"https://google.com"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - a1bed151-5879-4486-61ef-8b84fbc8ab62::9ea96b8c-6f42-4c95-9d59-a14bfea41682
        status: 200 OK
        code: 200
        duration: 278.661167ms
[...]
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/1c7993bb-d0f4-43b6-b5c4-3acc2d27bcd8/details
        method: GET
      response:
        body: '{"credentials":{"hi":"wot"},"syslog_drain_url":"https://google.com"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - bd42497d-8182-4a68-49c4-cdfe53480aa4::7551b998-5eba-43a3-b972-d9e771268274
        status: 200 OK
        code: 200
        duration: 365.22475ms
    - id: 17
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/1c7993bb-d0f4-43b6-b5c4-3acc2d27bcd8/parameters
        method: GET
      response:
        body: '{"errors":[{"detail":"This service does not support fetching service binding parameters.","title":"CF-ServiceFetchBindingParametersNotSupported","code":90007}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806596"
            X-Vcap-Request-Id:
                - d6b3cbec-7ef0-4ab8-7f5c-d616062a77b8::9710fb18-e9db-462f-a9c1-e05e6888de25
        status: 400 Bad Request
        code: 400
        duration: 285.0065ms
