---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=ee096ec89fff44f6b42803aa15a43ea2-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - ee096ec89fff44f6b42803aa15a43ea2-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"ee096ec89fff44f6b42803aa15a43ea2-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"6d0cff9f095e4fe187291a508e3ff1f3"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 645d2c5b-b66d-4aae-73c2-2277f51bda4c
        status: 200 OK
        code: 200
        duration: 275.117667ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?page=1&per_page=50&service_instance_guids=40b73419-5e01-4be0-baea-932d46cea45b
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?page=1\u0026per_page=50\u0026service_instance_guids=40b73419-5e01-4be0-baea-932d46cea45b"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?page=1\u0026per_page=50\u0026service_instance_guids=40b73419-5e01-4be0-baea-932d46cea45b"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - 396ab875-26db-4512-5948-e478b8d5184a::83371922-683b-401c-b56a-a70e88bb03c7
        status: 200 OK
        code: 200
        duration: 334.447709ms
