---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=0e95bc4339d94b6c8caf5d712d4274ef-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 0e95bc4339d94b6c8caf5d712d4274ef-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"0e95bc4339d94b6c8caf5d712d4274ef-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"6d72974e359047a0aaf8c5385e6d1af3"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 340d6759-4b4c-4c24-54a9-37d3592aaf74
        status: 200 OK
        code: 200
        duration: 966.039167ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/4c6849f2-6407-4385-a556-0840369f336b
        method: GET
      response:
        body: '{"guid":"4c6849f2-6407-4385-a556-0840369f336b","created_at":"2024-02-05T06:37:21Z","updated_at":"2024-02-05T06:37:21Z","type":"organization_manager","relationships":{"user":{"data":{"guid":"03466e0c-4f6d-466c-8798-a4a5fba01f16"}},"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/4c6849f2-6407-4385-a556-0840369f336b"},"user":{"href":"https://api.x.x.x.x.com/v3/users/03466e0c-4f6d-466c-8798-a4a5fba01f16"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729069388"
            X-Vcap-Request-Id:
                - 644b978b-ebb1-43c1-4d7e-c07f9314cb17::c8864b82-6d80-4cef-81ed-7d4cf0e11773
        status: 200 OK
        code: 200
        duration: 715.681167ms
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/4c6849f2-6407-4385-a556-0840369f336b
        method: GET
      response:
        body: '{"guid":"4c6849f2-6407-4385-a556-0840369f336b","created_at":"2024-02-05T06:37:21Z","updated_at":"2024-02-05T06:37:21Z","type":"organization_manager","relationships":{"user":{"data":{"guid":"03466e0c-4f6d-466c-8798-a4a5fba01f16"}},"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/4c6849f2-6407-4385-a556-0840369f336b"},"user":{"href":"https://api.x.x.x.x.com/v3/users/03466e0c-4f6d-466c-8798-a4a5fba01f16"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729069388"
            X-Vcap-Request-Id:
                - f17e776e-4c3e-49b3-5330-a63477670d96::000bf3af-4d74-4d88-bdf2-eefba337e4cd
        status: 200 OK
        code: 200
        duration: 253.471166ms
