---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=testunavailableorg
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=testunavailableorg\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=testunavailableorg\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 65430ef4-a388-41b1-49b2-5be2b24a7819::8433bda4-a639-43cd-97af-9dfcc8fe90fb
        status: 200 OK
        code: 200
        duration: 777.73384ms
