---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=39a6ec7b22404475b4bfa28751a61199-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 39a6ec7b22404475b4bfa28751a61199-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"39a6ec7b22404475b4bfa28751a61199-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"1581a93683e3454e8b3728f181ee86fb"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - a1925104-c878-489c-7d20-4e00a3654957
        status: 200 OK
        code: 200
        duration: 212.801042ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/buildpacks?names=java_buildpack&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":2,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/buildpacks?names=java_buildpack\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/buildpacks?names=java_buildpack\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"45a5e8b9-f9a1-4bc0-8ea8-4467ef0d14c9","created_at":"2023-03-02T04:06:04Z","updated_at":"2024-08-28T13:02:25Z","name":"java_buildpack","stack":"cflinuxfs4","state":"READY","filename":"java_buildpack-cached-cflinuxfs4-v4.71.0.zip","position":2,"enabled":true,"locked":false,"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/buildpacks/45a5e8b9-f9a1-4bc0-8ea8-4467ef0d14c9"},"upload":{"href":"https://api.x.x.x.x.com/v3/buildpacks/45a5e8b9-f9a1-4bc0-8ea8-4467ef0d14c9/upload","method":"POST"}}},{"guid":"a7b75648-ba6e-41c5-b87b-9134beefe8c6","created_at":"2018-12-11T21:17:59Z","updated_at":"2023-05-25T19:26:44Z","name":"java_buildpack","stack":"cflinuxfs3","state":"READY","filename":"java_buildpack-cached-cflinuxfs3-v4.58.zip","position":10,"enabled":true,"locked":false,"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/buildpacks/a7b75648-ba6e-41c5-b87b-9134beefe8c6"},"upload":{"href":"https://api.x.x.x.x.com/v3/buildpacks/a7b75648-ba6e-41c5-b87b-9134beefe8c6/upload","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736416988"
            X-Vcap-Request-Id:
                - 70aee6ae-f1e8-4144-523b-eeeb64746a1e::1a635f9a-a8c1-4da7-822f-f68b7cea133c
        status: 200 OK
        code: 200
        duration: 197.157791ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/buildpacks?page=1&per_page=50&stacks=cflinuxfs4
        method: GET
      response:
        body: '{"pagination":{"total_results":8,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/buildpacks?page=1\u0026per_page=50\u0026stacks=cflinuxfs4"},"last":{"href":"https://api.x.x.x.x.com[...]
[...]
