---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=b71c009d59374687994353f38a0691cc-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - b71c009d59374687994353f38a0691cc-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"b71c009d59374687994353f38a0691cc-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"8ba96853687e433389d4ee2a9caf21dd"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - be2d955c-64de-4441-67c5-799a8506f222
        status: 200 OK
        code: 200
        duration: 896.818167ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=testunavailableorg
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=testunavailableorg\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=testunavailableorg\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729576988"
            X-Vcap-Request-Id:
                - 3cf63cd1-a899-4990-7fd5-5eb15512f5ed::985fd8e8-1f4a-4b8e-8905-0275cb549084
        status: 200 OK
        code: 200
        duration: 717.68175ms
