---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=982dcb1d990b48fcbcbd8ba6a3646e26-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 982dcb1d990b48fcbcbd8ba6a3646e26-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"982dcb1d990b48fcbcbd8ba6a3646e26-r","expires_in":1199,"scope":"clients.read openid routing.router_groups.write scim.read cloud_controller.admin uaa.user routing.router_groups.read cloud_controller.read password.write cloud_controller.write network.admin doppler.firehose scim.write","jti":"1cf1a60db8a7432185703a13a6a201a9"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 2c8e193e-d77d-41e9-72f2-5006ba1474cc
        status: 200 OK
        code: 200
        duration: 532.101833ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?names=testunavailablespacequota
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?names=testunavailablespacequota\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?names=testunavailablespacequota\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 84ccc4f9-511e-456f-5896-08da7fd1cc47::247fc3fd-99ba-43d7-8fcb-fce82107c67d
        status: 200 OK
        code: 200
        duration: 489.079167ms
