---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=5f8a2ae2767647778989eacf09a1c6ee-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 5f8a2ae2767647778989eacf09a1c6ee-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"5f8a2ae2767647778989eacf09a1c6ee-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid scim.write scim.read cloud_controller.admin uaa.user","jti":"425e8e2b7ac245ddb6a0c0dbda58a6f7"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 0e759c8a-7ac6-4d52-784c-f6396d956dbd
        status: 200 OK
        code: 200
        duration: 1.717206782s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?names=testunavailablespacequota
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?names=testunavailablespacequota\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?names=testunavailablespacequota\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f703d01d-11ee-47a7-411b-72a1b68b0a7a::97919e09-b499-47dc-a67b-52315a20906d
        status: 200 OK
        code: 200
        duration: 1.275047915s
