---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=982dcb1d990b48fcbcbd8ba6a3646e26-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 982dcb1d990b48fcbcbd8ba6a3646e26-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"982dcb1d990b48fcbcbd8ba6a3646e26-r","expires_in":1199,"scope":"clients.read openid routing.router_groups.write scim.read cloud_controller.admin uaa.user routing.router_groups.read cloud_controller.read password.write cloud_controller.write network.admin doppler.firehose scim.write","jti":"7f60e788ddd743f2bc855c0d3d80b25d"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 01759441-e317-4ea6-614e-200ccbd5bfe1
        status: 200 OK
        code: 200
        duration: 222.498833ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?names=tf-test-do-not-delete
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?names=tf-test-do-not-delete\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?names=tf-test-do-not-delete\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"ef6444a7-54f7-4fa9-9033-74e1b7afb2be","created_at":"2024-02-06T05:30:34Z","updated_at":"2024-02-06T05:51:06Z","name":"tf-test-do-not-delete","apps":{"total_memory_in_mb":51200,"per_process_memory_in_mb":2048,"total_instances":110,"per_app_tasks":10,"log_rate_limit_in_bytes_per_second":1000},"services":{"paid_services_allowed":true,"total_service_instances":200,"total_service_keys":120},"routes":{"total_routes":50,"total_reserved_ports":5},"relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"spaces":{"data":[{"guid":"3bc20dc4-1870-4835-8308-dda2d766e61e"}]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/ef6444a7-54f7-4fa9-9033-74e1b7afb2be"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 906e806f-2aa4-49e8-779e-cc2101986cf8::2f5205ea-3650-4f38-9389-43e27ccfd3ed
        status: 200 OK
        code: 200
        duration: 190.656959ms
[...]
