---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_route_bindings/6961bc50-a694-4255-a5da-3ce4cdba7e54
        method: GET
      response:
        body: '{"guid":"6961bc50-a694-4255-a5da-3ce4cdba7e54","route_service_url":"https://nginx-route-service.cfapps.sap.hana.ondemand.com","created_at":"2022-03-30T03:47:03Z","updated_at":"2022-03-30T03:47:03Z","last_operation":{"type":"create","state":"succeeded","description":"","created_at":"2022-03-30T03:47:03Z","updated_at":"2022-03-30T03:47:03Z"},"metadata":{"labels":{},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"ab65cad9-73fa-4dd4-9c09-87f89b2e77ec"}},"route":{"data":{"guid":"8c7cdbd4-98ef-4e2f-97d1-4704f435022d"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings/6961bc50-a694-4255-a5da-3ce4cdba7e54"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/ab65cad9-73fa-4dd4-9c09-87f89b2e77ec"},"route":{"href":"https://api.x.x.x.x.com/v3/routes/8c7cdbd4-98ef-4e2f-97d1-4704f435022d"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1730800988"
            X-Vcap-Request-Id:
                - 59be36c6-e2c3-49b1-4d0f-5441125393b9::9d904a08-0b41-47e8-b138-821bc369b1ff
        status: 200 OK
        code: 200
        duration: 747.189334ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_route_bindings/6961bc50-a694-4255-a5da-3ce4cdba7e54
        method: GET
      response:
        body: '{"guid":"6961bc50-a694-4255-a5da-3ce4cdba7e54","route_service_url":"https://nginx-route-service.cfapps.sap.hana.ondemand.com","created_at":"2022-03-30T03:47:03Z","updated_at":"2022-03-30T03:47:03Z","last_operation":{"type":"create","state":"succeeded","description":"","created_at":"2022-03-30T03:47:03Z","updated_at":"2022-03-30T03:47:03Z"},"metadata":{"labels":{},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"ab65cad9-73fa-4dd4-9c09-87f89b2e77ec"}},"route":{"data":{"guid":"8c7cdbd4-98ef-4e2f-97d1-4704f435022d"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings/6961bc50-a694-4255-a5da-3ce4cdba7e54"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/ab65cad9-73fa-4dd4-9c09-87f89b2e77ec"},"route":{"href":"https://api.x.x.x.x.com/v3/routes/8c7cdbd4-98ef-4e2f-97d1-4704f435022d"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1730800988"
            X-Vcap-Request-Id:
                - a788c316-1f38-4309-7038-99ecc8a1b685::81324f82-4d1f-4789-b759-27dcd7ad0f10
        status: 200 OK
        code: 200
        duration: 246.933ms
[...]
