---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users?usernames=debaditya.ray%40sap.comx
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/users?page=1\u0026per_page=50\u0026usernames=debaditya.ray%40sap.comx"},"last":{"href":"https://api.x.x.x.x.com/v3/users?page=1\u0026per_page=50\u0026usernames=debaditya.ray%40sap.comx"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - db440a75-0cb0-40bb-6335-33a9629b41c0::27336b74-e57d-4071-b65f-ce9380836d63
        status: 200 OK
        code: 200
        duration: 210.805007ms
