---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=b373912936bb4f7aad76cd99f77d67c9-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - b373912936bb4f7aad76cd99f77d67c9-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"b373912936bb4f7aad76cd99f77d67c9-r","expires_in":1199,"scope":"clients.read openid routing.router_groups.write scim.read cloud_controller.admin uaa.user routing.router_groups.read cloud_controller.read password.write cloud_controller.write network.admin doppler.firehose scim.write","jti":"c6d2404e580046cfa240ef3a736b08ff"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 44f254cb-212f-499b-7861-62d54510c8a4
        status: 200 OK
        code: 200
        duration: 554.718088ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups?names=tf-test-do-not-delete
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/security_groups?names=tf-test-do-not-delete\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/security_groups?names=tf-test-do-not-delete\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"f5112a28-5379-4e52-8c6a-1b076e72e44d","created_at":"2024-02-14T12:50:28Z","updated_at":"2024-02-15T03:34:53Z","name":"tf-test-do-not-delete","rules":[{"protocol":"tcp","destination":"192.168.1.100","ports":"1883,8883","log":true},{"protocol":"udp","destination":"192.168.1.100","ports":"1883,8883","log":false},{"protocol":"icmp","destination":"192.168.1.100","type":0,"code":0,"log":false}],"globally_enabled":{"running":false,"staging":false},"relationships":{"running_spaces":{"data":[{"guid":"e6886bba-e263-4b52-aaf1-85d410f15fc8"}]},"staging_spaces":{"data":[{"guid":"3bc20dc4-1870-4835-8308-dda2d766e61e"},{"guid":"e6886bba-e263-4b52-aaf1-85d410f15fc8"}]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/f5112a28-5379-4e52-8c6a-1b076e72e44d"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e863324f-7781-4d88-460f-fcb337352306::5b0dbed8-aacb-4833-ac59-82a418a6e5b2
        status: 200 OK
        code: 200
        duration: 543.159977ms
[...]
