---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments?names=hifi
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/isolation_segments?names=hifi\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/isolation_segments?names=hifi\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"63ae51b9-9073-4409-81b0-3704b8de85dd","created_at":"2024-06-11T04:33:43Z","updated_at":"2024-06-12T10:15:04Z","name":"hifi","metadata":{"labels":{"purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd"},"organizations":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/organizations"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 270e5798-2c82-4f18-5221-a1bc2fe99532::3c65beac-af46-484a-bb16-30a961a95046
        status: 200 OK
        code: 200
        duration: 523.961541ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments?names=hifi
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/isolation_segments?names=hifi\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/isolation_segments?names=hifi\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"63ae51b9-9073-4409-81b0-3704b8de85dd","created_at":"2024-06-11T04:33:43Z","updated_at":"2024-06-12T10:15:04Z","name":"hifi","metadata":{"labels":{"purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd"},"organizations":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/organizations"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - cded50c8-2878-42bc-69e0-f5acd65af5e0::cceb3944-8efa-4862-8984-59924995da80
        status: 200 OK
        code: 200
        duration: 183.918458ms
[...]
