---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=cbba5855f5304949b91fe425b0196601-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - cbba5855f5304949b91fe425b0196601-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"cbba5855f5304949b91fe425b0196601-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid scim.write scim.read cloud_controller.admin uaa.user","jti":"047d5d2d7406482888f2cfa8c6587c01"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - c0daadc8-8422-4235-74b6-1a1aacc6253e
        status: 200 OK
        code: 200
        duration: 226.120044ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/domains?names=test.com
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/domains?names=test.com\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/domains?names=test.com\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 27d10d8f-b7c4-4d6c-736e-b89ed6ec550f::feb7640e-2f7c-492e-ab21-3d38f0b91fc3
        status: 200 OK
        code: 200
        duration: 174.325046ms
