---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=717a4fc677bd40218559c2c02ad83787-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 717a4fc677bd40218559c2c02ad83787-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"717a4fc677bd40218559c2c02ad83787-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"ba62502874f743b1b952cd403cee672f"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 90260229-72f7-4361-7899-dde17e8124f0
        status: 200 OK
        code: 200
        duration: 792.295208ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers?names=hi&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=hi\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=hi\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"71203fb7-558a-4dd7-b87d-ddc289c5c85f","created_at":"2024-06-24T04:53:36Z","updated_at":"2024-06-24T04:53:36Z","name":"hi","url":"https://tf-test-do-not-delete-nodejs.cfapps.sap.hana.ondemand.com","relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/71203fb7-558a-4dd7-b87d-ddc289c5c85f"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=71203fb7-558a-4dd7-b87d-ddc289c5c85f"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1730374388"
            X-Vcap-Request-Id:
                - 663233bc-952b-466e-6cd2-e6ed41b4dea0::80c3048f-e6bd-4881-a392-8a081974fbdd
        status: 200 OK
        code: 200
        duration: 678.293459ms
[...]
