---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=ee096ec89fff44f6b42803aa15a43ea2-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - ee096ec89fff44f6b42803aa15a43ea2-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"ee096ec89fff44f6b42803aa15a43ea2-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"e95ada6094484501963992e2c2cb5b0d"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 5ac0b592-d929-4b93-5f49-1f8d1733fc31
        status: 200 OK
        code: 200
        duration: 888.973583ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?page=1&per_page=50&service_instance_guids=e9ec29ca-993d-42e2-9c5b-cb17b1972cce
        method: GET
      response:
        body: '{"pagination":{"total_results":4,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?page=1\u0026per_page=50\u0026service_instance_guids=e9ec29ca-993d-42e2-9c5b-cb17b1972cce"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?page=1\u0026per_page=50\u0026service_instance_guids=e9ec29ca-993d-42e2-9c5b-cb17b1972cce"},"next":null,"previous":null},"resources":[{"guid":"57557f4b-38c7-424b-8da4-0dba7a8baacb","created_at":"2024-04-17T09:18:52Z","updated_at":"2024-04-17T09:18:53Z","name":"hi","type":"key","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2024-04-17T09:18:53Z","created_at":"2024-04-17T09:18:53Z"},"metadata":{"labels":{},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"e9ec29ca-993d-42e2-9c5b-cb17b1972cce"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/57557f4b-38c7-424b-8da4-0dba7a8baacb"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/57557f4b-38c7-424b-8da4-0dba7a8baacb/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/e9ec29ca-993d-42e2-9c5b-cb17b1972cce"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/57557f4b-38c7-424b-8da4-0dba7a8baacb/parameters"}}},{"guid":"e558565e-3374-429a-a822-99a61853a2da","created_at":"2024-04-18T04:50:40Z","updated_at":"2024-04-18T04:50:41Z","name":"hifi","type":"key","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2024-04-18T04:50:41Z","created_at":"2024-04-18T04:50:41Z"},"metadata":{"labels":{},"annotations":{}},"relationships":{"service_instance":{"data":{"guid[...]
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/57557f4b-38c7-424b-8da4-0dba7a8baacb/details
        method: GET
      response:
        body: '{"credentials":{"tenantmode":"dedicated","sburl":"https://internal-xsuaa.authentication.sap.hana.ondemand.com","subaccountid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","credential-type":"instance-secret","clientid":"sb-tf-test231!t4176","xsappname":"tf-test231!t4176","clientsecret":"22dtaFC7SAaJQbmEBKKAB7CWiwY=","serviceInstanceId":"e9ec29ca-993d-42e2-9c5b-cb17b1972cce","url":"https://performanceteamblr.authentication.sap.hana.ondemand.com","uaadomain":"authentication.sap.hana.ondemand.com","verificationkey":"-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt0mX/xGskI6pZuVyh9ql\n6y1OBDcC8eIBIYOY0bJGuu7KWnT3H8pY+6DDPmKM3mqoEMsNDwmQo0BF3RvuJkxY\nc4qAJe13p2juqCpuEtd+dRTeiEcL1ZIByiT11OQ2QgIsDDiYJRpSOp8kjB6KtVGY\nGp9wyE2KkaOPP3TsZaJtxoCTuylBMlvEam144O47Y7po/HrvxgUo1nZRb5a2qtna\nhYwnUAu5XjJNvFuZFtXIiLhGypBoqySBcA/0RQhbW5pSUOmY8XI0FHrY+/kolNsj\n0ePsSBCKLdSmh7qByUjbqcDgq424TZsXwRyyFHLy309LzZx9zU5bbANyX6+aq/GJ\nMQIDAQAB\n-----END PUBLIC KEY-----","apiurl":"https://api.authentication.sap.hana.ondemand.com","identityzone":"performanceteamblr","identityzoneid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","tenantid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","zoneid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - 1bc90738-355d-4498-4348-4e7811942401::d5689ad3-89ac-4cbc-be06-4d7fb1ca8268
        status: 200 OK
        code: 200
        duration: 610.923417ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/57557f4b-38c7-424b-8da4-0dba7a8baacb/parameters
        method: GET
      response:
        body: '{"errors":[{"detail":"This service does not support fetching service binding parameters.","title":"CF-ServiceFetchBindingParametersNotSupported","code":90007}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - e7612789-8818-4f84-780f-64dcd9bd3b7a::a6c26481-0e28-43f3-9596-ebceac21ad11
        status: 400 Bad Request
        code: 400
        duration: 2.080060084s
[...]
    - id: 17
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/79ce3994-b91e-46fe-8a1c-6118d6a1ec6b/parameters
        method: GET
      response:
        body: '{"errors":[{"detail":"This service does not support fetching service binding parameters.","title":"CF-ServiceFetchBindingParametersNotSupported","code":90007}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - c1fc7d19-43f4-4aa1-7666-9c689e7baca2::e79bf405-7b55-42a0-8844-34791b48b07a
        status: 400 Bad Request
        code: 400
        duration: 271.588875ms
[...]
    - id: 25
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/e558565e-3374-429a-a822-99a61853a2da/parameters
        method: GET
      response:
        body: '{"errors":[{"detail":"This service does not support fetching service binding parameters.","title":"CF-ServiceFetchBindingParametersNotSupported","code":90007}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - ec80a43d-5580-4bf2-53d1-bae45c2bcddb::1641ec10-162d-41a0-82f3-edb5c6e18294
        status: 400 Bad Request
        code: 400
        duration: 269.621791ms
[...]
