---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations
        method: GET
      response:
        body: '{"data":[{"guid":"c8e454cc-7a24-4d71-b146-51d69538acfb"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/organizations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a7ad3160-4cb1-40dd-5ce4-406d0aeb6ce5::dd433730-aa6b-4559-923e-53570b3ed183
        status: 200 OK
        code: 200
        duration: 527.758041ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations
        method: GET
      response:
        body: '{"data":[{"guid":"c8e454cc-7a24-4d71-b146-51d69538acfb"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/organizations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - b9e95b46-712f-4838-79af-498d9442d8c5::623fb832-328c-40b6-acca-6bbd1fddd256
        status: 200 OK
        code: 200
        duration: 172.289458ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations
        method: GET
      response:
        body: '{"data":[{"guid":"c8e454cc-7a24-4d71-b146-51d69538acfb"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/organizations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - c4027359-e159-4af7-5980-48e7be0b0d32::2845d81e-a9e9-4d89-91f1-b34a57c51b13
        status: 200 OK
        code: 200
        duration: 168.782ms
