---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments/40b73419-5e01-4be0-baea-932d46cea45b/relationships/organizations
        method: GET
      response:
        body: '{"errors":[{"detail":"Isolation segment not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e0aa64f7-ce64-4c5f-75fd-4682e87fed09::c6f9de40-1e1a-4332-a477-855eaaadabfa
        status: 404 Not Found
        code: 404
        duration: 173.45475ms
