---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=ee096ec89fff44f6b42803aa15a43ea2-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - ee096ec89fff44f6b42803aa15a43ea2-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"ee096ec89fff44f6b42803aa15a43ea2-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"03842b1832f9406b9e18f9a3011782a1"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - da36b674-4720-46ef-6ea1-472935e3c23f
        status: 200 OK
        code: 200
        duration: 322.217959ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?app_guids=00fcc2ff-7377-4bdf-8217-f1f28f199a89&page=1&per_page=50&service_instance_guids=5e2976bb-332e-41e1-8be3-53baafea9296
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?app_guids=00fcc2ff-7377-4bdf-8217-f1f28f199a89\u0026page=1\u0026per_page=50\u0026service_instance_guids=5e2976bb-332e-41e1-8be3-53baafea9296"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?app_guids=00fcc2ff-7377-4bdf-8217-f1f28f199a89\u0026page=1\u0026per_page=50\u0026service_instance_guids=5e2976bb-332e-41e1-8be3-53baafea9296"},"next":null,"previous":null},"resources":[{"guid":"1c7993bb-d0f4-43b6-b5c4-3acc2d27bcd8","created_at":"2025-05-13T09:34:04Z","updated_at":"2025-05-13T09:34:04Z","name":null,"type":"app","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2025-05-13T09:34:04Z","created_at":"2025-05-13T09:34:04Z"},"metadata":{"labels":{},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"5e2976bb-332e-41e1-8be3-53baafea9296"}},"app":{"data":{"guid":"00fcc2ff-7377-4bdf-8217-f1f28f199a89"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/1c7993bb-d0f4-43b6-b5c4-3acc2d27bcd8"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/1c7993bb-d0f4-43b6-b5c4-3acc2d27bcd8/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/5e2976bb-332e-41e1-8be3-53baafea9296"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/00fcc2ff-7377-4bdf-8217-f1f28f199a89"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806594"
            X-Vcap-Request-Id:
                - ae8a925a-5334-4c11-5109-7ed598a1b47a::830bd55c-04d7-4f38-be84-bd58942ac1dd
        status: 200 OK
        code: 200
        duration: 281.6645ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/1c7993bb-d0f4-43b6-b5c4-3acc2d27bcd8/details
        method: GET
      response:
        body: '{"credentials":{"hi":"wot"},"syslog_drain_url":"https://google.com"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - 365690c4-79d7-4264-5810-839634c856b3::616ea745-4973-4af5-b05d-fc1ae63ab51a
        status: 200 OK
        code: 200
        duration: 300.686958ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/1c7993bb-d0f4-43b6-b5c4-3acc2d27bcd8/parameters
        method: GET
      response:
        body: '{"errors":[{"detail":"This service does not support fetching service binding parameters.","title":"CF-ServiceFetchBindingParametersNotSupported","code":90007}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806596"
            X-Vcap-Request-Id:
                - c8269413-8ec7-4f81-4ea3-9e7519457b40::3478998b-86ab-4077-b934-385db3382b0b
        status: 400 Bad Request
        code: 400
        duration: 280.838208ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/1c7993bb-d0f4-43b6-b5c4-3acc2d27bcd8/parameters
        method: GET
      response:
        body: '{"errors":[{"detail":"This service does not support fetching service binding parameters.","title":"CF-ServiceFetchBindingParametersNotSupported","code":90007}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - bbc61109-51de-403b-5949-27705db3d12d::03359657-828b-46fa-8027-13e794346ff3
        status: 400 Bad Request
        code: 400
        duration: 305.914542ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/1c7993bb-d0f4-43b6-b5c4-3acc2d27bcd8/details
        method: GET
      response:
        body: '{"credentials":{"hi":"wot"},"syslog_drain_url":"https://google.com"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - fd67b5a4-73d0-4ca0-69bd-0359979bc46e::bb9e4b6e-7f67-42a7-a00c-111a749cdd46
        status: 200 OK
        code: 200
        duration: 340.880125ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/1c7993bb-d0f4-43b6-b5c4-3acc2d27bcd8/parameters
        method: GET
      response:
        body: '{"errors":[{"detail":"This service does not support fetching service binding parameters.","title":"CF-ServiceFetchBindingParametersNotSupported","code":90007}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - d0bf40d1-cdeb-453b-41f4-4d48f0485630::7d1d450c-f02f-40c1-a478-8de4a10f942c
        status: 400 Bad Request
        code: 400
        duration: 267.871375ms
