---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=07d04db73f3042988d5b458c04d70467-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 07d04db73f3042988d5b458c04d70467-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"07d04db73f3042988d5b458c04d70467-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"dfe477e4112241b096a8edef7f3c7892"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - fe620386-1176-4c9b-6550-3e210bf301be
        status: 200 OK
        code: 200
        duration: 2.04127768s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/users?page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":28,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/users?page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/users?page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"c703d2b2-b32c-4add-9d82-f1089dd84875","created_at":"2016-07-12T07:38:47Z","updated_at":"2019-06-19T05:43:01Z","username":"stephen.cherian@sap.com","presentation_name":"stephen.cherian@sap.com","origin":"sap.ids","metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/c703d2b2-b32c-4add-9d82-f1089dd84875"}}},{"guid":"0174d50d-d72c-4d24-a050-57a11893b7d9","created_at":"2016-07-20T11:09:18Z","updated_at":"2019-06-04T01:27:58Z","username":"ajaysimha.durbhakula@sap.com","presentation_name":"ajaysimha.durbhakula@sap.com","origin":"sap.ids","metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/0174d50d-d72c-4d24-a050-57a11893b7d9"}}},{"guid":"f6f12789-7f75-4cfd-a7be-3d24c4d83f3c[...]
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/dd457c79-f7c9-4828-862b-35843d3b646d/users?page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":22,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces/dd457c79-f7c9-4828-862b-35843d3b646d/users?page=1\u0026per_page=50"},"[...]
[...]
