---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=cbba5855f5304949b91fe425b0196601-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - cbba5855f5304949b91fe425b0196601-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"cbba5855f5304949b91fe425b0196601-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid scim.write scim.read cloud_controller.admin uaa.user","jti":"27ffc0a0c345457eb2e74f15da7397cd"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 53971c85-093d-4ec7-4601-55d9513682ec
        status: 200 OK
        code: 200
        duration: 518.5071ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/domains?names=cert.cfapps.stagingazure.hanavlab.ondemand.com
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/domains?names=cert.cfapps.stagingazure.hanavlab.ondemand.com\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/domains?names=cert.cfapps.stagingazure.hanavlab.ondemand.com\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"440e24e5-ee11-41d9-a996-2ed0a1e2deea","created_at":"2020-07-30T21:42:13Z","updated_at":"2020-07-30T21:42:13Z","name":"cert.cfapps.stagingazure.hanavlab.ondemand.com","internal":false,"router_group":null,"supported_protocols":["http"],"relationships":{"organization":{"data":null},"shared_organizations":{"data":[]}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/domains/440e24e5-ee11-41d9-a996-2ed0a1e2deea"},"route_reservations":{"href":"https://api.x.x.x.x.com/v3/domains/440e24e5-ee11-41d9-a996-2ed0a1e2deea/route_reservations"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - c80a4a13-7174-4dc3-6c25-c2324e230643::8239ee62-cad5-4b23-bfb8-d2ff786da0b9
        status: 200 OK
        code: 200
        duration: 502.93244ms
[...]
