---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/routes?domain_guids=440e24e5-ee11-41d9-a996-2ed0a1e2deea&space_guids=795a961c-6360-479a-9666-fff9cb906aad
        method: GET
      response:
        body: '{"pagination":{"total_results":3,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/routes?domain_guids=440e24e5-ee11-41d9-a996-2ed0a1e2deea\u0026page=1\u0026per_page=50\u0026space_guids=795a961c-6360-479a-9666-fff9cb906aad"},"last":{"href":"https://api.x.x.x.x.com/v3/routes?domain_guids=440e24e5-ee11-41d9-a996-2ed0a1e2deea\u0026page=1\u0026per_page=50\u0026space_guids=795a961c-6360-479a-9666-fff9cb906aad"},"next":null,"previous":null},"resources":[{"guid":"471cf078-7f8a-4038-89bd-e1623bf606e9","created_at":"2024-02-21T05:59:58Z","updated_at":"2024-02-21T05:59:58Z","protocol":"http","host":"hahadban2-accountable-jackal-fn","path":"","port":null,"url":"hahadban2-accountable-jackal-fn.cert.cfapps.stagingazure.hanavlab.ondemand.com","destinations":[{"guid":"36a06305-a000-4296-ae58-b3c7dc85ab00","app":{"guid":"15a74002-cf3a-4bf2-b76f-fe96867c46ee","process":{"type":"web"}},"weight":null,"port":80,"protocol":"http1"},{"guid":"6d7a9e55-1838-49a8-a134-245c140299d7","app":{"guid":"24a711f2-148b-4d48-b37a-90a66d6e842f","process":{"type":"web"}},"weight":null,"port":80,"protocol":"http1"}],"metadata":{"labels":{},"annotations":{}},"relationships":{"space":{"data":{"guid":"795a961c-6360-479a-9666-fff9cb906aad"}},"domain":{"data":{"guid":"440e24e5-ee11-41d9-a996-2ed0a1e2deea"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/routes/471cf078-7f8a-4038-89bd-e1623bf606e9"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/795a961c-6360-479a-9666-fff9cb906aad"},"destinations":{"href":"https://api.x.x.x.x.com/v3/routes/471cf078-7f8a-4038-89bd-e1623bf606e9/destinations"},"domain":{"href":"https://api.x.x.x.x.com/v3/domains/440e24e5-ee11-41d9-a996-2ed0a1e2deea"}}},{"guid":"de71ad1e-f066-4395-8882-1f83f89c1483","created_at":"2024-02-21T06:00:44Z","updated_at":"2024-02-21T06:00:44Z","prot[...]
[...]
