---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"acc37c9f-9af0-4b35-a0ce-c7b043544971","created_at":"2018-04-03T17:42:09Z","updated_at":"2025-04-23T19:41:23Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"4ed40e2d-ba70-49ce-9529-afb32b5af6f5"}}},"metadata":{"labels":{"org-type":"customer"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/4ed40e2d-ba70-49ce-9529-afb32b5af6f5"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d17d6d83-80fa-4f7d-5648-744f7fb4c189::0074799e-97ff-4fe3-bf0e-33911a999c24
        status: 200 OK
        code: 200
        duration: 944.415458ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=acc37c9f-9af0-4b35-a0ce-c7b043544971
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=acc37c9f-9af0-4b35-a0ce-c7b043544971\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=acc37c9f-9af0-4b35-a0ce-c7b043544971\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"0720fccb-c94a-4f56-b82f-862010c9b5fe","created_at":"2025-08-06T05:47:22Z","updated_at":"2025-08-06T05:47:22Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"acc37c9f-9af0-4b35-a0ce-c7b043544971"}},"quota":{"data":null}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - ffe156ff-fe57-4d94-79f7-aa77c0575d48::ac38c755-1918-4843-b0bf-e4e9ded7e8a5
        status: 200 OK
        code: 200
        duration: 339.512833ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=cf-buildpack-lifecycle&organization_guids=acc37c9f-9af0-4b35-a0ce-c7b043544971&space_guids=0720fccb-c94a-4f56-b82f-862010c9b5fe
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=cf-buildpack-lifecycle\u0026organization_guids=acc37c9f-9af0-4b35-a0ce-c7b043544971\u0026page=1\u0026per_page=50\u0026space_guids=0720fccb-c94a-4f56-b82f-862010c9b5fe"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=cf-buildpack-lifecycle\u0026organization_guids=acc37c9f-9af0-4b35-a0ce-c7b043544971\u0026page=1\u0026per_page=50\u0026space_guids=0720fccb-c94a-4f56-b82f-862010c9b5fe"},"next":null,"previous":null},"resources":[{"guid":"afe648bd-813a-473f-a5f7-e87c2a224338","created_at":"2025-08-26T08:23:10Z","updated_at":"2025-08-26T08:28:47Z","name":"cf-buildpack-lifecycle","state":"STARTED","lifecycle":{"type":"buildpack","data":{"buildpacks":[],"stack":"cflinuxfs4"}},"relationships":{"space":{"data":{"guid":"0720fccb-c94a-4f56-b82f-862010c9b5fe"}},"current_droplet":{"data":{"guid":"611f6d5b-f607-4c8c-8736-360e4522a0a2"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d24b3b19-defc-4efe-5eee-4979fe110a23::ecc607f8-5cba-4a3b-9245-32e191e2ccad
        status: 200 OK
        code: 200
        duration: 280.172417ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: cf-buildpack-lifecycle
              lifecycle: buildpack
              stack: cflinuxfs4
              features:
                ssh: true
                revisions: true
                service-binding-k8s: false
                file-based-vcap-services: false
              routes:
              - route: cf-buildpack-lifecycle.app.cloud.gov
                protocol: http1
                options: {}
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Vcap-Request-Id:
                - 0aa76c47-87f2-4743-68ef-c30e47cfd8fd::c906d079-1fbf-4fd5-bf5a-f5bba6a44cd5
        status: 200 OK
        code: 200
        duration: 253.3855ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - cd93362d-f93d-4e2d-637c-9eff9f989c65::bd57d1ed-218f-4a74-bd71-84ae6c79e8fa
        status: 200 OK
        code: 200
        duration: 279.845875ms
[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e9aad418-83c7-4abe-767e-eae8a602a17f::af7cfcf4-4980-46f2-b096-3bd01499af15
        status: 200 OK
        code: 200
        duration: 241.987292ms
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"acc37c9f-9af0-4b35-a0ce-c7b043544971","created_at":"2018-04-03T17:42:09Z","updated_at":"2025-04-23T19:41:23Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"4ed40e2d-ba70-49ce-9529-afb32b5af6f5"}}},"metadata":{"labels":{"org-type":"customer"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/4ed40e2d-ba70-49ce-9529-afb32b5af6f5"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - c202e158-e738-462f-500a-e757f65e56f4::49ead612-c101-45f6-be30-1834cefec336
        status: 200 OK
        code: 200
        duration: 249.64825ms
[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/afe648bd-813a-473f-a5f7-e87c2a224338/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - b98ff67d-653f-4dee-75c9-cf62b26f523d::4c26ddce-24ec-4022-afa5-eca3aa9c24ef
        status: 200 OK
        code: 200
        duration: 324.934917ms
