---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=ee096ec89fff44f6b42803aa15a43ea2-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - ee096ec89fff44f6b42803aa15a43ea2-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"ee096ec89fff44f6b42803aa15a43ea2-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"77ed9c8a1c174863b1ec9ae32d2d831c"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 23d82f93-f4eb-49cb-4e3d-a2ed817fef79
        status: 200 OK
        code: 200
        duration: 2.568203708s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?names=hifi&page=1&per_page=50&service_instance_guids=e9ec29ca-993d-42e2-9c5b-cb17b1972cce
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?names=hifi\u0026page=1\u0026per_page=50\u0026service_instance_guids=e9ec29ca-993d-42e2-9c5b-cb17b1972cce"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?names=hifi\u0026page=1\u0026per_page=50\u0026service_instance_guids=e9ec29ca-993d-42e2-9c5b-cb17b1972cce"},"next":null,"previous":null},"resources":[{"guid":"e558565e-3374-429a-a822-99a61853a2da","created_at":"2024-04-18T04:50:40Z","updated_at":"2024-04-18T04:50:41Z","name":"hifi","type":"key","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2024-04-18T04:50:41Z","created_at":"2024-04-18T04:50:41Z"},"metadata":{"labels":{},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"e9ec29ca-993d-42e2-9c5b-cb17b1972cce"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/e558565e-3374-429a-a822-99a61853a2da"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/e558565e-3374-429a-a822-99a61853a2da/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/e9ec29ca-993d-42e2-9c5b-cb17b1972cce"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/e558565e-3374-429a-a822-99a61853a2da/parameters"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - 3b6551c3-4051-4457-42b3-95737440b54c::54e9c684-0a7a-45dc-a7ab-1155f64f7576
        status: 200 OK
        code: 200
        duration: 788.867959ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/e558565e-3374-429a-a822-99a61853a2da/details
        method: GET
      response:
        body: '{"credentials":{"tenantmode":"dedicated","sburl":"https://internal-xsuaa.authentication.sap.hana.ondemand.com","subaccountid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","credential-type":"instance-secret","clientid":"sb-tf-test231!t4176","xsappname":"tf-test231!t4176","clientsecret":"22dtaFC7SAaJQbmEBKKAB7CWiwY=","serviceInstanceId":"e9ec29ca-993d-42e2-9c5b-cb17b1972cce","url":"https://performanceteamblr.authentication.sap.hana.ondemand.com","uaadomain":"authentication.sap.hana.ondemand.com","verificationkey":"-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt0mX/xGskI6pZuVyh9ql\n6y1OBDcC8eIBIYOY0bJGuu7KWnT3H8pY+6DDPmKM3mqoEMsNDwmQo0BF3RvuJkxY\nc4qAJe13p2juqCpuEtd+dRTeiEcL1ZIByiT11OQ2QgIsDDiYJRpSOp8kjB6KtVGY\nGp9wyE2KkaOPP3TsZaJtxoCTuylBMlvEam144O47Y7po/HrvxgUo1nZRb5a2qtna\nhYwnUAu5XjJNvFuZFtXIiLhGypBoqySBcA/0RQhbW5pSUOmY8XI0FHrY+/kolNsj\n0ePsSBCKLdSmh7qByUjbqcDgq424TZsXwRyyFHLy309LzZx9zU5bbANyX6+aq/GJ\nMQIDAQAB\n-----END PUBLIC KEY-----","apiurl":"https://api.authentication.sap.hana.ondemand.com","identityzone":"performanceteamblr","identityzoneid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","tenantid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","zoneid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - bbe1d5e0-0484-4fa1-5c71-134ea41bd60d::37b5e866-6960-4c61-a5be-a02490b35cae
        status: 200 OK
        code: 200
        duration: 275.598375ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/e558565e-3374-429a-a822-99a61853a2da/parameters
        method: GET
      response:
        body: '{"errors":[{"detail":"This service does not support fetching service binding parameters.","title":"CF-ServiceFetchBindingParametersNotSupported","code":90007}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806595"
            X-Vcap-Request-Id:
                - adee2d30-c6d7-41e5-5d50-b21998174c11::142aee54-cc0d-49d6-bad4-f7256fec84a3
        status: 400 Bad Request
        code: 400
        duration: 263.91825ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/e558565e-3374-429a-a822-99a61853a2da/parameters
        method: GET
      response:
        body: '{"errors":[{"detail":"This service does not support fetching service binding parameters.","title":"CF-ServiceFetchBindingParametersNotSupported","code":90007}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756806596"
            X-Vcap-Request-Id:
                - a6d43fcf-6c2a-4c13-7c76-c1e0f61c764f::e8009d5e-8c72-4c7c-ae67-c8cb72c031e0
        status: 400 Bad Request
        code: 400
        duration: 267.196042ms
[...]
