---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"acc37c9f-9af0-4b35-a0ce-c7b043544971","created_at":"2018-04-03T17:42:09Z","updated_at":"2025-04-23T19:41:23Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"4ed40e2d-ba70-49ce-9529-afb32b5af6f5"}}},"metadata":{"labels":{"org-type":"customer"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/4ed40e2d-ba70-49ce-9529-afb32b5af6f5"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 2e4dd62b-2c17-441a-7274-aed8d0afe788::25080d49-84c3-4b6b-926a-8dd44d9ed9ac
        status: 200 OK
        code: 200
        duration: 938.248541ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=acc37c9f-9af0-4b35-a0ce-c7b043544971
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=acc37c9f-9af0-4b35-a0ce-c7b043544971\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=acc37c9f-9af0-4b35-a0ce-c7b043544971\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"0720fccb-c94a-4f56-b82f-862010c9b5fe","created_at":"2025-08-06T05:47:22Z","updated_at":"2025-08-06T05:47:22Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"acc37c9f-9af0-4b35-a0ce-c7b043544971"}},"quota":{"data":null}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 8f067a9b-a2c5-4a55-4ca4-74832fec0488::00e45e23-a84f-44f0-87fe-3fa818c097d2
        status: 200 OK
        code: 200
        duration: 331.334ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=cf-docker-lifecycle&organization_guids=acc37c9f-9af0-4b35-a0ce-c7b043544971&space_guids=0720fccb-c94a-4f56-b82f-862010c9b5fe
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=cf-docker-lifecycle\u0026organization_guids=acc37c9f-9af0-4b35-a0ce-c7b043544971\u0026page=1\u0026per_page=50\u0026space_guids=0720fccb-c94a-4f56-b82f-862010c9b5fe"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=cf-docker-lifecycle\u0026organization_guids=acc37c9f-9af0-4b35-a0ce-c7b043544971\u0026page=1\u0026per_page=50\u0026space_guids=0720fccb-c94a-4f56-b82f-862010c9b5fe"},"next":null,"previous":null},"resources":[{"guid":"df834a34-1085-4ce6-9853-8fae0ecaa865","created_at":"2025-08-26T08:22:15Z","updated_at":"2025-08-26T08:29:50Z","name":"cf-docker-lifecycle","state":"STARTED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"0720fccb-c94a-4f56-b82f-862010c9b5fe"}},"current_droplet":{"data":{"guid":"a779e413-51ce-42af-b72b-09db490df0ee"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/df834a34-1085-4ce6-9853-8fae0ecaa865"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/df834a34-1085-4ce6-9853-8fae0ecaa865/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/df834a34-1085-4ce6-9853-8fae0ecaa865/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/df834a34-1085-4ce6-9853-8fae0ecaa865/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/df834a34-1085-4ce6-9853-8fae0ecaa865/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/df834a34-1085-4ce6-9853-8fae0ecaa865/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/df834a34-1085-4ce6-9853-8fae0ecaa865/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/df834a34-1085-4ce6-9853-8fae0ecaa865/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/df834a34-1085-4ce6-9853-8fae0ecaa865/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/df834a34-1085-4ce6-9853-8fae0ecaa865/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/df834a34-1085-4ce6-9853-8fae0ecaa865/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/df834a34-1085-4ce6-9853-8fae0ecaa865/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/df834a34-1085-4ce6-9853-8fae0ecaa865/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - aea0ac45-e5cc-4b9a-7554-b4d92f1818bf::071b813d-8f5a-45da-bd03-a0c8da25019f
        status: 200 OK
        code: 200
        duration: 266.978375ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/df834a34-1085-4ce6-9853-8fae0ecaa865/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: cf-docker-lifecycle
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              features:
                ssh: true
                revisions: true
                service-binding-k8s: false
                file-based-vcap-services: false
              processes:
              - type: web
                instances: 1
                memory: 512M
                disk_quota: 2048M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Vcap-Request-Id:
                - 1fe35d2d-e928-40a0-66e0-031e47f73fa4::720b90a7-768b-41a5-ad05-34a7b2621de1
        status: 200 OK
        code: 200
        duration: 270.589584ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/df834a34-1085-4ce6-9853-8fae0ecaa865/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - bb933c8a-f45c-45a2-74a9-d7da8a928eba::98b532fe-176a-4ad1-b0bc-ce929d1e9b3b
        status: 200 OK
        code: 200
        duration: 261.796583ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"acc37c9f-9af0-4b35-a0ce-c7b043544971","created_at":"2018-04-03T17:42:09Z","updated_at":"2025-04-23T19:41:23Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"4ed40e2d-ba70-49ce-9529-afb32b5af6f5"}}},"metadata":{"labels":{"org-type":"customer"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/4ed40e2d-ba70-49ce-9529-afb32b5af6f5"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f1e5d7d2-b6e0-4d37-479a-acd8d386f187::59c78d6f-2096-4c87-a6c2-7f82fef6a606
        status: 200 OK
        code: 200
        duration: 245.188666ms
[...]
