---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=b41d622c2fde4b759b53a7ef64b3c981-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - b41d622c2fde4b759b53a7ef64b3c981-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"b41d622c2fde4b759b53a7ef64b3c981-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"b482d695217949569f34c83e969a6bef"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 897af157-3272-478a-4ea1-4929bc011239
        status: 200 OK
        code: 200
        duration: 259.770042ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/stacks?names=cflinuxfs4&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/stacks?names=cflinuxfs4\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/stacks?names=cflinuxfs4\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"4bc294a9-f0be-4b6f-a29f-3c747a797e61","created_at":"2023-01-12T05:06:45Z","updated_at":"2023-01-12T05:06:45Z","name":"cflinuxfs4","description":"Cloud Foundry Linux-based filesystem (Ubuntu 22.04)","run_rootfs_image":"cflinuxfs4","build_rootfs_image":"cflinuxfs4","default":true,"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/stacks/4bc294a9-f0be-4b6f-a29f-3c747a797e61"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736504884"
            X-Vcap-Request-Id:
                - 03fcde66-8bfc-4d54-6f2b-73a8002a09ad::85b452d5-bb5f-4e74-82bb-8c9e191ccf31
        status: 200 OK
        code: 200
        duration: 774.125209ms
[...]
