---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=0e95bc4339d94b6c8caf5d712d4274ef-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 0e95bc4339d94b6c8caf5d712d4274ef-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"0e95bc4339d94b6c8caf5d712d4274ef-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"ba2e666285354a5990dd34ccf5f72ba2"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 1a047047-9196-4391-555e-845b38228b0b
        status: 200 OK
        code: 200
        duration: 218.481458ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/fcbadcb4-6d6c-41c8-a033-98fe24e41ff6
        method: GET
      response:
        body: '{"guid":"fcbadcb4-6d6c-41c8-a033-98fe24e41ff6","created_at":"2024-02-12T11:31:48Z","updated_at":"2024-02-12T11:31:48Z","type":"space_developer","relationships":{"user":{"data":{"guid":"1f263e00-9a07-42d8-be71-b18be6d10b45"}},"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"organization":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/fcbadcb4-6d6c-41c8-a033-98fe24e41ff6"},"user":{"href":"https://api.x.x.x.x.com/v3/users/1f263e00-9a07-42d8-be71-b18be6d10b45"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729069388"
            X-Vcap-Request-Id:
                - 524b2890-8858-4d44-5eec-9f96dfdde3aa::7f4d3f1f-8325-4ef4-a1d7-0f399b0f0e98
        status: 200 OK
        code: 200
        duration: 238.9245ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/40b73419-5e01-4be0-baea-932d46cea45b
        method: GET
      response:
        body: '{"errors":[{"detail":"Role not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729069388"
            X-Vcap-Request-Id:
                - b354d770-7c14-4878-4b31-ed69d3890866::a16e1949-7391-4581-8384-643b6388df62
        status: 404 Not Found
        code: 404
        duration: 194.366834ms
