---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=39a6ec7b22404475b4bfa28751a61199-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 39a6ec7b22404475b4bfa28751a61199-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"39a6ec7b22404475b4bfa28751a61199-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"5302855b7cb14cfeaf4d9ae68ca7aef5"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 46105a13-dac0-4742-4653-0e00f18c2374
        status: 200 OK
        code: 200
        duration: 768.684125ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments?names=trial&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/isolation_segments?names=trial\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/isolation_segments?names=trial\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"07632c44-95c2-4ce6-92c6-a47e7cbe340b","created_at":"2019-09-27T14:01:25Z","updated_at":"2019-09-27T14:01:25Z","name":"trial","metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/07632c44-95c2-4ce6-92c6-a47e7cbe340b"},"organizations":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/07632c44-95c2-4ce6-92c6-a47e7cbe340b/organizations"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736416988"
            X-Vcap-Request-Id:
                - 48aeb298-69e1-4d8b-4f67-d22f05c44687::9f5922f6-11db-41fe-a6fc-bb99072ce8d1
        status: 200 OK
        code: 200
        duration: 695.938ms
[...]
