---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143?include=organization
        method: GET
      response:
        body: '{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}},"included":{"organizations":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - 41fb3f13-e04b-490c-58e3-b8fce558e072::ed177c10-3718-4b10-b6ab-bdcb097ff50e
        status: 200 OK
        code: 200
        duration: 805.415833ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":9,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"e61536de-f863-4da3-9772-a8538e1bad3d","created_at":"2024-04-30T03:56:21Z","updated_at":"2024-04-30T03:56:56Z","name":"tf-test-do-not-delete-nodejs","state":"STARTED","lifecycle":{"type":"buildpack","data":{"buildpacks":[],"stack":"cflinuxfs4"}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"current_droplet":{"data":{"guid":"d9c1d8ed-9777-48b1-a6ed-c3ce51a87a48"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/features"}}},{"guid":"be2bec49-6df9-4ac2-a160-eb0ce3eb0025","created_at":"2024-05-15T04:49:55Z","updated_at":"2024-05-15T04:50:26Z","name":"foo-hello-backend","state":"STARTED","lifecycle":{"type":"buildpack","data":{"buildpacks":["sap_java_buildpack"],"stack":"cflinuxfs4"}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"current_droplet":{"data":{"guid":"3d8c1190-bc2a-405d-81c6-2da6d9885566"}}},"metadata":{"labels":{"mta_id":"5d41402abc4b2a76b9719d911017c592","mta_namespace":"acbd18db4cc2f85cedef654fccc4a4d8"},"annotations":{"mta_id":"hello","mta_version":"1.0.0","mta_namespace":"foo","mta_module":"{\"name\":\"hello-backend\"}","mta_module_provided_dependencies":"[]","mta_bound_services":"[]"}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/be2bec49-6df9-4ac2-a160-eb0ce3eb0025"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/be2bec49-6df9-4ac2-a160-eb0ce3eb0025/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/be2bec49-6df9-4ac2-a160-eb0ce3eb0025/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/be2bec49-6df9-4ac2-a160-eb0[...]
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-nodejs
              env:
                MY_ENV: red
              lifecycle: buildpack
              stack: cflinuxfs4
              services:
              - xsuaa-tf
              routes:
              - route: tf-test-do-not-delete-nodejs.cfapps.sap.hana.ondemand.com
                protocol: http1
                options: {}
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - 6198b8f5-efc0-42d3-46ec-88dc4622f1db::b9e3a597-987e-46c6-b016-8e33516a777f
        status: 200 OK
        code: 200
        duration: 215.142458ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - 543625ec-ee1f-44e5-611d-792b7ed641bd::d21589e3-5c19-4587-b119-8c7db5ae250b
        status: 200 OK
        code: 200
        duration: 196.62575ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/be2bec49-6df9-4ac2-a160-eb0ce3eb0025/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: foo-hello-backend
              env:
                MEMORY_CALCULATOR_V1: 'true'
                message: Hello, from foo-hello-backend!
                DEPLOY_ATTRIBUTES: |-
                  {
                    "app-content-digest" : "73CC2934A2B9D7274BB9C65C9C80E3D2"
                  }
              lifecycle: buildpack
              buildpacks:
              - sap_java_buildpack
              stack: cflinuxfs4
              routes:
              - route: foo-hello-backend.cfapps.sap.hana.ondemand.com/content
                protocol: http1
                options: {}
              metadata:
                labels:
                  mta_id: 5d41402abc4b2a76b9719d911017c592
                  mta_namespace: acbd18db4cc2f85cedef654fccc4a4d8
                annotations:
                  mta_id: hello
                  mta_version: 1.0.0
                  mta_namespace: foo
                  mta_module: '{"name":"hello-backend"}'
                  mta_module_provided_dependencies: "[]"
                  mta_bound_services: "[]"
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 256M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - a1699719-a9e6-4bfd-7dc0-d4f702399ba4::b0e60eb5-ea87-4e5b-ae49-9fa2d514ec34
        status: 200 OK
        code: 200
        duration: 213.806875ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/be2bec49-6df9-4ac2-a160-eb0ce3eb0025/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - f19b5915-b827-4671-6a87-9d10d069effb::3ddf4074-e79b-4bea-87d7-2d44d7f80caf
        status: 200 OK
        code: 200
        duration: 201.084667ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/2ce853d9-0570-4643-aa96-fe98f87ff187/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: foo-hello-router
              env:
                MEMORY_CALCULATOR_V1: 'true'
                backend: https://foo-hello-backend.cfapps.sap.hana.ondemand.com/content
                name: backend
                url: https://foo-hello-backend.cfapps.sap.hana.ondemand.com/content
                DEPLOY_ATTRIBUTES: |-
                  {
                    "app-content-digest" : "73CC2934A2B9D7274BB9C65C9C80E3D2"
                  }
              lifecycle: buildpack
              buildpacks:
              - sap_java_buildpack
              stack: cflinuxfs4
              routes:
              - [...]
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/8b7233fe-b004-43c4-9f4b-e3cc2bf2da66/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-http-bin-sidecars
              lifecycle: docker
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
              sidecars:
              - name: sidecar-1
                process_types:
                - worker
                command: sleep 5200
                memory: 256M
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229787"
            X-Vcap-Request-Id:
                - dd3397bd-10eb-4d61-6b7c-32e7920d5447::56242a2e-6982-4f90-a472-66105a3306c3
        status: 200 OK
        code: 200
        duration: 216.074792ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/8b7233fe-b004-43c4-9f4b-e3cc2bf2da66/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229789"
            X-Vcap-Request-Id:
                - f12007c4-aea9-4dc8-7ae4-8926d5719181::81ea3bb7-6dfb-4927-855a-470ad891336c
        status: 200 OK
        code: 200
        duration: 196.718375ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/99f00f73-731c-4356-8481-5a4d7d5cb745/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-http-bin-sidecar-1
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              routes:
              - route: testing1234.cfapps.sap.hana.ondemand.com/cart
                protocol: http1
                options: {}
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
              sidecars:
              - name: sidecar-1
                process_types:
                - worker
                command: sleep 5200
                memory: 256M
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - c182fca0-161e-456a-40b0-0f87179db6b1::031ee7f5-d63e-429f-a499-3ab6e1fb8b67
        status: 200 OK
        code: 200
        duration: 220.4405ms
[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/f3d8f5c5-1bcb-489e-87a7-3011d042e4d0/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: test-my-cf-app
              env:
                A_MORE_COMPLEX_VAR: '{ "can be an entire":"json object", "with": [ "nested": {
                  "elements": "https://test-performanceteamblr-tf-space-1-my-mta-managed-app-module.cfapps.sap.hana.ondemand.com"
                  } ]'
                DEPLOY_ATTRIBUTES: |-
                  {
                    "no-start" : false,
                    "upload-timeout" : 180
                  }
                MY_CF_APP_ENV_VARIABLE: HELLO MTA
              lifecycle: buildpack
              buildpacks:
              - staticfile_buildpack
              stack: cflinuxfs4
              routes:
              - route: test-performanceteamblr-tf-space-1-my-mta-managed-app-module.cfapps.sap.hana.ondemand.com
                protocol: http1
                options: {}
              metadata:
                labels:
                  mta_id: 551a5eac090e859a6f18d2617790c225
                  mta_namespace: '098f6bcd4621d373cade4e832627b4f6'
                annotations:
                  mta_id: a.cf.app
                  mta_version: 0.0.0
                  mta_namespace: test
                  mta_module: '{"name":"my-mta-managed-app-module"}'
                  mta_module_provided_dependencies: "[]"
                  mta_bound_services: "[]"
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/index"
                readiness-health-check-type: process
                timeout: 180
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - 0d6808ee-6dc3-4887-6eb2-159bdf017ff8::6866ce45-8014-49e3-8387-b1b2bc60d6b0
        status: 200 OK
        code: 200
        duration: 217.958292ms
[...]
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-http-bin
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              metadata:
                labels:
                  app: backend
                  env: production
                annotations:
                  created-by: me
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - 12d139de-a4dd-46e0-5d6e-c4d340921a85::0f5e9bb1-1cea-49fb-9c21-21f0c14e9d63
        status: 200 OK
        code: 200
        duration: 222.857ms
[...]
    - id: 19
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/00fcc2ff-7377-4bdf-8217-f1f28f199a89/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229787"
            X-Vcap-Request-Id:
                - aee64ccc-e916-423a-6064-98fce6ab9983::1b5a133c-e77e-4f47-9dea-32c743928f31
        status: 200 OK
        code: 200
        duration: 196.788375ms
[...]
    - id: 22
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-nodejs
              env:
                MY_ENV: red
              lifecycle: buildpack
              stack: cflinuxfs4
              services:
              - xsuaa-tf
              routes:
              - route: tf-test-do-not-delete-nodejs.cfapps.sap.hana.ondemand.com
                protocol: http1
                options: {}
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - bbc4cc6a-b392-4dbd-7ce5-9ce56530502d::d28db272-0f2e-49b3-9236-0eb25e7b0b2e
        status: 200 OK
        code: 200
        duration: 225.960375ms
[...]
    - id: 27
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/2ce853d9-0570-4643-aa96-fe98f87ff187/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229787"
            X-Vcap-Request-Id:
                - c3310c75-d4fa-458a-5321-b625e96824d3::39a450e7-af55-4754-8893-87f3bc7c3f91
        status: 200 OK
        code: 200
        duration: 196.019458ms
    - id: 28
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/ac3fb0ad-8c59-4971-84e2-3e437a12596d/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-stack
              env:
                MY_ENV: red
              lifecycle: buildpack
              stack: cflinuxfs4
              services:
              - xsuaa-tf
              routes:
              - route: tf-test-do-not-delete-nodejs.cfapps.sap.hana.ondemand.com
                protocol: http1
                options: {}
              metadata:
                labels:
                  sap.com/cflinuxfs4_stack_migration_state: succeeded
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229789"
            X-Vcap-Request-Id:
                - fd5a74f3-ab57-40ee-6b65-19e2bbd40eb0::b2af35ea-ac60-4989-9532-4885316928fc
        status: 200 OK
        code: 200
        duration: 209.573916ms
[...]
    - id: 30
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/8b7233fe-b004-43c4-9f4b-e3cc2bf2da66/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-http-bin-sidecars
              lifecycle: docker
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
              sidecars:
              - name: sidecar-1
                process_types:
                - worker
                command: sleep 5200
                memory: 256M
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - ecc4a0c6-b1b5-48f6-468a-462fed985473::e9241a9f-4f3f-438f-9ad6-f23dd3d0c6be
        status: 200 OK
        code: 200
        duration: 212.668666ms
[...]
    - id: 32
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/99f00f73-731c-4356-8481-5a4d7d5cb745/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-http-bin-sidecar-1
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              routes:
              - route: testing1234.cfapps.sap.hana.ondemand.com/cart
                protocol: http1
                options: {}
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
              sidecars:
              - name: sidecar-1
                process_types:
                - worker
                command: sleep 5200
                memory: 256M
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - fdd6872f-1aad-4748-4c5b-7128a9bd9498::ad66ba3c-c89d-4bc7-ae84-136059dce4fe
        status: 200 OK
        code: 200
        duration: 242.61775ms
    - id: 33
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/99f00f73-731c-4356-8481-5a4d7d5cb745/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - aa9f7075-f78d-42b8-7017-5f7a60bfeeb8::2e9d8a8b-49f5-4ba0-b8bf-e302e1692dd3
        status: 200 OK
        code: 200
        duration: 194.474209ms
[...]
    - id: 37
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229787"
            X-Vcap-Request-Id:
                - f949cb9d-34e4-4603-6896-8abd8f44c49e::eb4efe92-d9e7-4fd9-b3aa-3c758335e326
        status: 200 OK
[...]
