---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=e0c4ced36d274820910d6ba8410e13b7-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - e0c4ced36d274820910d6ba8410e13b7-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
            - chunked
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"e0c4ced36d274820910d6ba8410e13b7-r","expires_in":1199,"scope":"clients.read openid routing.router_groups.write scim.read cloud_controller.admin uaa.user routing.router_groups.read cloud_controller.read password.write cloud_controller.write network.admin doppler.firehose scim.write","jti":"1e9a5315a98243b5935216d55468835d"}'
        headers:
            Content-Type:
                - application/json
        status: '200 '
        code: 200
        duration: 119.794167ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups?page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":2,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/security_groups?page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/security_groups?page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"ef663f9c-2ede-4c24-b8ef-19619207aec5","created_at":"2026-03-03T07:02:30Z","updated_at":"2026-03-03T07:02:30Z","name":"dummy1","rules":[],"globally_enabled":{"running":false,"staging":false},"relationships":{"running_spaces":{"data":[{"guid":"10b8f9bd-0731-49f3-9e88-a17b6eec090e"}]},"staging_spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/ef663f9c-2ede-4c24-b8ef-19619207aec5"}}},{"guid":"2d6955ad-7082-48ed-bd04-b3dc99735018","created_at":"2026-03-03T07:02:30Z","updated_at":"2026-03-03T07:02:30Z","name":"dummy2","rules":[],"globally_enabled":{"running":false,"staging":false},"relationships":{"running_spaces":{"data":[]},"staging_spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/2d6955ad-7082-48ed-bd04-b3dc99735018"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - dcd2d5b8-6f26-49ff-4e68-1d2bf1ececc5::1b97bb16-daa7-449a-8339-a4a1e805c347
        status: 200 OK
        code: 200
        duration: 186.499167ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups?page=1&per_page=50&running_space_guids=10b8f9bd-0731-49f3-9e88-a17b6eec090e
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/security_groups?page=1\u0026per_page=50\u0026running_space_guids=10b8f9bd-0731-49f3-9e88-a17b6eec090e"},"last":{"href":"https://api.x.x.x.x.com/v3/security_groups?page=1\u0026per_page=50\u0026running_space_guids=10b8f9bd-0731-49f3-9e88-a17b6eec090e"},"next":null,"previous":null},"resources":[{"guid":"ef663f9c-2ede-4c24-b8ef-19619207aec5","created_at":"2026-03-03T07:02:30Z","updated_at":"2026-03-03T07:02:30Z","name":"dummy1","rules":[],"globally_enabled":{"running":false,"staging":false},"relationships":{"running_spaces":{"data":[{"guid":"10b8f9bd-0731-49f3-9e88-a17b6eec090e"}]},"staging_spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/ef663f9c-2ede-4c24-b8ef-19619207aec5"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 0a69de7a-1a77-4b42-76ac-febfef0225a7::bc9c5a57-31c9-4bf5-b2c7-30bbad7f378c
        status: 200 OK
        code: 200
        duration: 302.854ms
