---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=e0c4ced36d274820910d6ba8410e13b7-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - e0c4ced36d274820910d6ba8410e13b7-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
            - chunked
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"e0c4ced36d274820910d6ba8410e13b7-r","expires_in":1199,"scope":"clients.read openid routing.router_groups.write scim.read cloud_controller.admin uaa.user routing.router_groups.read cloud_controller.read password.write cloud_controller.write network.admin doppler.firehose scim.write","jti":"cfe8d0df228e4dc8a4cab44c4f6c2b5e"}'
        headers:
            Content-Type:
                - application/json
        status: '200 '
        code: 200
        duration: 569.64675ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers?page=1&per_page=50&space_guids=6243642c-232b-486b-beec-bb13771b2546
        method: GET
      response:
        body: '{"pagination":{"total_results":2,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_brokers?page=1\u0026per_page=50\u0026space_guids=6243642c-232b-486b-beec-bb13771b2546"},"last":{"href":"https://api.x.x.x.x.com/v3/service_brokers?page=1\u0026per_page=50\u0026space_guids=6243642c-232b-486b-beec-bb13771b2546"},"next":null,"previous":null},"resources":[{"guid":"d8fa2ac8-9654-4e8c-90ce-d47751844b73","created_at":"2026-04-21T12:05:17Z","updated_at":"2026-04-21T12:05:20Z","name":"my-broker","url":"https://simple-service-broker.apps.x.x.x.x.com","relationships":{"space":{"data":{"guid":"6243642c-232b-486b-beec-bb13771b2546"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/d8fa2ac8-9654-4e8c-90ce-d47751844b73"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=d8fa2ac8-9654-4e8c-90ce-d47751844b73"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/6243642c-232b-486b-beec-bb13771b2546"}}},{"guid":"0ca93e74-0682-4e06-ac4b-949d3362a146","created_at":"2026-04-21T12:05:51Z","updated_at":"2026-04-21T12:05:55Z","name":"my-broker1","url":"https://simple-service-broker.apps.127-0-0-1.nip.io","relationships":{"space":{"data":{"guid":"6243642c-232b-486b-beec-bb13771b2546"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/0ca93e74-0682-4e06-ac4b-949d3362a146"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=0ca93e74-0682-4e06-ac4b-949d3362a146"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/6243642c-232b-486b-beec-bb13771b2546"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 822.889292ms
[...]
