---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=e0c4ced36d274820910d6ba8410e13b7-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - e0c4ced36d274820910d6ba8410e13b7-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
            - chunked
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"e0c4ced36d274820910d6ba8410e13b7-r","expires_in":1199,"scope":"clients.read openid routing.router_groups.write scim.read cloud_controller.admin uaa.user routing.router_groups.read cloud_controller.read password.write cloud_controller.write network.admin doppler.firehose scim.write","jti":"1ee36c18936942c88431c154f1707673"}'
        headers:
            Content-Type:
                - application/json
        status: '200 '
        code: 200
        duration: 1.001379666s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/10b8f9bd-0731-49f3-9e88-a17b6eec090e
        method: GET
      response:
        body: '{"guid":"10b8f9bd-0731-49f3-9e88-a17b6eec090e","created_at":"2026-03-03T10:07:28Z","updated_at":"2026-03-03T10:07:28Z","name":"test","relationships":{"organization":{"data":{"guid":"7c8b9705-bc7c-4a96-9af0-6674c8290615"}},"quota":{"data":null}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/10b8f9bd-0731-49f3-9e88-a17b6eec090e"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/7c8b9705-bc7c-4a96-9af0-6674c8290615"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/10b8f9bd-0731-49f3-9e88-a17b6eec090e/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/10b8f9bd-0731-49f3-9e88-a17b6eec090e/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e648dc36-0c44-4e67-7664-c5e9511edc65::ca554fab-8ad1-4d15-91cf-e48835948639
        status: 200 OK
        code: 200
        duration: 885.5855ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles?page=1&per_page=50&space_guids=10b8f9bd-0731-49f3-9e88-a17b6eec090e
        method: GET
      response:
        body: '{"pagination":{"total_results":2,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/roles?order_by=%2Bcreated_at\u0026page=1\u0026per_page=50\u0026space_guids=10b8f9bd-0731-49f3-9e88-a17b6eec090e"},"last":{"href":"https://api.x.x.x.x.com/v3/roles?order_by=%2Bcreated_at\u0026page=1\u0026per_page=50\u0026space_guids=10b8f9bd-0731-49f3-9e88-a17b6eec090e"},"next":null,"previous":null},"resources":[{"guid":"abe29601-298a-4c1f-89d7-b24419e51e8f","created_at":"2026-03-03T10:07:28Z","updated_at":"2026-03-03T10:07:28Z","type":"space_manager","relationships":{"user":{"data":{"guid":"1a6c31b5-e857-4ed0-ad48-a27843a9dd36"}},"space":{"data":{"guid":"10b8f9bd-0731-49f3-9e88-a17b6eec090e"}},"organization":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/abe29601-298a-4c1f-89d7-b24419e51e8f"},"user":{"href":"https://api.x.x.x.x.com/v3/users/1a6c31b5-e857-4ed0-ad48-a27843a9dd36"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/10b8f9bd-0731-49f3-9e88-a17b6eec090e"}}},{"guid":"c3986a71-0713-4c83-8237-4120051e9339","created_at":"2026-03-03T10:07:28Z","updated_at":"2026-03-03T10:07:28Z","type":"space_developer","relationships":{"user":{"data":{"guid":"1a6c31b5-e857-4ed0-ad48-a27843a9dd36"}},"space":{"data":{"guid":"10b8f9bd-0731-49f3-9e88-a17b6eec090e"}},"organization":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/c3986a71-0713-4c83-8237-4120051e9339"},"user":{"href":"https://api.x.x.x.x.com/v3/users/1a6c31b5-e857-4ed0-ad48-a27843a9dd36"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/10b8f9bd-0731-49f3-9e88-a17b6eec090e"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d0f8d4ec-42c6-4123-4ad5-e1ac3a025b31::eaed5c63-928c-4f50-94bf-3b0ce2886af8
        status: 200 OK
        code: 200
        duration: 113.211459ms
[...]
