---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=e0c4ced36d274820910d6ba8410e13b7-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - e0c4ced36d274820910d6ba8410e13b7-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
            - chunked
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"e0c4ced36d274820910d6ba8410e13b7-r","expires_in":1199,"scope":"clients.read openid routing.router_groups.write scim.read cloud_controller.admin uaa.user routing.router_groups.read cloud_controller.read password.write cloud_controller.write network.admin doppler.firehose scim.write","jti":"f0dc6f34f3a94d62945eb12ee033b79c"}'
        headers:
            Content-Type:
                - application/json
        status: '200 '
        code: 200
        duration: 613.580083ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/7c8b9705-bc7c-4a96-9af0-6674c8290615/users?page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":2,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations/7c8b9705-bc7c-4a96-9af0-6674c8290615/users?page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations/7c8b9705-bc7c-4a96-9af0-6674c8290615/users?page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"1a6c31b5-e857-4ed0-ad48-a27843a9dd36","created_at":"2026-03-03T10:06:42Z","updated_at":"2026-03-03T10:06:42Z","username":"ccadmin","presentation_name":"ccadmin","origin":"uaa","metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/1a6c31b5-e857-4ed0-ad48-a27843a9dd36"}}},{"guid":"e6962a20-ee9d-4384-b8f8-61c36af3c54d","created_at":"2026-04-20T07:48:19Z","updated_at":"2026-04-20T07:48:19Z","username":"test@example.com","presentation_name":"test@example.com","origin":"uaa","metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/e6962a20-ee9d-4384-b8f8-61c36af3c54d"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 61ea49b4-73ec-419f-7a3c-410155002d8f::0dcab171-44f2-4401-bcf5-ebfe471108e1
        status: 200 OK
        code: 200
        duration: 227.651041ms
[...]
