---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=e0c4ced36d274820910d6ba8410e13b7-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - e0c4ced36d274820910d6ba8410e13b7-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
            - chunked
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"e0c4ced36d274820910d6ba8410e13b7-r","expires_in":1199,"scope":"clients.read openid routing.router_groups.write scim.read cloud_controller.admin uaa.user routing.router_groups.read cloud_controller.read password.write cloud_controller.write network.admin doppler.firehose scim.write","jti":"8b50b02ebde643e0b2687134bf3474d0"}'
        headers:
            Content-Type:
                - application/json
        status: '200 '
        code: 200
        duration: 152.809292ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/7c8b9705-bc7c-4a96-9af0-6674c8290615
        method: GET
      response:
        body: '{"guid":"7c8b9705-bc7c-4a96-9af0-6674c8290615","created_at":"2026-03-03T10:07:27Z","updated_at":"2026-03-03T10:07:27Z","name":"test","suspended":false,"relationships":{"quota":{"data":{"guid":"16b266a3-d9b1-4c53-aab7-3526ba9aa636"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/7c8b9705-bc7c-4a96-9af0-6674c8290615"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/7c8b9705-bc7c-4a96-9af0-6674c8290615/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/7c8b9705-bc7c-4a96-9af0-6674c8290615/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/16b266a3-d9b1-4c53-aab7-3526ba9aa636"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d786bde2-e808-4198-7cd1-9611fe6178b3::72c340a9-7f67-4bfc-b89f-704ec8da6ec7
        status: 200 OK
        code: 200
        duration: 390.6975ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/domains?organization_guids=7c8b9705-bc7c-4a96-9af0-6674c8290615&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/domains?organization_guids=7c8b9705-bc7c-4a96-9af0-6674c8290615\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/domains?organization_guids=7c8b9705-bc7c-4a96-9af0-6674c8290615\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"da0c442d-50e6-4be1-85f9-63945e1b680b","created_at":"2026-03-17T09:56:15Z","updated_at":"2026-03-17T09:56:15Z","name":"test.cfapps.stagingazure.hanavlab.ondemand.com","internal":false,"router_group":null,"supported_protocols":["http"],"relationships":{"organization":{"data":{"guid":"7c8b9705-bc7c-4a96-9af0-6674c8290615"}},"shared_organizations":{"data":[{"guid":"de8e421e-4cdf-4eaa-b095-ce6cc10a12c4"}]}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/domains/da0c442d-50e6-4be1-85f9-63945e1b680b"},"route_reservations":{"href":"https://api.x.x.x.x.com/v3/domains/da0c442d-50e6-4be1-85f9-63945e1b680b/route_reservations"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/7c8b9705-bc7c-4a96-9af0-6674c8290615"},"shared_organizations":{"href":"https://api.x.x.x.x.com/v3/domains/da0c442d-50e6-4be1-85f9-63945e1b680b/relationships/shared_organizations"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - c337433d-a1b0-4cb0-5a9f-3cbed1bc53c0::5c7498b0-56bd-41c8-a3cd-ed7d69c26f8f
        status: 200 OK
        code: 200
        duration: 376.669333ms
[...]
