---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=e0c4ced36d274820910d6ba8410e13b7-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - e0c4ced36d274820910d6ba8410e13b7-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
            - chunked
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"e0c4ced36d274820910d6ba8410e13b7-r","expires_in":1199,"scope":"clients.read openid routing.router_groups.write scim.read cloud_controller.admin uaa.user routing.router_groups.read cloud_controller.read password.write cloud_controller.write network.admin doppler.firehose scim.write","jti":"1f343e352e254005b4b4b2f7830c6d9f"}'
        headers:
            Content-Type:
                - application/json
        status: '200 '
        code: 200
        duration: 74.942292ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances?page=1&per_page=50&space_guids=10b8f9bd-0731-49f3-9e88-a17b6eec090e
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_instances?page=1\u0026per_page=50\u0026space_guids=10b8f9bd-0731-49f3-9e88-a17b6eec090e"},"last":{"href":"https://api.x.x.x.x.com/v3/service_instances?page=1\u0026per_page=50\u0026space_guids=10b8f9bd-0731-49f3-9e88-a17b6eec090e"},"next":null,"previous":null},"resources":[{"guid":"c02f9dec-f627-4b89-9542-b04edbedd95a","created_at":"2026-04-15T11:08:07Z","updated_at":"2026-04-15T11:08:11Z","name":"test-service","tags":[],"last_operation":{"type":"create","state":"succeeded","description":"","updated_at":"2026-04-15T11:08:11Z","created_at":"2026-04-15T11:08:11Z"},"type":"managed","maintenance_info":{},"upgrade_available":false,"dashboard_url":"http://example.com/dashboard","relationships":{"space":{"data":{"guid":"10b8f9bd-0731-49f3-9e88-a17b6eec090e"}},"service_plan":{"data":{"guid":"f59c2320-bac2-47d2-86ac-25423f0e5689"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_instances/c02f9dec-f627-4b89-9542-b04edbedd95a"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/10b8f9bd-0731-49f3-9e88-a17b6eec090e"},"service_credential_bindings":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?service_instance_guids=c02f9dec-f627-4b89-9542-b04edbedd95a"},"service_route_bindings":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?service_instance_guids=c02f9dec-f627-4b89-9542-b04edbedd95a"},"service_plan":{"href":"https://api.x.x.x.x.com/v3/service_plans/f59c2320-bac2-47d2-86ac-25423f0e5689"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_instances/c02f9dec-f627-4b89-9542-b04edbedd95a/parameters"},"shared_spaces":{"href":"https://api.x.x.x.x.com/v3/service_instances/c02f9dec-f627-4b89-9542-b04edbedd95a/relationships/shared_spaces"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 91497721-fe05-414d-5010-ae082c36f8b9::b71be45e-984f-4040-92f0-bc0af316f1d8
        status: 200 OK
        code: 200
        duration: 62.283875ms
[...]
