---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/7c8b9705-bc7c-4a96-9af0-6674c8290615
        method: GET
      response:
        body: '{"guid":"7c8b9705-bc7c-4a96-9af0-6674c8290615","created_at":"2026-03-03T10:07:27Z","updated_at":"2026-03-03T10:07:27Z","name":"test","suspended":false,"relationships":{"quota":{"data":{"guid":"16b266a3-d9b1-4c53-aab7-3526ba9aa636"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/7c8b9705-bc7c-4a96-9af0-6674c8290615"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/7c8b9705-bc7c-4a96-9af0-6674c8290615/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/7c8b9705-bc7c-4a96-9af0-6674c8290615/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/16b266a3-d9b1-4c53-aab7-3526ba9aa636"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 6149b7b8-3190-4602-6d22-41bd28cf425d::82a812d7-b77c-4f5a-a95d-828a140d53fa
        status: 200 OK
        code: 200
        duration: 176.712291ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles?organization_guids=7c8b9705-bc7c-4a96-9af0-6674c8290615&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/roles?order_by=%2Bcreated_at\u0026organization_guids=7c8b9705-bc7c-4a96-9af0-6674c8290615\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/roles?order_by=%2Bcreated_at\u0026organization_guids=7c8b9705-bc7c-4a96-9af0-6674c8290615\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"a8320596-5c60-47f9-a7ba-2083eadae14e","created_at":"2026-03-03T10:07:28Z","updated_at":"2026-03-03T10:07:28Z","type":"organization_user","relationships":{"user":{"data":{"guid":"1a6c31b5-e857-4ed0-ad48-a27843a9dd36"}},"organization":{"data":{"guid":"7c8b9705-bc7c-4a96-9af0-6674c8290615"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/a8320596-5c60-47f9-a7ba-2083eadae14e"},"user":{"href":"https://api.x.x.x.x.com/v3/users/1a6c31b5-e857-4ed0-ad48-a27843a9dd36"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/7c8b9705-bc7c-4a96-9af0-6674c8290615"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 1ded0d7c-62b6-4dc0-6f63-5cf61790d1c8::a976764b-5c45-457e-958f-48ba4f6fc100
        status: 200 OK
        code: 200
        duration: 207.917375ms
[...]
