---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=a977afba93a04543a4de04e655966074-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - a977afba93a04543a4de04e655966074-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"a977afba93a04543a4de04e655966074-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"ad29d849e4a245949d8ca4556e6c543a"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 893890e4-8d7c-488a-550b-d35e2b6d5467
        status: 200 OK
        code: 200
        duration: 803.032375ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9
        method: GET
      response:
        body: '{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9","created_at":"2025-12-02T07:47:58Z","updated_at":"2025-12-02T07:47:58Z","name":"terraform-integration-canary_test-cred-8633u6tv","suspended":false,"relationships":{"quota":{"data":{"guid":"145e5f8e-9a3e-469e-b9b2-50c75f2098d2"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/145e5f8e-9a3e-469e-b9b2-50c75f2098d2"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1774345706"
            X-Vcap-Request-Id:
                - 333bf598-37a3-4b5d-52ef-957f2f037db0::693d14ed-cd30-492f-8501-7b815d9186e0
        status: 200 OK
        code: 200
        duration: 756.118042ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?organization_guids=b4da43cd-2055-4d4d-ae6e-4066ce53a8b9&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":3,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?organization_guids=b4da43cd-2055-4d4d-ae6e-4066ce53a8b9\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?organization_guids=b4da43cd-2055-4d4d-ae6e-4066ce53a8b9\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"50655f6a-a66c-4276-b544-1d1aa864effd","created_at":"2025-12-02T07:50:06Z","updated_at":"2025-12-02T07:50:06Z","name":"test","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"quota":{"data":null}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/50655f6a-a66c-4276-b544-1d1aa864effd"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/50655f6a-a66c-4276-b544-1d1aa864effd/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/50655f6a-a66c-4276-b544-1d1aa864effd/actions/apply_manifest","method":"POST"}}},{"guid":"7c34d82b-5aec-4e66-b233-34d947459ad3","created_at":"2026-02-12T08:31:12Z","updated_at":"2026-02-12T08:31:12Z","name":"test1","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"quota":{"data":null}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/7c34d82b-5aec-4e66-b233-34d947459ad3"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/7c34d82b-5aec-4e66-b233-34d947459ad3/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/7c34d82b-5aec-4e66-b233-34d947459ad3/actions/apply_manifest","method":"POST"}}},{"guid":"bb77a8bc-00f9-4cca-9df1-2e63641ff1a2","created_at":"2026-02-13T12:02:22Z","updated_at":"2026-02-13T12:02:22Z","name":"space","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/bb77a8bc-00f9-4cca-9df1-2e63641ff1a2"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/bb77a8bc-00f9-4cca-9df1-2e63641ff1a2/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/bb77a8bc-00f9-4cca-9df1-2e63641ff1a2/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1774345706"
            X-Vcap-Request-Id:
                - aae0fa72-e094-4c64-5a6a-64622c0f8d9f::e1528299-71ac-46bd-9390-e4ac7ad10a98
        status: 200 OK
        code: 200
        duration: 268.46125ms
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9
        method: GET
      response:
        body: '{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9","created_at":"2025-12-02T07:47:58Z","updated_at":"2025-12-02T07:47:58Z","name":"terraform-integration-canary_test-cred-8633u6tv","suspended":false,"relationships":{"quota":{"data":{"guid":"145e5f8e-9a3e-469e-b9b2-50c75f2098d2"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/145e5f8e-9a3e-469e-b9b2-50c75f2098d2"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1774345706"
            X-Vcap-Request-Id:
                - a0e13972-8b43-4419-66b2-eedc332ad269::93f4b80f-ab18-4c1a-b03e-58462b4a41b0
        status: 200 OK
        code: 200
        duration: 254.265042ms
[...]
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/50655f6a-a66c-4276-b544-1d1aa864effd/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1774345706"
            X-Vcap-Request-Id:
                - 63767d85-096b-4975-4026-703bda7c9ee1::9fb290a8-414f-4324-b4b9-96429518901a
        status: 200 OK
        code: 200
        duration: 241.580416ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/50655f6a-a66c-4276-b544-1d1aa864effd/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/50655f6a-a66c-4276-b544-1d1aa864effd/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1774345706"
            X-Vcap-Request-Id:
                - 48542026-7e3b-4744-5928-2522288da15d::0332c776-a717-49d0-8ca6-f3f3291eddaa
        status: 200 OK
        code: 200
        duration: 266.109708ms
[...]
