---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=e0c4ced36d274820910d6ba8410e13b7-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - e0c4ced36d274820910d6ba8410e13b7-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
            - chunked
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"e0c4ced36d274820910d6ba8410e13b7-r","expires_in":1199,"scope":"clients.read openid routing.router_groups.write scim.read cloud_controller.admin uaa.user routing.router_groups.read cloud_controller.read password.write cloud_controller.write network.admin doppler.firehose scim.write","jti":"93b1e9b7b6e64b95b6fbe6abb545c7d2"}'
        headers:
            Content-Type:
                - application/json
        status: '200 '
        code: 200
        duration: 52.233042ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?page=1&per_page=50&service_instance_guids=c02f9dec-f627-4b89-9542-b04edbedd95a
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?page=1\u0026per_page=50\u0026service_instance_guids=c02f9dec-f627-4b89-9542-b04edbedd95a"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?page=1\u0026per_page=50\u0026service_instance_guids=c02f9dec-f627-4b89-9542-b04edbedd95a"},"next":null,"previous":null},"resources":[{"guid":"6ed8d7e1-4464-46d6-960d-08462d66aac4","created_at":"2026-04-22T08:25:26Z","updated_at":"2026-04-22T08:25:30Z","name":null,"type":"app","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2026-04-22T08:25:30Z","created_at":"2026-04-22T08:25:30Z"},"metadata":{"labels":{},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"c02f9dec-f627-4b89-9542-b04edbedd95a"}},"app":{"data":{"guid":"3e477e87-f79a-41b7-bc03-5c2e8c0cbfe3"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/6ed8d7e1-4464-46d6-960d-08462d66aac4"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/6ed8d7e1-4464-46d6-960d-08462d66aac4/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/c02f9dec-f627-4b89-9542-b04edbedd95a"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/6ed8d7e1-4464-46d6-960d-08462d66aac4/parameters"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/3e477e87-f79a-41b7-bc03-5c2e8c0cbfe3"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e3c37bbb-6fd8-44cb-6164-211304b08499::0a405095-a097-4cb8-82fd-3e5103e0268e
        status: 200 OK
        code: 200
        duration: 304.9205ms
[...]
