---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers?page=1&per_page=50&space_guids=6243642c-232b-486b-beec-bb13771b2546
        method: GET
      response:
        body: '{"pagination":{"total_results":2,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_brokers?page=1\u0026per_page=50\u0026space_guids=6243642c-232b-486b-beec-bb13771b2546"},"last":{"href":"https://api.x.x.x.x.com/v3/service_brokers?page=1\u0026per_page=50\u0026space_guids=6243642c-232b-486b-beec-bb13771b2546"},"next":null,"previous":null},"resources":[{"guid":"d8fa2ac8-9654-4e8c-90ce-d47751844b73","created_at":"2026-04-21T12:05:17Z","updated_at":"2026-04-21T12:05:20Z","name":"my-broker","url":"https://simple-service-broker.apps.x.x.x.x.com","relationships":{"space":{"data":{"guid":"6243642c-232b-486b-beec-bb13771b2546"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/d8fa2ac8-9654-4e8c-90ce-d47751844b73"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=d8fa2ac8-9654-4e8c-90ce-d47751844b73"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/6243642c-232b-486b-beec-bb13771b2546"}}},{"guid":"0ca93e74-0682-4e06-ac4b-949d3362a146","created_at":"2026-04-21T12:05:51Z","updated_at":"2026-04-21T12:05:55Z","name":"my-broker1","url":"https://simple-service-broker.apps.x.x.x.x.com","relationships":{"space":{"data":{"guid":"6243642c-232b-486b-beec-bb13771b2546"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/0ca93e74-0682-4e06-ac4b-949d3362a146"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=0ca93e74-0682-4e06-ac4b-949d3362a146"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/6243642c-232b-486b-beec-bb13771b2546"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 4cd143d5-bfd4-410e-74f1-8cdca7546c16::54de29a6-3620-4fcf-9975-e0d124fdf386
        status: 200 OK
        code: 200
        duration: 266.773417ms
[...]
