---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organization_quotas?page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"16b266a3-d9b1-4c53-aab7-3526ba9aa636","created_at":"2026-03-03T07:02:30Z","updated_at":"2026-03-03T07:02:30Z","name":"default","apps":{"total_memory_in_mb":10240,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":1000,"total_reserved_ports":100},"domains":{"total_domains":null},"relationships":{"organizations":{"data":[{"guid":"de8e421e-4cdf-4eaa-b095-ce6cc10a12c4"},{"guid":"7c8b9705-bc7c-4a96-9af0-6674c8290615"}]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/16b266a3-d9b1-4c53-aab7-3526ba9aa636"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 44945803-785b-4f34-7a77-32161c5f623b::ae8e9efc-a3f4-4e30-b1f3-74287efa4972
        status: 200 OK
        code: 200
        duration: 456.932541ms
[...]
