---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=e0c4ced36d274820910d6ba8410e13b7-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - e0c4ced36d274820910d6ba8410e13b7-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
            - chunked
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"e0c4ced36d274820910d6ba8410e13b7-r","expires_in":1199,"scope":"clients.read openid routing.router_groups.write scim.read cloud_controller.admin uaa.user routing.router_groups.read cloud_controller.read password.write cloud_controller.write network.admin doppler.firehose scim.write","jti":"95789feb353749c8911a759e26086392"}'
        headers:
            Content-Type:
                - application/json
        status: '200 '
        code: 200
        duration: 1.401046917s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/buildpacks?page=1&per_page=50&stacks=cflinuxfs4
        method: GET
      response:
        body: '{"pagination":{"total_results":5,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/buildpacks?page=1\u0026per_page=50\u0026stacks=cflinuxfs4"},"last":{"href":"https://api.x.x.x.x.com/v3/buildpacks?page=1\u0026per_page=50\u0026stacks=cflinuxfs4"},"next":null,"previous":null},"resources":[{"guid":"f9b585c7-fec6-4236-8754-b4852b4066df","created_at":"2026-03-03T10:07:30Z","updated_at":"2026-03-03T10:07:32Z","name":"java-buildpack","stack":"cflinuxfs4","state":"READY","lifecycle":"buildpack","filename":"java-buildpack-cflinuxfs4.zip","position":1,"enabled":true,"locked":false,"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/buildpacks/f9b585c7-fec6-4236-8754-b4852b4066df"},"upload":{"href":"https://api.x.x.x.x.com/v3/buildpacks/f9b585c7-fec6-4236-8754-b4852b4066df/upload","method":"POST"}}},{"guid":"5c8762ab-4fff-4127-9d0c-6d04ebe991bc","created_at":"2026-03-17T09:29:27Z","updated_at":"2026-03-17T09:29:31Z","name":"hi","stack":"cflinuxfs4","state":"READY","lifecycle":"buildpack","filename":"cf-sample-app-nodejs.zip","position":2,"enabled":false,"locked":false,"metadata":{"labels":{"hi":"fi"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/buildpacks/5c8762ab-4fff-4127-9d0c-6d04ebe991bc"},"upload":{"href":"https://api.x.x.x.x.com/v3/buildpacks/5c8762ab-4fff-4127-9d0c-6d04ebe991bc/upload","method":"POST"}}},{"guid":"ace2eef0-b245-4fa1-8e4c-7b536a9324b5","created_at":"2026-03-03T10:07:34Z","updated_at":"2026-03-03T10:07:38Z","name":"nodejs_buildpack","stack":"cflinuxfs4","state":"READY","lifecycle":"buildpack","filename":"nodejs_buildpack-cflinuxfs4.zip","po[...]
[...]
