---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=0b9951837159482b8216afb4f55d4b9b-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 0b9951837159482b8216afb4f55d4b9b-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
            - chunked
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"0b9951837159482b8216afb4f55d4b9b-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"591f63167c084f4baebe02a393d0508a"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 9fe2c63b-ba5a-4427-6896-83aa419cf448
        status: 200 OK
        code: 200
        duration: 891.215875ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/7c34d82b-5aec-4e66-b233-34d947459ad3/mtas
        method: GET
      response:
            - chunked
        body: '[{"metadata":{"id":"my-mta","version":"1.0.0","namespace":"test"},"modules":[{"moduleName":"my-app","appName":"test-my-app","providedDendencyNames":[],"services":["test-my-service"],"uris":["test-terraform-integration-canary-test-cred-8633u6tv-tesaa31fae.cfapps.eu12.hana.ondemand.com"]}],"services":["test-my-service"]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - e8577b0c-b874-484c-7b9e-655c5c4b4bc6
        status: 200 OK
        code: 200
        duration: 872.131875ms
[...]
