---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=e0c4ced36d274820910d6ba8410e13b7-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - e0c4ced36d274820910d6ba8410e13b7-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
            - chunked
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"e0c4ced36d274820910d6ba8410e13b7-r","expires_in":1199,"scope":"clients.read openid routing.router_groups.write scim.read cloud_controller.admin uaa.user routing.router_groups.read cloud_controller.read password.write cloud_controller.write network.admin doppler.firehose scim.write","jti":"1de7c99002bf448e9c01347dbfa92de6"}'
        headers:
            Content-Type:
                - application/json
        status: '200 '
        code: 200
        duration: 1.136504584s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/routes?page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":2,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/routes?page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/routes?page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"8c1f89f8-7465-4f40-80e7-964747b1896d","created_at":"2026-03-03T10:55:56Z","updated_at":"2026-03-03T10:55:56Z","protocol":"http","host":"hello-js","path":"","port":null,"url":"hello-js.apps.x.x.x.x.com","destinations":[{"guid":"597a16f9-8333-475a-804e-57268a90141c","app":{"guid":"3e477e87-f79a-41b7-bc03-5c2e8c0cbfe3","process":{"type":"web"}},"weight":null,"port":8080,"protocol":"http1","created_at":"2026-03-03T10:55:56Z","updated_at":"2026-03-03T10:55:56Z"}],"metadata":{"labels":{},"annotations":{}},"relationships":{"space":{"data":{"guid":"10b8f9bd-0731-49f3-9e88-a17b6eec090e"}},"domain":{"data":{"guid":"38ee006a-c7a3-45cb-a1ac-d21811de1dc1"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/routes/8c1f89f8-7465-4f40-80e7-964747b1896d"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/10b8f9bd-0731-49f3-9e88-a17b6eec090e"},"destinations":{"href":"https://api.x.x.x.x.com/v3/routes/8c1f89f8-7465-4f40-80e7-964747b1896d/destinations"},"domain":{"href":"https://api.x.x.x.x.com/v3/domains/38ee006a-c7a3-45cb-a1ac-d21811de1dc1"}},"options":{}},{"guid":"6a18e548-e862-4cfc-b194-cc1d5a53346d","created_at":"2026-03-18T10:34:35Z","updated_at":"2026-03-18T10:34:35Z","protocol":"http","host":"delayed-broker","path":"","port":null,"url":"delayed-broker.apps.x.x.x.x.com","destinations":[{"guid":"154e5407-05e0-4497-9596-cc58782ecc5c","app":{"guid":"d10ea680-df1c-4034-81b3-db2ad6ac0c0b","process":{"type":"web"}},"weight":null,"port":8080,"protocol":"http1","created_at":"2026-03-18T10:34:35Z","updated_at":"2026-03-18T10:34:35Z"}],"metadata":{"labels":{},"annotations":{}},"relationships":{"space":{"data":{"guid":"10b8f9bd-0731-49f3-9e88-a17b6eec090e"}},"domain":{"data":{"guid":"38ee006a-c7a3-45cb-a1ac-d21811de1dc1"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/routes/6a18e548-e862-4cfc-b194-cc1d5a53346d"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/10b8f9bd-0731-49f3-9e88-a17b6eec090e"},"destinations":{"href":"https://api.x.x.x.x.com/v3/routes/6a18e548-e862-4cfc-b194-cc1d5a53346d/destinations"},"domain":{"href":"https://api.x.x.x.x.com/v3/domains/38ee006a-c7a3-45cb-a1ac-d21811de1dc1"}},"options":{}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 92122933-201d-47c1-5788-26b4768c7a29::691adcf5-418c-4496-8060-cc091ddf41f2
        status: 200 OK
        code: 200
        duration: 1.050874584s
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/10b8f9bd-0731-49f3-9e88-a17b6eec090e
        method: GET
      response:
        body: '{"guid":"10b8f9bd-0731-49f3-9e88-a17b6eec090e","created_at":"2026-03-03T10:07:28Z","updated_at":"2026-03-03T10:07:28Z","name":"test","relationships":{"organization":{"data":{"guid":"7c8b9705-bc7c-4a96-9af0-6674c8290615"}},"quota":{"data":null}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/10b8f9bd-0731-49f3-9e88-a17b6eec090e"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/7c8b9705-bc7c-4a96-9af0-6674c8290615"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/10b8f9bd-0731-49f3-9e88-a17b6eec090e/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/10b8f9bd-0731-49f3-9e88-a17b6eec090e/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f142819d-e3b2-4e2a-4449-0aea7aa697c4::e90324ef-3a0d-489d-b520-1ab07ee06ad1
        status: 200 OK
        code: 200
        duration: 62.063ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/routes?page=1&per_page=50&space_guids=10b8f9bd-0731-49f3-9e88-a17b6eec090e
        method: GET
      response:
        body: '{"pagination":{"total_results":2,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/routes?page=1\u0026per_page=50\u0026space_guids=10b8f9bd-0731-49f3-9e88-[...]
