---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers: {}
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.x.x.x.x.com"},"cloud_controller_v3":{"href":"https://api.x.x.x.x.com/v3","meta":{"version":"3.194.0"}},"network_policy_v0":{"href":"https://api.x.x.x.x.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.x.x.x.x.com/networking/v1/external"},"login":{"href":"https://login.x.x.x.x.com"},"uaa":{"href":"https://uaa.x.x.x.x.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.x.x.x.x.com:443"},"log_cache":{"href":"https://log-cache.x.x.x.x.com"},"log_stream":{"href":"https://log-stream.x.x.x.x.com"},"app_ssh":{"href":"ssh.x.x.x.x.com:2222","meta":{"host_key_fingerprint":"H39M+ibsSMc5tbFqaKfD2ui3dYPdnt5GoeiCJoMBqds","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.x.x.x.x.com/v2","meta":{"version":"2.259.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - efc12d35-c2c8-4ad7-77db-9480979f7873::b5236f6b-1100-4d37-8a7f-79864bc75dfd
        status: 200 OK
        code: 200
        duration: 954.453876ms
    - id: 1
      request:
        host: uaa.x.x.x.x.com
        body: assertion=redacted&client_id=cf&grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer
        form:
            assertion:
                - redacted
            client_id:
                - cf
            grant_type:
                - urn:ietf:params:oauth:grant-type:jwt-bearer
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token?login_hint=%7B%22origin%22%3A%22dummy-origin%22%7D
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"8e2d050468cc4b8d8b3ce56a526fe941-r","expires_in":1199,"scope":"openid uaa.user cloud_controller.read password.write cloud_controller.write","jti":"aa3c4f6fe1d54b25bae482d5f0f4adaf"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 2c80ee8d-e381-420c-6db5-078d12c2f19f
        status: 200 OK
        code: 200
        duration: 2.832888918s
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=BTP-Terraformers-Prod_mock-github-oidc-test&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=BTP-Terraformers-Prod_mock-github-oidc-test\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=BTP-Terraformers-Prod_mock-github-oidc-test\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"b7d1d7ca-8b97-41f3-9f3f-ae8cf2ccdb4f","created_at":"2025-06-21T09:13:27Z","updated_at":"2025-06-21T09:13:28Z","name":"BTP-Terraformers-Prod_mock-github-oidc-test","suspended":false,"relationships":{"quota":{"data":{"guid":"3d0589d6-8e84-4e3e-9dea-e8c76c37a338"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/b7d1d7ca-8b97-41f3-9f3f-ae8cf2ccdb4f"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/b7d1d7ca-8b97-41f3-9f3f-ae8cf2ccdb4f/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/b7d1d7ca-8b97-41f3-9f3f-ae8cf2ccdb4f/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/3d0589d6-8e84-4e3e-9dea-e8c76c37a338"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1752756422"
            X-Vcap-Request-Id:
                - a6493f77-fc13-41dc-4e39-7447c7b3c5dc::58acb693-9d25-4eb6-9cf6-7026ab73d48e
        status: 200 OK
        code: 200
        duration: 309.820458ms
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers: {}
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.x.x.x.x.com"},"cloud_controller_v3":{"href":"https://api.x.x.x.x.com/v3","meta":{"version":"3.194.0"}},"network_policy_v0":{"href":"https://api.x.x.x.x.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.x.x.x.x.com/networking/v1/external"},"login":{"href":"https://login.x.x.x.x.com"},"uaa":{"href":"https://uaa.x.x.x.x.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.x.x.x.x.com:443"},"log_cache":{"href":"https://log-cache.x.x.x.x.com"},"log_stream":{"href":"https://log-stream.x.x.x.x.com"},"app_ssh":{"href":"ssh.x.x.x.x.com:2222","meta":{"host_key_fingerprint":"H39M+ibsSMc5tbFqaKfD2ui3dYPdnt5GoeiCJoMBqds","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.x.x.x.x.com/v2","meta":{"version":"2.259.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - dade043c-ef65-46c1-4498-4a3512bcd924::6606e8e0-fac4-4623-b445-5d58b2a8fffa
        status: 200 OK
        code: 200
        duration: 290.729625ms
    - id: 5
      request:
        host: uaa.x.x.x.x.com
        body: assertion=redacted&client_id=cf&grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer
        form:
            assertion:
                - redacted
            client_id:
                - cf
            grant_type:
                - urn:ietf:params:oauth:grant-type:jwt-bearer
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token?login_hint=%7B%22origin%22%3A%22ddummy-origin%22%7D
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"d4e15b572d524b9b84d1b766ceb7e-r","expires_in":1199,"scope":"openid uaa.user cloud_controller.read password.write cloud_controller.write","jti":"a038afc93640809ac0b2a156144537"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - fd611371-be57-453e-6efc-21b312a3871c
        status: 200 OK
        code: 200
        duration: 2.22518896s
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers: {}
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.x.x.x.x.com"},"cloud_controller_v3":{"href":"https://api.x.x.x.x.com/v3","meta":{"version":"3.194.0"}},"network_policy_v0":{"href":"https://api.x.x.x.x.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.x.x.x.x.com/networking/v1/external"},"login":{"href":"https://login.x.x.x.x.com"},"uaa":{"href":"https://uaa.x.x.x.x.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.x.x.x.x.com:443"},"log_cache":{"href":"https://log-cache.x.x.x.x.com"},"log_stream":{"href":"https://log-stream.x.x.x.x.com"},"app_ssh":{"href":"ssh.x.x.x.x.com:2222","meta":{"host_key_fingerprint":"H39M+ibsSMc5tbFqaKfD2ui3dYPdnt5GoeiCJoMBqds","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.x.x.x.x.com/v2","meta":{"version":"2.259.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - be4a1453-d558-4a7e-507f-a35de6021ae2::730c1982-192a-4264-a03a-984aece07295
        status: 200 OK
        code: 200
        duration: 311.662375ms
[...]
