---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=c5d6be88d586422a973a0c81cc97dd80-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - c5d6be88d586422a973a0c81cc97dd80-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"c5d6be88d586422a973a0c81cc97dd80-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"beef0d46264c4554ae9bf92ce2935719"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 8a4756d0-b624-4ab8-4511-ca702de02e62
        status: 200 OK
        code: 200
        duration: 366.663792ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-update","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}},"apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"log_rate_limit_in_bytes_per_second":null,"total_instances":null,"per_app_tasks":10},"services":{"paid_services_allowed":false,"total_service_instances":10,"total_service_keys":10},"routes":{"total_routes":20,"total_reserved_ports":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/space_quotas
        method: POST
      response:
        body: '{"guid":"0c460d97-9007-483d-9ddf-ec6928e05d92","created_at":"2026-01-21T08:59:01Z","updated_at":"2026-01-21T08:59:01Z","name":"tf-unit-test-update","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":10,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":10,"total_service_keys":10},"routes":{"total_routes":20,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/0c460d97-9007-483d-9ddf-ec6928e05d92"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768987106"
            X-Vcap-Request-Id:
                - efb6e878-78a6-4abf-75f5-089128b6f370::2218d499-4df9-4e56-990f-a937bf4438e7
        status: 201 Created
        code: 201
        duration: 345.43175ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?guids=0c460d97-9007-483d-9ddf-ec6928e05d92&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=0c460d97-9007-483d-9ddf-ec6928e05d92\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=0c460d97-9007-483d-9ddf-ec6928e05d92\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"0c460d97-9007-483d-9ddf-ec6928e05d92","created_at":"2026-01-21T08:59:01Z","updated_at":"2026-01-21T08:59:01Z","name":"tf-unit-test-update","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":10,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":10,"total_service_keys":10},"routes":{"total_routes":20,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/0c460d97-9007-483d-9ddf-ec6928e05d92"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768987105"
            X-Vcap-Request-Id:
                - 85697293-67cf-41cf-5e8c-aea1705ae8b9::f17bbdd3-34ff-49fa-960a-7d76c0b69c5c
        status: 200 OK
        code: 200
        duration: 355.8875ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-update","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"log_rate_limit_in_bytes_per_second":null,"total_instances":null,"per_app_tasks":10},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":10},"routes":{"total_routes":10,"total_reserved_ports":null}}
        form: {}
        headers:
            Authorization:
                - [...]
[...]
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas/0c460d97-9007-483d-9ddf-ec6928e05d92
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/b23e17bb-3557-4574-bb7a-9dec8453e46a
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768987106"
            X-Vcap-Request-Id:
                - 7db87ab7-e7aa-4d4b-4dc9-e11a84e3f3a9::0a4f0529-2973-4009-b27a-c24861e414c9
        status: 202 Accepted
        code: 202
        duration: 353.027ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/b23e17bb-3557-4574-bb7a-9dec8453e46a
        method: GET
      response:
        body: '{"guid":"b23e17bb-3557-4574-bb7a-9dec8453e46a","created_at":"2026-01-21T08:59:12Z","updated_at":"2026-01-21T08:59:12Z","operation":"space_quota.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/b23e17bb-3557-4574-bb7a-9dec8453e46a"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768987106"
            X-Vcap-Request-Id:
                - 30e379c9-1950-432e-6c00-f5de5641d4b3::27381081-5717-42bf-95f2-bb83b314c7ab
        status: 200 OK
        code: 200
        duration: 315.62425ms
