---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - b823f495-5350-4e85-59db-2ef009a3db3b::7ece9a7a-cb83-453a-bff7-a175a66a9397
        status: 200 OK
        code: 200
        duration: 379.423917ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - 6ad402ee-e9c2-464c-6721-d8d45bac5183::d8a28f08-03be-4d97-b0c8-b5ee60d46fce
        status: 200 OK
        code: 200
        duration: 396.422084ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin-sidecar
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  sidecars:
                    - name: sidecar-1
                      process_types:
                        - worker
                      command: sleep 5200
                      memory: 256M
                  metadata:
                    labels: {}
                    annotations: {}
                  instances: 1
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/8f752a7c-01c1-447a-86d0-0330edc787fb
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355330"
            X-Vcap-Request-Id:
                - 80bab691-bb71-4853-4ee3-730aae90438d::97c74061-2c5f-4d01-92c6-01b54b5ab4f7
        status: 202 Accepted
        code: 202
        duration: 449.569834ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/8f752a7c-01c1-447a-86d0-0330edc787fb
        method: GET
      response:
        body: '{"guid":"8f752a7c-01c1-447a-86d0-0330edc787fb","created_at":"2025-10-13T11:15:15Z","updated_at":"2025-10-13T11:15:15Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/8f752a7c-01c1-447a-86d0-0330edc787fb"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - 4198065c-3f78-404d-6e27-59e65ab5f334::865d4a99-d779-4dcb-936a-d9c61e6f4e9d
        status: 200 OK
        code: 200
        duration: 376.986ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"ec3d848f-f4b3-4814-bcdc-892dbcc9eb81","created_at":"2025-10-13T11:15:14Z","updated_at":"2025-10-13T11:15:15Z","name":"http-bin-sidecar","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"current_droplet":{"data":{"guid":null}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - 68c66ccd-3dbb-4316-608e-46abb95ba7ae::9f791c88-1176-42cf-9b2b-4ae254218972
        status: 200 OK
        code: 200
        duration: 406.875584ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"ec3d848f-f4b3-4814-bcdc-892dbcc9eb81"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"f751779d-dea6-42f4-a4d3-181fb94df481","created_at":"2025-10-13T11:15:17Z","updated_at":"2025-10-13T11:15:17Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"ec3d848f-f4b3-4814-bcdc-892dbcc9eb81"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/f751779d-dea6-42f4-a4d3-181fb94df481"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355332"
            X-Vcap-Request-Id:
                - 1d89f9eb-2bb9-44bb-77bc-7b4bba89540d::297ffd33-f306-4ec2-87b5-3b7b028f7171
        status: 201 Created
        code: 201
        duration: 398.901709ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"f751779d-dea6-42f4-a4d3-181fb94df481"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"5ec8b79f-4570-4120-9114-0b496047d12b","created_at":"2025-10-13T11:15:17Z","updated_at":"2025-10-13T11:15:17Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"f751779d-dea6-42f4-a4d3-181fb94df481"},"droplet":null,"created_by":{"guid":"ee3fffa9-513b-4995-bbd7-6a46787f8cb7","name":"anugrah.gupta@sap.com","email":"anugrah.gupta@sap.com"},"relationships":{"app":{"data":{"guid":"ec3d848f-f4b3-4814-bcdc-892dbcc9eb81"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/5ec8b79f-4570-4120-9114-0b496047d12b"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - 21115e79-7c6b-40e2-4f80-c45c13ae91ed::5c821dc1-f2c1-4242-af8a-0a47674487c0
        status: 201 Created
        code: 201
        duration: 495.6535ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/5ec8b79f-4570-4120-9114-0b496047d12b
        method: GET
      response:
        body: '{"guid":"5ec8b79f-4570-4120-9114-0b496047d12b","created_at":"2025-10-13T11:15:17Z","updated_at":"2025-10-13T11:15:17Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"stag[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/5ec8b79f-4570-4120-9114-0b496047d12b
        method: GET
      response:
        body: '{"guid":"5ec8b79f-4570-4120-9114-0b496047d12b","created_at":"2025-10-13T11:15:17Z","updated_at":"2025-10-13T11:15:17Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"f751779d-dea6-42f4-a4d3-181fb94df481"},"droplet":null,"created_by":{"guid":"ee3fffa9-513b-4995-bbd7-6a46787f8cb7","name":"anugrah.gupta@sap.com","email":"anugrah.gupta@sap.com"},"relationships":{"app":{"data":{"guid":"ec3d848f-f4b3-4814-bcdc-892dbcc9eb81"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/5ec8b79f-4570-4120-9114-0b496047d12b"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - db5d4397-561d-4ed0-4bc4-3db68c56ed32::dad7253a-7841-4060-bec6-95ec5a0363dd
        status: 200 OK
        code: 200
        duration: 385.346167ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/f751779d-dea6-42f4-a4d3-181fb94df481/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/f751779d-dea6-42f4-a4d3-181fb94df481/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/f751779d-dea6-42f4-a4d3-181fb94df481/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"56d276c3-3200-4b77-9c20-413eed9df681","created_at":"2025-10-13T11:15:20Z","updated_at":"2025-10-13T11:15:20Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"ec3d848f-f4b3-4814-bcdc-892dbcc9eb81"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/56d276c3-3200-4b77-9c20-413eed9df681"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/f751779d-dea6-42f4-a4d3-181fb94df481"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - dfff4ec8-39bb-4d60-6339-04455f96fb2c::5205d9db-e2dc-4d1f-b716-448668216f15
        status: 200 OK
        code: 200
        duration: 380.112125ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"56d276c3-3200-4b77-9c20-413eed9df681"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"56d276c3-3200-4b77-9c20-413eed9df681"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355330"
            X-Vcap-Request-Id:
                - 2d34bd3a-e32e-488b-5235-9687e2c8b2ba::a4721543-d427-40cd-9e67-066310fc46cf
        status: 200 OK
        code: 200
        duration: 395.0905ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/actions/start
        method: POST
      response:
        body: '{"guid":"ec3d848f-f4b3-4814-bcdc-892dbcc9eb81","created_at":"2025-10-13T11:15:14Z","updated_at":"2025-10-13T11:15:22Z","name":"http-bin-sidecar","state":"STARTED","lifecycle":{"type"[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: |
            {"var":{}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/environment_variables
        method: PATCH
      response:
        body: '{"var":{},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/environment_variables"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355330"
            X-Vcap-Request-Id:
                - 3d24e0d1-8f80-4e04-6631-f90d001d2ab3::81347008-c63d-4a24-831e-ae690f147746
        status: 200 OK
        code: 200
        duration: 386.287084ms
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - a4d77773-0104-4a15-5b2f-c5ed97da2a74::aa13afdd-d11a-45e1-8636-87340805b1d1
        status: 200 OK
        code: 200
        duration: 381.158667ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin-sidecar
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              features:
                ssh: false
                revisions: true
                service-binding-k8s: false
                file-based-vcap-services: false
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
              sidecars:
              - name: sidecar-1
                process_types:
                - worker
                command: sleep 5200
                memory: 256M
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - 19d98978-e563-48d3-4eb1-985d997167bf::d0d9c36b-8fec-423d-94d9-4b03e14cdf16
        status: 200 OK
        code: 200
        duration: 395.070959ms
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81
        method: GET
      response:
        body: '{"guid":"ec3d848f-f4b3-4814-bcdc-892dbcc9eb81","created_at":"2025-10-13T11:15:14Z","updated_at":"2025-10-13T11:15:23Z","name":"http-bin-sidecar","state":"STARTED","lifecycle":{"type":"docker","data[...]
[...]
    - id: 18
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/ec3d848f-f4b3-4814-bcdc-892dbcc9eb81/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - a6d49f2f-24b4-4334-6073-2612deed88df::a1fbf876-92a4-49ce-8d2e-930b81a64ee5
        status: 200 OK
        code: 200
        duration: 369.615334ms
    - id: 19
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143?include=organization
        method: GET
      response:
        body: '{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}},"included":{"organizations":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - f57a355b-d939-4019-4a62-12907bb7a026::bbc23a6f-103d-4b08-9304-aa4b10b86021
        status: 200 OK
        code: 200
        duration: 381.402958ms
[...]
