---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"organization_manager","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"user":{"data":{"username":"debaditya.ray@sap.com","origin":"sap.ids"}}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/roles
        method: POST
      response:
        body: '{"errors":[{"detail":"User ''debaditya.ray@sap.com'' already has ''organization_manager'' role in organization ''PerformanceTeamBLR''.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712556473"
            X-Vcap-Request-Id:
                - 604f7d9d-c413-4e11-7795-7b786ecb6d94::0c0734c7-8471-40f8-96a1-49223d928d74
        status: 422 Unprocessable Entity
        code: 422
        duration: 321.850667ms
