---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","globally_enabled":{"running":false,"staging":false},"rules":[{"protocol":"tcp","destination":"192.168.1.100","ports":"1883,8883","log":true},{"protocol":"udp","destination":"192.168.1.100","ports":"1883,8883","log":false},{"protocol":"icmp","destination":"192.168.1.100","type":0,"code":0,"log":false}],"relationships":{"running_spaces":{"data":[{"guid":"b20af50d-f2e3-4132-b4c2-c24bc373c627"}]},"staging_spaces":{"data":[{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"},{"guid":"64f194ba-8825-4090-af12-fe8bf1141a02"}]}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/security_groups
        method: POST
      response:
        body: '{"guid":"d61fea65-61eb-40ac-9fe8-c75fd3e31eed","created_at":"2025-04-22T09:55:39Z","updated_at":"2025-04-22T09:55:39Z","name":"tf-unit-test","rules":[{"protocol":"tcp","destination":"192.168.1.100","ports":"1883,8883","log":true},{"protocol":"udp","destination":"192.168.1.100","ports":"1883,8883","log":false},{"protocol":"icmp","destination":"192.168.1.100","type":0,"code":0,"log":false}],"globally_enabled":{"running":false,"staging":false},"relationships":{"running_spaces":{"data":[{"guid":"b20af50d-f2e3-4132-b4c2-c24bc373c627"}]},"staging_spaces":{"data":[{"guid":"64f194ba-8825-4090-af12-fe8bf1141a02"},{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"}]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/d61fea65-61eb-40ac-9fe8-c75fd3e31eed"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 411098f4-16d6-425a-7b8e-acd7cc191a2a::b459ea71-a1fd-4467-9daa-85e64bd0d548
        status: 201 Created
        code: 201
        duration: 518.801334ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups/d61fea65-61eb-40ac-9fe8-c75fd3e31eed
        method: GET
      response:
        body: '{"guid":"d61fea65-61eb-40ac-9fe8-c75fd3e31eed","created_at":"2025-04-22T09:55:39Z","updated_at":"2025-04-22T09:55:39Z","name":"tf-unit-test","rules":[{"protocol":"tcp","destination":"192.168.1.100","ports":"1883,8883","log":true},{"protocol":"udp","destination":"192.168.1.100","ports":"1883,8883","log":false},{"protocol":"icmp","destination":"192.168.1.100","type":0,"code":0,"log":false}],"globally_enabled":{"running":false,"staging":false},"relationships":{"running_spaces":{"data":[{"guid":"b20af50d-f2e3-4132-b4c2-c24bc373c627"}]},"staging_spaces":{"data":[{"guid":"64f194ba-8825-4090-af12-fe8bf1141a02"},{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"}]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/d61fea65-61eb-40ac-9fe8-c75fd3e31eed"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 291c9c56-58f9-4931-4c9c-08742298c97f::3163f25f-cc8e-4ac4-a9f6-c2950036b5ec
        status: 200 OK
        code: 200
        duration: 172.479541ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups/d61fea65-61eb-40ac-9fe8-c75fd3e31eed
        method: GET
      response:
        body: '{"guid":"d61fea65-61eb-40ac-9fe8-c75fd3e31eed","created_at":"2025-04-22T09:55:39Z","updated_at":"2025-04-22T09:55:39Z","name":"tf-unit-test","rules":[{"protocol":"tcp","destination":"192.168.1.100","ports":"1883,8883","log":true},{"protocol":"udp","destination":"192.168.1.100","ports":"1883,8883","log":false},{"protocol":"icmp","destination":"192.168.1.100","type":0,"code":0,"log":false}],"globally_enabled":{"running":false,"staging":false},"relationships":{"running_spaces":{"data":[{"guid":"b20af50d-f2e3-4132-b4c2-c24bc373c627"}]},"staging_spaces":{"data":[{"guid":"64f194ba-8825-4090-af12-fe8bf1141a02"},{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"}]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/d61fea65-61eb-40ac-9fe8-c75fd3e31eed"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d01d1396-3eb6-4fdc-6bc3-9b4dba66ee54::2ecfcba3-9659-48e6-8a75-14781269d057
        status: 200 OK
        code: 200
        duration: 178.739459ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups/d61fea65-61eb-40ac-9fe8-c75fd3e31eed/relationships/running_spaces/b20af50d-f2e3-4132-b4c2-c24bc373c627
        method: DELETE
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - 22bf1fd2-110e-40fc-628a-c578949fa0fb::4f2faad4-fa22-4512-9c0f-74217fb90aea
        status: 204 No Content
        code: 204
        duration: 225.055916ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":[{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"},{"guid":"64f194ba-8825-4090-af12-fe8bf1141a02"}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/security_groups/d61fea65-61eb-40ac-9fe8-c75fd3e31eed/relationships/running_spaces
        method: POST
      response:
        body: '{"data":[{"guid":"64f194ba-8825-4090-af12-fe8bf1141a02"},{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/d61fea65-61eb-40ac-9fe8-c75fd3e31eed/relationships/running_spaces"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 65f35fdd-c34d-45eb-66ec-6b42638fabf2::684a298b-361b-4008-bf20-f1ce661ef79e
        status: 200 OK
        code: 200
        duration: 200.811666ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups/d61fea65-61eb-40ac-9fe8-c75fd3e31eed/relationships/staging_spaces/0925b3c7-7544-4700-b71b-191b3c348e5c
        method: DELETE
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - b2f9fe0c-c587-48d2-65b3-a1878251a2b4::5481a9d0-476f-4e5f-9933-3a76d0385f45
        status: 204 No Content
        code: 204
        duration: 198.496375ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":[{"guid":"b20af50d-f2e3-4132-b4c2-c24bc373c627"}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/security_groups/d61fea65-61eb-40ac-9fe8-c75fd3e31eed/relationships/staging_spaces
        method: POST
      response:
        body: '{"data":[{"guid":"b20af50d-f2e3-4132-b4c2-c24bc373c627"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/d61fea65-61eb-40ac-9fe8-c75fd3e31eed/relationships/staging_spaces"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 064bd77c-13c2-41f5-4187-5f50cec06d38::f32b6d72-6562-442e-98e7-9ed7e56d1fb0
        status: 200 OK
        code: 200
        duration: 202.033791ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test1","globally_enabled":{"running":true,"staging":true},"rules":[null]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/security_groups/d61fea65-61eb-40ac-9fe8-c75fd3e31eed
        method: PATCH
      response:
        body: '{"guid":"d61fea65-61eb-40ac-9fe8-c75fd3e31eed","created_at":"2025-04-22T09:55:39Z","updated_at":"2025-04-22T09:55:41Z","name":"tf-unit-test1","rules":[],"globally_enabled":{"running":true,"staging":true},"relationships":{"running_spaces":{"data":[{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"},{"guid":"64f194ba-8825-4090-af12-fe8bf1141a02"}]},"staging_spaces":{"data":[{"guid":"b20af50d-f2e3-4132-b4c2-c24bc373c627"}]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/d61fea65-61eb-40ac-9fe8-c75fd3e31eed"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - cd1cac85-266f-41a5-55eb-dbd16d4896d1::cb46e366-f4b8-413b-b272-06342d9297fb
        status: 200 OK
        code: 200
        duration: 182.967041ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups/d61fea65-61eb-40ac-9fe8-c75fd3e31eed
        method: GET
      response:
        body: '{"guid":"d61fea65-61eb-40ac-9fe8-c75fd3e31eed","created_at":"2025-04-22T09:55:39Z","updated_at":"2025-04-22T09:55:41Z","name":"tf-unit-test1","rules":[],"globally_enabled":{"running":true,"staging":true},"relationships":{"running_spaces":{"data":[{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"},{"guid":"64f194ba-8825-4090-af12-fe8bf1141a02"}]},"staging_spaces":{"data":[{"guid":"b20af50d-f2e3-4132-b4c2-c24bc373c627"}]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/d61fea65-61eb-40ac-9fe8-c75fd3e31eed"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - ffe5a07e-34d8-4fa7-5869-6dc35f4d5328::4f88c13a-9b24-4e06-917f-dba67dd40503
        status: 200 OK
        code: 200
        duration: 165.285875ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups/d61fea65-61eb-40ac-9fe8-c75fd3e31eed
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/cbaec24e-a9b8-47c1-b7fc-3af1e545ef5e
            X-Vcap-Request-Id:
                - 064d7589-e9f7-4931-7d75-dad65b17df9d::e1dd0151-3e08-48e0-83ee-b165e21a59b9
        status: 202 Accepted
        code: 202
        duration: 207.974583ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/cbaec24e-a9b8-47c1-b7fc-3af1e545ef5e
        method: GET
      response:
        body: '{"guid":"cbaec24e-a9b8-47c1-b7fc-3af1e545ef5e","created_at":"2025-04-22T09:55:42Z","updated_at":"2025-04-22T09:55:43Z","operation":"security_group.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/cbaec24e-a9b8-47c1-b7fc-3af1e545ef5e"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - bd7656b5-7a97-41bb-4bb0-48caf3740e4f::c0d20022-4592-4e4b-8349-d18f72a5531a
        status: 200 OK
        code: 200
        duration: 169.360416ms
