---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Users?count=100&filter=userName+eq+%22tf-test3%22&startIndex=1
        method: GET
      response:
        body: '{"resources":[],"startIndex":1,"itemsPerPage":100,"totalResults":0,"schemas":["urn:scim:schemas:core:1.0"]}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - ceba1be9-e3c9-495b-7526-da6fb8527357
        status: 200 OK
        code: 200
        duration: 190.587167ms
    - id: 1
      request:
        host: uaa.x.x.x.x.com
        body: '{"userName":"tf-test3","name":{},"emails":[{"value":"tf-test3","primary":true}]}'
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Users
        method: POST
      response:
        body: '{"error_description":"Password must be at least 1 characters in length.","error":"invalid_password","message":"Password must be at least 1 characters in length."}'
        headers:
            Content-Language:
                - en-US
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - ace66ef3-de69-43b1-6280-5523b1518775
        status: 400 Bad Request
        code: 400
        duration: 208.730167ms
[...]
    - id: 3
      request:
        host: uaa.x.x.x.x.com
        body: '{"password":"tf-test3","userName":"tf-test3","name":{},"emails":[{"value":"tf-test3","primary":true}]}'
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Users
        method: POST
      response:
        body: '{"id":"9a701645-b15b-4aa4-86f5-cfac07fe4854","meta":{"version":0,"created":"2024-07-12T03:28:13.035Z","lastModified":"2024-07-12T03:28:13.035Z"},"userName":"tf-test3","name":{},"emails":[{"value":"tf-test3","primary":false}],"groups":[{"value":"b334f5da-0b49-4f6a-bd97-8b36bc16c34a","display":"openid","type":"DIRECT"},{"value":"7a4c7f23-2a37-4f16-b0b8-a54ec518cf2c","display":"cloud_controller_service_permissions.read","type":"DIRECT"},{"value":"b06d934a-dbee-4a47-b3c7-d39980496fdb","display":"cloud_controller.read","type":"DIRECT"},{"value":"f5c480ca-8fe5-4092-86b2-63ff5867bb50","display":"notification_preferences.read","type":"DIRECT"},{"value":"857ba7b3-e379-479f-8282-4b90502144f7","display":"notification_preferences.write","type":"DIRECT"},{"value":"0c3dbc99-6b06-4099-99eb-ec2bc857aaa6","display":"oauth.approvals","type":"DIRECT"},{"value":"f7a63315-0007-4af7-bc2c-0c38e44387df","display":"cloud_controller.write","type":"DIRECT"},{"value":"22dc1ff3-de75-41fb-81a0-ea893a5552d4","display":"scim.me","type":"DIRECT"},{"value":"fbf50ac0-3219-4def-ad4d-74fbd199dea2","display":"roles","type":"DIRECT"},{"value":"f1da5b73-b4c4-4c19-b14b-773e5e99dcd3","display":"uaa.user","type":"DIRECT"},{"value":"260420bc-bbe6-4569-ab39-0fa0b7dcf36d","display":"profile","type":"DIRECT"},{"value":"55ed167c-6562-4cbe-a0fc-6bc79c3c4c51","display":"user_attributes","type":"DIRECT"},{"value":"0f2e31e6-7053-41b4-b7f5-2e2d69f82bcb","display":"password.write","type":"DIRECT"},{"value":"c8a551ac-291e-4504-a056-a058a367b106","display":"approvals.me","type":"DIRECT"},{"value":"da8826f4-9d2e-4af5-93a4-8c649be9b723","display":"uaa.offline_token","type":"DIRECT"}],"approvals":[],"active":true,"verified":true,"origin":"uaa","zoneId":"uaa","passwordLastModified":"2024-07-12T03:28:13.000Z","schemas":["urn:scim:schemas:core:1.0"]}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0"'
            X-Vcap-Request-Id:
                - c7a1500d-e258-4b7a-7a02-7ea80e9fc495
        status: 201 Created
        code: 201
        duration: 263.616792ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/9a701645-b15b-4aa4-86f5-cfac07fe4854
        method: GET
      response:
        body: '{"errors":[{"detail":"User not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f1307722-62c4-4817-7e48-7a6a1aad3688::b5187e28-4ed4-48ae-930f-38a0e25dbf7f
        status: 404 Not Found
        code: 404
        duration: 176.783ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"guid":"9a701645-b15b-4aa4-86f5-cfac07fe4854","metadata":{"labels":{"landscape":"test","purpose@!":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/users
        method: POST
      response:
        body: '{"errors":[{"detail":"Metadata label key error: ''purpose@!'' contains invalid characters","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 91bb86ad-6b7b-4104-5f5a-d39b6b515b2a::4eb4997a-f32b-4cde-bf35-26137173c28e
        status: 422 Unprocessable Entity
        code: 422
        duration: 179.868958ms
[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: |
            {"guid":"9a701645-b15b-4aa4-86f5-cfac07fe4854","metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/users
        method: POST
      response:
        body: '{"guid":"9a701645-b15b-4aa4-86f5-cfac07fe4854","created_at":"2024-07-12T03:28:14Z","updated_at":"2024-07-12T03:28:14Z","username":"tf-test3","presentation_name":"tf-test3","origin":"uaa","metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/9a701645-b15b-4aa4-86f5-cfac07fe4854"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - cb43897c-1411-404a-7323-f1126a892bbd::4e40d14e-f461-48e3-8784-fc64981de4e7
        status: 201 Created
        code: 201
        duration: 225.30675ms
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/9a701645-b15b-4aa4-86f5-cfac07fe4854
        method: GET
      response:
        body: '{"guid":"9a701645-b15b-4aa4-86f5-cfac07fe4854","created_at":"2024-07-12T03:28:14Z","updated_at":"2024-07-12T03:28:14Z","username":"tf-test3","presentation_name":"tf-test3","origin":"uaa","metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/9a701645-b15b-4aa4-86f5-cfac07fe4854"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d86e23a7-5afe-43ca-6528-5feb3b703a86::14bb0d4b-79cc-4d83-8c8a-c27da257bf6e
        status: 200 OK
        code: 200
        duration: 196.909792ms
    - id: 10
      request:
        host: uaa.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            If-Match:
                - '*'
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Users/9a701645-b15b-4aa4-86f5-cfac07fe4854
        method: GET
      response:
        body: '{"id":"9a701645-b15b-4aa4-86f5-cfac07fe4854","meta":{"version":0,"created":"2024-07-12T03:28:13.035Z","lastModified":"2024-07-12T03:28:13.035Z"},"userName":"tf-test3","name":{},"emails":[{"value":"tf-test3","primary":false}],"groups":[{"value":"b334f5da-0b49-4f6a-bd97-8b36bc16c34a","display":[...]
[...]
    - id: 14
      request:
        host: uaa.x.x.x.x.com
        body: '{ "oldPassword" : "tf-test3" , "password" : "tf-test"}'
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://uaa.x.x.x.x.com/Users/9a701645-b15b-4aa4-86f5-cfac07fe4854/password
        method: PUT
      response:
        body: '{"error_description":"Not permitted to change another user''s password","error":"invalid_password","message":"Not permitted to change another user''s password"}'
        headers:
            Content-Language:
                - en-US
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - f57a4daa-0696-4fe3-7690-d3f66766866a
        status: 400 Bad Request
        code: 400
        duration: 187.911709ms
[...]
    - id: 22
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/9a701645-b15b-4aa4-86f5-cfac07fe4854
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/59cba860-5a8b-48a8-9f9b-195477493fe2
            X-Vcap-Request-Id:
                - c71ea6f2-47f4-4118-6db1-c0f39eaaf671::98e5871b-618b-40b4-8ab5-f920d0f2e17f
        status: 202 Accepted
        code: 202
        duration: 207.243083ms
    - id: 23
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/59cba860-5a8b-48a8-9f9b-195477493fe2
        method: GET
      response:
        body: '{"guid":"59cba860-5a8b-48a8-9f9b-195477493fe2","created_at":"2024-07-12T03:28:17Z","updated_at":"2024-07-12T03:28:17Z","operation":"user.delete","state":"PROCESSING","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/59cba860-5a8b-48a8-9f9b-195477493fe2"},"user":{"href":"https://api.x.x.x.x.com/v3/users/9a701645-b15b-4aa4-86f5-cfac07fe4854"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 488f3ed4-a9e0-4327-4483-878f89e70eb2::d950a86b-183c-4aab-ba7a-f638f8f2482a
        status: 200 OK
        code: 200
        duration: 182.405583ms
[...]
