---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"test.cfapps.stagingazure.hanavlab.ondemand.com","internal":false,"relationships":{"organization":{"data":{"guid":"23919ba5-f9b6-4128-a1fb-69890818d25c"}},"shared_organizations":{"data":[{"guid":"30edf44a-2d4c-432c-9680-9a61123edcf1"},{"guid":"537e7b58-b3e0-4464-9cad-2deae6120a80"}]}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/domains
        method: POST
      response:
        body: '{"guid":"2f3290ae-00d4-446a-8af2-6f6489c570c8","created_at":"2024-03-18T05:07:37Z","updated_at":"2024-03-18T05:07:37Z","name":"test.cfapps.stagingazure.hanavlab.ondemand.com","internal":false,"router_group":null,"supported_protocols":["http"],"relationships":{"organization":{"data":{"guid":"23919ba5-f9b6-4128-a1fb-69890818d25c"}},"shared_organizations":{"data":[{"guid":"537e7b58-b3e0-4464-9cad-2deae6120a80"},{"guid":"30edf44a-2d4c-432c-9680-9a61123edcf1"}]}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/domains/2f3290ae-00d4-446a-8af2-6f6489c570c8"},"route_reservations":{"href":"https://api.x.x.x.x.com/v3/domains/2f3290ae-00d4-446a-8af2-6f6489c570c8/route_reservations"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/23919ba5-f9b6-4128-a1fb-69890818d25c"},"shared_organizations":{"href":"https://api.x.x.x.x.com/v3/domains/2f3290ae-00d4-446a-8af2-6f6489c570c8/relationships/shared_organizations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 3c24ffe1-4b4d-4e81-6c80-74ff233f0bf3::4661d39e-e10e-48aa-9841-c04e03c3e04e
        status: 201 Created
        code: 201
        duration: 261.538663ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/domains/2f3290ae-00d4-446a-8af2-6f6489c570c8
        method: GET
      response:
        body: '{"guid":"2f3290ae-00d4-446a-8af2-6f6489c570c8","created_at":"2024-03-18T05:07:37Z","updated_at":"2024-03-18T05:07:37Z","name":"test.cfapps.stagingazure.hanavlab.ondemand.com","internal":false,"ro[...]
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/domains/2f3290ae-00d4-446a-8af2-6f6489c570c8/relationships/shared_organizations/537e7b58-b3e0-4464-9cad-2deae6120a80
        method: DELETE
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - 4869fc87-6e12-4b6b-6c5c-7017c1be030a::aad35a59-7afa-4e39-a0fb-5bfbd2f4eb81
        status: 204 No Content
        code: 204
        duration: 204.532314ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":[{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/domains/2f3290ae-00d4-446a-8af2-6f6489c570c8/relationships/shared_organizations
        method: POST
      response:
        body: '{"data":[{"guid":"30edf44a-2d4c-432c-9680-9a61123edcf1"},{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - fdd7662e-36bd-4362-68d5-248aadd3b7c0::7f56997b-cd05-4432-b34b-ef93e606e112
        status: 200 OK
        code: 200
        duration: 195.778669ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/domains/2f3290ae-00d4-446a-8af2-6f6489c570c8
        method: GET
      response:
        body: '{"guid":"2f3290ae-00d4-446a-8af2-6f6489c570c8","created_at":"2024-03-18T05:07:37Z","updated_at":"2024-03-18T05:07:37Z","name":"test.cfapps.stagingazure.hanavlab.ondemand.com","internal":false,"router_group":null,"supported_protocols":["http"],"relationships":{"organization":{"data":{"guid":"23919ba5-f9b6-4128-a1fb-69890818d25c"}},"shared_organizations":{"data":[{"guid":"30edf44a-2d4c-432c-9680-9a61123edcf1"},{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}]}},"metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/domains/2f3290ae-00d4-446a-8af2-6f6489c570c8"},"route_reservations":{"href":"https://api.x.x.x.x.com/v3/domains/2f3290ae-00d4-446a-8af2-6f6489c570c8/route_reservations"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/23919ba5-f9b6-4128-a1fb-69890818d25c"},"shared_organizations":{"href":"https://api.x.x.x.x.com/v3/domains/2f3290ae-00d4-446a-8af2-6f6489c570c8/relationships/shared_organizations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e09d553d-fac1-4a84-6eed-7c134b74c99f::edc26a8c-b021-47d1-aead-c000318002be
        status: 200 OK
        code: 200
        duration: 187.300424ms
[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/domains/2f3290ae-00d4-446a-8af2-6f6489c570c8
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/3df86b5c-476f-4fb8-9b84-041591e96e79
            X-Vcap-Request-Id:
                - ba0d497c-5fc0-4a53-5eaf-75fa3928ae13::a87fec29-3c47-4f01-b510-353c34f9e0d4
        status: 202 Accepted
        code: 202
        duration: 203.14211ms
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/3df86b5c-476f-4fb8-9b84-041591e96e79
        method: GET
      response:
        body: '{"guid":"3df86b5c-476f-4fb8-9b84-041591e96e79","created_at":"2024-03-18T05:07:43Z","updated_at":"2024-03-18T05:07:44Z","operation":"domain.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/3df86b5c-476f-4fb8-9b84-041591e96e79"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 37b89c85-05c0-479f-5be2-f26828441543::30a23331-ff45-4425-a363-83020070c680
        status: 200 OK
        code: 200
        duration: 173.468606ms
