---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-import","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"guid":"683e731a-9754-4167-9372-706b30070229","created_at":"2024-03-01T09:31:44Z","updated_at":"2024-03-01T09:31:44Z","name":"tf-unit-test-import","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/683e731a-9754-4167-9372-706b30070229"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/683e731a-9754-4167-9372-706b30070229/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/683e731a-9754-4167-9372-706b30070229/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - c40a873d-15e2-403e-7e0f-67cd8a0291e4::aa54861e-ede9-4f1f-83cc-35add8db9a7c
        status: 201 Created
        code: 201
        duration: 229.566167ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/683e731a-9754-4167-9372-706b30070229/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 8ef9ad28-a04b-4fd5-6960-846cd9d28dcb::6b7efc33-b195-448c-8938-1a6c4aaed8b8
        status: 200 OK
        code: 200
        duration: 189.36175ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/683e731a-9754-4167-9372-706b30070229
        method: GET
      response:
        body: '{"guid":"683e731a-9754-4167-9372-706b30070229","created_at":"2024-03-01T09:31:44Z","updated_at":"2024-03-01T09:31:44Z","name":"tf-unit-test-import","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/683e731a-9754-4167-9372-706b30070229"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/683e731a-9754-4167-9372-706b30070229/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/683e731a-9754-4167-9372-706b30070229/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 3f2b6d19-1bf1-4a70-73b9-81b67b18f1b7::b7bdc986-f2b0-482a-b603-74d0555cf9cc
        status: 200 OK
        code: 200
        duration: 191.254791ms
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/683e731a-9754-4167-9372-706b30070229/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/683e731a-9754-4167-9372-706b30070229/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 2220819c-0ed9-428f-414a-5f8b127306b8::23e410d9-4487-4744-b3cb-c4f9dda57533
        status: 200 OK
        code: 200
        duration: 185.453292ms
[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/683e731a-9754-4167-9372-706b30070229
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/ff0da43c-16fc-4aa0-9285-ef7dd718e058
            X-Vcap-Request-Id:
                - c4bf0b55-9677-464f-765d-f61fa510dd89::02f22760-2618-409d-b7ec-e38550d4017b
        status: 202 Accepted
        code: 202
        duration: 222.456709ms
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/ff0da43c-16fc-4aa0-9285-ef7dd718e058
        method: GET
      response:
        body: '{"guid":"ff0da43c-16fc-4aa0-9285-ef7dd718e058","created_at":"2024-03-01T09:31:47Z","updated_at":"2024-03-01T09:31:47Z","operation":"space.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/ff0da43c-16fc-4aa0-9285-ef7dd718e058"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 12bd14e4-47b9-4698-5c18-6a4918ddc85f::210d35b1-7dc4-401c-aa6d-cb77be45ee32
        status: 200 OK
        code: 200
        duration: 185.883542ms
