---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"app","relationships":{"app":{"data":{"guid":"f3d8f5c5-1bcb-489e-87a7-3011d042e4d0"}},"service_instance":{"data":{"guid":"5e2976bb-332e-41e1-8be3-53baafea9296"}}},"name":"test-ab-user-provided","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_credential_bindings
        method: POST
      response:
        body: '{"guid":"e4af4fec-ec58-4e46-bd2e-86f64ad4afdd","created_at":"2025-09-01T09:43:10Z","updated_at":"2025-09-01T09:43:10Z","name":"test-ab-user-provided","type":"app","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2025-09-01T09:43:10Z","created_at":"2025-09-01T09:43:10Z"},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"5e2976bb-332e-41e1-8be3-53baafea9296"}},"app":{"data":{"guid":"f3d8f5c5-1bcb-489e-87a7-3011d042e4d0"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/e4af4fec-ec58-4e46-bd2e-86f64ad4afdd"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/e4af4fec-ec58-4e46-bd2e-86f64ad4afdd/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/5e2976bb-332e-41e1-8be3-53baafea9296"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/f3d8f5c5-1bcb-489e-87a7-3011d042e4d0"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756720195"
            X-Vcap-Request-Id:
                - 066bb4dc-879f-46a9-48da-b34eef04aeba::42418704-16b9-43d4-be28-cf392cd88df0
        status: 201 Created
        code: 201
        duration: 317.793583ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/e4af4fec-ec58-4e46-bd2e-86f64ad4afdd/details
        method: GET
      response:
        body: '{"credentials":{"hi":"wot"},"syslog_drain_url":"https://google.com"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756720195"
            X-Vcap-Request-Id:
                - 50f7aa98-1ef6-46df-5f80-0e4f8854b3f5::896345b7-dc6c-4fc4-bdc5-e111a7a39f1b
        status: 200 OK
        code: 200
        duration: 275.308416ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/e4af4fec-ec58-4e46-bd2e-86f64ad4afdd
        method: GET
      response:
        body: '{"guid":"e4af4fec-ec58-4e46-bd2e-86f64ad4afdd","created_at":"2025-09-01T09:43:10Z","updated_at":"2025-09-01T09:43:10Z","name":"test-ab-user-provided","type":"app","last_operat[...]
[...]
