---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-update","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}}},"apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"log_rate_limit_in_bytes_per_second":null,"total_instances":null,"per_app_tasks":10},"services":{"paid_services_allowed":false,"total_service_instances":10,"total_service_keys":10},"routes":{"total_routes":20,"total_reserved_ports":4}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/space_quotas
        method: POST
      response:
        body: '{"guid":"bcd264e7-2040-402f-8104-aa53b9a0917e","created_at":"2024-03-26T14:13:42Z","updated_at":"2024-03-26T14:13:42Z","name":"tf-unit-test-update","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":10,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":10,"total_service_keys":10},"routes":{"total_routes":20,"total_reserved_ports":4},"relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/bcd264e7-2040-402f-8104-aa53b9a0917e"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d435520d-1b1c-4965-757a-964c0ad4f04d::cf9ed971-3418-4430-9ebe-cd19501d4076
        status: 201 Created
        code: 201
        duration: 188.413125ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?guids=bcd264e7-2040-402f-8104-aa53b9a0917e
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=bcd264e7-2040-402f-8104-aa53b9a0917e\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=bcd264e7-2040-402f-8104-aa53b9a0917e\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"bcd264e7-2040-402f-8104-aa53b9a0917e","created_at":"2024-03-26T14:13:42Z","updated_at":"2024-03-26T14:13:42Z","name":"tf-unit-test-update","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":10,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":10,"total_service_keys":10},"routes":{"total_routes":20,"total_reserved_ports":4},"relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/bcd264e7-2040-402f-8104-aa53b9a0917e"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 20fc86ff-367d-49e9-4793-59da0a5286f2::b712785e-45b3-4595-9b57-0a1c06279a75
        status: 200 OK
        code: 200
        duration: 177.730958ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-update","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"log_rate_limit_in_bytes_per_second":null,"total_instances":null,"per_app_tasks":10},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":10},"routes":{"total_routes":20,"total_reserved_ports":3}}
        form: {}
        headers:
            Authorization:
                - Bea[...]
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas/bcd264e7-2040-402f-8104-aa53b9a0917e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/46e81ad0-9d8d-41b0-9adb-9aa0adf7a471
            X-Vcap-Request-Id:
                - 71033b95-156c-41a0-5cd7-398bbc975b2d::377bdda6-4f5d-47c6-961f-1a3f2623c321
        status: 202 Accepted
        code: 202
        duration: 194.9565ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/46e81ad0-9d8d-41b0-9adb-9aa0adf7a471
        method: GET
      response:
        body: '{"guid":"46e81ad0-9d8d-41b0-9adb-9aa0adf7a471","created_at":"2024-03-26T14:13:44Z","updated_at":"2024-03-26T14:13:44Z","operation":"space_quota.delete","state":"PROCESSING","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/46e81ad0-9d8d-41b0-9adb-9aa0adf7a471"},"space_quota":{"href":"https://api.x.x.x.x.com/v3/space_quotas/bcd264e7-2040-402f-8104-aa53b9a0917e"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 0f3567dc-60e4-418c-7e9e-1d5e350605c3::bad4ea21-dc78-4aea-9a3f-afb5eb56eb89
        status: 200 OK
        code: 200
        duration: 172.776417ms
[...]
