---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"key","relationships":{"service_instance":{"data":{"guid":"68fea1b6-11b9-4737-ad79-74e49832533f"}}},"name":"test-sk-managed","parameters":{"xsappname":"tf-unit-test","tenant-mode":"dedicated","description":"tf test1","foreign-scope-references":["user_attributes"],"scopes":[{"name":"uaa.user","description":"UAA"}],"role-templates":[{"name":"Token_Exchange","description":"UAA","scope-references":["uaa.user"]}]},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_credential_bindings
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/e5bb0483-c640-45af-8306-e45b4a6f2250
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1713429187"
            X-Vcap-Request-Id:
                - e30236ba-d89d-4168-6b8a-5d64feacf6f6::d7376020-5f8e-43dd-bfa1-c4e0e613ba92
        status: 202 Accepted
        code: 202
        duration: 1ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/e5bb0483-c640-45af-8306-e45b4a6f2250
        method: GET
      response:
        body: '{"guid":"e5bb0483-c640-45af-8306-e45b4a6f2250","created_at":"2024-04-18T08:23:01Z","updated_at":"2024-04-18T08:23:02Z","operation":"service_keys.create","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/e5bb0483-c640-45af-8306-e45b4a6f2250"},"service_credential_binding":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/0fc6e4b9-7d3c-437f-a9c5-31e955fa2e30"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1713429189"
            X-Vcap-Request-Id:
                - 88d0658c-324d-4d1d-40df-a60e820743aa::518b64ba-b0d0-4930-964d-9e560b17af40
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?names=test-sk-managed&service_instance_guids=68fea1b6-11b9-4737-ad79-74e49832533f
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?names=test-sk-managed\u0026page=1\u0026per_page=50\u0026service_instance_guids=68fea1b6-11b9-4737-ad79-74e49832533f"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?names=test-sk-managed\u0026page=1\u0026per_page=50\u0026service_instance_guids=68fea1b6-11b9-4737-ad79-74e49832533f"},"next":null,"previous":null},"resources":[{"guid":"0fc6e4b9-7d3c-437f-a9c5-31e955fa2e30","created_at":"2024-04-18T08:23:01Z","updated_at":"2024-04-18T08:23:02Z","name":"test-sk-managed","type":"key","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2024-04-18T08:23:02Z","created_at":"2024-04-18T08:23:02Z"},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"68fea1b6-11b9-4737-ad79-74e49832533f"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/0fc6e4b9-7d3c-437f-a9c5-31e955fa2e30"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/0fc6e4b9-7d3c-437f-a9c5-31e955fa2e30/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/68fea1b6-11b9-4737-ad79-74e49832533f"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/0fc6e4b9-7d3c-437f-a9c5-31e955fa2e30/parameters"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1713429188"
            X-Vcap-Request-Id:
                - d67ccee4-bfab-49d0-6d63-0c3bea2badd5::f02be705-3440-4a53-88bd-775016f66d27
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/0fc6e4b9-7d3c-437f-a9c5-31e955fa2e30
        method: GET
      response:
        body: '{"guid":"0fc6e4b9-7d3c-437f-a9c5-31e955fa2e30","created_at":"2024-04-18T08:23:01Z","updated_at":"2024-04-18T08:23:02Z","name":"test-sk-managed","type":"key","last_operation":{[...]
[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/0fc6e4b9-7d3c-437f-a9c5-31e955fa2e30
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/9e77aa94-c2b7-4927-a193-983a9f719d14
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1713429189"
            X-Vcap-Request-Id:
                - cd60304d-6f99-471d-6a1c-ebf1cc27f7fa::8046d98f-5261-4647-87aa-4123c2aaf66b
        status: 202 Accepted
        code: 202
        duration: 1ms
[...]
