---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-org-suspended-test","suspended":true,"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/organizations
        method: POST
      response:
        body: '{"guid":"661bbb0f-f442-4bb9-8446-4956b8035281","created_at":"2024-02-04T16:51:13Z","updated_at":"2024-02-04T16:51:13Z","name":"tf-org-suspended-test","suspended":true,"relationships":{"quota":{"data":{"guid":"772993fb-9aae-479b-8001-11e42b9e6a55"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/661bbb0f-f442-4bb9-8446-4956b8035281"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/661bbb0f-f442-4bb9-8446-4956b8035281/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/661bbb0f-f442-4bb9-8446-4956b8035281/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/772993fb-9aae-479b-8001-11e42b9e6a55"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 2e4dc0be-f04d-4d67-47dd-9c18e2c0f6d7::005ade4d-66b4-4e70-96cd-fd25fa95b406
        status: 201 Created
        code: 201
        duration: 293.267747ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?guids=661bbb0f-f442-4bb9-8446-4956b8035281
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?guids=661bbb0f-f442-4bb9-8446-4956b8035281\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?guids=661bbb0f-f442-4bb9-8446-4956b8035281\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"661bbb0f-f442-4bb9-8446-4956b8035281","created_at":"2024-02-04T16:51:13Z","updated_at":"2024-02-04T16:51:13Z","name":"tf-org-suspended-test","suspended":true,"relationships":{"quota":{"data":{"guid":"772993fb-9aae-479b-8001-11e42b9e6a55"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/661bbb0f-f442-4bb9-8446-4956b8035281"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/661bbb0f-f442-4bb9-8446-4956b8035281/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/661bbb0f-f442-4bb9-8446-4956b8035281/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/772993fb-9aae-479b-8001-11e42b9e6a55"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 7091bcd5-cbab-4795-7375-29ac3f60fb37::9b88ca42-9277-44a0-a84a-0c05492d6f63
        status: 200 OK
        code: 200
        duration: 222.51519ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/661bbb0f-f442-4bb9-8446-4956b8035281
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/444b8e68-c348-4c11-8f43-3b429b45dabc
            X-Vcap-Request-Id:
                - 26d23d5b-70d8-4ffa-6756-a2f448572320::fe3ad96f-8388-4f9b-9ce3-b395b6f915cd
        status: 202 Accepted
        code: 202
        duration: 265.098667ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/444b8e68-c348-4c11-8f43-3b429b45dabc
        method: GET
      response:
        body: '{"guid":"444b8e68-c348-4c11-8f43-3b429b45dabc","created_at":"2024-02-04T16:51:14Z","updated_at":"2024-02-04T16:51:15Z","operation":"organization.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/444b8e68-c348-4c11-8f43-3b429b45dabc"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - ea82789a-8f42-4365-4570-b5acdebbb8e2::ace12334-a761-4ea3-aacd-3a0bb5a028be
        status: 200 OK
        code: 200
        duration: 226.830398ms
