---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-test-do-not-delete","globally_enabled":{"running":false,"staging":false}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/security_groups
        method: POST
      response:
        body: '{"errors":[{"detail":"Security group with name ''tf-test-do-not-delete'' already exists.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 515c7cb1-ed2c-48cd-418d-d4f361c7e941::22b4cacf-9c8a-4006-b612-b2641aad19da
        status: 422 Unprocessable Entity
        code: 422
        duration: 165.405292ms
