---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"hifi","metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/isolation_segments
        method: POST
      response:
        body: '{"errors":[{"detail":"Isolation Segment names are case insensitive and must be unique","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 2fe483d0-dea9-47da-428e-67804c69c2c0::de9dae23-1fd2-4698-a09c-761eb306aa57
        status: 422 Unprocessable Entity
        code: 422
        duration: 166.594667ms
