---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-update","apps":{"total_memory_in_mb":51200,"per_process_memory_in_mb":2048,"log_rate_limit_in_bytes_per_second":100,"total_instances":100,"per_app_tasks":100},"services":{"paid_services_allowed":true,"total_service_instances":100,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"domains":{"total_domains":100}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/organization_quotas
        method: POST
      response:
        body: '{"guid":"962c6794-e3d9-45e0-a4d0-38d12d67aeee","created_at":"2024-03-27T04:23:42Z","updated_at":"2024-03-27T04:23:42Z","name":"tf-unit-test-update","apps":{"total_memory_in_mb":51200,"per_process_memory_in_mb":2048,"total_instances":100,"per_app_tasks":100,"log_rate_limit_in_bytes_per_second":100},"services":{"paid_services_allowed":true,"total_service_instances":100,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"domains":{"total_domains":100},"relationships":{"organizations":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/962c6794-e3d9-45e0-a4d0-38d12d67aeee"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f4bbfa98-2f2e-4689-7e03-8e3c8a294ece::9a58bc3d-ff91-4f86-8938-ca25b5e21d72
        status: 201 Created
        code: 201
        duration: 191.466459ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organization_quotas?guids=962c6794-e3d9-45e0-a4d0-38d12d67aeee
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?guids=962c6794-e3d9-45e0-a4d0-38d12d67aeee\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?guids=962c6794-e3d9-45e0-a4d0-38d12d67aeee\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"962c6794-e3d9-45e0-a4d0-38d12d67aeee","created_at":"2024-03-27T04:23:42Z","updated_at":"2024-03-27T04:23:42Z","name":"tf-unit-test-update","apps":{"total_memory_in_mb":51200,"per_process_memory_in_mb":2048,"total_instances":100,"per_app_tasks":100,"log_rate_limit_in_bytes_per_second":100},"services":{"paid_services_allowed":true,"total_service_instances":100,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"domains":{"total_domains":100},"relationships":{"organizations":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/962c6794-e3d9-45e0-a4d0-38d12d67aeee"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 58f7a5d8-4f0e-46f5-4272-7832128692e4::2926027b-f6cc-40d1-b8d2-c53fae018052
        status: 200 OK
        code: 200
        duration: 174.873ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-update","apps":{"total_memory_in_mb":51200,"per_process_memory_in_mb":1024,"log_rate_limit_in_bytes_per_second":null,"total_instances":100,"per_app_tasks":100},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"domains":{"total_domains":null}}
        form: {}
        headers:
      [...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organization_quotas?guids=962c6794-e3d9-45e0-a4d0-38d12d67aeee
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?guids=962c6794-e3d9-45e0-a4d0-38d12d67aeee\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?guids=962c6794-e3d9-45e0-a4d0-38d12d67aeee\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"962c6794-e3d9-45e0-a4d0-38d12d67aeee","created_at":"2024-03-27T04:23:42Z","updated_at":"2024-03-27T04:23:43Z","name":"tf-unit-test-update","apps":{"total_memory_in_mb":51200,"per_process_memory_in_mb":1024,"total_instances":100,"per_app_tasks":100,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"domains":{"total_domains":null},"relationships":{"organizations":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/962c6794-e3d9-45e0-a4d0-38d12d67aeee"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - ff3b2e53-4d3f-40cb-5982-d8cf47aec49b::2295ba6d-c0d3-4ff1-b039-eee011af9782
        status: 200 OK
        code: 200
        duration: 179.9525ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organization_quotas/962c6794-e3d9-45e0-a4d0-38d12d67aeee
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/e35135c3-1b53-4218-9b08-2e777e585b7d
            X-Vcap-Request-Id:
                - 2c1ecb6f-9aa9-4b59-7306-163917290126::69ec9633-730e-4431-9a72-bcffc37de0ee
        status: 202 Accepted
        code: 202
        duration: 190.115958ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/e35135c3-1b53-4218-9b08-2e777e585b7d
        method: GET
      response:
        body: '{"guid":"e35135c3-1b53-4218-9b08-2e777e585b7d","created_at":"2024-03-27T04:23:44Z","updated_at":"2024-03-27T04:23:45Z","operation":"organization_quota.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/e35135c3-1b53-4218-9b08-2e777e585b7d"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e793c100-67a3-4539-56bb-4e61f450d237::f8f77f9d-48cd-4e68-b113-838d4da94d91
        status: 200 OK
        code: 200
        duration: 172.735167ms
