---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"app","relationships":{"app":{"data":{"guid":"ec6ac2b3-fb79-43c4-9734-000d4299bd59"}},"service_instance":{"data":{"guid":"5e2976bb-332e-41e1-8be3-53baafea9296"}}},"name":"test","metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_credential_bindings
        method: POST
      response:
        body: '{"errors":[{"detail":"The app is already bound to the service instance","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1713429188"
            X-Vcap-Request-Id:
                - c09add57-a92f-42a2-530f-8637dc6b97ab::411a1ffb-64b4-4ba0-a5d0-794cf89bbffe
        status: 422 Unprocessable Entity
        code: 422
        duration: 207.315458ms
