---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"guid":"2d152e65-eee4-466f-87bb-8f0d0283f703","created_at":"2024-03-01T09:31:37Z","updated_at":"2024-03-01T09:31:37Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - b22d6f6f-0a01-45d9-4601-2dbcf54e88c1::ddc4ee0f-0de3-439c-99c2-7ea15e6d8c72
        status: 201 Created
        code: 201
        duration: 620.124209ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":true}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 695d6c16-b481-4448-577b-92d030149efc::ada4daeb-0280-49bf-9ff3-5b814689a94b
        status: 200 OK
        code: 200
        duration: 185.869375ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"5215e4df-79a4-4ce8-a933-837d6aa7a77b"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/relationships/isolation_segment
        method: PATCH
      response:
        body: '{"data":{"guid":"5215e4df-79a4-4ce8-a933-837d6aa7a77b"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/relationships/isolation_segment"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/5215e4df-79a4-4ce8-a933-837d6aa7a77b"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 7926d584-7422-49b7-40f1-9bcce56204d7::15350c68-ca95-4913-8657-e7365fdb838e
        status: 200 OK
        code: 200
        duration: 216.437042ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703
        method: GET
      response:
        body: '{"guid":"2d152e65-eee4-466f-87bb-8f0d0283f703","created_at":"2024-03-01T09:31:37Z","updated_at":"2024-03-01T09:31:37Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 321fa074-3331-440c-4045-52e1b76425bc::cf7cdc9e-1fc0-4065-b4fb-571c663d5731
        status: 200 OK
        code: 200
        duration: 189.888208ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - ee2478e4-bfa6-472a-55cc-732afedb384b::036a2dd7-b687-480d-8d5a-3251e2bd1a79
        status: 200 OK
        code: 200
        duration: 184.383458ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":{"guid":"5215e4df-79a4-4ce8-a933-837d6aa7a77b"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/relationships/isolation_segment"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/5215e4df-79a4-4ce8-a933-837d6aa7a77b"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a52b9f1c-9f6f-4c3d-52ca-d841b64e2716::cf2fe1c1-7b11-4620-a2ce-e4f805e95b3b
        status: 200 OK
        code: 200
        duration: 189.583792ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703
        method: GET
      response:
        body: '{"guid":"2d152e65-eee4-466f-87bb-8f0d0283f703","created_at":"2024-03-01T09:31:37Z","updated_at":"2024-03-01T09:31:37Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - b5a7b91d-23bf-43c1-5ffb-81e7ef4ddb8f::706ec84a-6676-49f7-99ad-ce1db97d04de
        status: 200 OK
        code: 200
        duration: 197.809708ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e78aa3c6-57cd-4b73-73dd-3cf6a39e2df9::9a9db494-5423-4512-a32b-75e5199c6576
        status: 200 OK
        code: 200
        duration: 186.45725ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/relationships/isolation_segment
        method: PATCH
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - b73e1a7f-e8d2-4088-5f43-42cd4c2cdbae::0f478258-19c3-422c-9588-2f17158897ad
        status: 200 OK
        code: 200
        duration: 208.693625ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","metadata":{"labels":{"landscape":null,"purpose":"production","status":"fine"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703
        method: PATCH
      response:
        body: '{"guid":"2d152e65-eee4-466f-87bb-8f0d0283f703","created_at":"2024-03-01T09:31:37Z","updated_at":"2024-03-01T09:31:40Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f2dd348c-9020-4b45-5fcd-a56950d5b06b::02b59622-d6dc-40c5-81d6-5d861845a063
        status: 200 OK
        code: 200
        duration: 258.7255ms
[...]
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/2d152e65-eee4-466f-87bb-8f0d0283f703
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/d039ae0d-a891-441b-98a1-40c3936c135b
            X-Vcap-Request-Id:
                - 3f990b8b-ac91-499a-6eff-e9b5d3a0f7a8::814e02c7-ea31-4d34-bbb7-1f02ff09f195
        status: 202 Accepted
        code: 202
        duration: 202.318292ms
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/d039ae0d-a891-441b-98a1-40c3936c135b
        method: GET
      response:
        body: '{"guid":"d039ae0d-a891-441b-98a1-40c3936c135b","created_at":"2024-03-01T09:31:41Z","updated_at":"2024-03-01T09:31:43Z","operation":"space.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/d039ae0d-a891-441b-98a1-40c3936c135b"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 3ed38ceb-472a-4e03-57fe-fef6f8bfca15::a5829795-4a47-4cfd-b99e-a63a8c335fbf
        status: 200 OK
        code: 200
        duration: 188.452208ms
