---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"organization_user","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"user":{"data":{"guid":"6c05946f-f32b-46f3-8ce5-a9c2020c2aa5"}}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/roles
        method: POST
      response:
        body: '{"guid":"4da84c5c-8b28-4329-b4ac-b3341b362f9d","created_at":"2026-01-28T07:42:56Z","updated_at":"2026-01-28T07:42:56Z","type":"organization_user","relationships":{"user":{"data":{"guid":"6c05946f-f32b-46f3-8ce5-a9c2020c2aa5"}},"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/4da84c5c-8b28-4329-b4ac-b3341b362f9d"},"user":{"href":"https://api.x.x.x.x.com/v3/users/6c05946f-f32b-46f3-8ce5-a9c2020c2aa5"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1769586506"
            X-Vcap-Request-Id:
                - fbc6b722-b0de-434a-4879-e824b6371514::8f28984e-b084-4fcd-97cc-372b72b9d0eb
        status: 201 Created
        code: 201
        duration: 1.410739834s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/4da84c5c-8b28-4329-b4ac-b3341b362f9d
        method: GET
      response:
        body: '{"guid":"4da84c5c-8b28-4329-b4ac-b3341b362f9d","created_at":"2026-01-28T07:42:56Z","updated_at":"2026-01-28T07:42:56Z","type":"organization_user","relationships":{"user":{"data":{"guid":"6c05946f-f32b-46f3-8ce5-a9c2020c2aa5"}},"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/4da84c5c-8b28-4329-b4ac-b3341b362f9d"},"user":{"href":"https://api.x.x.x.x.com/v3/users/6c05946f-f32b-46f3-8ce5-a9c2020c2aa5"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1769586506"
            X-Vcap-Request-Id:
                - cba877bf-9c0d-4774-4098-d82d33f03e1d::3ef5916c-285a-43b8-bf75-3a8967523779
        status: 200 OK
        code: 200
        duration: 418.199501ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/4da84c5c-8b28-4329-b4ac-b3341b362f9d
        method: GET
      response:
        body: '{"guid":"4da84c5c-8b28-4329-b4ac-b3341b362f9d","created_at":"2026-01-28T07:42:56Z","updated_at":"2026-01-28T07:42:56Z","type":"organization_user","relationships":{"user":{"data":{"guid":"6c05946f-f32b-46f3-8ce5-a9c2020c2aa5"}},"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/4da84c5c-8b28-4329-b4ac-b3341b362f9d"},"user":{"href":"https://api.x.x.x.x.com/v3/users/6c05946f-f32b-46f3-8ce5-a9c2020c2aa5"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1769586506"
            X-Vcap-Request-Id:
                - baeb163c-c8a5-4c87-498e-b38ec5990cb2::dc46e515-a678-465a-9c4f-d23c3dca1f4d
        status: 200 OK
        code: 200
        duration: 475.930917ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/4da84c5c-8b28-4329-b4ac-b3341b362f9d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/219899e4-3381-4f3b-aab0-f68726d79f39
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1769586506"
            X-Vcap-Request-Id:
                - aad4fdec-0ae8-4e24-6bcf-6057ad54206e::fa96f5ae-9f37-48ea-b98c-42f2b930810c
        status: 202 Accepted
        code: 202
        duration: 681.556542ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/219899e4-3381-4f3b-aab0-f68726d79f39
        method: GET
      response:
        body: '{"guid":"219899e4-3381-4f3b-aab0-f68726d79f39","created_at":"2026-01-28T07:42:58Z","updated_at":"2026-01-28T07:42:58Z","operation":"role.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/219899e4-3381-4f3b-aab0-f68726d79f39"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1769586506"
            X-Vcap-Request-Id:
                - fc70709a-99c4-4e59-45eb-9b422f09ff60::41c5ca64-44d1-4cfe-9458-ec2aff1e6a3f
        status: 200 OK
        code: 200
        duration: 582.328208ms
