---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"key","relationships":{"service_instance":{"data":{"guid":"68fea1b6-11b9-4737-ad79-74e49832533f"}}},"name":"test-sk-managed","parameters":{"xsappname":"tf-unit-test","tenant-mode":"dedicated","description":"tf test1","foreign-scope-references":["user_attributes"],"scopes":[{"name":"uaa.user","description":"UAA"}],"role-templates":[{"name":"Token_Exchange","description":"UAA","scope-references":["uaa.user"]}]},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_credential_bindings
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/c73ee217-fe9e-466f-ae57-88f089c6f8dd
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756720195"
            X-Vcap-Request-Id:
                - c3a305e3-d0d7-45ff-4824-0515ef2dbe41::08c4df5e-144e-400a-a538-91fffc83e54b
        status: 202 Accepted
        code: 202
        duration: 895.250542ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/c73ee217-fe9e-466f-ae57-88f089c6f8dd
        method: GET
      response:
        body: '{"guid":"c73ee217-fe9e-466f-ae57-88f089c6f8dd","created_at":"2025-09-01T09:43:00Z","updated_at":"2025-09-01T09:43:01Z","operation":"service_keys.create","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/c73ee217-fe9e-466f-ae57-88f089c6f8dd"},"service_credential_binding":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/e6c804fa-ce4f-4deb-9325-ea8369ea68dc"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756720195"
            X-Vcap-Request-Id:
                - 1dd23c9f-8581-4d6a-52cf-ecf748f59347::16463437-169d-40c6-bca3-21bc295c1b21
        status: 200 OK
        code: 200
        duration: 299.704667ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?names=test-sk-managed&service_instance_guids=68fea1b6-11b9-4737-ad79-74e49832533f
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?names=test-sk-managed\u0026page=1\u0026per_page=50\u0026service_instance_guids=68fea1b6-11b9-4737-ad79-74e49832533f"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?names=test-sk-managed\u0026page=1\u0026per_page=50\u0026service_instance_guids=68fea1b6-11b9-4737-ad79-74e49832533f"},"next":null,"previous":null},"resources":[{"guid":"e6c804fa-ce4f-4deb-9325-ea8369ea68dc","created_at":"2025-09-01T09:43:00Z","updated_at":"2025-09-01T09:43:01Z","name":"test-sk-managed","type":"key","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2025-09-01T09:43:01Z","created_at":"2025-09-01T09:43:01Z"},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"68fea1b6-11b9-4737-ad79-74e49832533f"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/e6c804fa-ce4f-4deb-9325-ea8369ea68dc"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/e6c804fa-ce4f-4deb-9325-ea8369ea68dc/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/68fea1b6-11b9-4737-ad79-74e49832533f"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/e6c804fa-ce4f-4deb-9325-ea8369ea68dc/parameters"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756720195"
            X-Vcap-Request-Id:
                - 75c2755e-0512-4424-6f19-a4bcf7f790c4::b9860e42-68a6-4fb0-82d8-f815a3888e36
        status: 200 OK
        code: 200
        duration: 265.338958ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/e6c804fa-ce4f-4deb-9325-ea8369ea68dc/details
        method: GET
      response:
        body: '{"credentials":{"tenantmode":"dedicated","sburl":"https://internal-xsuaa.authentication.sap.hana.ondemand.com","subaccountid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","credential-type":"instance-secret","clientid":"sb-tf-test1!t4176","xsappname":"tf-test1!t4176","clientsecret":"w+cgK2v6jZtmJ9NrszDNOasZLyQ=","serviceInstanceId":"68fea1b6-11b9-4737-ad79-74e49832533f","url":"https://performanceteamblr.authentication.sap.hana.ondemand.com","uaadomain":"authentication.sap.hana.ondemand.com","verificationkey":"-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt0mX/xGskI6pZuVyh9ql\n6y1OBDcC8eIBIYOY0bJGuu7KWnT3H8pY+6DDPmKM3mqoEMsNDwmQo0BF3RvuJkxY\nc4qAJe13p2juqCpuEtd+dRTeiEcL1ZIByiT11OQ2QgIsDDiYJRpSOp8kjB6KtVGY\nGp9wyE2KkaOPP3TsZaJtxoCTuylBMlvEam144O47Y7po/HrvxgUo1nZRb5a2qtna\nhYwnUAu5XjJNvFuZFtXIiLhGypBoqySBcA/0RQhbW5pSUOmY8XI0FHrY+/kolNsj\n0ePsSBCKLdSmh7qByUjbqcDgq424TZsXwRyyFHLy309LzZx9zU5bbANyX6+aq/GJ\nMQIDAQAB\n-----END PUBLIC KEY-----","apiurl":"https://api.authentication.sap.hana.ondemand.com","identityzone":"performanceteamblr","identityzoneid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","tenantid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","zoneid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756720195"
            X-Vcap-Request-Id:
                - b16c9168-66a5-47b7-7088-848d49403cc4::afae8a3f-de4d-45aa-8ec0-8d76c7c7e2ba
        status: 200 OK
        code: 200
        duration: 302.917958ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/e6c804fa-ce4f-4deb-9325-ea8369ea68dc
        method: GET
      response:
        body: '{"guid":"e6c804fa-ce4f-4deb-9325-ea8369ea68dc","created_at":"2025-09-01T09:43:00Z","updated_at":"2025-09-01T09:43:01Z","name":"test-sk-managed","type":"key","last_operation":{[...]
[...]
