---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"hi","enabled":false,"locked":false,"stack":"cflinuxfs3","metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/buildpacks
        method: POST
      response:
        body: '{"errors":[{"detail":"Buildpack with name ''hi'' and stack ''cflinuxfs3'' already exists","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - bb610a67-118c-4f79-6499-f2f4280550d7::f5463130-25ff-4ccf-80ef-16c8fbc56cfb
        status: 422 Unprocessable Entity
        code: 422
        duration: 184.146042ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"hibro","enabled":false,"locked":false,"stack":null,"metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/buildpacks
        method: POST
      response:
        body: '{"guid":"5685f157-2a6b-4f12-a511-338655a8a5e0","created_at":"2024-06-20T11:30:21Z","updated_at":"2024-06-20T11:30:21Z","name":"hibro","stack":null,"state":"AWAITING_UPLOAD","filename":null,"position":1,"enabled":false,"locked":false,"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/buildpacks/5685f157-2a6b-4f12-a511-338655a8a5e0"},"upload":{"href":"https://api.x.x.x.x.com/v3/buildpacks/5685f157-2a6b-4f12-a511-338655a8a5e0/upload","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 7d8094bb-8acc-4461-5a17-a28cd72f3c15::37078f7f-20a6-4b8d-9ba7-e7fe65c126f8
        status: 201 Created
        code: 201
        duration: 225.513708ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/buildpacks/5685f157-2a6b-4f12-a511-338655a8a5e0
        method: GET
      response:
        body: '{"guid":"5685f157-2a6b-4f12-a511-338655a8a5e0","created_at":"2024-06-20T11:30:21Z","updated_at":"2024-06-20T11:30:21Z","name":"hibro","stack":null,"state":"AWAITING_UPLOAD","filename":null,"position":1,"enabled":false,"locked":false,"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/buildpacks/5685f157-2a6b-4f12-a511-338655a8a5e0"},"upload":{"href":"https://api.x.x.x.x.com/v3/buildpacks/5685f157-2a6b-4f12-a511-338655a8a5e0/upload","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 98481987-a5ab-4731-6286-0072777662a5::918e5004-5aa6-44c3-914c-548cbf94acbd
        status: 200 OK
        code: 200
        duration: 179.817416ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/buildpacks/5685f157-2a6b-4f12-a511-338655a8a5e0
        method: GET
      response:
        body: '{"guid":"5685f157-2a6b-4f12-a511-338655a8a5e0","created_at":"2024-06-20T11:30:21Z","updated_at":"2024-06-20T11:30:21Z","name":"hibro","stack":null,"state":"AWAITING_UPLOAD","filename":null,"position":1,"enabled":false,"locked":false,"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/buildpacks/5685f157-2a6b-4f12-a511-338655a8a5e0"},"upload":{"href":"https://api.x.x.x.x.com/v3/buildpacks/5685f157-2a6b-4f12-a511-338655a8a5e0/upload","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f3d333f3-02f3-472d-6923-35afc8808ce8::7a26b104-37c5-49b9-8023-5bc77fe678ce
        status: 200 OK
        code: 200
        duration: 177.501375ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/buildpacks/5685f157-2a6b-4f12-a511-338655a8a5e0
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/27daf20b-7978-4f4d-9454-d8ae105c5cba
            X-Vcap-Request-Id:
                - 8ea7885f-9784-4162-6fec-0b92cae552ba::a3f4e20f-da6b-4d59-a80a-2331de4507a1
        status: 202 Accepted
        code: 202
        duration: 183.26225ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/27daf20b-7978-4f4d-9454-d8ae105c5cba
        method: GET
      response:
        body: '{"guid":"27daf20b-7978-4f4d-9454-d8ae105c5cba","created_at":"2024-06-20T11:30:22Z","updated_at":"2024-06-20T11:30:24Z","operation":"buildpack.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/27daf20b-7978-4f4d-9454-d8ae105c5cba"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 0c882004-53db-4a5a-669f-f306ea1dd88d::b7a1f40d-fb78-4242-a67a-eb05c2d0ad7d
        status: 200 OK
        code: 200
        duration: 176.421708ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: "--930e29d1127e6147b343cf73d9094cd620e003fb615638c8fc5d9d6747d2\r\nContent-Disposition: form-data; name=\"bits\"; filename=\"resource_buildpack_test.go\"\r\nContent-Type: application/octet-stream\r\n\r\npackage provider\n\nimport (\n\t\"bytes\"\n\t\"regexp\"\n\t\"strconv\"\n\t\"testing\"\n\t\"text/template\"\n\n\t\"github.com/hashicorp/terraform-plugin-testing/helper/resource\"\n)\n\ntype BuildpackModelPtr struct {\n\tHclType[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/buildpacks/47b4477a-0c2c-4491-b2be-b1842bd23283
        method: GET
      response:
        body: '{"guid":"47b4477a-0c2c-4491-b2be-b1842bd23283","created_at":"2024-06-20T11:30:24Z","updated_at":"2024-06-20T11:30:24Z","name":"hi","stack":null,"state":"AWAITING_UPLOAD","filename":null,"position":1,"enabled":false,"locked":false,"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/buildpacks/47b4477a-0c2c-4491-b2be-b1842bd23283"},"upload":{"href":"https://api.x.x.x.x.com/v3/buildpacks/47b4477a-0c2c-4491-b2be-b1842bd23283/upload","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - cc212575-bfae-4b79-75d0-2a254fc134c9::b9cf860a-475d-4801-9eee-43ac8a787deb
        status: 200 OK
        code: 200
        duration: 169.128708ms
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/buildpacks/47b4477a-0c2c-4491-b2be-b1842bd23283
        method: GET
      response:
        body: '{"guid":"47b4477a-0c2c-4491-b2be-b1842bd23283","created_at":"2024-06-20T11:30:24Z","updated_at":"2024-06-20T11:30:24Z","name":"hi","stack":null,"state":"AWAITING_UPLOAD","filename":null,"position":1,"enabled":false,"locked":false,"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/buildpacks/47b4477a-0c2c-4491-b2be-b1842bd23283"},"upload":{"href":"https://api.x.x.x.x.com/v3/buildpacks/47b4477a-0c2c-4491-b2be-b1842bd23283/upload","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e2f275a0-6bd4-4aef-66e8-d2db5c4fe018::9ef0e6fc-b338-459b-a1aa-6dcb514c2785
        status: 200 OK
        code: 200
        duration: 183.357125ms
[...]
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/64ae1ccb-90c6-4a6f-bc1e-94461e8a87a7
        method: GET
      response:
        body: '{"guid":"64ae1ccb-90c6-4a6f-bc1e-94461e8a87a7","created_at":"2024-06-20T11:30:26Z","updated_at":"2024-06-20T11:30:26Z","operation":"buildpack.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/64ae1ccb-90c6-4a6f-bc1e-94461e8a87a7"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f6a9624b-c9e8-4aee-783c-03344680f9fb::75dcf67e-4336-4729-afe0-a276e8ab04b9
        status: 200 OK
        code: 200
        duration: 175.810542ms
[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/buildpacks/c34fe33f-f856-47cc-b900-50221067485a
        method: GET
      response:
        body: '{"guid":"c34fe33f-f856-47cc-b900-50221067485a","created_at":"2024-06-20T11:30:28Z","updated_at":"2024-06-20T11:30:28Z","name":"bruh","stack":null,"state":"AWAITING_UPLOAD","filename":null,"position":1,"enabled":false,"locked":false,"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/buildpacks/c34fe33f-f856-47cc-b900-50221067485a"},"upload":{"href":"https://api.x.x.x.x.com/v3/buildpacks/c34fe33f-f856-47cc-b900-50221067485a/upload","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a846c3ac-e0a9-4ec1-5d5b-f1533939e89b::472451ab-2692-4f68-9236-11964a6d817d
        status: 200 OK
        code: 200
        duration: 169.905209ms
[...]
    - id: 19
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/buildpacks/c34fe33f-f856-47cc-b900-50221067485a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/14b081f0-43bb-4e6f-8034-f89d7c0c1daa
            X-Vcap-Request-Id:
                - c85c3e60-6a31-40c8-4616-0e4020ebc9b5::d034fd28-71e1-4c41-85df-f59426e05150
        status: 202 Accepted
        code: 202
        duration: 201.443083ms
    - id: 20
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/14b081f0-43bb-4e6f-8034-f89d7c0c1daa
        method: GET
      response:
        body: '{"guid":"14b081f0-43bb-4e6f-8034-f89d7c0c1daa","created_at":"2024-06-20T11:30:30Z","updated_at":"2024-06-20T11:30:30Z","operation":"buildpack.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/14b081f0-43bb-4e6f-8034-f89d7c0c1daa"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - c1092123-0ad1-4a52-792f-e036bf515000::47b7cf87-4823-4e63-bb95-892ef28a42d6
        status: 200 OK
        code: 200
        duration: 170.076458ms
