---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers: {}
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.x.x.x.x.com"},"cloud_controller_v3":{"href":"https://api.x.x.x.x.com/v3","meta":{"version":"3.208.0"}},"network_policy_v0":{"href":"https://api.x.x.x.x.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.x.x.x.x.com/networking/v1/external"},"login":{"href":"https://login.x.x.x.x.com"},"uaa":{"href":"https://uaa.x.x.x.x.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.x.x.x.x.com:443"},"log_cache":{"href":"https://log-cache.x.x.x.x.com"},"log_stream":{"href":"https://log-stream.x.x.x.x.com"},"app_ssh":{"href":"ssh.x.x.x.x.com:2222","meta":{"host_key_fingerprint":"aNEJ3ydq+c9iZUUD0p4OjUAbjYbuvWsmYm3YBYbce0Y","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.x.x.x.x.com/v2","meta":{"version":"2.273.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - 39ef8000-1747-4469-4458-655183234c8c::9ab0096c-8345-4005-845b-8c5afd3cc5e1
        status: 200 OK
        code: 200
        duration: 334.637917ms
    - id: 1
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=password&password=Saponline%40%401234&username=anugrah.gupta%40sap.com
        form:
            grant_type:
                - password
            password:
                - Saponline@@1234
            username:
                - anugrah.gupta@sap.com
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"29b29ec2df9f40b6b2689748552a8706-r","expires_in":1199,"scope":"openid uaa.user cloud_controller.read password.write cloud_controller.write","jti":"c7ef7228624c43f2a2e4c62b1f459c37"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 95bc109f-7220-4abc-7a49-13e7c1baa24a
        status: 200 OK
        code: 200
        duration: 716.943292ms
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test123","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"guid":"020cbd7e-2258-4205-a393-6032e5dc7155","created_at":"2026-01-13T11:51:34Z","updated_at":"2026-01-13T11:51:34Z","name":"tf-unit-test123","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/020cbd7e-2258-4205-a393-6032e5dc7155"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/020cbd7e-2258-4205-a393-6032e5dc7155/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/020cbd7e-2258-4205-a393-6032e5dc7155/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306706"
            X-Vcap-Request-Id:
                - 386e6321-44c5-4bcf-441a-1dc0302f252b::e42521e1-3692-45ea-aff4-f5af0826f42f
        status: 201 Created
        code: 201
        duration: 345.693417ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":true}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/020cbd7e-2258-4205-a393-6032e5dc7155/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306707"
            X-Vcap-Request-Id:
                - 35319308-e96d-4530-4fa2-cf6ba693d39e::ae105d0f-fd12-4ac4-b777-b8001bc9287c
        status: 200 OK
        code: 200
        duration: 305.194126ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"40b73419-5e01-4be0-baea-932d46cea45b"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/020cbd7e-2258-4205-a393-6032e5dc7155/relationships/isolation_segment
        method: PATCH
      response:
        body: '{"errors":[{"detail":"Unable to assign isolation segment with guid ''40b73419-5e01-4be0-baea-932d46cea45b''. Ensure it has been entitled to the organization that this space belongs to.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306706"
            X-Vcap-Request-Id:
                - b5533e3f-e1df-44ca-58bc-dcb6880e1d2a::64168a10-d274-46cc-a65c-b8ef81d7a012
        status: 422 Unprocessable Entity
        code: 422
        duration: 306.914667ms
[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers: {}
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.x.x.x.x.com"},"cloud_controller_v3":{"href":"https://api.x.x.x.x.com/v3","meta":{"version":"3.208.0"}},"network_policy_v0":{"href":"https://api.x.x.x.x.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.x.x.x.x.com/networking/v1/external"},"login":{"href":"https://login.x.x.x.x.com"},"uaa":{"href":"https://uaa.x.x.x.x.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.x.x.x.x.com:443"},"log_cache":{"href":"https://log-cache.x.x.x.x.com"},"log_stream":{"href":"https://log-stream.x.x.x.x.com"},"app_ssh":{"href":"ssh.x.x.x.x.com:2222","meta":{"host_key_fingerprint":"aNEJ3ydq+c9iZUUD0p4OjUAbjYbuvWsmYm3YBYbce0Y","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.x.x.x.x.com/v2","meta":{"version":"2.273.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - f235e772-3d92-4263-742e-e15760d7477c::d694605e-47b3-4925-afaa-5fd54a0d3a21
        status: 200 OK
        code: 200
        duration: 329.456834ms
[...]
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/020cbd7e-2258-4205-a393-6032e5dc7155
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/f106273b-3221-4729-be5b-a8ad0fa59494
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306705"
            X-Vcap-Request-Id:
                - 2c10d8b9-830a-4c64-6be6-15a5e438a402::580510e4-188a-4f64-9d07-27b2493c57d7
        status: 202 Accepted
        code: 202
        duration: 311.417209ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/f106273b-3221-4729-be5b-a8ad0fa59494
        method: GET
      response:
        body: '{"guid":"f106273b-3221-4729-be5b-a8ad0fa59494","created_at":"2026-01-13T11:51:37Z","updated_at":"2026-01-13T11:51:37Z","operation":"space.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/f106273b-3221-4729-be5b-a8ad0fa59494"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306706"
            X-Vcap-Request-Id:
                - 3b983629-dee7-4a6a-6f33-36e3712b8f3c::012df4fb-ffd3-4c52-b468-88e8629aa554
        status: 200 OK
        code: 200
        duration: 377.017999ms
