---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers: {}
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.x.x.x.x.com"},"cloud_controller_v3":{"href":"https://api.x.x.x.x.com/v3","meta":{"version":"3.208.0"}},"network_policy_v0":{"href":"https://api.x.x.x.x.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.x.x.x.x.com/networking/v1/external"},"login":{"href":"https://login.x.x.x.x.com"},"uaa":{"href":"https://uaa.x.x.x.x.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.x.x.x.x.com:443"},"log_cache":{"href":"https://log-cache.x.x.x.x.com"},"log_stream":{"href":"https://log-stream.x.x.x.x.com"},"app_ssh":{"href":"ssh.x.x.x.x.com:2222","meta":{"host_key_fingerprint":"aNEJ3ydq+c9iZUUD0p4OjUAbjYbuvWsmYm3YBYbce0Y","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.x.x.x.x.com/v2","meta":{"version":"2.273.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - af839384-763b-4914-6207-6331afb3e3a0::720f27f2-adff-4ad5-ae99-dad2d2c85ed8
        status: 200 OK
        code: 200
        duration: 289.925125ms
    - id: 1
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=password&password=Saponline%40%401234&username=anugrah.gupta%40sap.com
        form:
            grant_type:
                - password
            password:
                - Saponline@@1234
            username:
                - anugrah.gupta@sap.com
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"55d645e97d4947dc8607e0c23d4a337a-r","expires_in":1199,"scope":"openid uaa.user cloud_controller.read password.write cloud_controller.write","jti":"224d358be9a841aa95848f903716e469"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - a3d1ed3b-730f-40e0-58b6-cbf2749762fa
        status: 200 OK
        code: 200
        duration: 2.146949084s
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test123","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"guid":"e9465969-0be0-472f-bc25-2f489ef53dd1","created_at":"2026-01-20T09:31:38Z","updated_at":"2026-01-20T09:31:38Z","name":"tf-unit-test123","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/e9465969-0be0-472f-bc25-2f489ef53dd1"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/e9465969-0be0-472f-bc25-2f489ef53dd1/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/e9465969-0be0-472f-bc25-2f489ef53dd1/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768902506"
            X-Vcap-Request-Id:
                - d26b3ece-0b06-4708-75c8-c60b9884828c::867a3078-5fdd-4c06-b043-103d64aa685e
        status: 201 Created
        code: 201
        duration: 343.447084ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":true}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/e9465969-0be0-472f-bc25-2f489ef53dd1/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768902506"
            X-Vcap-Request-Id:
                - 35e4e5de-2d9f-496b-5543-fd25f4b554d8::3a5cd81d-ed8f-4a7f-8180-74ebf19fe6a6
        status: 200 OK
        code: 200
        duration: 304.3495ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"40b73419-5e01-4be0-baea-932d46cea45b"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/e9465969-0be0-472f-bc25-2f489ef53dd1/relationships/isolation_segment
        method: PATCH
      response:
        body: '{"errors":[{"detail":"Unable to assign isolation segment with guid ''40b73419-5e01-4be0-baea-932d46cea45b''. Ensure it has been entitled to the organization that this space belongs to.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768902506"
            X-Vcap-Request-Id:
                - 6aa04369-d1c3-4b62-66fb-776c27fad096::4b152534-10c9-416f-85a9-8b92ad8b8a2f
        status: 422 Unprocessable Entity
        code: 422
        duration: 311.862042ms
[...]
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/e9465969-0be0-472f-bc25-2f489ef53dd1
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/db9bcdf3-1905-4774-aa6e-aee811788844
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768902506"
            X-Vcap-Request-Id:
                - 3e315ef8-dc14-4f79-5685-6277b2fd1146::5f9ffdaf-be8a-4796-8563-2f0c89c18d70
        status: 202 Accepted
        code: 202
        duration: 324.992792ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/db9bcdf3-1905-4774-aa6e-aee811788844
        method: GET
      response:
        body: '{"guid":"db9bcdf3-1905-4774-aa6e-aee811788844","created_at":"2026-01-20T09:31:43Z","updated_at":"2026-01-20T09:31:43Z","operation":"space.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/db9bcdf3-1905-4774-aa6e-aee811788844"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768902506"
            X-Vcap-Request-Id:
                - 083c13af-c69b-4289-6ade-4d301aacf75b::0d612f8f-d2be-42a6-863f-e6d3e0525ccf
        status: 200 OK
        code: 200
        duration: 300.825125ms
