---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - A3LQN7a3s-1RIJHG9y1UQPjWw5Lewn0nDFguxKxHGXyaeh2qN0HiD4KEhYx8EKL_xQBgds-37qrq-00KaW8b_Zh2fx_-H3yT
            X-Vcap-Request-Id:
                - 3d3afef4-26a8-4e16-72d1-3912fcfc0fb6
        status: 204 No Content
        code: 204
        duration: 190.826959ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--61c911b580b009cd13e8e12d658f38c41f0c99155ebc1ef03544e68e46c8\r\nContent-Disposition: form-data; name=\"file\"; filename=\"my-mta_1.0.0.mtar\"\r\nContent-Type: application/octet-stream\r\n\r\nPK\x03\x04\x14\0\0\0\0\0� \x01Y\0\0\0\0\0\0\0\0\0\0\0\0\t\0\t\0META-INF/UT\x05\0\x013\t�fPK\x03\x04\x14\0\b\0\b\0� \x01Y\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\t\0META-INF/MANIFEST.MFUT\x05\0\x013\t�f\\��J�0\x10@�}�b^ ��\e!��(�h\x11,[...]
[...]
    - id: 3
      request:
        host: deploy-service.x.x.x.x.com
        body: "--7d5e39678ed04101095a0fbdd3e8f967ffb4fc3c14b4c9902dbbf40e63e0\r\nContent-Disposition: form-data; name=\"file\"; filename=\"prod-scale-vertically.mtaext\"\r\nContent-Type: application/octet-stream\r\n\r\n_schema-version: 3.3.0\nID: my-mta-prod-scale-vertically\nextends: my-mta-prod\nversion: 1.0.0\n\nmodules:\n- name: my-app\n  parameters:\n    memory: 2G\r\n--7d5e39678ed04101095a0fbdd3e8f967ffb4fc3c14b4c9902dbbf40e63e0--\r\n"
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - multipart/form-data; boundary=7d5e39678ed04101095a0fbdd3e8f967ffb4fc3c14b4c9902dbbf40e63e0
            X-Csrf-Token:
                - j3KZ4Cj7XzIsIOIiM7RPRdcYQP5ahXfQS6h9EdSDWLCvatyl7BCuhRrKbgEBQdYSV5l7fbZ-bcZst0f9KJsZcOy6a4bKX-vE
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files?namespace=test
        method: POST
      response:
        body: '{"id":"f7f01d3e-ee0f-4fb0-8732-cdf51df4381e","name":"prod-scale-vertically.mtaext","size":145,"digest":"EF0CBE2F0A77B470B2E2A6164FE6F0B8","digestAlgorithm":"MD5","space":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","namespace":"test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - a67bad6a-f90f-48e2-4643-497a703a0dff
        status: 201 Created
        code: 201
        duration: 864.896708ms
[...]
    - id: 6
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=my-mta&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 3aa0064a-2e2b-4862-4da6-a829c7f156c4
        status: 200 OK
        code: 200
        duration: 240.196292ms
[...]
    - id: 8
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"test","parameters":{"appArchiveId":"1050bf78-bfc2-44c5-a25f-1e8c6e032b5b","mtaExtDescriptorId":"f7f01d3e-ee0f-4fb0-8732-cdf51df4381e,ec6c4ad6-274f-490a-856e-d72658b14f03","mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - mZZsikWKiooaFV7Gnx6HYSWmBXjyiDcwFwBX1zs814OVuDZq-KUJvnSyuuk3J2in-zOzWEbHKBqW7Q4dJ2NjtlgJ5LPz2gMP
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/427a773f-e549-11ef-bfac-eeee0a82c347?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 0j0Wim8vOwJE-uDIeaC1NeKjqHRRmZjkDuDij8PXU24yVn6Psw5zvl4XC2FpyNapHY2BDIHChRY1_KHJPoPW7qDiYF5UNEvq
            X-Vcap-Request-Id:
                - a94ba930-8fcd-4895-6bb3-25abe07da30d
        status: 202 Accepted
        code: 202
        duration: 336.865875ms
    - id: 9
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/427a773f-e549-11ef-bfac-eeee0a82c347?embed=messages
        method: GET
      response:
        body: '{"processId":"427a773f-e549-11ef-bfac-eeee0a82c347","processType":"DEPLOY","startedAt":"2025-02-07T11:47:08.257Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"my-mta","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"RUNNING","messages":[{"id":232903680,"text":"Operation ID: 427a773f-e549-11ef-bfac-eeee0a82c347","timestamp":"2025-02-07T11:47:08.247Z[UTC]","type":"INFO"},{"id":232903681,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2025-02-07T11:47:08.337Z[UTC]","type":"INFO"},{"id":232903682,"text":"Using extension descriptors with IDs in this sequence: [my-mta-prod,my-mta-prod-scale-vertically]","timestamp":"2025-02-07T11:47:08.57Z[UTC]","type":"INFO"},{"id":232903683,"text":"Detected MTA schema version: \"3\"","timestamp":"2025-02-07T11:47:08.626Z[UTC]","type":"INFO"},{"id":232903684,"text":"No deployed MTA detected - this is initial deployment of MTA with ID \"my-mta\" and namespace \"test\"","timestamp":"2025-02-07T11:47:08.856Z[UTC]","type":"INFO"},{"id":232903685,"text":"Detected new MTA version: \"1.0.0\"","timestamp":"2025-02-07T11:47:09.14Z[UTC]","type":"INFO"},{"id":232903686,"text":"Processing service \"test-my-service\"...","timestamp":"2025-02-07T11:47:09.681Z[UTC]","type":"INFO"},{"id":232903687,"text":"Creating service \"test-my-service\" from MTA resource \"my-service\"...","timestamp":"2025-02-07T11:47:09.784Z[UTC]","type":"INFO"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - bab25233-eea2-477d-46f0-90adc471a541
        status: 200 OK
        code: 200
        duration: 202.427166ms
[...]
    - id: 48
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/427a773f-e549-11ef-bfac-eeee0a82c347?embed=messages
        method: GET
      response:
        body: '{"processId":"427a773f-e549-11ef-bfac-eeee0a82c347","processType":"DEPLOY","startedAt":"2025-02-07T11:47:08.257Z[UTC]","endedAt":"2025-02-07T11:48:35.998Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"my-mta","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"FINISHED","messages":[{"id":232903680,"text":"Operation ID: 427a773f-e549-11ef-bfac-eeee0a82c347","timestamp":"2025-02-07T11:47:08.247Z[UTC]","type":"INFO"},{"id":232903681,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2025-02-07T11:47:08.337Z[UTC]","type":"INFO"},{"id":232903682,[...]
    - id: 49
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/mtas?name=my-mta&namespace=test
        method: GET
      response:
        body: '[{"metadata":{"id":"my-mta","version":"1.0.0","namespace":"test"},"modules":[{"moduleName":"my-app","appName":"test-my-app","providedDendencyNames":[],"services":["test-my-service"],"uris":["test-performanceteamblr-tf-space-1-my-app.cfapps.sap.hana.ondemand.com"]}],"services":["test-my-service"]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - fd78764f-2ded-4dd2-7ede-01ef5a72728c
        status: 200 OK
        code: 200
        duration: 626.996167ms
[...]
    - id: 60
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"BLUE_GREEN_DEPLOY","namespace":"test","parameters":{"appArchiveId":"19544763-71fc-4261-959e-ed6e64551d19","keepOriginalAppNamesAfterDeploy":true,"mtaExtDescriptorId":"9e0b7cfd-8b86-4e19-afd8-fe7f89444e17,7593bfd0-bab1-414c-a324-872fe56ba82c","mtaId":"my-mta","noConfirm":true,"skipIdleStart":true}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - TIKiou039r3TIdYJXvUsD4meGQWibLX4Epm07p52pz-SyUEDfrrEmthRxd_-F-I4aNgYOOymND3GXYXVJ6mMj6wVwQeg_ycx
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/7a20adb3-e549-11ef-bfac-eeee0a82c347?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - SWIrkwmo3iF6SXgPO-k4br50fcGUTbH__nVMi7otdl-UTNXKe1pNqzzO7UNXf0w-DcQMWdtMUPnwfIHSy0V06ohOEGemerP4
            X-Vcap-Request-Id:
                - fb05783b-967c-4aa5-4524-09edbe727ae1
        status: 202 Accepted
        code: 202
        duration: 383.321541ms
[...]
    - id: 159
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"UNDEPLOY","namespace":"test","parameters":{"deleteServices":true,"mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 4d07Jinoh9h4Q5yOn5iD9UpZiqJPdqR5eenHVgKJRt-VNkUx1e4LFxDcsblVe6-7qbW3lik_p5t9EMBUH4j3ZGa8JOvxDiYC
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/ec571d48-e549-11ef-bfac-eeee0a82c347?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 6V2F-KA0qQlQR0NYSTipk4Ltgd4YkA7Mx1wjrdak9SYW0TF43W61yZkAn2h9f3BtfxWd8OGLrOcq9mrhoT0Tn7KRlxJy6VJL
            X-Vcap-Request-Id:
                - e44f000a-8eb8-406d-7d4e-4db747e5e9e6
        status: 202 Accepted
        code: 202
        duration: 314.951792ms
[...]
