---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"app","relationships":{"app":{"data":{"guid":"e177a65a-964d-4be1-94be-d04d236e6dec"}},"service_instance":{"data":{"guid":"68fea1b6-11b9-4737-ad79-74e49832533f"}}},"name":"test-ab-managed-provided1","parameters":{"xsappname":"tf-unit-test","tenant-mode":"dedicated","description":"tf test1","foreign-scope-references":["user_attributes"],"scopes":[{"name":"uaa.user","description":"UAA"}],"role-templates":[{"name":"Token_Exchange","description":"UAA","scope-references":["uaa.user"]}]},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_credential_bindings
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/d782b516-a8e6-45c3-9017-b8744bd8f04c
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1713429188"
            X-Vcap-Request-Id:
                - 47ea90b8-15bd-4eb0-68e9-f024c42d41b1::a13eb5fe-59a4-45f3-a952-b169d3aed675
        status: 202 Accepted
        code: 202
        duration: 238.658041ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/d782b516-a8e6-45c3-9017-b8744bd8f04c
        method: GET
      response:
        body: '{"guid":"d782b516-a8e6-45c3-9017-b8744bd8f04c","created_at":"2024-04-18T08:23:11Z","updated_at":"2024-04-18T08:23:12Z","operation":"service_bindings.create","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/d782b516-a8e6-45c3-9017-b8744bd8f04c"},"service_credential_binding":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/687aedfe-a874-4304-8d0c-5796069104b1"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1713429187"
            X-Vcap-Request-Id:
                - bee80441-532d-4c10-71f5-7e6f3415d789::27e1759f-e7d3-44cf-84e8-ea4c92358976
        status: 200 OK
        code: 200
        duration: 194.277875ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?app_guids=e177a65a-964d-4be1-94be-d04d236e6dec&service_instance_guids=68fea1b6-11b9-4737-ad79-74e49832533f
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?app_guids=e177a65a-964d-4be1-94be-d04d236e6dec\u0026page=1\u0026per_page=50\u0026service_instance_guids=68fea1b6-11b9-4737-ad79-74e49832533f"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?app_guids=e177a65a-964d-4be1-94be-d04d236e6dec\u0026page=1\u0026per_page=50\u0026service_instance_guids=68fea1b6-11b9-4737-ad79-74e49832533f"},"next":null,"previous":null},"resources":[{"guid":"687aedfe-a874-4304-8d0c-5796069104b1","created_at":"2024-04-18T08:23:11Z","updated_at":"2024-04-18T08:23:12Z","name":"test-ab-managed-provided1","type":"app","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2024-04-18T08:23:12Z","created_at":"2024-04-18T08:23:12Z"},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"68fea1b6-11b9-4737-ad79-74e49832533f"}},"app":{"data":{"guid":"e177a65a-964d-4be1-94be-d04d236e6dec"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/687aedfe-a874-4304-8d0c-5796069104b1"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/687aedfe-a874-4304-8d0c-5796069104b1/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/68fea1b6-11b9-4737-ad79-74e49832533f"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/687aedfe-a874-4304-8d0c-5796069104b1/parameters"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/e177a65a-964d-4be1-94be-d04d236e6dec"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1713429188"
            X-Vcap-Request-Id:
                - a8cb6052-5cf4-42bc-6dba-e4e7f07a782c::bc7817ba-a1f1-4a5c-a3e1-e10996f60493
        status: 200 OK
        code: 200
        duration: 225.672083ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/687aedfe-a874-4304-8d0c-5796069104b1
        method: GET
      response:
        body: '{"guid":"687aedfe-a874-4304-8d0c-5796069104b1","created_at":"2024-04-18T08:23:11Z","updated_at":"2024-04-18T08:23:12Z","name":"test-ab-managed-provided1","type":"app","last_op[...]
[...]
