---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"cert.cfapps.stagingazure.hanavlab.ondemand.com","internal":false,"metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/domains
        method: POST
      response:
        body: '{"errors":[{"detail":"The domain name \"cert.cfapps.stagingazure.hanavlab.ondemand.com\" is already in use","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 0d0afd37-b643-4ef6-6648-38519ab81bab::4a42bf2e-d378-4cb5-b033-d562f53c4d80
        status: 422 Unprocessable Entity
        code: 422
        duration: 1ms
