---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355330"
            X-Vcap-Request-Id:
                - 38f84b42-f3c7-4ffb-6403-301c499b9166::53a9b86f-f9b9-403b-a443-d4fd1e846916
        status: 200 OK
        code: 200
        duration: 373.203708ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - 227a0296-57c8-4937-6178-152cb4b77479::9439a5f0-663f-462e-a10b-107b47593165
        status: 200 OK
        code: 200
        duration: 407.705709ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin-scheduler&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-scheduler\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-scheduler\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - 548928f4-30cc-4dd2-6754-e0c27f085817::eb3b26a5-0a7e-4cbd-bd84-eff4010fd40b
        status: 200 OK
        code: 200
        duration: 391.762458ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin-scheduler
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  processes:
                    - type: scheduler
                      disk_quota: 1024M
                      health-check-type: process
                      instances: 0
                      memory: 256M
                    - type: web
                      disk_quota: 2048M
                      health-check-type: port
                      instances: 1
                      memory: 512M
                  metadata:
                    labels: {}
                    annotations: {}
                  instances: 1
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/8fcfc261-5636-4182-b340-d553020356bc
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355332"
            X-Vcap-Request-Id:
                - b32f375f-0ae7-4763-7b35-b6e4e08224a4::d10db2b5-cb1c-401f-9eef-70c95cb0b59e
        status: 202 Accepted
        code: 202
        duration: 482.049459ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/8fcfc261-5636-4182-b340-d553020356bc
        method: GET
      response:
        body: '{"guid":"8fcfc261-5636-4182-b340-d553020356bc","created_at":"2025-10-13T11:15:30Z","updated_at":"2025-10-13T11:15:30Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/8fcfc261-5636-4182-b340-d553020356bc"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - 3796d439-4a17-4884-6e08-cb758dd79a44::66f1a09e-63b1-4399-a340-21d14ae2ba08
        status: 200 OK
        code: 200
        duration: 371.172584ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin-scheduler&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-scheduler\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-scheduler\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"c2b7535c-6edb-4197-a399-152bbf0b4686","created_at":"2025-10-13T11:15:30Z","updated_at":"2025-10-13T11:15:30Z","name":"http-bin-scheduler","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"current_droplet":{"data":{"guid":null}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355330"
            X-Vcap-Request-Id:
                - 33a701db-72c2-4559-63ea-8630f2dfe76d::270537c6-14e6-483d-b832-acb856b23565
        status: 200 OK
        code: 200
        duration: 407.437958ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"c2b7535c-6edb-4197-a399-152bbf0b4686"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"7427c468-ccce-4d5c-8924-25992d36a04b","created_at":"2025-10-13T11:15:32Z","updated_at":"2025-10-13T11:15:32Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"c2b7535c-6edb-4197-a399-152bbf0b4686"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/7427c468-ccce-4d5c-8924-25992d36a04b"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - a5b90a1b-5ae3-4b47-7b2c-e5bde624593a::4aaf4f75-19b5-457e-aff2-e231bd3eafa3
        status: 201 Created
        code: 201
        duration: 398.884375ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"7427c468-ccce-4d5c-8924-25992d36a04b"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"3537c982-44e1-4db0-9f26-d0e74b722911","created_at":"2025-10-13T11:15:32Z","updated_at":"2025-10-13T11:15:32Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"7427c468-ccce-4d5c-8924-25992d36a04b"},"droplet":null,"created_by":{"guid":"ee3fffa9-513b-4995-bbd7-6a46787f8cb7","name":"anugrah.gupta@sap.com","email":"anugrah.gupta@sap.com"},"relationships":{"app":{"data":{"guid":"c2b7535c-6edb-4197-a399-152bbf0b4686"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/3537c982-44e1-4db0-9f26-d0e74b722911"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - 0853055f-cf5e-4992-4208-cac4cc89d02e::a8f8f565-4750-4a08-b7ea-7ed9f07b0a63
        status: 201 Created
        code: 201
        duration: 470.311292ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/3537c982-44e1-4db0-9f26-d0e74b722911
        method: GET
      response:
        body: '{"guid":"3537c982-44e1-4db0-9f26-d0e74b722911","created_at":"2025-10-13T11:15:32Z","updated_at":"2025-10-13T11:15:32Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"stag[...]
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/7427c468-ccce-4d5c-8924-25992d36a04b/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/7427c468-ccce-4d5c-8924-25992d36a04b/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/7427c468-ccce-4d5c-8924-25992d36a04b/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"e2e0b9f1-f12b-4915-b343-6029c98a9c84","created_at":"2025-10-13T11:15:35Z","updated_at":"2025-10-13T11:15:35Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"c2b7535c-6edb-4197-a399-152bbf0b4686"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/e2e0b9f1-f12b-4915-b343-6029c98a9c84"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/7427c468-ccce-4d5c-8924-25992d36a04b"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - c887e559-d067-40ff-6571-c04ad346f684::5aaae43a-5a81-4edc-8ca1-eaed7225cc1d
        status: 200 OK
        code: 200
        duration: 378.780376ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"e2e0b9f1-f12b-4915-b343-6029c98a9c84"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"e2e0b9f1-f12b-4915-b343-6029c98a9c84"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355330"
            X-Vcap-Request-Id:
                - 7dd05b98-5ffa-4364-7714-219ea91fba46::e172085d-7d95-4cd0-8c57-53f7a8003310
        status: 200 OK
        code: 200
        duration: 399.5015ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/actions/start
        method: POST
      response:
        body: '{"guid":"c2b7535c-6edb-4197-a399-152bbf0b4686","created_at":"2025-10-13T11:15:30Z","updated_at":"2025-10-13T11:15:36Z","name":"http-bin-scheduler","state":"STARTED","lifecycle":{"typ[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: |
            {"var":{}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/environment_variables
        method: PATCH
      response:
        body: '{"var":{},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/environment_variables"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - 859aadf7-a20f-4434-7cc1-4c482368ec9a::0da31c5f-581e-4229-bcc3-b97175c0ef60
        status: 200 OK
        code: 200
        duration: 385.274292ms
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355330"
            X-Vcap-Request-Id:
                - eeeba1e0-f056-480a-7edc-63533b9fca8f::99e522a6-b1ed-42a7-b871-a491dbd3775b
        status: 200 OK
        code: 200
        duration: 385.542834ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin-scheduler
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              features:
                ssh: false
                revisions: true
                service-binding-k8s: false
                file-based-vcap-services: false
              processes:
              - type: scheduler
                instances: 0
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: process
                readiness-health-check-type: process
              - type: web
                instances: 1
                memory: 512M
                disk_quota: 2048M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - 6e7ca260-5415-4606-65dd-5f8285dd18bd::257e52fc-7dcf-4d8a-9975-f3c5ab13014c
        status: 200 OK
        code: 200
        duration: 393.492125ms
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686
        method: GET
      response:
        body: '{"guid":"c2b7535c-6edb-4197-a399-152bbf0b4686","created_at":"2025-10-13T11:15:30Z","updated_at":"2025-10-13T11:15:37Z","name":"http-bin-scheduler","state":"STARTED","lifecycle":{"type":"docker","da[...]
[...]
    - id: 18
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/c2b7535c-6edb-4197-a399-152bbf0b4686/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - b967404e-cbe0-493e-7b6c-6ac7bb4819b6::b9001375-34e1-4f0e-887e-51a332173573
        status: 200 OK
        code: 200
        duration: 371.340333ms
    - id: 19
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143?include=organization
        method: GET
      response:
        body: '{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}},"included":{"organizations":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - bc29c332-d301-405e-4799-41e802000696::37222698-ed87-48b6-97ac-031dbcb935d3
        status: 200 OK
        code: 200
        duration: 379.943042ms
[...]
