---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":[{"guid":"da7f4f0d-0488-4880-9fbd-99ebfda12bed"}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations
        method: POST
      response:
        body: '{"errors":[{"detail":"Unable to entitle organizations [''da7f4f0d-0488-4880-9fbd-99ebfda12bed''] for the isolation segment. Ensure the organizations exist.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 3f201769-5907-4cbc-4740-a17e76537237::6a042d87-d328-445e-b13e-190771c88d53
        status: 422 Unprocessable Entity
        code: 422
        duration: 168.477708ms
