---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test123","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"guid":"c2745fc1-bb56-4052-a793-b0d84fbc4d89","created_at":"2026-01-21T07:55:33Z","updated_at":"2026-01-21T07:55:33Z","name":"tf-unit-test123","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/c2745fc1-bb56-4052-a793-b0d84fbc4d89"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/c2745fc1-bb56-4052-a793-b0d84fbc4d89/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/c2745fc1-bb56-4052-a793-b0d84fbc4d89/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - 046b2874-25ae-489f-5ca9-43e4a88bdc96::f5c068a4-bb6a-423a-b1ea-9cb80b76fcbf
        status: 201 Created
        code: 201
        duration: 329.5405ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":true}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/c2745fc1-bb56-4052-a793-b0d84fbc4d89/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - 89e1defc-ce6d-476b-6727-41bb9fb68d5e::a80f2f89-ab29-4818-b115-4a12a19d192a
        status: 200 OK
        code: 200
        duration: 306.39075ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"40b73419-5e01-4be0-baea-932d46cea45b"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/c2745fc1-bb56-4052-a793-b0d84fbc4d89/relationships/isolation_segment
        method: PATCH
      response:
        body: '{"errors":[{"detail":"Unable to assign isolation segment with guid ''40b73419-5e01-4be0-baea-932d46cea45b''. Ensure it has been entitled to the organization that this space belongs to.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - b9e8f286-65be-4f5a-48b4-c16430a54513::09510db5-ea26-4209-b731-db94cb823483
        status: 422 Unprocessable Entity
        code: 422
        duration: 312.456584ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/c2745fc1-bb56-4052-a793-b0d84fbc4d89
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/0634b249-9865-49db-94b5-f770c8a77cc4
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - ea56aa83-6005-46c4-4004-a72baebfa4d1::585e5a49-2a8d-40bc-a60d-cd50a197ff5a
        status: 202 Accepted
        code: 202
        duration: 314.677083ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/0634b249-9865-49db-94b5-f770c8a77cc4
        method: GET
      response:
        body: '{"guid":"0634b249-9865-49db-94b5-f770c8a77cc4","created_at":"2026-01-21T07:55:34Z","updated_at":"2026-01-21T07:55:34Z","operation":"space.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/0634b249-9865-49db-94b5-f770c8a77cc4"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983505"
            X-Vcap-Request-Id:
                - cc672827-6ae4-422d-7b18-ebcf2334e897::26d55021-5fd3-4409-a0ac-be702b99c3ab
        status: 200 OK
        code: 200
        duration: 299.300542ms
