---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-update","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}},"apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"log_rate_limit_in_bytes_per_second":null,"total_instances":null,"per_app_tasks":10},"services":{"paid_services_allowed":false,"total_service_instances":10,"total_service_keys":10},"routes":{"total_routes":20,"total_reserved_ports":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/space_quotas
        method: POST
      response:
        body: '{"guid":"cbce9b49-5f90-46bc-950b-4aa10b4d1193","created_at":"2026-01-21T11:16:09Z","updated_at":"2026-01-21T11:16:09Z","name":"tf-unit-test-update","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":10,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":10,"total_service_keys":10},"routes":{"total_routes":20,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/cbce9b49-5f90-46bc-950b-4aa10b4d1193"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768994306"
            X-Vcap-Request-Id:
                - c5af0fdd-0da9-4a2d-5bec-2a663e7630fa::09f014e7-016f-4189-8692-b214b1abb7dd
        status: 201 Created
        code: 201
        duration: 314.588167ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?guids=cbce9b49-5f90-46bc-950b-4aa10b4d1193&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=cbce9b49-5f90-46bc-950b-4aa10b4d1193\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=cbce9b49-5f90-46bc-950b-4aa10b4d1193\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"cbce9b49-5f90-46bc-950b-4aa10b4d1193","created_at":"2026-01-21T11:16:09Z","updated_at":"2026-01-21T11:16:09Z","name":"tf-unit-test-update","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":10,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":10,"total_service_keys":10},"routes":{"total_routes":20,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/cbce9b49-5f90-46bc-950b-4aa10b4d1193"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768994306"
            X-Vcap-Request-Id:
                - f94b1b46-6d05-47ce-61de-4fdd66bd3315::d7d49c53-d02d-4982-a8b9-ba5f77780f1a
        status: 200 OK
        code: 200
        duration: 349.496292ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-update","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"log_rate_limit_in_bytes_per_second":null,"total_instances":null,"per_app_tasks":10},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":10},"routes":{"total_routes":10,"total_reserved_ports":null}}
        form: {}
        headers:
            Authorization:
                - [...]
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas/cbce9b49-5f90-46bc-950b-4aa10b4d1193
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/a4417fad-723c-492a-adec-2927cce526d5
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768994306"
            X-Vcap-Request-Id:
                - 35cad764-8c94-457f-6c9c-44531bf655f4::d9d3fa31-e538-4c55-97a6-6bc2dd1f83dc
        status: 202 Accepted
        code: 202
        duration: 417.172042ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/a4417fad-723c-492a-adec-2927cce526d5
        method: GET
      response:
        body: '{"guid":"a4417fad-723c-492a-adec-2927cce526d5","created_at":"2026-01-21T11:16:11Z","updated_at":"2026-01-21T11:16:11Z","operation":"space_quota.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/a4417fad-723c-492a-adec-2927cce526d5"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768994306"
            X-Vcap-Request-Id:
                - 5b9f0ef2-9cb7-4554-6fc2-d0c8cc368688::28717829-2f76-451d-956d-bbb6e7bdee09
        status: 200 OK
        code: 200
        duration: 351.915458ms
