---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"relationships":{"space":{"data":{"guid":"50655f6a-a66c-4276-b544-1d1aa864effd"}},"domain":{"data":{"guid":"d042f463-bda6-4036-95a8-f2abfa7287ee"}}},"port":null,"metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/routes
        method: POST
      response:
        body: '{"guid":"985c396e-33a8-4d23-91d0-5a1a16c7833b","created_at":"2026-02-09T06:32:05Z","updated_at":"2026-02-09T06:32:05Z","protocol":"http","host":"","path":"","port":null,"url":"test.cfapps.stagingazure.hanavlab.ondemand.com","destinations":[],"metadata":{"labels":{},"annotations":{}},"relationships":{"space":{"data":{"guid":"50655f6a-a66c-4276-b544-1d1aa864effd"}},"domain":{"data":{"guid":"d042f463-bda6-4036-95a8-f2abfa7287ee"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/routes/985c396e-33a8-4d23-91d0-5a1a16c7833b"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/50655f6a-a66c-4276-b544-1d1aa864effd"},"destinations":{"href":"https://api.x.x.x.x.com/v3/routes/985c396e-33a8-4d23-91d0-5a1a16c7833b/destinations"},"domain":{"href":"https://api.x.x.x.x.com/v3/domains/d042f463-bda6-4036-95a8-f2abfa7287ee"}},"options":{}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1770619706"
            X-Vcap-Request-Id:
                - 890d13e5-4daa-4c4e-4d81-f9b7a5fb1f5f::bf061754-949e-4ad2-9525-e0a363b4dd75
        status: 201 Created
        code: 201
        duration: 932.826834ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/routes/985c396e-33a8-4d23-91d0-5a1a16c7833b
        method: GET
      response:
        body: '{"guid":"985c396e-33a8-4d23-91d0-5a1a16c7833b","created_at":"2026-02-09T06:32:05Z","updated_at":"2026-02-09T06:32:05Z","protocol":"http","host":"","path":"","port":null,"url":"test.cfapps.stagingazure.hanavlab.ondemand.com","destinations":[],"metadata":{"labels":{},"annotations":{}},"relationships":{"space":{"data":{"guid":"50655f6a-a66c-4276-b544-1d1aa864effd"}},"domain":{"data":{"guid":"d042f463-bda6-4036-95a8-f2abfa7287ee"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/routes/985c396e-33a8-4d23-91d0-5a1a16c7833b"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/50655f6a-a66c-4276-b544-1d1aa864effd"},"destinations":{"href":"https://api.x.x.x.x.com/v3/routes/985c396e-33a8-4d23-91d0-5a1a16c7833b/destinations"},"domain":{"href":"https://api.x.x.x.x.com/v3/domains/d042f463-bda6-4036-95a8-f2abfa7287ee"}},"options":{}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1770619706"
            X-Vcap-Request-Id:
                - b4d98b87-2ab8-4e84-4b82-16107334746c::e2f971d3-6ebe-4d74-aeba-f016c54cbbf0
        status: 200 OK
        code: 200
        duration: 248.676625ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/routes/985c396e-33a8-4d23-91d0-5a1a16c7833b
        method: GET
      response:
        body: '{"guid":"985c396e-33a8-4d23-91d0-5a1a16c7833b","created_at":"2026-02-09T06:32:05Z","updated_at":"2026-02-09T06:32:05Z","protocol":"http","host":"","path":"","port":null,"url":"test.cfapps.stagingazure.hanavlab.ondemand.com","destinations":[],"metadata":{"labels":{},"annotations":{}},"relationships":{"space":{"data":{"guid":"50655f6a-a66c-4276-b544-1d1aa864effd"}},"domain":{"data":{"guid":"d042f463-bda6-4036-95a8-f2abfa7287ee"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/routes/985c396e-33a8-4d23-91d0-5a1a16c7833b"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/50655f6a-a66c-4276-b544-1d1aa864effd"},"destinations":{"href":"https://api.x.x.x.x.com/v3/routes/985c396e-33a8-4d23-91d0-5a1a16c7833b/destinations"},"domain":{"href":"https://api.x.x.x.x.com/v3/domains/d042f463-bda6-4036-95a8-f2abfa7287ee"}},"options":{}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1770619706"
            X-Vcap-Request-Id:
                - c6ffeb1a-d781-430d-4492-95f5bb38f756::400442c3-3be2-46fd-aa58-86eb982ed165
        status: 200 OK
        code: 200
        duration: 245.403458ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/routes/985c396e-33a8-4d23-91d0-5a1a16c7833b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/a659ebdb-13cc-42db-95d2-06f051fb17bb
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1770619706"
            X-Vcap-Request-Id:
                - 6c2b737c-6ec0-4b1a-67a5-103916be9fcf::b63da4f4-6dcd-4c05-bef8-cbea7ea85481
        status: 202 Accepted
        code: 202
        duration: 258.89775ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/a659ebdb-13cc-42db-95d2-06f051fb17bb
        method: GET
      response:
        body: '{"guid":"a659ebdb-13cc-42db-95d2-06f051fb17bb","created_at":"2026-02-09T06:32:08Z","updated_at":"2026-02-09T06:32:08Z","operation":"route.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/a659ebdb-13cc-42db-95d2-06f051fb17bb"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1770619706"
            X-Vcap-Request-Id:
                - 6c92628a-fb03-4e74-7db5-4b151a0cc63c::dc3d6ee0-678e-4e5f-89ae-6a51a41982ff
        status: 200 OK
        code: 200
        duration: 241.139ms
