---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"user-provided","name":"test-si-user-provided","relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: '{"guid":"1f5f14ff-d0d1-405b-8bab-fc750f386272","created_at":"2026-08-18T10:07:08Z","updated_at":"2026-08-18T10:07:08Z","name":"test-si-user-provided","tags":[],"last_operation":{"type":"create","state":"succeeded","description":"Operation succeeded","updated_at":"2026-08-18T10:07:08Z","created_at":"2026-08-18T10:07:08Z"},"type":"user-provided","syslog_drain_url":null,"route_service_url":null,"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_instances/1f5f14ff-d0d1-405b-8bab-fc750f386272"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"service_credential_bindings":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?service_instance_guids=1f5f14ff-d0d1-405b-8bab-fc750f386272"},"service_route_bindings":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?service_instance_guids=1f5f14ff-d0d1-405b-8bab-fc750f386272"},"credentials":{"href":"https://api.x.x.x.x.com/v3/service_instances/1f5f14ff-d0d1-405b-8bab-fc750f386272/credentials"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1787049331"
            X-Vcap-Request-Id:
                - bd69830d-f834-45b5-70dd-32f63150695b::596281d3-512b-4b08-8dff-71120752f7bc
        status: 201 Created
        code: 201
        duration: 811.783625ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"1f5f14ff-d0d1-405b-8bab-fc750f386272","created_at":"2026-08-18T10:07:08Z","updated_at":"2026-08-18T10:07:08Z","name":"test-si-user-provided","tags":[],"last_operation":{"type":"create","state":"succeeded","description":"Operation succeeded","updated_at":"2026-08-18T10:07:08Z","created_at":"2026-08-18T10:07:08Z"},"type":"user-provided","syslog_drain_url":null,"route_service_url":null,"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":[...]
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances/1f5f14ff-d0d1-405b-8bab-fc750f386272
        method: GET
      response:
        body: '{"guid":"1f5f14ff-d0d1-405b-8bab-fc750f386272","created_at":"2026-08-18T10:07:08Z","updated_at":"2026-08-18T10:07:08Z","name":"test-si-user-provided","tags":[],"last_operation":{"type":[...]
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"test-si-user-provided1","syslog_drain_url":null,"route_service_url":null,"credentials":{"user":"test","password":"hello"},"tags":null,"metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances/1f5f14ff-d0d1-405b-8bab-fc750f386272
        method: PATCH
      response:
        body: '{"guid":"1f5f14ff-d0d1-405b-8bab-fc750f386272","created_at":"2026-08-18T10:07:08Z","updated_at":"2026-08-18T10:07:11Z","name":"test-si-user-provi[...]
[...]
