---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"relationships":{"service_instance":{"data":{"guid":"a92e1186-b229-4711-b233-a8726879dad6"}},"route":{"data":{"guid":"490d6825-5d8f-4dd2-b332-1e8ea6ae5158"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_route_bindings
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/c0ae7cc2-82b0-4739-8c7a-aaac3d69b78e
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771689931"
            X-Vcap-Request-Id:
                - 0ae07343-e4fc-4010-58de-e009ec761900::4f88404d-55ee-4405-bb2c-9762b4dfa316
        status: 202 Accepted
        code: 202
        duration: 339.978625ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/c0ae7cc2-82b0-4739-8c7a-aaac3d69b78e
        method: GET
      response:
        body: '{"guid":"c0ae7cc2-82b0-4739-8c7a-aaac3d69b78e","created_at":"2026-02-21T15:45:22Z","updated_at":"2026-02-21T15:45:23Z","operation":"service_route_bindings.create","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/c0ae7cc2-82b0-4739-8c7a-aaac3d69b78e"},"service_route_binding":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings/87cb32e3-bda8-4ea8-bfa5-cdb6abae7e14"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771689931"
            X-Vcap-Request-Id:
                - 580732ec-3a85-480e-4708-a457448c16e6::1b6be51d-2890-4dcd-9d15-24ebb7300eda
        status: 200 OK
        code: 200
        duration: 313.000417ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_route_bindings?route_guids=490d6825-5d8f-4dd2-b332-1e8ea6ae5158&service_instance_guids=a92e1186-b229-4711-b233-a8726879dad6
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?page=1\u0026per_page=50\u0026route_guids=490d6825-5d8f-4dd2-b332-1e8ea6ae5158\u0026service_instance_guids=a92e1186-b229-4711-b233-a8726879dad6"},"last":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?page=1\u0026per_page=50\u0026route_guids=490d6825-5d8f-4dd2-b332-1e8ea6ae5158\u0026service_instance_guids=a92e1186-b229-4711-b233-a8726879dad6"},"next":null,"previous":null},"resources":[{"guid":"87cb32e3-bda8-4ea8-bfa5-cdb6abae7e14","route_service_url":"https://mobile-approuter.cfapps.sap.hana.ondemand.com/a92e1186-b229-4711-b233-a8726879dad6","created_at":"2026-02-21T15:45:22Z","updated_at":"2026-02-21T15:45:23Z","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2026-02-21T15:45:23Z","created_at":"2026-02-21T15:45:23Z"},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"a92e1186-b229-4711-b233-a8726879dad6"}},"route":{"data":{"guid":"490d6825-5d8f-4dd2-b332-1e8ea6ae5158"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings/87cb32e3-bda8-4ea8-bfa5-cdb6abae7e14"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/a92e1186-b229-4711-b233-a8726879dad6"},"route":{"href":"https://api.x.x.x.x.com/v3/routes/490d6825-5d8f-4dd2-b332-1e8ea6ae5158"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings/87cb32e3-bda8-4ea8-bfa5-cdb6abae7e14/parameters"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771689931"
            X-Vcap-Request-Id:
                - d1755622-b8c0-47f4-56fd-20b46e9e8de5::bb7da395-26f7-4f5b-8fee-94402774275c
        status: 200 OK
        code: 200
        duration: 330.520959ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_route_bindings/87cb32e3-bda8-4ea8-bfa5-cdb6abae7e14
        method: GET
      response:
        body: '{"guid":"87cb32e3-bda8-4ea8-bfa5-cdb6abae7e14","route_service_url":"https://mobile-approuter.cfapps.sap.hana.ondemand.com/a92e1186-b229-4711-b233-a8726879dad6","created_at":"2026-0[...]
[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_route_bindings/87cb32e3-bda8-4ea8-bfa5-cdb6abae7e14
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/35dc16d4-998d-49ef-a75f-378735a4410d
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771689931"
            X-Vcap-Request-Id:
                - a7773a8d-52d8-4baf-699e-e25a9c7bbcbe::728a942e-6862-4561-9a88-d249910c84bb
        status: 202 Accepted
        code: 202
        duration: 313.062042ms
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/35dc16d4-998d-49ef-a75f-378735a4410d
        method: GET
      response:
        body: '{"guid":"35dc16d4-998d-49ef-a75f-378735a4410d","created_at":"2026-02-21T15:45:28Z","updated_at":"2026-02-21T15:45:28Z","operation":"service_route_bindings.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/35dc16d4-998d-49ef-a75f-378735a4410d"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771689931"
            X-Vcap-Request-Id:
                - a117b322-48d6-40d3-6772-3d7414b27371::cabe434f-e543-4d26-bb84-6b4472763589
        status: 200 OK
        code: 200
        duration: 337.168375ms
