---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 2jcLjNsZMdDLg87pwDamxRop8cE4ejqanyYzVmUw7q0RhC9v71Q8u-p_U7Hm4PvdpBuSpy4d3KAPGQ-3_RZSYAFWjMxwtB0J
            X-Vcap-Request-Id:
                - 7652d151-74eb-43a0-6747-1641dd78332f
        status: 204 No Content
        code: 204
        duration: 719.445166ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--9f8cbf30edbd3327aa20097bf5bf17ac1a55c05dfaafa0e765cae22cc306\r\nContent-Disposition: form-data; name=\"file\"; filename=\"a.cf.app.mtar\"\r\nContent-Type: application/octet-stream\r\n\r\nPK\x03\x04\x14\0\0\0\0\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\t\0\t\0META-INF/UT\x05\0\x01z�)fPK\x03\x04\x14\0\b\0\b\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\t\0META-INF/MANIFEST.MFUT\x05\0\x01z�)f�M��LK-.�\rK-*��ϳR0�3���K�M�Rȭ��-I��M�KLOM�M,[...]
    - id: 2
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[{"processId":"62b19eb4-e540-11ef-b8d6-eeee0a97e99c","processType":"DEPLOY","startedAt":"2025-02-07T10:43:36.834Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}},{"processId":"669ff0ac-e540-11ef-9727-eeee0a9ed642","processType":"DEPLOY","startedAt":"2025-02-07T10:43:43.43Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 8181b1bf-185f-41f8-6286-58f7ab1df71c
        status: 200 OK
        code: 200
        duration: 272.554375ms
[...]
    - id: 4
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"test","parameters":{"appArchiveId":"669dabeb-ea20-4de3-bde4-cdaf88af7797","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - Mv72dq1FoLPeJ5gKsCTPDOOyM8-9kymvYmv3Z558EUrmIaZXC5-UEssgmIrzF_syhgn7P9eDHveLpBmCU1nDBvpLKHuDRJE2
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/e35ccb1c-e548-11ef-aa27-eeee0a804b5b?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - R764_q17_eCkCngzeSwRDEwO057y43n9R97DxmBW-gXTDJ-Aft_amssexdmJOhsLTwElP3g__qbE1EnQduz3pwRhwzS2aajh
            X-Vcap-Request-Id:
                - 2f95d205-7f0c-4e36-48d5-df6c8c865ac1
        status: 202 Accepted
        code: 202
        duration: 615.554583ms
    - id: 5
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/e35ccb1c-e548-11ef-aa27-eeee0a804b5b?embed=messages
        method: GET
      response:
        body: '{"processId":"e35ccb1c-e548-11ef-aa27-eeee0a804b5b","processType":"DEPLOY","startedAt":"2025-02-07T11:44:28.708Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"RUNNING","messages":[{"id":232903374,"text":"Operation ID: e35ccb1c-e548-11ef-aa27-eeee0a804b5b","timestamp":"2025-02-07T11:44:28.669Z[UTC]","type":"INFO"},{"id":232903376,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2025-02-07T11:44:28.911Z[UTC]","type":"INFO"},{"id":232903378,"text":"Detected MTA schema version: \"3\"","timestamp":"2025-02-07T11:44:29.763Z[UTC]","type":"INFO"},{"id":232903379,"text":"Detected deployed MTA with ID \"a.cf.app\", version \"0.0.0\" and namespace \"test\"","timestamp":"2025-02-07T11:44:30.264Z[UTC]","type":"INFO"},{"id":232903382,"text":"Detected new MTA version: \"0.0.0\"","timestamp":"2025-02-07T11:44:30.554Z[UTC]","type":"INFO"},{"id":232903383,"text":"Deployed MTA version: \"0.0.0\"","timestamp":"2025-02-07T11:44:30.56Z[UTC]","type":"INFO"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 2b59899b-fb99-43cd-5dba-1b4496c1c5f5
        status: 200 OK
        code: 200
        duration: 281.621041ms
[...]
    - id: 8
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/e35ccb1c-e548-11ef-aa27-eeee0a804b5b?embed=messages
        method: GET
      response:
        body: '{"processId":"e35ccb1c-e548-11ef-aa27-eeee0a804b5b","processType":"DEPLOY","startedAt":"2025-02-07T11:44:28.708Z[UTC]","endedAt":"2025-02-07T11:44:36.106Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"FINISHED","messages":[{"id":232903374,"text":"Operation ID: e35ccb1c-e548-11ef-aa27-eeee0a804b5b","timestamp":"2025-02-07T11:44:28.669Z[UTC]","type":"INFO"},{"id":232903376,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2025-02-07T11:44:28.911Z[UTC]","type":"INFO"},{"id":23290337[...]
    - id: 9
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/mtas?name=a.cf.app&namespace=test
        method: GET
      response:
        body: '[{"metadata":{"id":"a.cf.app","version":"0.0.0","namespace":"test"},"modules":[{"moduleName":"my-mta-managed-app-module","appName":"test-my-cf-app","providedDendencyNames":[],"services":[],"uris":["test-performanceteamblr-tf-space-1-my-mta-managed-app-module.cfapps.sap.hana.ondemand.com"]}],"services":[]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 103ca476-ed55-4514-6c54-c005dadd5505
        status: 200 OK
        code: 200
        duration: 853.337709ms
[...]
    - id: 13
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"file_url":"aHR0cHM6Ly9naXRodWIuY29tL0RyYXk1Ni9tdGFyLWFyY2hpdmUvcmVsZWFzZXMvZG93bmxvYWQvdjEuMC4wL2EuY2YuYXBwLm10YXI="}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - Q4j9fDaDURMEZc3XhkIx3AMjjii3asQuXkzRPanhC6KCafVNdriZHwW0ZHIpU6vgs28FujsToxHTWfEDbC2wWczVOpKzWcd5
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/async?namespace=test
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/jobs/33e9ebde-425c-4197-b751-e1f9fffaa555
            X-Cf-App-Instance:
                - 1247566c-7bfd-48f3-a74e-d82711dc1180:0
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - bt4ygtCDY_gRFq_mSsyLU7zzJR0Cvo70f317FfLB_yC8FASAW-5W4eO0Vpk8IMnRf-G_NYTDCCRmjbvZTRwacZf1zhCNJDa0
            X-Vcap-Request-Id:
                - 252ae40e-6636-4afb-74e7-2aa75b6e1671
        status: 202 Accepted
        code: 202
        duration: 302.383458ms
    - id: 14
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Cf-App-Instance:
                - 1247566c-7bfd-48f3-a74e-d82711dc1180:0
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/jobs/33e9ebde-425c-4197-b751-e1f9fffaa555?namespace=test
        method: GET
      response:
        body: '{"status":"FINISHED","file":{"id":"88af6754-8ca7-4a33-92f3-12fe9e21a534","name":"a.cf.app.mtar","size":2365,"digest":"8FC95BAEF1A228E42C775F9E3D44241C","digestAlgorithm":"MD5","space":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","namespace":"test"},"mta_id":"a.cf.app"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 907c4a41-a797-466d-699c-53fde40ce513
        status: 201 Created
        code: 201
        duration: 318.534042ms
[...]
    - id: 29
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=my-mta&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 48afe0e2-2f71-4ce8-6d8f-33522dc3ea83
        status: 200 OK
        code: 200
        duration: 233.7645ms
[...]
    - id: 31
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"test","parameters":{"appArchiveId":"a9c42d64-75ad-4e38-a69e-829bdce952f7","mtaExtDescriptorId":"ad3e60a8-5603-42b5-a061-8ed0aec658d0,a3969671-38b6-4c29-96dc-9b5c022ea9cc","mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - nzLyCRjobPYRWNH2UIDMaurGW2GB9FPGvvk-3WJz1HmQpW9CqlHEb3yLD5c8a-jENq34Xtqidljlkmvri8kPv1NGtxr1wAlw
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/f2b0be45-e548-11ef-bfac-eeee0a82c347?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - EdNAhiZgNJ03XGQ2zR6QuDd0WUU8qVv13AI40rQW0QYBRXs9JLB24EIDV_wab10EqzOkjAcQdHxYz2PY6TIJsIUjsmVkIB0P
            X-Vcap-Request-Id:
                - a2e41d48-7913-401e-49b0-92dc044e1889
        status: 202 Accepted
        code: 202
        duration: 404.606292ms
[...]
    - id: 76
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/mtas?name=my-mta&namespace=test
        method: GET
      response:
        body: '[{"metadata":{"id":"my-mta","version":"1.0.0","namespace":"test"},"modules":[{"moduleName":"my-app","appName":"test-my-app","providedDendencyNames":[],"services":["test-my-service"],"uris":["test-performanceteamblr-tf-space-1-my-app.cfapps.sap.hana.ondemand.com"]}],"services":["test-my-service"]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - dcd4ef44-31d6-469a-6411-7c0b38da4a0f
        status: 200 OK
        code: 200
        duration: 607.044875ms
[...]
    - id: 79
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"UNDEPLOY","namespace":"test","parameters":{"deleteServices":true,"mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - ylWkGnQH1UB1kbUMsP9pDgVggQZ0SbSCRynMUIkqUhNAMvdErGeTKU1l4nJY9YVtgdJdNj1YrD5FLIevdBn7YetIZ3EjAZMn
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/2f4dddbe-e549-11ef-92d8-eeee0a9d4d24?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - KDLnmPTrhRBVBLWems2I9OTXzn8RaxJkbWfFr4k4nFoHpNA1TgDQq82JsiJ4YIX_q-C8zNzv40cgDiFJXlfynutaqThkl7RW
            X-Vcap-Request-Id:
                - cffa8bb0-a167-4704-4d1d-67a348c55783
        status: 202 Accepted
        code: 202
        duration: 307.833291ms
[...]
