---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"segment-new","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/isolation_segments
        method: POST
      response:
        body: '{"guid":"aa78b460-ac63-4a09-9d20-5a0a59edcca2","created_at":"2024-06-14T06:44:56Z","updated_at":"2024-06-14T06:44:56Z","name":"segment-new","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/aa78b460-ac63-4a09-9d20-5a0a59edcca2"},"organizations":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/aa78b460-ac63-4a09-9d20-5a0a59edcca2/organizations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 3b835766-44b3-4b4d-6111-dbb7f10946e5::0520ac7c-9079-4def-b328-8095f31b5e32
        status: 201 Created
        code: 201
        duration: 205.584375ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments/aa78b460-ac63-4a09-9d20-5a0a59edcca2
        method: GET
      response:
        body: '{"guid":"aa78b460-ac63-4a09-9d20-5a0a59edcca2","created_at":"2024-06-14T06:44:56Z","updated_at":"2024-06-14T06:44:56Z","name":"segment-new","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/aa78b460-ac63-4a09-9d20-5a0a59edcca2"},"organizations":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/aa78b460-ac63-4a09-9d20-5a0a59edcca2/organizations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 691fe097-051c-420a-4d2a-a9d5f89c8bb8::64b90ae1-86db-410d-975b-349f541eacc9
        status: 200 OK
        code: 200
        duration: 168.548625ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"hifi","metadata":{"labels":{"landscape":null,"purpose":"production","status":"fine"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/isolation_segments/aa78b460-ac63-4a09-9d20-5a0a59edcca2
        method: PATCH
      response:
        body: '{"errors":[{"detail":"Isolation Segment names are case insensitive and must be unique","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 64a79254-8f42-4e00-4aa0-a36c87e38b52::bb8efaf7-47ea-411f-b996-916d7e673909
        status: 422 Unprocessable Entity
        code: 422
        duration: 218.807916ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments/aa78b460-ac63-4a09-9d20-5a0a59edcca2
        method: DELETE
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - bced30d0-2cd3-4c0f-7795-31d576777d8c::1db4c9ea-93de-4a98-9c5e-25c0b25e8597
        status: 204 No Content
        code: 204
        duration: 182.173125ms
