---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"space-broker","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","authentication":{"type":"basic","credentials":{"username":"admin","password":"hi"}},"relationships":{"space":{"data":{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_brokers
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/d15f8f97-9650-43fe-ac60-58f511ce3170
            X-Vcap-Request-Id:
                - 633f8cab-91c8-4674-4874-c89293b9e079::7c345d8f-43fe-4a75-8316-e2b087b2e1c6
        status: 202 Accepted
        code: 202
        duration: 268.9255ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/d15f8f97-9650-43fe-ac60-58f511ce3170
        method: GET
      response:
        body: '{"guid":"d15f8f97-9650-43fe-ac60-58f511ce3170","created_at":"2025-02-15T15:56:09Z","updated_at":"2025-02-15T15:56:09Z","operation":"service_broker.catalog.synchronize","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/d15f8f97-9650-43fe-ac60-58f511ce3170"},"service_brokers":{"href":"https://api.x.x.x.x.com/v3/service_brokers/4f56217a-9938-49d2-96b7-1fe8bd5405de"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 1408d904-342d-4216-4d89-4f4be27a844d::7da3d44d-fcdf-4d24-8f63-1ae4fbe1ebe3
        status: 200 OK
        code: 200
        duration: 206.365875ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers?names=space-broker
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=space-broker\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=space-broker\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"4f56217a-9938-49d2-96b7-1fe8bd5405de","created_at":"2025-02-15T15:56:09Z","updated_at":"2025-02-15T15:56:09Z","name":"space-broker","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{"space":{"data":{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/4f56217a-9938-49d2-96b7-1fe8bd5405de"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=4f56217a-9938-49d2-96b7-1fe8bd5405de"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/0925b3c7-7544-4700-b71b-191b3c348e5c"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 6c9248c8-fed3-41b0-462c-09de0ccab34a::9a99e6ae-0c90-4702-ae36-edb31b88fa5c
        status: 200 OK
        code: 200
        duration: 199.48825ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/4f56217a-9938-49d2-96b7-1fe8bd5405de
        method: GET
      response:
        body: '{"guid":"4f56217a-9938-49d2-96b7-1fe8bd5405de","created_at":"2025-02-15T15:56:09Z","updated_at":"2025-02-15T15:56:09Z","name":"space-broker","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{"space":{"data":{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/4f56217a-9938-49d2-96b7-1fe8bd5405de"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=4f56217a-9938-49d2-96b7-1fe8bd5405de"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/0925b3c7-7544-4700-b71b-191b3c348e5c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 0ac26a53-9e09-46eb-7672-b9fb3610feab::9f3d2ec1-e367-4735-8a19-93689b82e913
        status: 200 OK
        code: 200
        duration: 200.250584ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/4f56217a-9938-49d2-96b7-1fe8bd5405de
        method: GET
      response:
        body: '{"guid":"4f56217a-9938-49d2-96b7-1fe8bd5405de","created_at":"2025-02-15T15:56:09Z","updated_at":"2025-02-15T15:56:09Z","name":"space-broker","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{"space":{"data":{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/4f56217a-9938-49d2-96b7-1fe8bd5405de"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=4f56217a-9938-49d2-96b7-1fe8bd5405de"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/0925b3c7-7544-4700-b71b-191b3c348e5c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - eeaddaab-ad2e-4562-43dd-388a01eceda8::f5b0743d-4188-4264-8036-0b7cb3ca98f0
        status: 200 OK
        code: 200
        duration: 201.64325ms
[...]
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/1c661292-9bff-4bc7-8886-a2ba192c72f6
        method: GET
      response:
        body: '{"guid":"1c661292-9bff-4bc7-8886-a2ba192c72f6","created_at":"2025-02-15T15:56:12Z","updated_at":"2025-02-15T15:56:13Z","operation":"service_broker.update","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/1c661292-9bff-4bc7-8886-a2ba192c72f6"},"service_brokers":{"href":"https://api.x.x.x.x.com/v3/service_brokers/4f56217a-9938-49d2-96b7-1fe8bd5405de"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - df482e5d-7578-4cf1-51e1-472d069fc67f::64ad9978-555f-4266-a04b-660404a5eebc
        status: 200 OK
        code: 200
        duration: 191.659875ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/4f56217a-9938-49d2-96b7-1fe8bd5405de
        method: GET
      response:
        body: '{"guid":"4f56217a-9938-49d2-96b7-1fe8bd5405de","created_at":"2025-02-15T15:56:09Z","updated_at":"2025-02-15T15:56:13Z","name":"space-broker-2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{"space":{"data":{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"}}},"metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/4f56217a-9938-49d2-96b7-1fe8bd5405de"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=4f56217a-9938-49d2-96b7-1fe8bd5405de"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/0925b3c7-7544-4700-b71b-191b3c348e5c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - bc377d0e-570c-45b1-4cc7-0c6ef65e18c9::80f9e766-b8b8-437a-8242-1774dca9d673
        status: 200 OK
        code: 200
        duration: 199.098542ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/4f56217a-9938-49d2-96b7-1fe8bd5405de
        method: GET
      response:
        body: '{"guid":"4f56217a-9938-49d2-96b7-1fe8bd5405de","created_at":"2025-02-15T15:56:09Z","updated_at":"2025-02-15T15:56:13Z","name":"space-broker-2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{"space":{"data":{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"}}},"metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/4f56217a-9938-49d2-96b7-1fe8bd5405de"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=4f56217a-9938-49d2-96b7-1fe8bd5405de"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/0925b3c7-7544-4700-b71b-191b3c348e5c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f3b27385-69cb-4eb5-6a43-c00d58731f33::119c3be9-97e7-4c0a-8747-3b9ce9a22502
        status: 200 OK
        code: 200
        duration: 218.117ms
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/4f56217a-9938-49d2-96b7-1fe8bd5405de
        method: GET
      response:
        body: '{"guid":"4f56217a-9938-49d2-96b7-1fe8bd5405de","created_at":"2025-02-15T15:56:09Z","updated_at":"2025-02-15T15:56:13Z","name":"space-broker-2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{"space":{"data":{"guid":"0925b3c7-7544-4700-b71b-191b3c348e5c"}}},"metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/4f56217a-9938-49d2-96b7-1fe8bd5405de"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=4f56217a-9938-49d2-96b7-1fe8bd5405de"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/0925b3c7-7544-4700-b71b-191b3c348e5c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e7612afb-520a-4816-656b-1a3b08e0df75::553db9df-c220-4d79-9427-ad3b63e9ca5e
        status: 200 OK
        code: 200
        duration: 196.722833ms
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/4f56217a-9938-49d2-96b7-1fe8bd5405de
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/2898867c-ded5-46d0-b13b-967852be6ac0
            X-Vcap-Request-Id:
                - ed61adaf-50fe-41c5-55f0-79c00279aa54::b0d9b5a5-d6f9-4822-a272-71b56bff62ac
        status: 202 Accepted
        code: 202
        duration: 237.295875ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/2898867c-ded5-46d0-b13b-967852be6ac0
        method: GET
      response:
        body: '{"guid":"2898867c-ded5-46d0-b13b-967852be6ac0","created_at":"2025-02-15T15:56:16Z","updated_at":"2025-02-15T15:56:16Z","operation":"service_broker.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/2898867c-ded5-46d0-b13b-967852be6ac0"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - cf926cb3-6718-4c2e-6fa0-8fbfaeeeec4b::79f7acc1-6070-453b-9386-1488c69b722d
        status: 200 OK
        code: 200
        duration: 194.5215ms
