---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-import","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"guid":"1137d4c5-333f-49dd-bc3b-c11fa10f9134","created_at":"2026-01-21T07:55:17Z","updated_at":"2026-01-21T07:55:17Z","name":"tf-unit-test-import","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/1137d4c5-333f-49dd-bc3b-c11fa10f9134"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/1137d4c5-333f-49dd-bc3b-c11fa10f9134/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/1137d4c5-333f-49dd-bc3b-c11fa10f9134/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - 35dd9eff-bfef-4bb0-600d-47f5fede6acc::13adf2ea-befe-426c-9ec2-23eefcee274e
        status: 201 Created
        code: 201
        duration: 345.697208ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/1137d4c5-333f-49dd-bc3b-c11fa10f9134/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - 3e3deb25-be21-4b99-64d5-52a045721bd0::482b922c-b238-4023-8c6b-3cb5cbbcce47
        status: 200 OK
        code: 200
        duration: 302.502209ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/1137d4c5-333f-49dd-bc3b-c11fa10f9134
        method: GET
      response:
        body: '{"guid":"1137d4c5-333f-49dd-bc3b-c11fa10f9134","created_at":"2026-01-21T07:55:17Z","updated_at":"2026-01-21T07:55:17Z","name":"tf-unit-test-import","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/1137d4c5-333f-49dd-bc3b-c11fa10f9134"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/1137d4c5-333f-49dd-bc3b-c11fa10f9134/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/1137d4c5-333f-49dd-bc3b-c11fa10f9134/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - a5daaa15-5290-42a4-6040-e5ec0b84599f::8c2ecde4-872d-41a1-9b4c-afc5296cf780
        status: 200 OK
        code: 200
        duration: 306.443417ms
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/1137d4c5-333f-49dd-bc3b-c11fa10f9134/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/1137d4c5-333f-49dd-bc3b-c11fa10f9134/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - 8b008da8-347a-47aa-404f-8d0e18c8d40e::88ccc9eb-57f8-499c-8f4e-996ee1e9be4a
        status: 200 OK
        code: 200
        duration: 304.022708ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/1137d4c5-333f-49dd-bc3b-c11fa10f9134
        method: GET
      response:
        body: '{"guid":"1137d4c5-333f-49dd-bc3b-c11fa10f9134","created_at":"2026-01-21T07:55:17Z","updated_at":"2026-01-21T07:55:17Z","name":"tf-unit-test-import","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/1137d4c5-333f-49dd-bc3b-c11fa10f9134"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/1137d4c5-333f-49dd-bc3b-c11fa10f9134/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/1137d4c5-333f-49dd-bc3b-c11fa10f9134/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - a845470c-19ff-4cb4-53a9-b989b065ed9c::4fc9cfa5-94ad-4b94-99ba-18d536822105
        status: 200 OK
        code: 200
        duration: 301.250958ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/1137d4c5-333f-49dd-bc3b-c11fa10f9134/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - e629933f-dfb8-4ac4-5de6-e18fea67f406::c54920eb-3405-412c-a297-3c75517450d7
        status: 200 OK
        code: 200
        duration: 304.365042ms
[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/1137d4c5-333f-49dd-bc3b-c11fa10f9134
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/4763c618-0d1d-4089-827d-5f5ca65ebce2
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - 9e847721-d06b-44fd-40e4-798dc5df704b::3140ce43-9dc8-4937-ae8a-f0537dd506ec
        status: 202 Accepted
        code: 202
        duration: 344.756125ms
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/4763c618-0d1d-4089-827d-5f5ca65ebce2
        method: GET
      response:
        body: '{"guid":"4763c618-0d1d-4089-827d-5f5ca65ebce2","created_at":"2026-01-21T07:55:21Z","updated_at":"2026-01-21T07:55:21Z","operation":"space.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/4763c618-0d1d-4089-827d-5f5ca65ebce2"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - 15cd0433-f1d9-44f0-7edd-349f513c656a::573d3a92-b50a-4388-ba60-fcb1f8511adb
        status: 200 OK
        code: 200
        duration: 317.160458ms
