---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"relationships":{"service_instance":{"data":{"guid":"3a8588f9-f846-444f-ab9e-48282f06449b"}},"route":{"data":{"guid":"3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_route_bindings
        method: POST
      response:
        body: '{"guid":"3c5b96fb-afe3-4bf5-99bd-744c391e26dd","route_service_url":"https://www.example.com","created_at":"2026-02-21T15:45:19Z","updated_at":"2026-02-21T15:45:19Z","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2026-02-21T15:45:19Z","created_at":"2026-02-21T15:45:19Z"},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"3a8588f9-f846-444f-ab9e-48282f06449b"}},"route":{"data":{"guid":"3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings/3c5b96fb-afe3-4bf5-99bd-744c391e26dd"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/3a8588f9-f846-444f-ab9e-48282f06449b"},"route":{"href":"https://api.x.x.x.x.com/v3/routes/3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771689930"
            X-Vcap-Request-Id:
                - fe71f4e6-926a-4e65-496c-910593576780::81fca8a6-ce72-4eb3-aa35-aa326122543d
        status: 201 Created
        code: 201
        duration: 1.074320292s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_route_bindings/3c5b96fb-afe3-4bf5-99bd-744c391e26dd
        method: GET
      response:
        body: '{"guid":"3c5b96fb-afe3-4bf5-99bd-744c391e26dd","route_service_url":"https://www.example.com","created_at":"2026-02-21T15:45:19Z","updated_at":"2026-02-21T15:45:19Z","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2026-02-21T15:45:19Z","created_at":"2026-02-21T15:45:19Z"},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"3a8588f9-f846-444f-ab9e-48282f06449b"}},"route":{"data":{"guid":"3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings/3c5b96fb-afe3-4bf5-99bd-744c391e26dd"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/3a8588f9-f846-444f-ab9e-48282f06449b"},"route":{"href":"https://api.x.x.x.x.com/v3/routes/3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771689931"
            X-Vcap-Request-Id:
                - ae89b712-f58b-485b-4b08-141a2eca0678::27baef0e-4109-4cab-ad78-d2b696f3620a
        status: 200 OK
        code: 200
        duration: 310.88875ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_route_bindings/3c5b96fb-afe3-4bf5-99bd-744c391e26dd
        method: GET
      response:
        body: '{"guid":"3c5b96fb-afe3-4bf5-99bd-744c391e26dd","route_service_url":"https://www.example.com","created_at":"2026-02-21T15:45:19Z","updated_at":"2026-02-21T15:45:19Z","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2026-02-21T15:45:19Z","created_at":"2026-02-21T15:45:19Z"},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"3a8588f9-f846-444f-ab9e-48282f06449b"}},"route":{"data":{"guid":"3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings/3c5b96fb-afe3-4bf5-99bd-744c391e26dd"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/3a8588f9-f846-444f-ab9e-48282f06449b"},"route":{"href":"https://api.x.x.x.x.com/v3/routes/3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771689931"
            X-Vcap-Request-Id:
                - ac2b169a-d042-457a-721d-3cf47108d8fc::167ecb8c-5e3b-41fd-a26e-cc725a86193e
        status: 200 OK
        code: 200
        duration: 307.491542ms
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_route_bindings/3c5b96fb-afe3-4bf5-99bd-744c391e26dd
        method: GET
      response:
        body: '{"guid":"3c5b96fb-afe3-4bf5-99bd-744c391e26dd","route_service_url":"https://www.example.com","created_at":"2026-02-21T15:45:19Z","updated_at":"2026-02-21T15:45:19Z","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2026-02-21T15:45:19Z","created_at":"2026-02-21T15:45:19Z"},"metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"3a8588f9-f846-444f-ab9e-48282f06449b"}},"route":{"data":{"guid":"3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings/3c5b96fb-afe3-4bf5-99bd-744c391e26dd"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/3a8588f9-f846-444f-ab9e-48282f06449b"},"route":{"href":"https://api.x.x.x.x.com/v3/routes/3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771689931"
            X-Vcap-Request-Id:
                - b9bd7e27-83ed-4c2c-4937-cf5f8e135b75::c73fc2ff-c71a-4fd7-9e18-5acfcc6d11da
        status: 200 OK
        code: 200
        duration: 307.859958ms
[...]
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_route_bindings/3c5b96fb-afe3-4bf5-99bd-744c391e26dd
        method: DELETE
      response:
        body: ""
        headers:
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771689931"
            X-Vcap-Request-Id:
                - e9e44fd7-5d57-4bae-6091-ffbb6c3640f1::de15c192-29a1-4ffe-bf4c-af53f28b39c3
        status: 204 No Content
        code: 204
        duration: 317.718ms
