---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=redacted
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - redacted
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
            - chunked
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"redacted","expires_in":1199,"scope":"clients.read openid routing.router_groups.write scim.read cloud_controller.admin uaa.user routing.router_groups.read cloud_controller.read password.write cloud_controller.write network.admin doppler.firehose scim.write","jti":"11f9ecf954f14d2080b587479ccc3c92"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 87bb872e-096e-40f8-68bc-b5613255c9c5
        status: 200 OK
        code: 200
        duration: 35.981333ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"2b1ad8c9-c1ba-4285-94fa-5932504d1e2c","created_at":"2026-09-08T06:57:34Z","updated_at":"2026-09-08T06:57:34Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"07308e03-554e-4558-b765-2e6992ecbbe8"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/2b1ad8c9-c1ba-4285-94fa-5932504d1e2c"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/2b1ad8c9-c1ba-4285-94fa-5932504d1e2c/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/2b1ad8c9-c1ba-4285-94fa-5932504d1e2c/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/07308e03-554e-4558-b765-2e6992ecbbe8"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 2e31870e-8d36-46d0-57f8-a3afa08a792b::dda8c278-13b3-4484-863c-5b22bf9f6b28
        status: 200 OK
        code: 200
        duration: 15.079875ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=2b1ad8c9-c1ba-4285-94fa-5932504d1e2c&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=2b1ad8c9-c1ba-4285-94fa-5932504d1e2c\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=2b1ad8c9-c1ba-4285-94fa-5932504d1e2c\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"018e6e9d-4a7e-490d-99f4-a0d50a7f96ea","created_at":"2026-09-08T06:58:06Z","updated_at":"2026-09-08T06:58:06Z","name":"tf-space-1","suspended":false,"relationships":{"organization":{"data":{"guid":"2b1ad8c9-c1ba-4285-94fa-5932504d1e2c"}},"quota":{"data":null}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/2b1ad8c9-c1ba-4285-94fa-5932504d1e2c"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 6336d16d-ffa5-403b-51e8-cb22f9a9a892::4bd0cce9-7891-41e4-a062-36380ccc21e1
        status: 200 OK
        code: 200
        duration: 10.197291ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin-lifecycle
                  docker:
                    image: kennethreitz/httpbin
                  lifecycle: docker
                  no-route: true
                  metadata:
                    labels: {}
                    annotations: {}
                  instances: 1
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/0e6267b9-8d46-439c-8517-d93d485f3137
            X-Vcap-Request-Id:
                - 19bbd538-6e3b-4936-71ba-7cd9eea10717::df4f03f1-a4cc-43ae-a4a0-5f366f71a628
        status: 202 Accepted
        code: 202
        duration: 70.789125ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/0e6267b9-8d46-439c-8517-d93d485f3137
        method: GET
      response:
        body: '{"guid":"0e6267b9-8d46-439c-8517-d93d485f3137","created_at":"2026-09-08T11:46:25Z","updated_at":"2026-09-08T11:46:25Z","operation":"space.apply_manifest","state":"PROCESSING","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/0e6267b9-8d46-439c-8517-d93d485f3137"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 4368e8e8-a1a1-4ef4-6364-deeed1f3a107::3fd84425-f987-4baf-824e-4c9d81363209
        status: 200 OK
        code: 200
        duration: 12.135708ms
[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin-lifecycle&page=1&per_page=50&space_guids=018e6e9d-4a7e-490d-99f4-a0d50a7f96ea
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-lifecycle\u0026page=1\u0026per_page=50\u0026space_guids=018e6e9d-4a7e-490d-99f4-a0d50a7f96ea"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-lifecycle\u0026page=1\u0026per_page=50\u0026space_guids=018e6e9d-4a7e-490d-99f4-a0d50a7f96ea"},"next":null,"previous":null},"resources":[{"guid":"664263bb-f160-4bb5-a54b-fd64eb275307","created_at":"2026-09-08T11:46:25Z","updated_at":"2026-09-08T11:46:30Z","name":"http-bin-lifecycle","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"018e6e9d-4a7e-490d-99f4-a0d50a7f96ea"}},"current_droplet":{"data":{"guid":null}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - dbd2008a-f76f-4a7b-78de-5965531f2206::cadbfb58-3578-4a16-bc96-e896845dd054
        status: 200 OK
        code: 200
        duration: 9.697166ms
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"664263bb-f160-4bb5-a54b-fd64eb275307"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"b4121217-13ab-4137-92f3-a077744bd8b4","created_at":"2026-09-08T11:46:30Z","updated_at":"2026-09-08T11:46:30Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"664263bb-f160-4bb5-a54b-fd64eb275307"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/b4121217-13ab-4137-92f3-a077744bd8b4"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 4fd749e6-98af-486b-561f-c524436e140b::ad75b7e3-be54-41ef-b993-487103181a1c
        status: 201 Created
        code: 201
        duration: 11.673708ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"b4121217-13ab-4137-92f3-a077744bd8b4"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"fd0a9d79-abaf-42b8-ac5b-65e188401b60","created_at":"2026-09-08T11:46:30Z","updated_at":"2026-09-08T11:46:30Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"b4121217-13ab-4137-92f3-a077744bd8b4"},"droplet":null,"created_by":{"guid":"8deb6c26-1374-439c-aaef-70d764faf553","name":"ccadmin","email":"ccadmin"},"relationships":{"app":{"data":{"guid":"664263bb-f160-4bb5-a54b-fd64eb275307"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/fd0a9d79-abaf-42b8-ac5b-65e188401b60"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 18274291-3beb-4026-43de-3ab5d6fd1418::a6bdd8be-c489-45ed-8309-4b3394318ef0
        status: 201 Created
        code: 201
        duration: 48.438459ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/fd0a9d79-abaf-42b8-ac5b-65e188401b60
        method: GET
      response:
        body: '{"guid":"fd0a9d79-abaf-42b8-ac5b-65e188401b60","created_at":"2026-09-08T11:46:30Z","updated_at":"2026-09-08T11:46:30Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"b4121217-13ab-4137-92f3-a077744bd8b4"},"droplet":null,"created_by":{"guid":"8deb6c26-1374-439c-aaef-70d764faf553","name":"ccadmin","email":"ccadmin"},"relationships":{"app":{"data":{"guid":"664263bb-f160-4bb5-a54b-fd64eb275307"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/fd0a9d79-abaf-42b8-ac5b-65e188401b60"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - dbcc126b-1834-4a2f-58f7-66ca69b2d418::9ce2daec-7666-44c7-8ed5-61a5dc9fdb08
        status: 200 OK
        code: 200
        duration: 8.480333ms
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/fd0a9d79-abaf-42b8-ac5b-65e188401b60
        method: GET
      response:
        body: '{"guid":"fd0a9d79-abaf-42b8-ac5b-65e188401b60","created_at":"2026-09-08T11:46:30Z","updated_at":"2026-09-08T11:46:30Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"b4121217-13ab-4137-92f3-a077744bd8b4"},"droplet":null,"created_by":{"guid":"8deb6c26-1374-439c-aaef-70d764faf553","name":"ccadmin","email":"ccadmin"},"relationships":{"app":{"data":{"guid":"664263bb-f160-4bb5-a54b-fd64eb275307"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/fd0a9d79-abaf-42b8-ac5b-65e188401b60"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d4f30bc6-f70f-4349-51f8-a0e8be1b7648::5c176753-0bb7-4825-ae83-872833c9ad39
        status: 200 OK
        code: 200
        duration: 7.504959ms
[...]
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/b4121217-13ab-4137-92f3-a077744bd8b4/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/b4121217-13ab-4137-92f3-a077744bd8b4/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/b4121217-13ab-4137-92f3-a077744bd8b4/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"3a63c9e0-502f-4fe1-a239-58befe90fd15","created_at":"2026-09-08T11:46:34Z","updated_at":"2026-09-08T11:46:34Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"664263bb-f160-4bb5-a54b-fd64eb275307"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/3a63c9e0-502f-4fe1-a239-58befe90fd15"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/b4121217-13ab-4137-92f3-a077744bd8b4"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d09ffeb1-0434-4fae-7695-941891b0e936::5fae6506-06db-46cc-9b31-60c03f9e07b3
        status: 200 OK
        code: 200
        duration: 10.3925ms
    - id: 17
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"3a63c9e0-502f-4fe1-a239-58befe90fd15"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"3a63c9e0-502f-4fe1-a239-58befe90fd15"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f07f93d1-8605-4d3f-6100-32fa53a4726b::91a66fb5-92c2-4007-a058-098fdd08c42f
        status: 200 OK
        code: 200
        duration: 39.014125ms
    - id: 18
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/actions/start
        method: POST
      response:
        body: '{"guid":"664263bb-f160-4bb5-a54b-fd64eb275307","created_at":"2026-09-08T11:46:25Z","updated_at":"2026-09-08T11:46:34Z","name":"http-bin-lifecycle","state":"STARTED","lifecycle":{"typ[...]
    - id: 19
      request:
        host: api.x.x.x.x.com
        body: |
            {"var":{}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/environment_variables
        method: PATCH
      response:
        body: '{"var":{},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/environment_variables"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 4cf1005d-fba7-4bd5-5dad-042ca363b02b::ddf4f96a-8267-4caf-b617-f96fcfe060a0
        status: 200 OK
        code: 200
        duration: 11.8185ms
    - id: 20
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - b87c333c-2481-4b56-4596-4b82d2d48641::5a643a78-e1ec-4322-b2e3-fbd9c7827180
        status: 200 OK
        code: 200
        duration: 7.348666ms
    - id: 21
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin-lifecycle
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              features:
                ssh: false
                revisions: true
                service-binding-k8s: false
                file-based-vcap-services: false
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Vcap-Request-Id:
                - c9b981a3-0d51-4c8d-5df9-9b9d0c2e3a27::800b60f1-cf3b-406c-97a3-7ff2ed2088bb
        status: 200 OK
        code: 200
        duration: 18.433833ms
[...]
    - id: 23
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307
        method: GET
      response:
        body: '{"guid":"664263bb-f160-4bb5-a54b-fd64eb275307","created_at":"2026-09-08T11:46:25Z","updated_at":"2026-09-08T11:46:34Z","name":"http-bin-lifecycle","state":"STARTED","lifecycle":{"type":"docker","da[...]
[...]
    - id: 26
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea?include=organization
        method: GET
      response:
        body: '{"guid":"018e6e9d-4a7e-490d-99f4-a0d50a7f96ea","created_at":"2026-09-08T06:58:06Z","updated_at":"2026-09-08T06:58:06Z","name":"tf-space-1","suspended":false,"relationships":{"organization":{"data":{"guid":"2b1ad8c9-c1ba-4285-94fa-5932504d1e2c"}},"quota":{"data":null}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/2b1ad8c9-c1ba-4285-94fa-5932504d1e2c"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea/actions/apply_manifest","method":"POST"}},"included":{"organizations":[{"guid":"2b1ad8c9-c1ba-4285-94fa-5932504d1e2c","created_at":"2026-09-08T06:57:34Z","updated_at":"2026-09-08T06:57:34Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"07308e03-554e-4558-b765-2e6992ecbbe8"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/2b1ad8c9-c1ba-4285-94fa-5932504d1e2c"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/2b1ad8c9-c1ba-4285-94fa-5932504d1e2c/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/2b1ad8c9-c1ba-4285-94fa-5932504d1e2c/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/07308e03-554e-4558-b765-2e6992ecbbe8"}}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 26adf2ad-a5b1-46ac-42c5-13b8d61838a8::fe5602e4-4b03-42fd-be11-09a2b8547672
        status: 200 OK
        code: 200
        duration: 5.633042ms
[...]
    - id: 28
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/0e215a9e-6268-4cce-9f18-0a783957f35b
            X-Vcap-Request-Id:
                - b546ab4b-8e60-4539-543c-279c03426d42::6ba2cabf-4bf6-487c-b88b-8429f91e7132
        status: 202 Accepted
        code: 202
        duration: 11.477ms
    - id: 29
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/0e215a9e-6268-4cce-9f18-0a783957f35b
        method: GET
      response:
        body: '{"guid":"0e215a9e-6268-4cce-9f18-0a783957f35b","created_at":"2026-09-08T11:46:35Z","updated_at":"2026-09-08T11:46:35Z","operation":"app.delete","state":"PROCESSING","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/0e215a9e-6268-4cce-9f18-0a783957f35b"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - c94d9faa-e2ee-4188-5660-e8c3c7d518b9::29967d7b-3adf-4094-b82b-0d9a3577ea28
        status: 200 OK
        code: 200
        duration: 8.999083ms
    - id: 30
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/0e215a9e-6268-4cce-9f18-0a783957f35b
        method: GET
      response:
        body: '{"guid":"0e215a9e-6268-4cce-9f18-0a783957f35b","created_at":"2026-09-08T11:46:35Z","updated_at":"2026-09-08T11:46:35Z","operation":"app.delete","state":"PROCESSING","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/0e215a9e-6268-4cce-9f18-0a783957f35b"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/664263bb-f160-4bb5-a54b-fd64eb275307"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - b7b39679-2857-44ac-7400-c899accee0d5::bc737762-5e1f-4085-b2d4-d87ffd35159f
        status: 200 OK
        code: 200
        duration: 15.150125ms
[...]
