---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"key","relationships":{"service_instance":{"data":{"guid":"275d987e-7059-4dd8-ada1-73239b710982"}}},"name":"test-sk-managed","metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_credential_bindings
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/84395441-be6a-491f-b0ce-571868a739d1
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771575506"
            X-Vcap-Request-Id:
                - 18201e28-eb5d-4f63-7369-6260fed6351e::d49e9c02-76b6-46eb-bfd5-dc6c7899c975
        status: 202 Accepted
        code: 202
        duration: 939.175292ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/84395441-be6a-491f-b0ce-571868a739d1
        method: GET
      response:
        body: '{"guid":"84395441-be6a-491f-b0ce-571868a739d1","created_at":"2026-02-20T08:15:01Z","updated_at":"2026-02-20T08:15:02Z","operation":"service_keys.create","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/84395441-be6a-491f-b0ce-571868a739d1"},"service_credential_binding":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/726b8041-e321-4fd7-a477-36eb45dbb729"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771575506"
            X-Vcap-Request-Id:
                - 9a2c576a-651d-4edf-57d8-360db2ff020b::e3a0f9a8-a820-43bb-a61f-ea67ddf9cb81
        status: 200 OK
        code: 200
        duration: 342.70475ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?names=test-sk-managed&service_instance_guids=275d987e-7059-4dd8-ada1-73239b710982
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?names=test-sk-managed\u0026page=1\u0026per_page=50\u0026service_instance_guids=275d987e-7059-4dd8-ada1-73239b710982"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?names=test-sk-managed\u0026page=1\u0026per_page=50\u0026service_instance_guids=275d987e-7059-4dd8-ada1-73239b710982"},"next":null,"previous":null},"resources":[{"guid":"726b8041-e321-4fd7-a477-36eb45dbb729","created_at":"2026-02-20T08:15:01Z","updated_at":"2026-02-20T08:15:02Z","name":"test-sk-managed","type":"key","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2026-02-20T08:15:02Z","created_at":"2026-02-20T08:15:02Z"},"metadata":{"labels":{},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"275d987e-7059-4dd8-ada1-73239b710982"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/726b8041-e321-4fd7-a477-36eb45dbb729"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/726b8041-e321-4fd7-a477-36eb45dbb729/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/275d987e-7059-4dd8-ada1-73239b710982"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/726b8041-e321-4fd7-a477-36eb45dbb729/parameters"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771575505"
            X-Vcap-Request-Id:
                - 507a69d3-e7e9-46f6-4b41-a1d5d8f2cec4::247255d6-c845-456f-aac8-712b471bd404
        status: 200 OK
        code: 200
        duration: 410.4425ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/726b8041-e321-4fd7-a477-36eb45dbb729/details
        method: GET
      response:
        body: '{"credentials":{"tenantmode":"dedicated","token-type":["xsuaa"],"clientid":"sb-clone275d987e70594dd8ada173239b710982!b1608247|destination-xsappname!b9","credential-type":"binding-secret","xsappname":"clone275d987e70594dd8ada173239b710982!b1608247|destination-xsappname!b9","clientsecret":"726b8041-e321-4fd7-a477-36eb45dbb729$WFQ9GLjrY019N_wVELTAgJF3SYvEtkXE927bJLTEcNw=","uri":"https://destination-configuration.cfapps.eu12.hana.ondemand.com","url":"https://test-cred-8633u6tv.authentication.eu12.hana.ondemand.com","uaadomain":"authentication.eu12.hana.ondemand.com","instanceid":"275d987e-7059-4dd8-ada1-73239b710982","verificationkey":"-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwO6vd9Jp/r3dVzApobGD\nPKcY1etMPtmu/phTidACYG8gBp/ZGLQMYyqkpekZRqiIJ4xhko56/87Nui7RKuAm\nDzuxkRdmcJRajVktRhtnxwoCJ/R+RH9ZnGY4ukvQts/UFEQcwbsXnDnURxm6xtn+\nFPV8y81nuPi+NMwGiLNCioECFbVqS12VYVyID4aT+5xtehmKEYZR0P2uU5kY6N3S\n5ZI1IRf/UWLCyhgUhV5d2uhiTfc05RCCw1GF699WJOz1YbzZ2WpPhBAbFcJqr/3d\n12FxuLu7rcmDx1QNFTOY5+QMW8OX+TxSQYunti1fDw44ck2o8BguST3McgYk7W6N\nIQIDAQAB\n-----END PUBLIC KEY-----","identityzone":"test-cred-8633u6tv","tenantid":"ffbf1ae9-d9a6-4c65-a2f1-4b39b8896ccc"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771575506"
            X-Vcap-Request-Id:
                - 141a59be-1397-4667-43f6-e2b5aa87314f::e5735fb6-9ed9-4327-ab30-89cc0b3ffa6d
        status: 200 OK
        code: 200
        duration: 407.877167ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/726b8041-e321-4fd7-a477-36eb45dbb729
        method: GET
      response:
        body: '{"guid":"726b8041-e321-4fd7-a477-36eb45dbb729","created_at":"2026-02-20T08:15:01Z","updated_at":"2026-02-20T08:15:02Z","name":"test-sk-managed","type":"key","last_operation":{[...]
[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/89c82639-ae78-4165-998d-849cda9e513b
        method: GET
      response:
        body: '{"guid":"89c82639-ae78-4165-998d-849cda9e513b","created_at":"2026-02-20T08:15:07Z","updated_at":"2026-02-20T08:15:08Z","operation":"service_keys.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/89c82639-ae78-4165-998d-849cda9e513b"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771575506"
            X-Vcap-Request-Id:
                - fec2e001-d95a-4e9d-604a-b18db902630d::73e9dcb8-6d6c-4bd1-a7a6-82b1e3b69336
        status: 200 OK
        code: 200
        duration: 308.440542ms
