---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"relationships":{"space":{"data":{"guid":"795a961c-6360-479a-9666-fff9cb906aad"}},"domain":{"data":{"guid":"795a961c-6360-479a-9666-fff9cb906aad"}}},"port":null,"metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/routes
        method: POST
      response:
        body: '{"errors":[{"detail":"Invalid domain. Ensure that the domain exists and you have access to it.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 9c8cf005-4b5d-4e28-7867-de6f67f20006::b67c87b2-5ec4-42a5-818f-ed8b5b642150
        status: 422 Unprocessable Entity
        code: 422
        duration: 182.95565ms
