---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - 726fd3e9-1245-4802-6b4c-9de4e9385599::fe66d645-2359-43dc-858a-ce2f510b7f61
        status: 200 OK
        code: 200
        duration: 220.609167ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - 4515669b-4aeb-4464-64ce-343800ce383d::8dad176c-4d75-4c1a-aedb-56bdc174f5ae
        status: 200 OK
        code: 200
        duration: 265.960584ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - cc492acd-cb10-4bd2-59eb-2928003bf108::50184912-d6fa-45ee-b543-7ba777174604
        status: 200 OK
        code: 200
        duration: 257.156333ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  processes:
                    - type: web
                      disk_quota: 1024M
                      health-check-type: http
                      health-check-http-endpoint: /get
                      instances: 1
                      memory: 256M
                      readiness-health-check-type: http
                      readiness-health-check-http-endpoint: /get
                  metadata:
                    labels: {}
                    annotations: {}
                  instances: 1
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/9b9d4614-20b4-45ff-89e1-9eb24e86d252
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227987"
            X-Vcap-Request-Id:
                - 6bac8b16-caa8-4094-45bb-acfd4a664260::9d7fd3de-1fe3-4154-8b19-673b27ed0729
        status: 202 Accepted
        code: 202
        duration: 275.031333ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/9b9d4614-20b4-45ff-89e1-9eb24e86d252
        method: GET
      response:
        body: '{"guid":"9b9d4614-20b4-45ff-89e1-9eb24e86d252","created_at":"2025-04-21T09:26:37Z","updated_at":"2025-04-21T09:26:38Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/9b9d4614-20b4-45ff-89e1-9eb24e86d252"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - 761320b8-7249-4eba-4e5a-2426afe3405a::f8072aac-48be-4b3f-aafc-a54dce7dd2e9
        status: 200 OK
        code: 200
        duration: 197.79025ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"0eb539be-feff-46d1-baf6-d7e9245c5b58","created_at":"2025-04-21T09:26:37Z","updated_at":"2025-04-21T09:26:37Z","name":"http-bin","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"current_droplet":{"data":{"guid":null}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - e5a1dd70-46bb-4ef9-4b8c-301c944bf24b::1a5e7f15-1f05-4687-801d-8d5e797c0e16
        status: 200 OK
        code: 200
        duration: 272.503625ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"0eb539be-feff-46d1-baf6-d7e9245c5b58"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"5774abe0-8ad5-4c56-8453-b47883d75946","created_at":"2025-04-21T09:26:39Z","updated_at":"2025-04-21T09:26:39Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"0eb539be-feff-46d1-baf6-d7e9245c5b58"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/5774abe0-8ad5-4c56-8453-b47883d75946"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - b2c179db-0f17-41e6-7559-73d79e287c77::7fb7e811-ff23-4ed1-b589-461db5cad544
        status: 201 Created
        code: 201
        duration: 212.137458ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"5774abe0-8ad5-4c56-8453-b47883d75946"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"8018bd65-804e-44f5-84e1-19fb5cb702e1","created_at":"2025-04-21T09:26:39Z","updated_at":"2025-04-21T09:26:39Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"5774abe0-8ad5-4c56-8453-b47883d75946"},"droplet":null,"created_by":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2","name":"debaditya.ray@sap.com","email":"debaditya.ray@sap.com"},"relationships":{"app":{"data":{"guid":"0eb539be-feff-46d1-baf6-d7e9245c5b58"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/8018bd65-804e-44f5-84e1-19fb5cb702e1"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - 14cba098-10b0-4246-7975-cfd22a738951::e795d9aa-bfe9-4f45-92d0-6ca1517704b6
        status: 201 Created
        code: 201
        duration: 291.964292ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/8018bd65-804e-44f5-84e1-19fb5cb702e1
        method: GET
      response:
        body: '{"guid":"8018bd65-804e-44f5-84e1-19fb5cb702e1","created_at":"2025-04-21T09:26:39Z","updated_at":"2025-04-21T09:26:39Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"stag[...]
[...]
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/5774abe0-8ad5-4c56-8453-b47883d75946/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/5774abe0-8ad5-4c56-8453-b47883d75946/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/5774abe0-8ad5-4c56-8453-b47883d75946/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"97f993c8-9b29-45b6-a903-0d105889b9fc","created_at":"2025-04-21T09:26:42Z","updated_at":"2025-04-21T09:26:42Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"0eb539be-feff-46d1-baf6-d7e9245c5b58"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/97f993c8-9b29-45b6-a903-0d105889b9fc"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/5774abe0-8ad5-4c56-8453-b47883d75946"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - 4b203015-1b3e-4ba9-50c3-0225c06d25f6::93c88fec-029d-4f68-bcdd-7713d84f53b0
        status: 200 OK
        code: 200
        duration: 208.314542ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"97f993c8-9b29-45b6-a903-0d105889b9fc"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"97f993c8-9b29-45b6-a903-0d105889b9fc"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - 85e5ad4d-49f6-43da-45ea-e47edca9213f::b14004a7-8693-4ffa-a0d4-4ea27e67c1f2
        status: 200 OK
        code: 200
        duration: 218.35375ms
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/actions/start
        method: POST
      response:
        body: '{"guid":"0eb539be-feff-46d1-baf6-d7e9245c5b58","created_at":"2025-04-21T09:26:37Z","updated_at":"2025-04-21T09:26:43Z","name":"http-bin","state":"STARTED","lifecycle":{"type":"docker[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: |
            {"var":{}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/environment_variables
        method: PATCH
      response:
        body: '{"var":{},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/environment_variables"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - 98bfa7f3-8cfc-455c-73d2-819d600132a1::5ff39fa4-cae1-4c80-9713-b4e2028f57ce
        status: 200 OK
        code: 200
        duration: 204.915334ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - ab5e559b-c0a0-4a22-4567-8b04b483f866::a7122bfc-fafe-4aa0-b2a1-49d3d5b9e82f
        status: 200 OK
        code: 200
        duration: 206.17ms
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - cc461a4b-7c4c-4907-4495-dd70a0b7acee::2074ffc7-630f-4a7a-993c-ab309b14ea65
        status: 200 OK
        code: 200
        duration: 214.736792ms
    - id: 17
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58
        method: GET
      response:
        body: '{"guid":"0eb539be-feff-46d1-baf6-d7e9245c5b58","created_at":"2025-04-21T09:26:37Z","updated_at":"2025-04-21T09:26:44Z","name":"http-bin","state":"STARTED","lifecycle":{"type":"docker","data":{}},"r[...]
    - id: 18
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/0eb539be-feff-46d1-baf6-d7e9245c5b58/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - ade8006b-bd26-4c95-4ada-855c98f00126::5988bd56-3abf-438a-a8b0-a5aae8271550
        status: 200 OK
        code: 200
        duration: 303.489375ms
[...]
    - id: 20
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143?include=organization
        method: GET
      response:
        body: '{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}},"included":{"organizations":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - 48b1d581-b523-43ce-61f8-3710441836cb::a1f2f8ae-50d8-4545-8802-2a1e7556623e
        status: 200 OK
        code: 200
        duration: 204.102208ms
[...]
    - id: 22
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/f41d5271-d4a5-4666-a047-bfac7eabccce
        method: GET
      response:
        body: '{"guid":"f41d5271-d4a5-4666-a047-bfac7eabccce","created_at":"2025-04-21T09:26:46Z","updated_at":"2025-04-21T09:26:46Z","operation":"app.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/f41d5271-d4a5-4666-a047-bfac7eabccce"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - f8fec88e-1912-4a54-60ac-36deae0476e1::ea6badfb-7c07-4285-9f3c-83e7f8c98034
        status: 200 OK
        code: 200
        duration: 189.8325ms
