---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"app","relationships":{"app":{"data":{"guid":"f3d8f5c5-1bcb-489e-87a7-3011d042e4d0"}},"service_instance":{"data":{"guid":"5e2976bb-332e-41e1-8be3-53baafea9296"}}},"name":"test-ab-user-provided","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_credential_bindings
        method: POST
      response:
        body: '{"guid":"be39b0fa-ffc4-476a-8b29-cb26c90e130b","created_at":"2026-02-24T06:18:39Z","updated_at":"2026-02-24T06:18:39Z","name":"test-ab-user-provided","type":"app","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2026-02-24T06:18:39Z","created_at":"2026-02-24T06:18:39Z"},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"5e2976bb-332e-41e1-8be3-53baafea9296"}},"app":{"data":{"guid":"f3d8f5c5-1bcb-489e-87a7-3011d042e4d0"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/be39b0fa-ffc4-476a-8b29-cb26c90e130b"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/be39b0fa-ffc4-476a-8b29-cb26c90e130b/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/5e2976bb-332e-41e1-8be3-53baafea9296"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/f3d8f5c5-1bcb-489e-87a7-3011d042e4d0"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771914932"
            X-Vcap-Request-Id:
                - 5797ae11-3af2-4f4d-54eb-0978f1b0b757::3174167b-4ad6-4372-8a0c-bda4dcef4f3e
        status: 201 Created
        code: 201
        duration: 2.465998293s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/be39b0fa-ffc4-476a-8b29-cb26c90e130b/details
        method: GET
      response:
        body: '{"credentials":{"hi":"wot"},"syslog_drain_url":"https://google.com"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771914931"
            X-Vcap-Request-Id:
                - 1143790e-34b0-4b21-50f2-f6d3af6945cd::eea07ef8-b206-4a11-bb8a-0151f652a016
        status: 200 OK
        code: 200
        duration: 344.507167ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/be39b0fa-ffc4-476a-8b29-cb26c90e130b
        method: GET
      response:
        body: '{"guid":"be39b0fa-ffc4-476a-8b29-cb26c90e130b","created_at":"2026-02-24T06:18:39Z","updated_at":"2026-02-24T06:18:39Z","name":"test-ab-user-provided","type":"app","last_operat[...]
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/be39b0fa-ffc4-476a-8b29-cb26c90e130b/details
        method: GET
      response:
        body: '{"credentials":{"hi":"wot"},"syslog_drain_url":"https://google.com"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771914931"
            X-Vcap-Request-Id:
                - ead098b2-0fa3-4f76-49a5-dc62e9fba347::0ac77bba-68af-4184-a960-4865a03cf525
        status: 200 OK
        code: 200
        duration: 263.454333ms
[...]
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/be39b0fa-ffc4-476a-8b29-cb26c90e130b
        method: DELETE
      response:
        body: ""
        headers:
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771914931"
            X-Vcap-Request-Id:
                - e87be13f-b084-40ed-615e-5efa1fb19637::1c745db1-9022-4c1b-8e52-991cf6f2dacc
        status: 204 No Content
        code: 204
        duration: 684.249209ms
