---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"username":"tf-test@example.com","origin":"sap.ids","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/users
        method: POST
      response:
        body: '{"guid":"8751275b-8f67-44ec-aab9-9ac47f54d29c","created_at":"2025-03-20T10:24:22Z","updated_at":"2025-03-20T10:24:22Z","username":"tf-test@example.com","presentation_name":"tf-test@example.com","origin":"sap.ids","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/8751275b-8f67-44ec-aab9-9ac47f54d29c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d236a5eb-1412-450a-6f9a-7760ad6bbd3f::0fadaef1-fd3b-4e65-9a3b-ec7cf63ee1e8
        status: 201 Created
        code: 201
        duration: 542.275375ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/8751275b-8f67-44ec-aab9-9ac47f54d29c
        method: GET
      response:
        body: '{"guid":"8751275b-8f67-44ec-aab9-9ac47f54d29c","created_at":"2025-03-20T10:24:22Z","updated_at":"2025-03-20T10:24:22Z","username":"tf-test@example.com","presentation_name":"tf-test@example.com","origin":"sap.ids","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/8751275b-8f67-44ec-aab9-9ac47f54d29c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 0b413cbd-a0e7-4fb7-7bd7-61ad0fd01999::6399eb2f-af98-4c08-b983-063159ddd3c1
        status: 200 OK
        code: 200
        duration: 183.662833ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/8751275b-8f67-44ec-aab9-9ac47f54d29c
        method: GET
      response:
        body: '{"guid":"8751275b-8f67-44ec-aab9-9ac47f54d29c","created_at":"2025-03-20T10:24:22Z","updated_at":"2025-03-20T10:24:22Z","username":"tf-test@example.com","presentation_name":"tf-test@example.com","origin":"sap.ids","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/8751275b-8f67-44ec-aab9-9ac47f54d29c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e7cf6de7-17a9-4e29-5c5d-656c59084fe3::01400661-fdab-4535-8b31-95a2b282c120
        status: 200 OK
        code: 200
        duration: 186.420584ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/8751275b-8f67-44ec-aab9-9ac47f54d29c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/5e95b944-0c7c-4177-af2c-aed9442192e8
            X-Vcap-Request-Id:
                - 0e1bb34b-9a7d-480f-7666-329d33a303d6::67e314ae-7d89-4b2e-9537-e2b6ae5982e8
        status: 202 Accepted
        code: 202
        duration: 189.371791ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/5e95b944-0c7c-4177-af2c-aed9442192e8
        method: GET
      response:
        body: '{"guid":"5e95b944-0c7c-4177-af2c-aed9442192e8","created_at":"2025-03-20T10:24:23Z","updated_at":"2025-03-20T10:24:23Z","operation":"user.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/5e95b944-0c7c-4177-af2c-aed9442192e8"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d9321772-e64d-4e2d-6a70-479abc4efb79::6054b09c-f94a-4da8-b0e3-885ceb7a5be2
        status: 200 OK
        code: 200
        duration: 164.768042ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"username":"tf-test-updated@example.com","origin":"sap.ids","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/users
        method: POST
      response:
        body: '{"guid":"9f5cc3a4-6437-4759-a265-070f5c0d05d2","created_at":"2025-03-20T10:24:25Z","updated_at":"2025-03-20T10:24:25Z","username":"tf-test-updated@example.com","presentation_name":"tf-test-updated@example.com","origin":"sap.ids","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/9f5cc3a4-6437-4759-a265-070f5c0d05d2"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - de07aa08-bdc1-4d02-729e-d92b0f3e990f::0137e4c7-ae97-4028-8475-c8eca11e5c22
        status: 201 Created
        code: 201
        duration: 230.218875ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/9f5cc3a4-6437-4759-a265-070f5c0d05d2
        method: GET
      response:
        body: '{"guid":"9f5cc3a4-6437-4759-a265-070f5c0d05d2","created_at":"2025-03-20T10:24:25Z","updated_at":"2025-03-20T10:24:25Z","username":"tf-test-updated@example.com","presentation_name":"tf-test-updated@example.com","origin":"sap.ids","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/9f5cc3a4-6437-4759-a265-070f5c0d05d2"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f4066f61-63fa-4997-7369-5bf86c0cbd97::76b73cac-cd0b-4b5a-8c07-2d5913ca1420
        status: 200 OK
        code: 200
        duration: 186.689417ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: |
            {"guid":"1234567898765432","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/users
        method: POST
      response:
        body: '{"guid":"1234567898765432","created_at":"2025-03-20T10:24:29Z","updated_at":"2025-03-20T10:24:29Z","username":null,"presentation_name":"1234567898765432","origin":null,"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/1234567898765432"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - beda5833-8cbc-4c47-7909-d1935e3269dd::c08e1810-5e43-4c54-b8ab-0652bc77edfd
        status: 201 Created
        code: 201
        duration: 196.754333ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/1234567898765432
        method: GET
      response:
        body: '{"guid":"1234567898765432","created_at":"2025-03-20T10:24:29Z","updated_at":"2025-03-20T10:24:29Z","username":null,"presentation_name":"1234567898765432","origin":null,"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/1234567898765432"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a358c42e-b8ab-4c2c-5735-60b7205b19a0::34db2e75-365a-46a0-8942-d3214dc13e70
        status: 200 OK
        code: 200
        duration: 196.204459ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/1234567898765432
        method: GET
      response:
        body: '{"guid":"1234567898765432","created_at":"2025-03-20T10:24:29Z","updated_at":"2025-03-20T10:24:29Z","username":null,"presentation_name":"1234567898765432","origin":null,"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/1234567898765432"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a215e650-dc45-4e44-7c5a-693eb1c89ee0::c9d03eab-913b-4ed8-8b4a-5a037d021473
        status: 200 OK
        code: 200
        duration: 182.603625ms
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/1234567898765432
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/60d5f384-f0e5-4579-9bf7-d8426b26101c
            X-Vcap-Request-Id:
                - f98ae099-6576-4bf4-6286-7baccc6598f9::282359d8-534e-4376-a5d6-27f31cfd3375
        status: 202 Accepted
        code: 202
        duration: 190.900125ms
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/60d5f384-f0e5-4579-9bf7-d8426b26101c
        method: GET
      response:
        body: '{"guid":"60d5f384-f0e5-4579-9bf7-d8426b26101c","created_at":"2025-03-20T10:24:30Z","updated_at":"2025-03-20T10:24:30Z","operation":"user.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/60d5f384-f0e5-4579-9bf7-d8426b26101c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - c1dcd351-2487-4519-6910-485840198a4c::570695d5-9c26-4e27-a0e8-9b8f42373172
        status: 200 OK
        code: 200
        duration: 165.363583ms
