---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"guid":"728d09d6-652e-4363-9d07-5f0079b2e5e9","created_at":"2026-01-21T07:55:25Z","updated_at":"2026-01-21T07:55:25Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/728d09d6-652e-4363-9d07-5f0079b2e5e9"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/728d09d6-652e-4363-9d07-5f0079b2e5e9/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/728d09d6-652e-4363-9d07-5f0079b2e5e9/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983507"
            X-Vcap-Request-Id:
                - 27b58107-e4b7-42ad-6bbd-dafd8d6818c4::9c54dfb9-aa91-4d98-ab30-b75ff1772f6c
        status: 201 Created
        code: 201
        duration: 350.237416ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":true}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/728d09d6-652e-4363-9d07-5f0079b2e5e9/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - 999fa66a-a0e6-4a31-7391-121ccaab0b23::4d87144c-31d1-4384-89c9-7aa171253316
        status: 200 OK
        code: 200
        duration: 303.139375ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/728d09d6-652e-4363-9d07-5f0079b2e5e9
        method: GET
      response:
        body: '{"guid":"728d09d6-652e-4363-9d07-5f0079b2e5e9","created_at":"2026-01-21T07:55:25Z","updated_at":"2026-01-21T07:55:25Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da43[...]
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/728d09d6-652e-4363-9d07-5f0079b2e5e9/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/728d09d6-652e-4363-9d07-5f0079b2e5e9/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983507"
            X-Vcap-Request-Id:
                - fca427d1-a0ac-4fb7-7cb0-2fec22fc8744::8b6fecac-ffac-4c34-a98c-aebc6788e374
        status: 200 OK
        code: 200
        duration: 388.445709ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/728d09d6-652e-4363-9d07-5f0079b2e5e9
        method: GET
      response:
        body: '{"guid":"728d09d6-652e-4363-9d07-5f0079b2e5e9","created_at":"2026-01-21T07:55:25Z","updated_at":"2026-01-21T07:55:25Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/728d09d6-652e-4363-9d07-5f0079b2e5e9"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/728d09d6-652e-4363-9d07-5f0079b2e5e9/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/728d09d6-652e-4363-9d07-5f0079b2e5e9/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - d4892e00-ee2d-4c52-6328-d6ab6b68eceb::a2b82e25-22db-4b64-b390-e8ab477b7932
        status: 200 OK
        code: 200
        duration: 308.290917ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/728d09d6-652e-4363-9d07-5f0079b2e5e9/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - cd16c5f0-316b-4570-752c-20b256367735::0fe827c9-c659-42d3-8f5c-8fbf734e3da4
        status: 200 OK
        code: 200
        duration: 318.798417ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/728d09d6-652e-4363-9d07-5f0079b2e5e9/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/728d09d6-652e-4363-9d07-5f0079b2e5e9/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983505"
            X-Vcap-Request-Id:
                - b2459c4e-8d6f-484c-72b1-c5b3c13faa26::74d2b80a-4338-4d47-b421-cfe960c54548
        status: 200 OK
        code: 200
        duration: 304.432292ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/728d09d6-652e-4363-9d07-5f0079b2e5e9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/97fcaf83-1dd7-4824-9911-2bc25a7d406f
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - ab99cede-d0cc-431c-649e-2f1841adfeab::d0123079-0a64-4e55-bfc9-e8da26071958
        status: 202 Accepted
        code: 202
        duration: 318.973417ms
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/97fcaf83-1dd7-4824-9911-2bc25a7d406f
        method: GET
      response:
        body: '{"guid":"97fcaf83-1dd7-4824-9911-2bc25a7d406f","created_at":"2026-01-21T07:55:29Z","updated_at":"2026-01-21T07:55:30Z","operation":"space.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/97fcaf83-1dd7-4824-9911-2bc25a7d406f"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - 2b9932a3-1c8e-405b-47c0-d6e9b2d779c4::e760667c-efc2-46f4-8cf0-3f5deaacfbf2
        status: 200 OK
        code: 200
        duration: 332.037833ms
