---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - kjbY6DYhTM7LfBBB7Bs-8hF-MJc65s1CjeqDlhpPTiChhBmNq1S7jAJDLffmSiRz3DYKwClJHa4C0fVvuY-183x_fUTAsn28
            X-Vcap-Request-Id:
                - b0f326a7-9313-4588-5d37-45e3b90b68f4
        status: 204 No Content
        code: 204
        duration: 188.119375ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--b9400b21bb99fe2928e7aab84917d5e276ccd18c531e1ab1a7886bb1cc91\r\nContent-Disposition: form-data; name=\"file\"; filename=\"provider-config-local.txt\"\r\nContent-Type: application/octet-stream\r\n\r\nprovider_installation {\n  dev_overrides {\n    \"cloudfoundry/cloudfoundry\" = \"/go/bin\"\n  }\n\n  direct {}\n}\r\n--b9400b21bb99fe2928e7aab84917d5e276ccd18c531e1ab1a7886bb1cc91--\r\n"
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - multipart/form-data; boundary=b9400b21bb99fe2928e7aab84917d5e276ccd18c531e1ab1a7886bb1cc91
            X-Csrf-Token:
                - kjbY6DYhTM7LfBBB7Bs-8hF-MJc65s1CjeqDlhpPTiChhBmNq1S7jAJDLffmSiRz3DYKwClJHa4C0fVvuY-183x_fUTAsn28
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files
        method: POST
      response:
        body: '{"id":"1c0c0777-b5a7-4c25-aa86-a3de79b493fe","name":"provider-config-local.txt","size":104,"digest":"6E1EDD6C9ACB9FCC0FFB04606A638342","digestAlgorithm":"MD5","space":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - ca9a4d51-33d2-4311-6b10-b5930d69bc2c
        status: 201 Created
        code: 201
        duration: 375.067333ms
[...]
    - id: 10
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[{"processId":"62b19eb4-e540-11ef-b8d6-eeee0a97e99c","processType":"DEPLOY","startedAt":"2025-02-07T10:43:36.834Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}},{"processId":"669ff0ac-e540-11ef-9727-eeee0a9ed642","processType":"DEPLOY","startedAt":"2025-02-07T10:43:43.43Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 5a0d76ab-d8a0-4f31-57e1-13000f63b75d
        status: 200 OK
        code: 200
        duration: 194.317291ms
[...]
    - id: 12
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Csrf-Token:
                - lNSEkGDvGCe127ZOeRXr8lqyRLZg9Uz4xG0os1q6MNVH-tOFpOXlqVfbLUGY74R-STjfxG_QaY5Wk3jVoFRK0TyJUrMmy-Wx
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/62b19eb4-e540-11ef-b8d6-eeee0a97e99c?actionId=abort
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/62b19eb4-e540-11ef-b8d6-eeee0a97e99c?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - M1PTqmnWdFwAlNnyuzgIJZEFraaLdSEioZu2jKFHaxr5QI2lA2Kyk17iQTotoOvCixU8E6RngJ69ExUPxaLU7sd0CXyYcbuR
            X-Vcap-Request-Id:
                - 4e48aad5-dfbd-458a-4e0a-b1b3ea1cbdf7
        status: 202 Accepted
        code: 202
        duration: 219.586916ms
    - id: 13
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/62b19eb4-e540-11ef-b8d6-eeee0a97e99c?embed=messages
        method: GET
      response:
        body: '{"processId":"62b19eb4-e540-11ef-b8d6-eeee0a97e99c","processType":"DEPLOY","startedAt":"2025-02-07T10:43:36.834Z[UTC]","endedAt":"2025-02-07T11:52:24.067Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"ABORTED","messages":[{"id":232892248,"text":"Operation ID: 62b19eb4-e540-11ef-b8d6-eeee0a97e99c","timestamp":"2025-02-07T10:43:36.826Z[UTC]","type":"INFO"},{"id":232892249,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2025-02-07T10:43:36.91Z[UTC]","type":"INFO"},{"id":232892250,"text":"Error processing MTA extension descriptors: org.cloudfoundry.multiapps.controller.persistence.services.FileStorageException: org.cloudfoundry.multiapps.common.ParsingException: Error while parsing YAML string: \nprovider_installation {\n  dev_overrides {\n    \"cloudfoundry/cloudfoundry\" = \"/go/bin\"\n  }\n\n  direct {}\n}\nclass java.lang.String cannot be cast to class java.util.Map (java.lang.String and java.util.Map are in module java.base of loader ''bootstrap'') ","timestamp":"2025-02-07T10:43:37.162Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 25680fd8-c2ae-43ba-5f2f-e56ebe0c6837
        status: 200 OK
        code: 200
        duration: 282.966ms
[...]
    - id: 15
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","parameters":{"appArchiveId":"7b859123-32ef-4fa5-b6b9-ce7d89e1f6d7","mtaExtDescriptorId":"12812e8b-b41d-4a89-bd75-7941fcc8ca1e","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - sVmd5xMvbPguPqvMwj8vWss2GgG2UrTZBS1-MTU9taqQcUGYhT2o1iVJX50DWMit8RIbO_4EN2OAYtH0PBlKV1QKgsjzFXis
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/00600ce0-e54a-11ef-aa27-eeee0a804b5b?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - F83PqcMpEEXnU2DtnDyBO7JqUKBHzJjeuGq-uPHFWcN0G49kI6n6mPVPIyDKNQOMrxG1WodYfcJx_P3zgV6K3pDybqEXf7ZQ
            X-Vcap-Request-Id:
                - 06d60880-fbbb-4b62-4b95-06ec3d22888b
        status: 202 Accepted
        code: 202
        duration: 324.453709ms
    - id: 16
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/00600ce0-e54a-11ef-aa27-eeee0a804b5b?embed=messages
        method: GET
      response:
        body: '{"processId":"00600ce0-e54a-11ef-aa27-eeee0a804b5b","processType":"DEPLOY","startedAt":"2025-02-07T11:52:26.849Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","errorType":"CONTENT","messages":[{"id":232904354,"text":"Operation ID: 00600ce0-e54a-11ef-aa27-eeee0a804b5b","timestamp":"2025-02-07T11:52:26.841Z[UTC]","type":"INFO"},{"id":232904355,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2025-02-07T11:52:26.916Z[UTC]","type":"INFO"},{"id":232904356,"text":"Error processing MTA extension descriptors: org.cloudfoundry.multiapps.controller.persistence.services.FileStorageException: org.cloudfoundry.multiapps.common.ParsingException: Error while parsing YAML string: \nprovider_installation {\n  dev_overrides {\n    \"cloudfoundry/cloudfoundry\" = \"/go/bin\"\n  }\n\n  direct {}\n}\nclass java.lang.String cannot be cast to class java.util.Map (java.lang.String and java.util.Map are in module java.base of loader ''bootstrap'') ","timestamp":"2025-02-07T11:52:27.156Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - b2298f1e-e43e-4745-4b9e-6dc16d3eaeae
        status: 200 OK
        code: 200
        duration: 320.522959ms
