---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_plans?names=application&service_offering_names=xsuaa
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_plans?names=application\u0026page=1\u0026per_page=50\u0026service_offering_names=xsuaa"},"last":{"href":"https://api.x.x.x.x.com/v3/service_plans?names=application\u0026page=1\u0026per_page=50\u0026service_offering_names=xsuaa"},"next":null,"previous":null},"resources":[{"guid":"432bd9db-20e2-4997-825f-e4a937705b87","created_at":"2016-10-27T07:56:51Z","updated_at":"2026-07-10T06:12:43Z","name":"application","visibility_type":"organization","available":true,"free":true,"costs":[],"description":"Application plan to be used for business applications","maintenance_info":{},"broker_catalog":{"id":"ThGdx5loQ6XhvcdY6dLlEXcTgQD7641pDKXJfzwYGLg=","metadata":{"supportsInstanceSharing":true,"supportedPlatforms":["cloudfoundry","sapbtp","kubernetes"],"supportedMinOSBVersion":"2.11","sibling_resolution":{"resolution_property":"siblingIds","name_paths":["scopes.#.granted-apps","scopes.#.grant-as-authority-to-apps","foreign-scope-references","authorities","role-collections.#.role-template-references"],"value_regexp":"\\$XSSERVICENAME\\((.*)\\)","enabled":true},"bullets":["Tenant isolation","Supports different OAuth flows (Client credentials, authorization code, SAML bearer assertion)","One OAuth client per service instance"],"supportedMaxOSBVersion":"2.14","sm_plan_id":"037e7df6-5843-4174-9cb4-69a1f9a4da7e"},"maximum_polling_duration":null,"features":{"bindable":true,"plan_updateable":false}},"schemas":{"service_instance":{"create":{"parameters":{}},"update":{"parameters":{}}},"service_binding":{"create":{"parameters":{}}}},"relationships":{"service_offering":{"data":{"guid":"c1876449-7493-43dc-a36b-0a8215fa46ad"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_plans/432bd9db-20e2-4997-825f-e4a937705b87"},"service_offering":{"href":"https://api.x.x.x.x.com/v3/service_offerings/c1876449-7493-43dc-a36b-0a8215fa46ad"},"visibility":{"href":"https://api.x.x.x.x.com/v3/service_plans/432bd9db-20e2-4997-825f-e4a937705b87/visibility"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1783665330"
            X-Vcap-Request-Id:
                - 0c23462d-ea55-4185-7269-ccaf2e9a5af2::ecbeeb28-90bc-46af-b427-0644256d158f
        status: 200 OK
        code: 200
        duration: 757.864167ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"managed","name":"test-si-managed-by-name","relationships":{"service_plan":{"data":{"guid":"432bd9db-20e2-4997-825f-e4a937705b87"}},"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/84503849-77e1-4890-a1e5-be7c7d3cc897
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1783665331"
            X-Vcap-Request-Id:
                - 5c250344-9998-4b71-7b3d-eb70236dbe81::bb55796a-33c9-4ada-b8fa-25a64d89997a
        status: 202 Accepted
        code: 202
        duration: 336.561375ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/84503849-77e1-4890-a1e5-be7c7d3cc897
        method: GET
      response:
        body: '{"guid":"84503849-77e1-4890-a1e5-be7c7d3cc897","created_at":"2026-07-10T06:31:57Z","updated_at":"2026-07-10T06:31:57Z","operation":"service_instance.create","state":"POLLING","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/84503849-77e1-4890-a1e5-be7c7d3cc897"},"service_instances":{"href":"https://api.x.x.x.x.com/v3/service_instances/7fe5f548-bfc4-45bc-8e23-aba0b3bb3142"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1783665332"
            X-Vcap-Request-Id:
                - 50b98267-c515-469f-5467-c85da25fff73::f4df2f28-b845-40b0-93ee-678562f810ae
        status: 200 OK
        code: 200
        duration: 276.376667ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/84503849-77e1-4890-a1e5-be7c7d3cc897
        method: GET
      response:
        body: '{"guid":"84503849-77e1-4890-a1e5-be7c7d3cc897","created_at":"2026-07-10T06:31:57Z","updated_at":"2026-07-10T06:31:57Z","operation":"service_instance.create","state":"POLLING","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/84503849-77e1-4890-a1e5-be7c7d3cc897"},"service_instances":{"href":"https://api.x.x.x.x.com/v3/service_instances/7fe5f548-bfc4-45bc-8e23-aba0b3bb3142"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1783665331"
            X-Vcap-Request-Id:
                - b39350e9-3d3d-46d1-5636-54660aa53087::c118f767-2b59-434c-bfb5-1ceff8b4087a
        status: 200 OK
        code: 200
        duration: 202.7925ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/84503849-77e1-4890-a1e5-be7c7d3cc897
        method: GET
      response:
        body: '{"guid":"84503849-77e1-4890-a1e5-be7c7d3cc897","created_at":"2026-07-10T06:31:57Z","updated_at":"2026-07-10T06:32:03Z","operation":"service_instance.create","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/84503849-77e1-4890-a1e5-be7c7d3cc897"},"service_instances":{"href":"https://api.x.x.x.x.com/v3/service_instances/7fe5f548-bfc4-45bc-8e23-aba0b3bb3142"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1783665331"
            X-Vcap-Request-Id:
                - d5c98567-05f1-4f04-492c-eddbae8566eb::70f75c02-1915-4ea9-91e1-874e0a1a1190
        status: 200 OK
        code: 200
        duration: 525.885791ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances?names=test-si-managed-by-name&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-managed-by-name\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-managed-by-name\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"7fe5f548-bfc4-45bc-8e23-aba0b3bb3142","created_at":"2026-07-10T06:31:57Z","updated_at":"2026-07-10T06:31:57Z","name":"test-si-managed-by-name","tags":[],"last_operation":{"type":"create","state":"succeeded","description":"","updated_at":"2026-07-10T06:32:03Z","created_at":"2026-07-10T06:32:03Z"},"type":"managed","maintenance_info":{},"upgrade_available":false,"dashboard_url":null,"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"service_plan":{"data":{"guid":"432bd9db-20e2-4997-825f-e4a937705b87"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_instances/7fe5f548-bfc4-45bc-8e23-aba0b3bb3142"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"service_credential_bindings":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?service_instance_guids=7fe5f548-bfc4-45bc-8e23-aba0b3bb3142"},"service_route_bindings":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?service_instance_guids=7fe5f548-bfc4-45bc-8e23-aba0b3bb3142"},"service_plan":{"href":"https://api.x.x.x.x.com/v3/service_plans/432bd9db-20e2-4997-825f-e4a937705b87"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_instances/7fe5f548-bfc4-45bc-8e23-aba0b3bb3142/parameters"},"shared_spaces":{"href":"https://api.x.x.x.x.com/v3/service_instances/7fe5f548-bfc4-45bc-8e23-aba0b3bb3142/relationships/shared_spaces"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1783665330"
            X-Vcap-Request-Id:
                - 27a9c5af-3cd2-439d-40ad-2320db1385f6::c2877528-c6f4-459b-bd2b-67016db28cd3
        status: 200 OK
        code: 200
        duration: 215.479708ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances/7fe5f548-bfc4-45bc-8e23-aba0b3bb3142
        method: GET
      response:
        body: '{"guid":"7fe5f548-bfc4-45bc-8e23-aba0b3bb3142","created_at":"2026-07-10T06:31:57Z","updated_at":"2026-07-10T06:31:57Z","name":"test-si-managed-by-name","tags":[],"last_operation":{"type[...]
[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_plans/432bd9db-20e2-4997-825f-e4a937705b87
        method: GET
      response:
        body: '{"guid":"432bd9db-20e2-4997-825f-e4a937705b87","created_at":"2016-10-27T07:56:51Z","updated_at":"2026-07-10T06:12:43Z","name":"application","visibility_type":"organization","available":true[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_offerings/c1876449-7493-43dc-a36b-0a8215fa46ad
        method: GET
      response:
        body: '{"guid":"c1876449-7493-43dc-a36b-0a8215fa46ad","created_at":"2016-07-25T09:18:30Z","updated_at":"2026-07-09T09:06:15Z","name":"xsuaa","description":"Manage application authorizations and trust to identity providers.","available":true,"tags":["xsuaa"],"requires":[],"shareable":false,"documentation_url":"https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/6373bb7a96114d619bfdfdc6f505d1b9.html","broker_catalog":{"id":"xsuaa","metadata":{"longDescription":"Configure trust to identity providers for authentication. Manage your authorization model consisting of roles, groups and role collections, and assigning them to users. Use RESTful APIs to automate and integrate with other systems.","documentationUrl":"https://help.sap.com/viewer/65de2977205c403bbc107264b8eccf4b/Cloud/en-US/6373bb7a96114d619bfdfdc6f505d1b9.html","createInstanceDocumentationUrl":"https://help.sap.com/docs/btp/sap-business-technology-platform/application-security-descriptor-configuration-syntax","sap":{"support_btp_brand":true},"serviceInventoryId":"SERVICE-92","displayName":"Authorization and Trust Management Service","imageUrl":"data:image/svg+xml;base64,PHN2ZyBpZD0iYXV0aG9yaXphdGlvbi1tYW5hZ2VtZW50IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NiA1NiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiM1YTdhOTQ7fS5jbHMtMntmaWxsOiMwMDkyZDE7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5hdXRob3JpemF0aW9uLW1hbmFnZW1lbnQ8L3RpdGxlPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTM1LjIyMSwxMy4xNDFsLjAzOS0zLjUxNmE0Ljk3OCw0Ljk3OCwwLDAsMSwuNDg4LTIuMTg3QTUuNzE0LDUuNzE0LDAsMCwxLDM3LjA3Niw1LjY2YTYuMzY1LDYuMzY1LDAsMCwxLDEuOTkyLTEuMjExQTYuNjY5LDYuNjY5LDAsMCwxL[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances/7fe5f548-bfc4-45bc-8e23-aba0b3bb3142
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/9391e0fb-8ecf-406a-aae1-f52cceccd294
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1783665331"
            X-Vcap-Request-Id:
                - ab8c772f-c7aa-48c0-4517-acb7979eaccf::98c474d9-e7dd-4419-9d22-942649ec3627
        status: 202 Accepted
        code: 202
        duration: 295.249709ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/9391e0fb-8ecf-406a-aae1-f52cceccd294
        method: GET
      response:
        body: '{"guid":"9391e0fb-8ecf-406a-aae1-f52cceccd294","created_at":"2026-07-10T06:32:05Z","updated_at":"2026-07-10T06:32:06Z","operation":"service_instance.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/9391e0fb-8ecf-406a-aae1-f52cceccd294"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1783665331"
            X-Vcap-Request-Id:
                - ea1f3e6a-0a53-412c-4bee-e1359c1a7160::3815b2c0-66c3-404b-b037-73432d8be1ee
        status: 200 OK
        code: 200
        duration: 205.257083ms
