---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=c5d6be88d586422a973a0c81cc97dd80-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - c5d6be88d586422a973a0c81cc97dd80-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"c5d6be88d586422a973a0c81cc97dd80-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"ccdd20f981294262bc80a97e2c263d56"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - eb1e2358-9814-4cbc-65a5-34aa0343d0de
        status: 200 OK
        code: 200
        duration: 1.841651583s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}},"apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"log_rate_limit_in_bytes_per_second":null,"total_instances":null,"per_app_tasks":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/space_quotas
        method: POST
      response:
        body: '{"guid":"b639fc51-f2a4-4a3c-88f0-cd0b67f76a6e","created_at":"2026-01-21T08:58:35Z","updated_at":"2026-01-21T08:58:35Z","name":"tf-unit-test","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/b639fc51-f2a4-4a3c-88f0-cd0b67f76a6e"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768987106"
            X-Vcap-Request-Id:
                - 1c2a864c-f92b-47b1-5588-19bf4975e7ad::897aee11-65eb-4dc7-832a-683b1b9ca02d
        status: 201 Created
        code: 201
        duration: 1.001564833s
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?guids=b639fc51-f2a4-4a3c-88f0-cd0b67f76a6e&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=b639fc51-f2a4-4a3c-88f0-cd0b67f76a6e\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=b639fc51-f2a4-4a3c-88f0-cd0b67f76a6e\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"b639fc51-f2a4-4a3c-88f0-cd0b67f76a6e","created_at":"2026-01-21T08:58:35Z","updated_at":"2026-01-21T08:58:35Z","name":"tf-unit-test","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/b639fc51-f2a4-4a3c-88f0-cd0b67f76a6e"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768987106"
            X-Vcap-Request-Id:
                - be88e062-2e68-4ddb-7462-dbdd6638eb4c::132cb65a-9f3b-472b-8ecb-342dc7ef0400
        status: 200 OK
        code: 200
        duration: 317.453792ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas/b639fc51-f2a4-4a3c-88f0-cd0b67f76a6e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/b4c020f9-306c-419a-a6fc-f95d458af4f0
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768987106"
            X-Vcap-Request-Id:
                - ab4871b5-a4a6-491e-65a8-2e439e0e4406::402587ff-d017-4b4a-a221-203b12bf582c
        status: 202 Accepted
        code: 202
        duration: 324.942291ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/b4c020f9-306c-419a-a6fc-f95d458af4f0
        method: GET
      response:
        body: '{"guid":"b4c020f9-306c-419a-a6fc-f95d458af4f0","created_at":"2026-01-21T08:58:39Z","updated_at":"2026-01-21T08:58:39Z","operation":"space_quota.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/b4c020f9-306c-419a-a6fc-f95d458af4f0"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768987106"
            X-Vcap-Request-Id:
                - 2cc4a45d-874b-434d-56dd-a7da3653cb9c::60e6b1ce-419a-4edf-9ea4-0c02cb79a0b9
        status: 200 OK
        code: 200
        duration: 331.791667ms
