---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":[{"guid":"3c6ee045-7791-4d65-a12b-f42ab1b283eb"},{"guid":"db29f4b8-d39e-4f5c-b24d-cb34cde27abf"}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations
        method: POST
      response:
        body: '{"data":[{"guid":"c8e454cc-7a24-4d71-b146-51d69538acfb"},{"guid":"3c6ee045-7791-4d65-a12b-f42ab1b283eb"},{"guid":"db29f4b8-d39e-4f5c-b24d-cb34cde27abf"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/organizations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e79100d1-65e8-49b5-6335-6664d716f787::edc48844-5f8f-4440-8b99-ad4c001edd85
        status: 200 OK
        code: 200
        duration: 570.177833ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"63ae51b9-9073-4409-81b0-3704b8de85dd"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/organizations/3c6ee045-7791-4d65-a12b-f42ab1b283eb/relationships/default_isolation_segment
        method: PATCH
      response:
        body: '{"data":{"guid":"63ae51b9-9073-4409-81b0-3704b8de85dd"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/3c6ee045-7791-4d65-a12b-f42ab1b283eb/relationships/default_isolation_segment"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 2d738703-723f-4adf-4dc0-c3b7fddabd73::fef602d6-5cb4-4bec-9963-5ac3dc674485
        status: 200 OK
        code: 200
        duration: 183.059334ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"63ae51b9-9073-4409-81b0-3704b8de85dd"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/organizations/db29f4b8-d39e-4f5c-b24d-cb34cde27abf/relationships/default_isolation_segment
        method: PATCH
      response:
        body: '{"data":{"guid":"63ae51b9-9073-4409-81b0-3704b8de85dd"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/db29f4b8-d39e-4f5c-b24d-cb34cde27abf/relationships/default_isolation_segment"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a7f04799-5002-41f1-51ee-48bf3ad71794::82523964-b9cc-4245-8c0b-6ceba54d80ea
        status: 200 OK
        code: 200
        duration: 199.630208ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations
        method: GET
      response:
        body: '{"data":[{"guid":"c8e454cc-7a24-4d71-b146-51d69538acfb"},{"guid":"3c6ee045-7791-4d65-a12b-f42ab1b283eb"},{"guid":"db29f4b8-d39e-4f5c-b24d-cb34cde27abf"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/organizations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f9f62979-fb69-4a3a-67f0-f12a95e907bf::a55bffa7-b6ee-42c8-84af-3070c6ce9d8f
        status: 200 OK
        code: 200
        duration: 180.628208ms
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations
        method: GET
      response:
        body: '{"data":[{"guid":"c8e454cc-7a24-4d71-b146-51d69538acfb"},{"guid":"3c6ee045-7791-4d65-a12b-f42ab1b283eb"},{"guid":"db29f4b8-d39e-4f5c-b24d-cb34cde27abf"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/organizations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f055c800-1951-4788-548d-070ffe75b212::f0a185a3-beba-4968-bc07-a29451767c44
        status: 200 OK
        code: 200
        duration: 182.601041ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/organizations/db29f4b8-d39e-4f5c-b24d-cb34cde27abf/relationships/default_isolation_segment
        method: PATCH
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/db29f4b8-d39e-4f5c-b24d-cb34cde27abf/relationships/default_isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - fe487800-ef4d-4485-5587-33b7e69840af::3cd271e0-a7c2-443a-a013-cfd98d3c2fb4
        status: 200 OK
        code: 200
        duration: 190.012792ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations
        method: GET
      response:
        body: '{"data":[{"guid":"c8e454cc-7a24-4d71-b146-51d69538acfb"},{"guid":"3c6ee045-7791-4d65-a12b-f42ab1b283eb"},{"guid":"db29f4b8-d39e-4f5c-b24d-cb34cde27abf"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/organizations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - dcb33ca7-2414-44bb-61dc-01a77fb9911d::00c48900-282b-480f-bd0e-b0ead92d68ae
        status: 200 OK
        code: 200
        duration: 172.048292ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations/3c6ee045-7791-4d65-a12b-f42ab1b283eb
        method: DELETE
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - 23438d24-3e8e-416b-41c1-18b760c485cd::1d952911-66d5-4cd0-9e16-6d1529f7dfe6
        status: 204 No Content
        code: 204
        duration: 205.633ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":[{"guid":"b2ab6999-260f-4db8-8e9e-098d7f55ecaf"}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations
        method: POST
      response:
        body: '{"data":[{"guid":"c8e454cc-7a24-4d71-b146-51d69538acfb"},{"guid":"db29f4b8-d39e-4f5c-b24d-cb34cde27abf"},{"guid":"b2ab6999-260f-4db8-8e9e-098d7f55ecaf"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/organizations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - b59eb361-fede-4948-7294-471a3aa442b1::50c06284-c7e8-4c16-b115-2560c3ce0156
        status: 200 OK
        code: 200
        duration: 188.521834ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations
        method: GET
      response:
        body: '{"data":[{"guid":"c8e454cc-7a24-4d71-b146-51d69538acfb"},{"guid":"db29f4b8-d39e-4f5c-b24d-cb34cde27abf"},{"guid":"b2ab6999-260f-4db8-8e9e-098d7f55ecaf"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations"},"related":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/organizations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - dd4658b9-24ab-44cb-541b-b97434b08d8d::9d3a178e-9661-46b9-9429-5ef1540d5ecb
        status: 200 OK
        code: 200
        duration: 178.015542ms
[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments/63ae51b9-9073-4409-81b0-3704b8de85dd/relationships/organizations/db29f4b8-d39e-4f5c-b24d-cb34cde27abf
        method: DELETE
      response:
        body: ""
        headers:
            X-Vcap-Request-Id:
                - ebfcb1d7-f9f9-466e-6ab1-e60c2ed90eef::d91e58c1-1cd7-4193-952f-a150dae9bcdd
        status: 204 No Content
        code: 204
        duration: 190.919458ms
