---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"test.internal","internal":true,"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/domains
        method: POST
      response:
        body: '{"guid":"d2c4e05e-60d4-4088-a288-06faff18d833","created_at":"2024-03-18T05:07:31Z","updated_at":"2024-03-18T05:07:31Z","name":"test.internal","internal":true,"router_group":null,"supported_protocols":["http"],"relationships":{"organization":{"data":null},"shared_organizations":{"data":[]}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/domains/d2c4e05e-60d4-4088-a288-06faff18d833"},"route_reservations":{"href":"https://api.x.x.x.x.com/v3/domains/d2c4e05e-60d4-4088-a288-06faff18d833/route_reservations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a143d0f7-e495-4a3f-67c9-52cb53798df6::7de2130e-ef9c-4c8b-ad60-1152652d9ebe
        status: 201 Created
        code: 201
        duration: 565.116596ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/domains/d2c4e05e-60d4-4088-a288-06faff18d833
        method: GET
      response:
        body: '{"guid":"d2c4e05e-60d4-4088-a288-06faff18d833","created_at":"2024-03-18T05:07:31Z","updated_at":"2024-03-18T05:07:31Z","name":"test.internal","internal":true,"router_group":null,"supported_protocols":["http"],"relationships":{"organization":{"data":null},"shared_organizations":{"data":[]}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/domains/d2c4e05e-60d4-4088-a288-06faff18d833"},"route_reservations":{"href":"https://api.x.x.x.x.com/v3/domains/d2c4e05e-60d4-4088-a288-06faff18d833/route_reservations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - bbd9ba88-f362-4b85-58f0-2dd967d62183::dcd8344d-f3ac-4548-8705-87adcd0212f7
        status: 200 OK
        code: 200
        duration: 182.943609ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/domains/d2c4e05e-60d4-4088-a288-06faff18d833
        method: GET
      response:
        body: '{"guid":"d2c4e05e-60d4-4088-a288-06faff18d833","created_at":"2024-03-18T05:07:31Z","updated_at":"2024-03-18T05:07:31Z","name":"test.internal","internal":true,"router_group":null,"supported_protocols":["http"],"relationships":{"organization":{"data":null},"shared_organizations":{"data":[]}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/domains/d2c4e05e-60d4-4088-a288-06faff18d833"},"route_reservations":{"href":"https://api.x.x.x.x.com/v3/domains/d2c4e05e-60d4-4088-a288-06faff18d833/route_reservations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - c3717d6c-0203-449b-41b3-7cca1b2f70fc::0a5e6601-4937-4b37-a484-66936cdcc9b1
        status: 200 OK
        code: 200
        duration: 183.726489ms
[...]
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/domains/d2c4e05e-60d4-4088-a288-06faff18d833
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/f16b146f-d0c2-44c3-b8be-636452f525d8
            X-Vcap-Request-Id:
                - a31b7b8d-d819-4bab-474d-a4c5610fe96a::ea32f4cf-bd03-4408-99a0-1784e9466086
        status: 202 Accepted
        code: 202
        duration: 203.254334ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/f16b146f-d0c2-44c3-b8be-636452f525d8
        method: GET
      response:
        body: '{"guid":"f16b146f-d0c2-44c3-b8be-636452f525d8","created_at":"2024-03-18T05:07:34Z","updated_at":"2024-03-18T05:07:34Z","operation":"domain.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/f16b146f-d0c2-44c3-b8be-636452f525d8"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 34541d93-68ed-49c4-64d1-9004b18e4846::e7acb870-a553-4e95-a4df-a9bb23b98d7b
        status: 200 OK
        code: 200
        duration: 173.594198ms
