---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"relationships":{"space":{"data":{"guid":"795a961c-6360-479a-9666-fff9cb906aad"}},"domain":{"data":{"guid":"440e24e5-ee11-41d9-a996-2ed0a1e2deea"}}},"host":"testing123","path":"/cart","port":null,"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/routes
        method: POST
      response:
        body: '{"guid":"298d344f-5460-4495-80fd-aeb02adcf55b","created_at":"2024-03-12T05:02:11Z","updated_at":"2024-03-12T05:02:11Z","protocol":"http","host":"testing123","path":"/cart","port":null,"url":"testing123.cert.cfapps.stagingazure.hanavlab.ondemand.com/cart","destinations":[],"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"relationships":{"space":{"data":{"guid":"795a961c-6360-479a-9666-fff9cb906aad"}},"domain":{"data":{"guid":"440e24e5-ee11-41d9-a996-2ed0a1e2deea"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/routes/298d344f-5460-4495-80fd-aeb02adcf55b"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/795a961c-6360-479a-9666-fff9cb906aad"},"destinations":{"href":"https://api.x.x.x.x.com/v3/routes/298d344f-5460-4495-80fd-aeb02adcf55b/destinations"},"domain":{"href":"https://api.x.x.x.x.com/v3/domains/440e24e5-ee11-41d9-a996-2ed0a1e2deea"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 7c7d8540-dc06-48b1-6fc7-2acb4b2a108e::a18a943c-4523-4ea8-a89c-3462731e39c3
        status: 201 Created
        code: 201
        duration: 879.077731ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"destinations":[{"app":{"guid":"15a74002-cf3a-4bf2-b76f-fe96867c46ee","process":{"type":"web"}},"port":36001},{"app":{"guid":"24a711f2-148b-4d48-b37a-90a66d6e842f"}}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/routes/298d344f-5460-4495-80fd-aeb02adcf55b/destinations
        method: PATCH
      response:
        body: '{"destinations":[{"guid":"a4623454-0389-4717-be07-05f10226ec1d","app":{"guid":"24a711f2-148b-4d48-b37a-90a66d6e842f","process":{"type":"web"}},"weight":null,"port":80,"protocol":"http1"},{"guid":"e6f3c2a8-926d-46e9-8bdd-731971652748","app":{"guid":"15a74002-cf3a-4bf2-b76f-fe96867c46ee","process":{"type":"web"}},"weight":null,"port":36001,"protocol":"http1"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/routes/298d344f-5460-4495-80fd-aeb02adcf55b/destinations"},"route":{"href":"https://api.x.x.x.x.com/v3/routes/298d344f-5460-4495-80fd-aeb02adcf55b"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 4bcb67fb-9888-446e-5f08-37f4ab26959d::ea7102db-31dd-4583-869f-202078f9fd81
        status: 200 OK
        code: 200
        duration: 356.157962ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/routes/298d344f-5460-4495-80fd-aeb02adcf55b
        method: GET
      response:
        body: '{"guid":"298d344f-5460-4495-80fd-aeb02adcf55b","created_at":"2024-03-12T05:02:11Z","updated_at":"2024-03-12T05:02:11Z","protocol":"http","host":"testing123","path":"/cart","port":null,"url":"testi[...]
[...]
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/routes/298d344f-5460-4495-80fd-aeb02adcf55b
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/2a48697d-2ce6-4f29-b1f7-24e0ccb84693
            X-Vcap-Request-Id:
                - 160ad5d3-7aca-4105-6705-c308414f5c6b::574323a0-3a8b-4a0a-8c99-125c21acd6b2
        status: 202 Accepted
        code: 202
        duration: 194.482185ms
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/2a48697d-2ce6-4f29-b1f7-24e0ccb84693
        method: GET
      response:
        body: '{"guid":"2a48697d-2ce6-4f29-b1f7-24e0ccb84693","created_at":"2024-03-12T05:02:18Z","updated_at":"2024-03-12T05:02:20Z","operation":"route.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/2a48697d-2ce6-4f29-b1f7-24e0ccb84693"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 00bd13cd-9394-4d5c-72de-d24236121cf8::63e9494a-ce44-4115-85b9-99ead20b5c7a
        status: 200 OK
        code: 200
        duration: 188.044267ms
