---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=redacted
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - redacted
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"redacted","expires_in":599,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"02f7ed63de9a4145bcefe58b94e04ae6"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - fbbb7e9c-b5a5-48dd-7820-94754f989890
        status: 200 OK
        code: 200
        duration: 1.046295208s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"acc37c9f-9af0-4b35-a0ce-c7b043544971","created_at":"2018-04-03T17:42:09Z","updated_at":"2025-04-23T19:41:23Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"4ed40e2d-ba70-49ce-9529-afb32b5af6f5"}}},"metadata":{"labels":{"org-type":"customer"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/4ed40e2d-ba70-49ce-9529-afb32b5af6f5"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 0bb52c0c-4caa-40e9-43a1-dbe725733400::70370128-44d3-43a4-884d-6239f17adcd2
        status: 200 OK
        code: 200
        duration: 935.298792ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=acc37c9f-9af0-4b35-a0ce-c7b043544971&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=acc37c9f-9af0-4b35-a0ce-c7b043544971\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=acc37c9f-9af0-4b35-a0ce-c7b043544971\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"0720fccb-c94a-4f56-b82f-862010c9b5fe","created_at":"2025-08-06T05:47:22Z","updated_at":"2025-08-06T05:47:22Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"acc37c9f-9af0-4b35-a0ce-c7b043544971"}},"quota":{"data":null}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 6def48e7-48c6-4864-5c6b-3cc60e9ebfa2::e6c094b1-5ace-4a43-bffd-7f4a44c99b45
        status: 200 OK
        code: 200
        duration: 254.924291ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin-scheduler&page=1&per_page=50&space_guids=0720fccb-c94a-4f56-b82f-862010c9b5fe
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-scheduler\u0026page=1\u0026per_page=50\u0026space_guids=0720fccb-c94a-4f56-b82f-862010c9b5fe"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-scheduler\u0026page=1\u0026per_page=50\u0026space_guids=0720fccb-c94a-4f56-b82f-862010c9b5fe"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 4ef0e23c-f1c4-42a4-7a50-59a6404f2012::1275492a-2aa4-420c-8401-88948ebf08f7
        status: 200 OK
        code: 200
        duration: 257.686041ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin-scheduler
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  processes:
                    - type: scheduler
                      disk_quota: 1024M
                      health-check-type: process
                      instances: 0
                      memory: 256M
                    - type: web
                      disk_quota: 2048M
                      health-check-type: port
                      instances: 1
                      memory: 512M
                  metadata:
                    labels: {}
                    annotations: {}
                  instances: 1
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/eaf064dd-02b2-402d-8c8c-c10b29379de5
            X-Vcap-Request-Id:
                - 1d4d7650-5f6e-48ab-54e7-aac0fd5337b6::4d0cfa27-8c33-4d21-b807-cd24de564237
        status: 202 Accepted
        code: 202
        duration: 286.397792ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/eaf064dd-02b2-402d-8c8c-c10b29379de5
        method: GET
      response:
        body: '{"guid":"eaf064dd-02b2-402d-8c8c-c10b29379de5","created_at":"2025-08-21T19:46:41Z","updated_at":"2025-08-21T19:46:41Z","operation":"space.apply_manifest","state":"PROCESSING","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/eaf064dd-02b2-402d-8c8c-c10b29379de5"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e41ec6a1-20bc-4e1f-473d-ae52f46d7387::9012e352-239c-4e56-9390-27409ade8da4
        status: 200 OK
        code: 200
        duration: 268.13775ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/eaf064dd-02b2-402d-8c8c-c10b29379de5
        method: GET
      response:
        body: '{"guid":"eaf064dd-02b2-402d-8c8c-c10b29379de5","created_at":"2025-08-21T19:46:41Z","updated_at":"2025-08-21T19:46:44Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/eaf064dd-02b2-402d-8c8c-c10b29379de5"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - c314f4b0-435f-4a5f-7d64-8d74df6c47e9::318362c9-6f6b-4dee-8ca9-5d148e33fd90
        status: 200 OK
        code: 200
        duration: 322.866958ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin-scheduler&page=1&per_page=50&space_guids=0720fccb-c94a-4f56-b82f-862010c9b5fe
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-scheduler\u0026page=1\u0026per_page=50\u0026space_guids=0720fccb-c94a-4f56-b82f-862010c9b5fe"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-scheduler\u0026page=1\u0026per_page=50\u0026space_guids=0720fccb-c94a-4f56-b82f-862010c9b5fe"},"next":null,"previous":null},"resources":[{"guid":"eb29f98e-9fc2-4b60-bddd-def2083737cf","created_at":"2025-08-21T19:46:41Z","updated_at":"2025-08-21T19:46:44Z","name":"http-bin-scheduler","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"0720fccb-c94a-4f56-b82f-862010c9b5fe"}},"current_droplet":{"data":{"guid":null}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 7254a9cc-d68b-48e1-706d-9bc2fdafb4f5::fc655a2d-42b7-4cf2-81cd-bbc49d1100ed
        status: 200 OK
        code: 200
        duration: 357.222917ms
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"eb29f98e-9fc2-4b60-bddd-def2083737cf"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"0da49ae0-758a-42af-9300-3fa76566a247","created_at":"2025-08-21T19:46:45Z","updated_at":"2025-08-21T19:46:45Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"eb29f98e-9fc2-4b60-bddd-def2083737cf"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/0da49ae0-758a-42af-9300-3fa76566a247"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 7d6f9b08-6ab3-49f7-65ec-557475c9219e::2f8d46b0-0fc7-4ffa-ae04-9011d5ecc1a2
        status: 201 Created
        code: 201
        duration: 341.543541ms
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"0da49ae0-758a-42af-9300-3fa76566a247"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"f3eb0992-e64a-4197-8ac4-b7b7dd923a07","created_at":"2025-08-21T19:46:45Z","updated_at":"2025-08-21T19:46:45Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"0da49ae0-758a-42af-9300-3fa76566a247"},"droplet":null,"created_by":{"guid":"8d785a43-1e91-493b-9329-12615443c430","name":"bret.mogilefsky@gsa.gov","email":"bret.mogilefsky@gsa.gov"},"relationships":{"app":{"data":{"guid":"eb29f98e-9fc2-4b60-bddd-def2083737cf"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/f3eb0992-e64a-4197-8ac4-b7b7dd923a07"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - ac1f63b6-5a5b-4d09-5a66-e841824a647a::70bd5179-de2a-4845-80d2-821fbe38146c
        status: 201 Created
        code: 201
        duration: 305.907666ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/f3eb0992-e64a-4197-8ac4-b7b7dd923a07
        method: GET
      response:
        body: '{"guid":"f3eb0992-e64a-4197-8ac4-b7b7dd923a07","created_at":"2025-08-21T19:46:45Z","updated_at":"2025-08-21T19:46:45Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"0da49ae0-758a-42af-9300-3fa76566a247"},"droplet":null,"created_by":{"guid":"8d785a43-1e91-493b-9329-12615443c430","name":"bret.mogilefsky@gsa.gov","email":"bret.mogilefsky@gsa.gov"},"relationships":{"app":{"data":{"guid":"eb29f98e-9fc2-4b60-bddd-def2083737cf"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/f3eb0992-e64a-4197-8ac4-b7b7dd923a07"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d95ef941-ec74-4ce2-56d5-1b2086b1663c::c186f866-7b90-4964-b6f8-e92f771c0637
        status: 200 OK
        code: 200
        duration: 260.207209ms
[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/0da49ae0-758a-42af-9300-3fa76566a247/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/0da49ae0-758a-42af-9300-3fa76566a247/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/0da49ae0-758a-42af-9300-3fa76566a247/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"ff64e498-f168-4bed-9cec-a0fedbaaf24e","created_at":"2025-08-21T19:46:48Z","updated_at":"2025-08-21T19:46:48Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"eb29f98e-9fc2-4b60-bddd-def2083737cf"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/ff64e498-f168-4bed-9cec-a0fedbaaf24e"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/0da49ae0-758a-42af-9300-3fa76566a247"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d4c982b0-1c40-4dae-4a37-99ef50c76ccd::2302618a-fd6a-4c03-82f4-f289a23f61d2
        status: 200 OK
        code: 200
        duration: 255.214791ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"ff64e498-f168-4bed-9cec-a0fedbaaf24e"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"ff64e498-f168-4bed-9cec-a0fedbaaf24e"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 200562ca-2e7b-4def-6cf6-9cbac8ede7bd::57ee5452-6ab9-425a-8a8f-781531415111
        status: 200 OK
        code: 200
        duration: 284.660458ms
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/actions/start
        method: POST
      response:
        body: '{"guid":"eb29f98e-9fc2-4b60-bddd-def2083737cf","created_at":"2025-08-21T19:46:41Z","updated_at":"2025-08-21T19:46:49Z","name":"http-bin-scheduler","state":"STARTED","lifecycle":{"typ[...]
    - id: 17
      request:
        host: api.x.x.x.x.com
        body: |
            {"var":{}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/environment_variables
        method: PATCH
      response:
        body: '{"var":{},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/environment_variables"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 2e8a28fb-dad3-48ab-7c3e-8b28543444bb::d685a4dd-93ff-480e-945f-9d71925f08d8
        status: 200 OK
        code: 200
        duration: 259.0055ms
    - id: 18
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 67eea8db-d586-48c4-4f7e-ae334642c890::1f83c3b8-8d0c-4638-8d3d-e18f9ac12603
        status: 200 OK
        code: 200
        duration: 256.649458ms
    - id: 19
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin-scheduler
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              features:
                ssh: false
                revisions: true
                service-binding-k8s: false
                file-based-vcap-services: false
              processes:
              - type: scheduler
                instances: 0
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: process
                readiness-health-check-type: process
              - type: web
                instances: 1
                memory: 512M
                disk_quota: 2048M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Vcap-Request-Id:
                - ba39ebb4-28fc-4f97-586a-85efcd459dd5::49690c2e-550a-40e0-be83-0988dc78aeb8
        status: 200 OK
        code: 200
        duration: 273.644917ms
[...]
    - id: 21
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf
        method: GET
      response:
        body: '{"guid":"eb29f98e-9fc2-4b60-bddd-def2083737cf","created_at":"2025-08-21T19:46:41Z","updated_at":"2025-08-21T19:46:50Z","name":"http-bin-scheduler","state":"STARTED","lifecycle":{"type":"docker","da[...]
    - id: 22
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin-scheduler
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              features:
                ssh: false
                revisions: true
                service-binding-k8s: false
                file-based-vcap-services: false
              processes:
              - type: scheduler
                instances: 0
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: process
                readiness-health-check-type: process
              - type: web
                instances: 1
                memory: 512M
                disk_quota: 2048M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Vcap-Request-Id:
                - e58cf45b-2a1b-4b67-7ca3-26c5c5110514::e997e119-e718-4f90-b034-2b4b35b0d4b3
        status: 200 OK
        code: 200
        duration: 255.043208ms
    - id: 23
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/eb29f98e-9fc2-4b60-bddd-def2083737cf/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - b6bb1607-2141-4af2-5f3e-e6d6eb12edb8::db661f32-07df-4a18-939a-e72d8f7ca46e
        status: 200 OK
        code: 200
        duration: 342.974167ms
    - id: 24
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe?include=organization
        method: GET
      response:
        body: '{"guid":"0720fccb-c94a-4f56-b82f-862010c9b5fe","created_at":"2025-08-06T05:47:22Z","updated_at":"2025-08-06T05:47:22Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"acc37c9f-9af0-4b35-a0ce-c7b043544971"}},"quota":{"data":null}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/0720fccb-c94a-4f56-b82f-862010c9b5fe/actions/apply_manifest","method":"POST"}},"included":{"organizations":[{"guid":"acc37c9f-9af0-4b35-a0ce-c7b043544971","created_at":"2018-04-03T17:42:09Z","updated_at":"2025-04-23T19:41:23Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"4ed40e2d-ba70-49ce-9529-afb32b5af6f5"}}},"metadata":{"labels":{"org-type":"customer"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/acc37c9f-9af0-4b35-a0ce-c7b043544971/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/4ed40e2d-ba70-49ce-9529-afb32b5af6f5"}}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 6c8f878a-1ddd-4de8-6245-4a9b4b8c4798::672c6407-aa2b-4e10-8892-e0665683a644
        status: 200 OK
        code: 200
        duration: 256.149042ms
[...]
