---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"user-provided","name":"test-si-user-provided","relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: '{"guid":"77229455-2cf7-4ccb-9ae2-da062b63b4c2","created_at":"2024-03-25T10:39:34Z","updated_at":"2024-03-25T10:39:34Z","name":"test-si-user-provided","tags":[],"last_operation":{"type":"create","state":"succeeded","description":"Operation succeeded","updated_at":"2024-03-25T10:39:34Z","created_at":"2024-03-25T10:39:34Z"},"type":"user-provided","syslog_drain_url":null,"route_service_url":null,"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_instances/77229455-2cf7-4ccb-9ae2-da062b63b4c2"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"service_credential_bindings":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?service_instance_guids=77229455-2cf7-4ccb-9ae2-da062b63b4c2"},"service_route_bindings":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?service_instance_guids=77229455-2cf7-4ccb-9ae2-da062b63b4c2"},"credentials":{"href":"https://api.x.x.x.x.com/v3/service_instances/77229455-2cf7-4ccb-9ae2-da062b63b4c2/credentials"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711364588"
            X-Vcap-Request-Id:
                - eb5c25e3-1153-450e-5d39-517517b023e0::f68173e6-bc61-4835-a38a-100217e10639
        status: 201 Created
        code: 201
        duration: 196.345128ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"77229455-2cf7-4ccb-9ae2-da062b63b4c2","created_at":"2024-03-25T10:39:34Z","updated_at":"2024-03-25T10:39:34Z","name":"test-si-user-provided","tags":[],"last_operation":{"type":"create","state":"succeeded","description":"Operation succeeded","updated_at":"2024-03-25T10:39:34Z","created_at":"2024-03-25T10:39:34Z"},"type":"user-provided","syslog_drain_url":null,"route_service_url":null,"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_instances/77229455-2cf7-4ccb-9ae2-da062b63b4c2"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"service_credential_bindings":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?service_instance_guids=77229455-2cf7-4ccb-9ae2-da062b63b4c2"},"service_route_bindings":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?service_instance_guids=77229455-2cf7-4ccb-9ae2-da062b63b4c2"},"credentials":{"href":"https://api.x.x.x.x.com/v3/service_instances/77229455-2cf7-4ccb-9ae2-da062b63b4c2/credentials"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711364588"
            X-Vcap-Request-Id:
                - de8d237a-1f20-4505-7031-327687a56f81::f3bea4eb-8c5a-432a-8d19-f256a2758e80
        status: 200 OK
        code: 200
        duration: 225.980057ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances/77229455-2cf7-4ccb-9ae2-da062b63b4c2
        method: GET
      response:
        body: '{"guid":"77229455-2cf7-4ccb-9ae2-da062b63b4c2","created_at":"2024-03-25T10:39:34Z","updated_at":"2024-03-25T10:39:34Z","name":"test-si-user-provided","tags":[],"last_operation":{"type":[...]
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"test-si-user-provided1","credentials":{"user":"test","password":"hello"},"metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances/77229455-2cf7-4ccb-9ae2-da062b63b4c2
        method: PATCH
      response:
        body: '{"guid":"77229455-2cf7-4ccb-9ae2-da062b63b4c2","created_at":"2024-03-25T10:39:34Z","updated_at":"2024-03-25T10:39:35Z","name":"test-si-user-provi[...]
[...]
