---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"relationships":{"service_instance":{"data":{"guid":"40b73419-5e01-4be0-baea-932d46cea45b"}},"route":{"data":{"guid":"3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_route_bindings
        method: POST
      response:
        body: '{"errors":[{"detail":"The service instance could not be found: 40b73419-5e01-4be0-baea-932d46cea45b","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1718688789"
            X-Vcap-Request-Id:
                - b75f7eb0-d7f4-474c-5f4b-02facfcf3624::c0d95b85-1d9d-4c40-ac84-d7079d8d5279
        status: 422 Unprocessable Entity
        code: 422
        duration: 275.318042ms
