---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355330"
            X-Vcap-Request-Id:
                - b278f472-a9e4-4039-483d-b044efa65ace::0f84e16f-8443-4a0f-ad80-158d2f00e19c
        status: 200 OK
        code: 200
        duration: 390.185376ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - 996a2cee-154a-474b-7a63-2c3eada3afd5::3b439f52-0007-48d2-9ec9-dc542094fc32
        status: 200 OK
        code: 200
        duration: 399.569208ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - 1cacf789-0bb2-4dff-74c6-16e975ab857f::939720dd-52b4-4702-a2de-597703566eee
        status: 200 OK
        code: 200
        duration: 392.322417ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  processes:
                    - type: web
                      disk_quota: 1024M
                      health-check-type: http
                      health-check-http-endpoint: /get
                      instances: 1
                      memory: 256M
                      readiness-health-check-type: http
                      readiness-health-check-http-endpoint: /get
                  metadata:
                    labels: {}
                    annotations: {}
                  instances: 1
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/7a650000-439d-4787-9150-2922bdb85f70
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355330"
            X-Vcap-Request-Id:
                - 942d3368-04b8-450a-41b4-9d79c10af72e::2207d799-4e15-47db-8050-fd76152eff69
        status: 202 Accepted
        code: 202
        duration: 457.162917ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/7a650000-439d-4787-9150-2922bdb85f70
        method: GET
      response:
        body: '{"guid":"7a650000-439d-4787-9150-2922bdb85f70","created_at":"2025-10-13T11:15:00Z","updated_at":"2025-10-13T11:15:00Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/7a650000-439d-4787-9150-2922bdb85f70"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - d7f7f463-89f5-4e7e-5371-050467d06748::1785ad55-0bef-4a0f-aee6-09b6be8a4670
        status: 200 OK
        code: 200
        duration: 414.81675ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"1a9938d8-80f9-43f6-9629-e35d34cb993f","created_at":"2025-10-13T11:15:00Z","updated_at":"2025-10-13T11:15:00Z","name":"http-bin","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"current_droplet":{"data":{"guid":null}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - c35d78cd-b7bd-4633-4691-d8eccddc2eff::c1638dd6-9321-4fb3-a52f-d80f2b0804e2
        status: 200 OK
        code: 200
        duration: 406.371584ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"1a9938d8-80f9-43f6-9629-e35d34cb993f"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"d95ffcbf-39b9-4352-ac0a-8a253472dee7","created_at":"2025-10-13T11:15:02Z","updated_at":"2025-10-13T11:15:02Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"1a9938d8-80f9-43f6-9629-e35d34cb993f"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/d95ffcbf-39b9-4352-ac0a-8a253472dee7"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355332"
            X-Vcap-Request-Id:
                - 2d92cab0-87b6-4856-75fc-2df40d628271::c6f8e344-c7c9-4f4b-8a5b-119adb1f4760
        status: 201 Created
        code: 201
        duration: 395.887542ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"d95ffcbf-39b9-4352-ac0a-8a253472dee7"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"8c71c5f2-be93-4a21-ae99-cae2dfac1321","created_at":"2025-10-13T11:15:02Z","updated_at":"2025-10-13T11:15:02Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"d95ffcbf-39b9-4352-ac0a-8a253472dee7"},"droplet":null,"created_by":{"guid":"ee3fffa9-513b-4995-bbd7-6a46787f8cb7","name":"anugrah.gupta@sap.com","email":"anugrah.gupta@sap.com"},"relationships":{"app":{"data":{"guid":"1a9938d8-80f9-43f6-9629-e35d34cb993f"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/8c71c5f2-be93-4a21-ae99-cae2dfac1321"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - 6688213e-3256-462c-5be2-55b6968cf9e1::5cb4b6a9-b8ec-4ee8-adb8-5f545c205c7d
        status: 201 Created
        code: 201
        duration: 461.030292ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/8c71c5f2-be93-4a21-ae99-cae2dfac1321
        method: GET
      response:
        body: '{"guid":"8c71c5f2-be93-4a21-ae99-cae2dfac1321","created_at":"2025-10-13T11:15:02Z","updated_at":"2025-10-13T11:15:02Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"d95ffcbf-39b9-4352-ac0a-8a253472dee7"},"droplet":null,"created_by":{"guid":"ee3fffa9-513b-4995-bbd7-6a46787f8cb7","name":"anugrah.gupta@sap.com","email":"anugrah.gupta@sap.com"},"relationships":{"app":{"data":{"guid":"1a9938d8-80f9-43f6-9629-e35d34cb993f"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/8c71c5f2-be93-4a21-ae99-cae2dfac1321"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355332"
            X-Vcap-Request-Id:
                - cd266905-daef-41ce-540d-e39f2c2af70a::102cc779-855e-4ce4-90ee-ea969bb061dc
        status: 200 OK
        code: 200
        duration: 408.341792ms
[...]
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/d95ffcbf-39b9-4352-ac0a-8a253472dee7/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/d95ffcbf-39b9-4352-ac0a-8a253472dee7/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/d95ffcbf-39b9-4352-ac0a-8a253472dee7/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"be685407-5ec0-49c8-87cd-853c8ea8823d","created_at":"2025-10-13T11:15:05Z","updated_at":"2025-10-13T11:15:05Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"1a9938d8-80f9-43f6-9629-e35d34cb993f"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/be685407-5ec0-49c8-87cd-853c8ea8823d"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/d95ffcbf-39b9-4352-ac0a-8a253472dee7"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - 182e25f8-c4e2-455e-75c0-f624e5e17994::f1966b63-d487-4808-a41b-8e479ad75ebe
        status: 200 OK
        code: 200
        duration: 381.333584ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"be685407-5ec0-49c8-87cd-853c8ea8823d"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"be685407-5ec0-49c8-87cd-853c8ea8823d"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355330"
            X-Vcap-Request-Id:
                - 27398582-2d47-484a-7c74-d597fa243623::eb1c0988-fe0b-4827-8685-6bf90dc1b6dd
        status: 200 OK
        code: 200
        duration: 394.150667ms
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/actions/start
        method: POST
      response:
        body: '{"guid":"1a9938d8-80f9-43f6-9629-e35d34cb993f","created_at":"2025-10-13T11:15:00Z","updated_at":"2025-10-13T11:15:07Z","name":"http-bin","state":"STARTED","lifecycle":{"type":"docker[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: |
            {"var":{}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/environment_variables
        method: PATCH
      response:
        body: '{"var":{},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/environment_variables"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - a70d4470-98cc-4a24-43e4-f72d7a305ada::f0114d69-af2f-4730-86d1-8ba48478f5d4
        status: 200 OK
        code: 200
        duration: 395.209375ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - ae62a45c-b02e-4709-4c02-775112b2f935::6d810fff-1076-4ded-9072-5be5fc068e9d
        status: 200 OK
        code: 200
        duration: 387.398542ms
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              features:
                ssh: false
                revisions: true
                service-binding-k8s: false
                file-based-vcap-services: false
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - cdef327d-dc56-49b3-54d7-8c37e4ba15e2::558d51dc-7878-41b0-a0f3-b29d8a3ac23c
        status: 200 OK
        code: 200
        duration: 395.266667ms
    - id: 17
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f
        method: GET
      response:
        body: '{"guid":"1a9938d8-80f9-43f6-9629-e35d34cb993f","created_at":"2025-10-13T11:15:00Z","updated_at":"2025-10-13T11:15:08Z","name":"http-bin","state":"STARTED","lifecycle":{"type":"docker","data":{}},"r[...]
[...]
    - id: 19
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - e085e59e-c4c1-43e7-5576-b699e27df4b6::f5b7e43f-de76-401d-9f4b-59919b764b56
        status: 200 OK
        code: 200
        duration: 388.1035ms
    - id: 20
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143?include=organization
        method: GET
      response:
        body: '{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}},"included":{"organizations":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355330"
            X-Vcap-Request-Id:
                - 9c7ed42f-44b7-458d-652a-a13963414257::2abb9534-e773-4104-b93a-04bb71fa71ba
        status: 200 OK
        code: 200
        duration: 376.633834ms
    - id: 21
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/1a9938d8-80f9-43f6-9629-e35d34cb993f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/86aa8589-7f23-4930-9d1b-b21d5495d7b6
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760355331"
            X-Vcap-Request-Id:
                - ed249005-c3d4-48c2-47e7-3854b232ca67::40682257-3047-4f9a-9f59-3b112e74b576
        status: 202 Accepted
        code: 202
        duration: 403.174501ms
[...]
