---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"test.cfapps.stagingazure.hanavlab.ondemand.com","internal":false,"relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/domains
        method: POST
      response:
        body: '{"guid":"2f570e5c-050a-4e6c-8d12-75aea05a27b0","created_at":"2026-01-30T11:59:34Z","updated_at":"2026-01-30T11:59:34Z","name":"test.cfapps.stagingazure.hanavlab.ondemand.com","internal":false,"router_group":null,"supported_protocols":["http"],"relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"shared_organizations":{"data":[]}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/domains/2f570e5c-050a-4e6c-8d12-75aea05a27b0"},"route_reservations":{"href":"https://api.x.x.x.x.com/v3/domains/2f570e5c-050a-4e6c-8d12-75aea05a27b0/route_reservations"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"shared_organizations":{"href":"https://api.x.x.x.x.com/v3/domains/2f570e5c-050a-4e6c-8d12-75aea05a27b0/relationships/shared_organizations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1769775506"
            X-Vcap-Request-Id:
                - 3c427e84-f28c-4c1e-559a-0e97aabe6937::1e191468-9bc7-4902-9a12-4726e2ea0154
        status: 201 Created
        code: 201
        duration: 968.07075ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/domains/2f570e5c-050a-4e6c-8d12-75aea05a27b0
        method: GET
      response:
        body: '{"guid":"2f570e5c-050a-4e6c-8d12-75aea05a27b0","created_at":"2026-01-30T11:59:34Z","updated_at":"2026-01-30T11:59:34Z","name":"test.cfapps.stagingazure.hanavlab.ondemand.com","internal":false,"ro[...]
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/domains/2f570e5c-050a-4e6c-8d12-75aea05a27b0
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/5608e8a0-7dd7-46b7-843e-4e62b27bce20
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1769775506"
            X-Vcap-Request-Id:
                - 0e7c356f-ceea-4025-5ce6-5b4bacdfa206::d672eac6-5e26-4d8c-9957-f386ef4d0cc8
        status: 202 Accepted
        code: 202
        duration: 296.643292ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/5608e8a0-7dd7-46b7-843e-4e62b27bce20
        method: GET
      response:
        body: '{"guid":"5608e8a0-7dd7-46b7-843e-4e62b27bce20","created_at":"2026-01-30T11:59:35Z","updated_at":"2026-01-30T11:59:35Z","operation":"domain.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/5608e8a0-7dd7-46b7-843e-4e62b27bce20"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1769775506"
            X-Vcap-Request-Id:
                - 1b261f56-8797-419e-57c3-f37a38df4df0::cf60f09e-7518-45bf-ac9d-038d15fa0ad3
        status: 200 OK
        code: 200
        duration: 246.436333ms
