---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"relationships":{"service_instance":{"data":{"guid":"3a8588f9-f846-444f-ab9e-48282f06449b"}},"route":{"data":{"guid":"3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_route_bindings
        method: POST
      response:
        body: '{"guid":"77e1b328-f03b-479f-b032-4fa2d1e33794","route_service_url":"https://www.example.com","created_at":"2024-06-18T05:15:10Z","updated_at":"2024-06-18T05:15:10Z","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2024-06-18T05:15:10Z","created_at":"2024-06-18T05:15:10Z"},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"3a8588f9-f846-444f-ab9e-48282f06449b"}},"route":{"data":{"guid":"3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings/77e1b328-f03b-479f-b032-4fa2d1e33794"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/3a8588f9-f846-444f-ab9e-48282f06449b"},"route":{"href":"https://api.x.x.x.x.com/v3/routes/3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1718688788"
            X-Vcap-Request-Id:
                - 70bf7011-6fe0-4d37-6b67-372275f26528::ca640015-526b-4332-a5c9-1d3f8c5f42f3
        status: 201 Created
        code: 201
        duration: 1.101931792s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_route_bindings/77e1b328-f03b-479f-b032-4fa2d1e33794
        method: GET
      response:
        body: '{"guid":"77e1b328-f03b-479f-b032-4fa2d1e33794","route_service_url":"https://www.example.com","created_at":"2024-06-18T05:15:10Z","updated_at":"2024-06-18T05:15:10Z","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2024-06-18T05:15:10Z","created_at":"2024-06-18T05:15:10Z"},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"3a8588f9-f846-444f-ab9e-48282f06449b"}},"route":{"data":{"guid":"3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings/77e1b328-f03b-479f-b032-4fa2d1e33794"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/3a8588f9-f846-444f-ab9e-48282f06449b"},"route":{"href":"https://api.x.x.x.x.com/v3/routes/3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1718688788"
            X-Vcap-Request-Id:
                - fccf6a63-c026-42d0-40cb-ba029d67f6d2::81d37711-5977-4b7a-8847-34e5186bf8ac
        status: 200 OK
        code: 200
        duration: 268.544458ms
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_route_bindings/77e1b328-f03b-479f-b032-4fa2d1e33794
        method: GET
      response:
        body: '{"guid":"77e1b328-f03b-479f-b032-4fa2d1e33794","route_service_url":"https://www.example.com","created_at":"2024-06-18T05:15:10Z","updated_at":"2024-06-18T05:15:10Z","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2024-06-18T05:15:10Z","created_at":"2024-06-18T05:15:10Z"},"metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"3a8588f9-f846-444f-ab9e-48282f06449b"}},"route":{"data":{"guid":"3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings/77e1b328-f03b-479f-b032-4fa2d1e33794"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/3a8588f9-f846-444f-ab9e-48282f06449b"},"route":{"href":"https://api.x.x.x.x.com/v3/routes/3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1718688788"
            X-Vcap-Request-Id:
                - cba9107d-9230-439f-5b8d-0364989a93fb::16c0539d-e9c2-4e49-8d0f-4efd08c6388e
        status: 200 OK
        code: 200
        duration: 268.261417ms
[...]
