---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"user-provided","name":"test-si-user-provided","relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: '{"guid":"1a0b3b29-49ed-42ed-b622-b3335fd95bc9","created_at":"2026-07-10T06:49:07Z","updated_at":"2026-07-10T06:49:07Z","name":"test-si-user-provided","tags":[],"last_operation":{"type":"create","state":"succeeded","description":"Operation succeeded","updated_at":"2026-07-10T06:49:07Z","created_at":"2026-07-10T06:49:07Z"},"type":"user-provided","syslog_drain_url":null,"route_service_url":null,"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_instances/1a0b3b29-49ed-42ed-b622-b3335fd95bc9"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"service_credential_bindings":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?service_instance_guids=1a0b3b29-49ed-42ed-b622-b3335fd95bc9"},"service_route_bindings":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?service_instance_guids=1a0b3b29-49ed-42ed-b622-b3335fd95bc9"},"credentials":{"href":"https://api.x.x.x.x.com/v3/service_instances/1a0b3b29-49ed-42ed-b622-b3335fd95bc9/credentials"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1783667131"
            X-Vcap-Request-Id:
                - 33b56e25-e99d-41d1-5f10-5899cbcc9e38::cf62e926-0e1a-4f09-999a-a5977d491bbf
        status: 201 Created
        code: 201
        duration: 973.149792ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"1a0b3b29-49ed-42ed-b622-b3335fd95bc9","created_at":"2026-07-10T06:49:07Z","updated_at":"2026-07-10T06:49:07Z","name":"test-si-user-provided","tags":[],"last_operation":{"type":"create","state":"succeeded","description":"Operation succeeded","updated_at":"2026-07-10T06:49:07Z","created_at":"2026-07-10T06:49:07Z"},"type":"user-provided","syslog_drain_url":null,"route_service_url":null,"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":[...]
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances/1a0b3b29-49ed-42ed-b622-b3335fd95bc9
        method: GET
      response:
        body: '{"guid":"1a0b3b29-49ed-42ed-b622-b3335fd95bc9","created_at":"2026-07-10T06:49:07Z","updated_at":"2026-07-10T06:49:07Z","name":"test-si-user-provided","tags":[],"last_operation":{"type":[...]
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"user-provided","name":"test-si-user-provided1","relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":null},"credentials":{"user":"test","password":"hello"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: '{"guid":"4cc86827-b257-451a-80ba-d1273f35f983","created_at":"2026-07-10T06:49:09Z","updated_at":"2026-07-10T06:49:09Z","name":"test-si-user-provided1","tags":[],"last_operation":{"type":"create","state":"succeeded","descript[...]
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided1&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-user-provided1\u002[...]
[...]
