---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}},"apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"log_rate_limit_in_bytes_per_second":null,"total_instances":null,"per_app_tasks":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/space_quotas
        method: POST
      response:
        body: '{"guid":"899ae01d-ac8d-44e7-9dca-eccaf11d7aa1","created_at":"2026-01-21T11:16:01Z","updated_at":"2026-01-21T11:16:01Z","name":"tf-unit-test","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/899ae01d-ac8d-44e7-9dca-eccaf11d7aa1"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768994306"
            X-Vcap-Request-Id:
                - e1782249-34ee-4768-56da-4ae20d2c90e7::d4021777-5e82-4f15-927d-7faf2b1a7c3e
        status: 201 Created
        code: 201
        duration: 948.613958ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?guids=899ae01d-ac8d-44e7-9dca-eccaf11d7aa1&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=899ae01d-ac8d-44e7-9dca-eccaf11d7aa1\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=899ae01d-ac8d-44e7-9dca-eccaf11d7aa1\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"899ae01d-ac8d-44e7-9dca-eccaf11d7aa1","created_at":"2026-01-21T11:16:01Z","updated_at":"2026-01-21T11:16:01Z","name":"tf-unit-test","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/899ae01d-ac8d-44e7-9dca-eccaf11d7aa1"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768994306"
            X-Vcap-Request-Id:
                - b6ca1b29-c16e-4786-64af-7755ef18d0b5::d2e1b865-3c73-488a-af0f-78f4a1b08c0e
        status: 200 OK
        code: 200
        duration: 307.974125ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas/899ae01d-ac8d-44e7-9dca-eccaf11d7aa1
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/3dc02d2e-ca3f-4ecf-9ce7-3ed07613c5a9
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768994306"
            X-Vcap-Request-Id:
                - 48cc0591-4c71-4401-72f9-7800ce1c3df9::1d4e13b0-a59d-4cbe-b366-a9f53f99a5bb
        status: 202 Accepted
        code: 202
        duration: 317.145958ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/3dc02d2e-ca3f-4ecf-9ce7-3ed07613c5a9
        method: GET
      response:
        body: '{"guid":"3dc02d2e-ca3f-4ecf-9ce7-3ed07613c5a9","created_at":"2026-01-21T11:16:02Z","updated_at":"2026-01-21T11:16:02Z","operation":"space_quota.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/3dc02d2e-ca3f-4ecf-9ce7-3ed07613c5a9"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768994305"
            X-Vcap-Request-Id:
                - 4bcf259a-0195-455e-5d39-82f22ac32034::85a93170-95c5-4d63-b83d-74c622f13586
        status: 200 OK
        code: 200
        duration: 305.83575ms
