---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-import","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"log_rate_limit_in_bytes_per_second":null,"total_instances":null,"per_app_tasks":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"domains":{"total_domains":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/organization_quotas
        method: POST
      response:
        body: '{"guid":"a4b1ae9f-601d-44ba-9618-aee3a0eedc8f","created_at":"2024-03-27T04:23:47Z","updated_at":"2024-03-27T04:23:47Z","name":"tf-unit-test-import","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"domains":{"total_domains":null},"relationships":{"organizations":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/a4b1ae9f-601d-44ba-9618-aee3a0eedc8f"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 0e80343c-f922-4afd-6b45-1761e7b11b83::c2843aea-89d2-4c23-b46b-9d7dccfa0bfc
        status: 201 Created
        code: 201
        duration: 189.184792ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organization_quotas?guids=a4b1ae9f-601d-44ba-9618-aee3a0eedc8f
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?guids=a4b1ae9f-601d-44ba-9618-aee3a0eedc8f\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?guids=a4b1ae9f-601d-44ba-9618-aee3a0eedc8f\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"a4b1ae9f-601d-44ba-9618-aee3a0eedc8f","created_at":"2024-03-27T04:23:47Z","updated_at":"2024-03-27T04:23:47Z","name":"tf-unit-test-import","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"domains":{"total_domains":null},"relationships":{"organizations":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/a4b1ae9f-601d-44ba-9618-aee3a0eedc8f"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 3d96542c-0381-4d24-6298-adf1efe5e4e8::981962e0-776c-43f5-8974-0abb14a59ddc
        status: 200 OK
        code: 200
        duration: 179.563084ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organization_quotas/a4b1ae9f-601d-44ba-9618-aee3a0eedc8f
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/0bd5f9d9-21b3-4e9a-85d1-b19e559f0f57
            X-Vcap-Request-Id:
                - 3aabd419-e46c-4ea0-4af2-753aa263031d::450cb607-78c2-4d8c-899c-1d06e97511e4
        status: 202 Accepted
        code: 202
        duration: 190.259042ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/0bd5f9d9-21b3-4e9a-85d1-b19e559f0f57
        method: GET
      response:
        body: '{"guid":"0bd5f9d9-21b3-4e9a-85d1-b19e559f0f57","created_at":"2024-03-27T04:23:49Z","updated_at":"2024-03-27T04:23:50Z","operation":"organization_quota.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/0bd5f9d9-21b3-4e9a-85d1-b19e559f0f57"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 1f4b46fc-c552-4bee-62fe-0d56950836e0::2227def4-e619-481b-8f20-99663bb2d53c
        status: 200 OK
        code: 200
        duration: 176.123875ms
