---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers: {}
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.x.x.x.x.com"},"cloud_controller_v3":{"href":"https://api.x.x.x.x.com/v3","meta":{"version":"3.208.0"}},"network_policy_v0":{"href":"https://api.x.x.x.x.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.x.x.x.x.com/networking/v1/external"},"login":{"href":"https://login.x.x.x.x.com"},"uaa":{"href":"https://uaa.x.x.x.x.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.x.x.x.x.com:443"},"log_cache":{"href":"https://log-cache.x.x.x.x.com"},"log_stream":{"href":"https://log-stream.x.x.x.x.com"},"app_ssh":{"href":"ssh.x.x.x.x.com:2222","meta":{"host_key_fingerprint":"aNEJ3ydq+c9iZUUD0p4OjUAbjYbuvWsmYm3YBYbce0Y","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.x.x.x.x.com/v2","meta":{"version":"2.273.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - d9643185-f70e-402b-57fe-313dbfe38f0e::d6d357eb-35d7-4339-8169-cd768eeaf34d
        status: 200 OK
        code: 200
        duration: 392.573792ms
    - id: 1
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=password&password=Saponline%40%401234&username=anugrah.gupta%40sap.com
        form:
            grant_type:
                - password
            password:
                - Saponline@@1234
            username:
                - anugrah.gupta@sap.com
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"247a569233334672b302f0874398ccda-r","expires_in":1199,"scope":"openid uaa.user cloud_controller.read password.write cloud_controller.write","jti":"cc1cc8c3f11d43a49904bae5063e7bc8"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - f98e0348-f4c0-4034-7775-e5f44f26a368
        status: 200 OK
        code: 200
        duration: 539.928083ms
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"guid":"f8386afa-d469-40bd-a24d-ec34e3d39aae","created_at":"2026-01-13T11:51:22Z","updated_at":"2026-01-13T11:51:22Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/f8386afa-d469-40bd-a24d-ec34e3d39aae"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/f8386afa-d469-40bd-a24d-ec34e3d39aae/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/f8386afa-d469-40bd-a24d-ec34e3d39aae/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306706"
            X-Vcap-Request-Id:
                - ee8c8556-0276-4d52-67ee-2c8e739876a3::d04b55f8-a7d0-465b-b274-8d4e5cec160b
        status: 201 Created
        code: 201
        duration: 394.324ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":true}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/f8386afa-d469-40bd-a24d-ec34e3d39aae/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306706"
            X-Vcap-Request-Id:
                - 8dc86b47-d139-425a-748e-7057ac6df07f::66057dba-069b-44f5-9ac2-f9d113047814
        status: 200 OK
        code: 200
        duration: 306.088708ms
[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers: {}
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.x.x.x.x.com"},"cloud_controller_v3":{"href":"https://api.x.x.x.x.com/v3","meta":{"version":"3.208.0"}},"network_policy_v0":{"href":"https://api.x.x.x.x.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.x.x.x.x.com/networking/v1/external"},"login":{"href":"https://login.x.x.x.x.com"},"uaa":{"href":"https://uaa.x.x.x.x.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.x.x.x.x.com:443"},"log_cache":{"href":"https://log-cache.x.x.x.x.com"},"log_stream":{"href":"https://log-stream.x.x.x.x.com"},"app_ssh":{"href":"ssh.x.x.x.x.com:2222","meta":{"host_key_fingerprint":"aNEJ3ydq+c9iZUUD0p4OjUAbjYbuvWsmYm3YBYbce0Y","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.x.x.x.x.com/v2","meta":{"version":"2.273.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - f8f3faa9-98df-427b-6ec9-4ccd13c8b1f3::32803e47-7a90-4872-8b13-33174ed970ec
        status: 200 OK
        code: 200
        duration: 294.251083ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/f8386afa-d469-40bd-a24d-ec34e3d39aae
        method: GET
      response:
        body: '{"guid":"f8386afa-d469-40bd-a24d-ec34e3d39aae","created_at":"2026-01-13T11:51:22Z","updated_at":"2026-01-13T11:51:22Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da4[...]
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/f8386afa-d469-40bd-a24d-ec34e3d39aae/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306706"
            X-Vcap-Request-Id:
                - a2334566-4aea-4af5-70f5-d14b3f846955::868e7a32-d6ad-41ac-9cb5-128941e94a9a
        status: 200 OK
        code: 200
        duration: 420.731001ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/f8386afa-d469-40bd-a24d-ec34e3d39aae/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/f8386afa-d469-40bd-a24d-ec34e3d39aae/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306706"
            X-Vcap-Request-Id:
                - 08485d17-83a1-4152-719e-b89085819b73::fbe2bdde-d5eb-4550-ac94-acafd215c7bf
        status: 200 OK
        code: 200
        duration: 408.13775ms
[...]
    - id: 18
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers: {}
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.x.x.x.x.com"},"cloud_controller_v3":{"href":"https://api.x.x.x.x.com/v3","meta":{"version":"3.208.0"}},"network_policy_v0":{"href":"https://api.x.x.x.x.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.x.x.x.x.com/networking/v1/external"},"login":{"href":"https://login.x.x.x.x.com"},"uaa":{"href":"https://uaa.x.x.x.x.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.x.x.x.x.com:443"},"log_cache":{"href":"https://log-cache.x.x.x.x.com"},"log_stream":{"href":"https://log-stream.x.x.x.x.com"},"app_ssh":{"href":"ssh.x.x.x.x.com:2222","meta":{"host_key_fingerprint":"aNEJ3ydq+c9iZUUD0p4OjUAbjYbuvWsmYm3YBYbce0Y","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.x.x.x.x.com/v2","meta":{"version":"2.273.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - c1d0816b-cc3a-46e5-6455-d781ca516efc::7b317798-1683-4241-ae50-b6ef2161f6ef
        status: 200 OK
        code: 200
        duration: 384.277083ms
[...]
    - id: 22
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/f8386afa-d469-40bd-a24d-ec34e3d39aae
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/2a8ad0a8-6ebc-4102-baf2-e4c4f6f973e5
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306705"
            X-Vcap-Request-Id:
                - 05bf514a-3c6f-4fd4-6e9c-ed85e52bc77f::637453fd-1f42-4cec-b8f6-7ecef06997ac
        status: 202 Accepted
        code: 202
        duration: 340.58ms
    - id: 23
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/2a8ad0a8-6ebc-4102-baf2-e4c4f6f973e5
        method: GET
      response:
        body: '{"guid":"2a8ad0a8-6ebc-4102-baf2-e4c4f6f973e5","created_at":"2026-01-13T11:51:29Z","updated_at":"2026-01-13T11:51:30Z","operation":"space.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/2a8ad0a8-6ebc-4102-baf2-e4c4f6f973e5"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306706"
            X-Vcap-Request-Id:
                - 58f4690f-86ca-427f-538a-3318635f6f1f::8083d760-8019-4324-a470-f76d33d02049
        status: 200 OK
        code: 200
        duration: 306.067584ms
