---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}}},"apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"log_rate_limit_in_bytes_per_second":null,"total_instances":null,"per_app_tasks":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/space_quotas
        method: POST
      response:
        body: '{"guid":"aacaf110-bf31-4343-9bf7-70a3c86952ca","created_at":"2024-03-26T14:13:35Z","updated_at":"2024-03-26T14:13:35Z","name":"tf-unit-test","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/aacaf110-bf31-4343-9bf7-70a3c86952ca"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - aa9efb2f-1d89-4374-652b-e69b3868b6a4::54b739a6-bb3f-4b9d-9a6b-905f9e481849
        status: 201 Created
        code: 201
        duration: 544.131917ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?guids=aacaf110-bf31-4343-9bf7-70a3c86952ca
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=aacaf110-bf31-4343-9bf7-70a3c86952ca\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=aacaf110-bf31-4343-9bf7-70a3c86952ca\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"aacaf110-bf31-4343-9bf7-70a3c86952ca","created_at":"2024-03-26T14:13:35Z","updated_at":"2024-03-26T14:13:35Z","name":"tf-unit-test","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/aacaf110-bf31-4343-9bf7-70a3c86952ca"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - cc1c8872-0562-4ba6-469b-f94ab0107839::b8a7dd5c-1c5e-4321-8a26-629539e0ad33
        status: 200 OK
        code: 200
        duration: 181.05275ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas/aacaf110-bf31-4343-9bf7-70a3c86952ca
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/bc085724-701c-4b4f-9d37-a30cfb673d1f
            X-Vcap-Request-Id:
                - 652a6152-a310-4cce-56bb-0e16de2025e1::1174815e-b1b8-4622-8d56-b786cc46859d
        status: 202 Accepted
        code: 202
        duration: 201.774625ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/bc085724-701c-4b4f-9d37-a30cfb673d1f
        method: GET
      response:
        body: '{"guid":"bc085724-701c-4b4f-9d37-a30cfb673d1f","created_at":"2024-03-26T14:13:36Z","updated_at":"2024-03-26T14:13:37Z","operation":"space_quota.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/bc085724-701c-4b4f-9d37-a30cfb673d1f"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f4325136-218f-41ea-4166-78e9b8e65fc5::21d35f20-0419-44f3-8fb1-9a7451dbc28f
        status: 200 OK
        code: 200
        duration: 191.432666ms
