---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"key","relationships":{"service_instance":{"data":{"guid":"5e2976bb-332e-41e1-8be3-53baafea9296"}}},"name":"tf-test-do-not-delete","metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_credential_bindings
        method: POST
      response:
        body: '{"errors":[{"detail":"Service credential bindings of type ''key'' are not supported for user-provided service instances.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1713429188"
            X-Vcap-Request-Id:
                - 43ae0067-557a-423d-6000-e0f57ba98032::c1878544-1900-40e9-bf0d-13b0e36f7ca5
        status: 422 Unprocessable Entity
        code: 422
        duration: 204.900292ms
