---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=c5d6be88d586422a973a0c81cc97dd80-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - c5d6be88d586422a973a0c81cc97dd80-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"c5d6be88d586422a973a0c81cc97dd80-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"c97982945b684f80860193a74a4622de"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - a985074d-45e4-4258-7d0b-a09358a6ffdd
        status: 200 OK
        code: 200
        duration: 341.118625ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-import","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}},"apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"log_rate_limit_in_bytes_per_second":null,"total_instances":null,"per_app_tasks":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/space_quotas
        method: POST
      response:
        body: '{"guid":"cd987ce0-e1ef-494b-b502-8144496f7c4e","created_at":"2026-01-21T08:58:44Z","updated_at":"2026-01-21T08:58:44Z","name":"tf-unit-test-import","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/cd987ce0-e1ef-494b-b502-8144496f7c4e"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768987106"
            X-Vcap-Request-Id:
                - 50650672-4efe-49c5-5cd5-099e01f87ef3::62640fd2-7da2-4aa1-9dd4-ae03cecdbb3a
        status: 201 Created
        code: 201
        duration: 2.098953583s
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?guids=cd987ce0-e1ef-494b-b502-8144496f7c4e&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=cd987ce0-e1ef-494b-b502-8144496f7c4e\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=cd987ce0-e1ef-494b-b502-8144496f7c4e\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"cd987ce0-e1ef-494b-b502-8144496f7c4e","created_at":"2026-01-21T08:58:44Z","updated_at":"2026-01-21T08:58:44Z","name":"tf-unit-test-import","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/cd987ce0-e1ef-494b-b502-8144496f7c4e"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768987106"
            X-Vcap-Request-Id:
                - 83862f44-10bf-4044-696a-5ea4b4446d4b::49d83076-7c15-4a93-9a71-8fe9e3cc74ad
        status: 200 OK
        code: 200
        duration: 579.93575ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas/cd987ce0-e1ef-494b-b502-8144496f7c4e
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/943cc478-ac07-4da1-8e90-2c4f167ed603
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768987106"
            X-Vcap-Request-Id:
                - 30732fc7-f240-4bdc-69a4-1de90ea84707::20b8bccf-6039-4947-a7dc-70679fdeb364
        status: 202 Accepted
        code: 202
        duration: 6.740557417s
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/943cc478-ac07-4da1-8e90-2c4f167ed603
        method: GET
      response:
        body: '{"guid":"943cc478-ac07-4da1-8e90-2c4f167ed603","created_at":"2026-01-21T08:58:57Z","updated_at":"2026-01-21T08:58:57Z","operation":"space_quota.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/943cc478-ac07-4da1-8e90-2c4f167ed603"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768987106"
            X-Vcap-Request-Id:
                - 67c28528-69fb-4d59-7a62-48923fe2c945::8e1620dd-8064-47c1-8b27-550591744102
        status: 200 OK
        code: 200
        duration: 328.716833ms
