---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"managed","name":"test-si-managed","relationships":{"service_plan":{"data":{"guid":"75d7c3f6-e629-4db0-abf7-bc9c804d379d"}},"space":{"data":{"guid":"bb77a8bc-00f9-4cca-9df1-2e63641ff1a2"}}},"metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/41287591-c25e-4658-b629-bcff14953164
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771397305"
            X-Vcap-Request-Id:
                - 73bb7af3-d096-47e1-6b52-f213cf060db3::ef009609-427c-40ed-b5a2-e7c004b92253
        status: 202 Accepted
        code: 202
        duration: 1.09145025s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/41287591-c25e-4658-b629-bcff14953164
        method: GET
      response:
        body: '{"guid":"41287591-c25e-4658-b629-bcff14953164","created_at":"2026-02-18T06:34:54Z","updated_at":"2026-02-18T06:34:55Z","operation":"service_instance.create","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/41287591-c25e-4658-b629-bcff14953164"},"service_instances":{"href":"https://api.x.x.x.x.com/v3/service_instances/2d6232ea-97c5-4cad-9eb0-f91dd8abe2f4"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771397306"
            X-Vcap-Request-Id:
                - dfbcf8bf-74c4-4afd-4f78-ea06f3616513::f4543fc7-99b4-4558-8dfe-fa69f1d3bd84
        status: 200 OK
        code: 200
        duration: 284.97075ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances?names=test-si-managed&space_guids=bb77a8bc-00f9-4cca-9df1-2e63641ff1a2
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-managed\u0026page=1\u0026per_page=50\u0026space_guids=bb77a8bc-00f9-4cca-9df1-2e63641ff1a2"},"last":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-managed\u0026page=1\u0026per_page=50\u0026space_guids=bb77a8bc-00f9-4cca-9df1-2e63641ff1a2"},"next":null,"previous":null},"resources":[{"guid":"2d6232ea-97c5-4cad-9eb0-f91dd8abe2f4","created_at":"2026-02-18T06:34:54Z","updated_at":"2026-02-18T06:34:55Z","name":"test-si-managed","tags":[],"last_operation":{"type":"create","state":"succeeded","description":"","updated_at":"2026-02-18T06:34:55Z","created_at":"2026-02-18T06:34:55Z"},"type":"managed","maintenance_info":{},"upgrade_available":false,"dashboard_url":null,"relationships":{"space":{"data":{"guid":"bb77a8bc-00f9-4cca-9df1-2e63641ff1a2"}},"service_plan":{"data":{"guid":"75d7c3f6-e629-4db0-abf7-bc9c804d379d"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_instances/2d6232ea-97c5-4cad-9eb0-f91dd8abe2f4"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/bb77a8bc-00f9-4cca-9df1-2e63641ff1a2"},"service_credential_bindings":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?service_instance_guids=2d6232ea-97c5-4cad-9eb0-f91dd8abe2f4"},"service_route_bindings":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?service_instance_guids=2d6232ea-97c5-4cad-9eb0-f91dd8abe2f4"},"service_plan":{"href":"https://api.x.x.x.x.com/v3/service_plans/75d7c3f6-e629-4db0-abf7-bc9c804d379d"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_instances/2d6232ea-97c5-4cad-9eb0-f91dd8abe2f4/parameters"},"shared_spaces":{"href":"https://api.x.x.x.x.com/v3/service_instances/2d6232ea-97c5-4cad-9eb0-f91dd8abe2f4/relationships/shared_spaces"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771397306"
            X-Vcap-Request-Id:
                - efc78260-880b-4785-7939-8109c13ce950::4031a035-e966-4f5d-b682-4fc035db7c57
        status: 200 OK
        code: 200
        duration: 263.956167ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances/2d6232ea-97c5-4cad-9eb0-f91dd8abe2f4
        method: GET
      response:
        body: '{"guid":"2d6232ea-97c5-4cad-9eb0-f91dd8abe2f4","created_at":"2026-02-18T06:34:54Z","updated_at":"2026-02-18T06:34:55Z","name":"test-si-managed","tags":[],"last_operation":{"type":"creat[...]
[...]
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/db2eeb76-3698-484e-8c7d-3fc798cf2e05
        method: GET
      response:
        body: '{"guid":"db2eeb76-3698-484e-8c7d-3fc798cf2e05","created_at":"2026-02-18T06:35:00Z","updated_at":"2026-02-18T06:35:01Z","operation":"service_instance.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/db2eeb76-3698-484e-8c7d-3fc798cf2e05"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771397306"
            X-Vcap-Request-Id:
                - fe6f3e1d-d47f-4430-536e-d1dfddcac92e::4ff3a358-3725-4189-a884-77e7d52b477b
        status: 200 OK
        code: 200
        duration: 266.913333ms
