---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"space_auditor","relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"user":{"data":{"username":"kesavan.s@sap.com","origin":"sap.ids"}}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/roles
        method: POST
      response:
        body: '{"guid":"e72f3711-363c-4282-8f56-0de750da8b83","created_at":"2024-04-08T05:46:03Z","updated_at":"2024-04-08T05:46:03Z","type":"space_auditor","relationships":{"user":{"data":{"guid":"efed91b4-d808-40fb-b4b8-7a9449ff1e15"}},"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"organization":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/e72f3711-363c-4282-8f56-0de750da8b83"},"user":{"href":"https://api.x.x.x.x.com/v3/users/efed91b4-d808-40fb-b4b8-7a9449ff1e15"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712556473"
            X-Vcap-Request-Id:
                - 84cc8d4b-cdfa-4ac5-5937-3d5023dbb353::8b035478-6f02-4a4f-b41d-51609a7c98f8
        status: 201 Created
        code: 201
        duration: 1.438484375s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/e72f3711-363c-4282-8f56-0de750da8b83
        method: GET
      response:
        body: '{"guid":"e72f3711-363c-4282-8f56-0de750da8b83","created_at":"2024-04-08T05:46:03Z","updated_at":"2024-04-08T05:46:03Z","type":"space_auditor","relationships":{"user":{"data":{"guid":"efed91b4-d808-40fb-b4b8-7a9449ff1e15"}},"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"organization":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/e72f3711-363c-4282-8f56-0de750da8b83"},"user":{"href":"https://api.x.x.x.x.com/v3/users/efed91b4-d808-40fb-b4b8-7a9449ff1e15"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712556473"
            X-Vcap-Request-Id:
                - 268137a0-1efa-4f5a-59b8-222a7b465095::b84331b3-d109-475a-8d6d-db20bbcad7c7
        status: 200 OK
        code: 200
        duration: 264.163916ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/e72f3711-363c-4282-8f56-0de750da8b83
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/e5d40077-dd57-48f3-8c4e-900591fa3bdc
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712556474"
            X-Vcap-Request-Id:
                - 2a13c0fe-628d-4bb1-4236-f3316ce71f53::99858f8c-900b-4ce0-8e60-f69432a5518c
        status: 202 Accepted
        code: 202
        duration: 319.560792ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/e5d40077-dd57-48f3-8c4e-900591fa3bdc
        method: GET
      response:
        body: '{"guid":"e5d40077-dd57-48f3-8c4e-900591fa3bdc","created_at":"2024-04-08T05:46:04Z","updated_at":"2024-04-08T05:46:04Z","operation":"role.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/e5d40077-dd57-48f3-8c4e-900591fa3bdc"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712556473"
            X-Vcap-Request-Id:
                - 90902764-97d7-4ea1-53ae-b8902017417f::7c6c03fc-6a42-4cdb-85fb-8190541aab23
        status: 200 OK
        code: 200
        duration: 259.414375ms
