---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"managed","name":"test-si-wrong-space","relationships":{"service_plan":{"data":{"guid":"432bd9db-20e2-4997-825f-e4a937705b87"}},"space":{"data":{"guid":"wrong-space-guid"}}},"metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: '{"errors":[{"detail":"Invalid space. Ensure that the space exists and you have access to it.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711364588"
            X-Vcap-Request-Id:
                - c30ba93f-b236-4364-59d2-4031eda1ce8e::c42b1dd9-f405-4035-b237-29d98315541f
        status: 422 Unprocessable Entity
        code: 422
        duration: 180.178117ms
