---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"managed","name":"test-si-managed","relationships":{"service_plan":{"data":{"guid":"432bd9db-20e2-4997-825f-e4a937705b87"}},"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}},"metadata":{"labels":null,"annotations":null},"parameters":{"xsappname":"tf-unit-test","tenant-mode":"dedicated","description":"tf test1","foreign-scope-references":["user_attributes"],"scopes":[{"name":"uaa.user","description":"UAA"}],"role-templates":[{"name":"Token_Exchange","description":"UAA","scope-references":["uaa.user"]}]}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/4ffb9f9b-2679-412e-9b47-a613726bd09f
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711364588"
            X-Vcap-Request-Id:
                - 86066a8a-ca5c-40c4-531b-0db6bba346c5::c11248ee-e0dc-42ec-9fc2-153834dd30ab
        status: 202 Accepted
        code: 202
        duration: 692.168294ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/4ffb9f9b-2679-412e-9b47-a613726bd09f
        method: GET
      response:
        body: '{"guid":"4ffb9f9b-2679-412e-9b47-a613726bd09f","created_at":"2024-03-25T10:39:24Z","updated_at":"2024-03-25T10:39:24Z","operation":"service_instance.create","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/4ffb9f9b-2679-412e-9b47-a613726bd09f"},"service_instances":{"href":"https://api.x.x.x.x.com/v3/service_instances/b9a2653a-a6be-4006-94e6-59a4280aa6cc"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711364588"
            X-Vcap-Request-Id:
                - cf2162b1-18f8-483a-5a7a-521f902018cf::a7717bd2-bdc4-4412-b5d2-46c118bbbaf7
        status: 200 OK
        code: 200
        duration: 192.610335ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances?names=test-si-managed&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-managed\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/service_instances?names=test-si-managed\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"b9a2653a-a6be-4006-94e6-59a4280aa6cc","created_at":"2024-03-25T10:39:24Z","updated_at":"2024-03-25T10:39:24Z","name":"test-si-managed","tags":[],"last_operation":{"type":"create","state":"succeeded","description":"","updated_at":"2024-03-25T10:39:24Z","created_at":"2024-03-25T10:39:24Z"},"type":"managed","maintenance_info":{},"upgrade_available":false,"dashboard_url":null,"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"service_plan":{"data":{"guid":"432bd9db-20e2-4997-825f-e4a937705b87"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_instances/b9a2653a-a6be-4006-94e6-59a4280aa6cc"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"service_credential_bindings":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?service_instance_guids=b9a2653a-a6be-4006-94e6-59a4280aa6cc"},"service_route_bindings":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?service_instance_guids=b9a2653a-a6be-4006-94e6-59a4280aa6cc"},"service_plan":{"href":"https://api.x.x.x.x.com/v3/service_plans/432bd9db-20e2-4997-825f-e4a937705b87"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_instances/b9a2653a-a6be-4006-94e6-59a4280aa6cc/parameters"},"shared_spaces":{"href":"https://api.x.x.x.x.com/v3/service_instances/b9a2653a-a6be-4006-94e6-59a4280aa6cc/relationships/shared_spaces"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1711364588"
            X-Vcap-Request-Id:
                - 7e8afd83-685d-4c23-629d-19f9a0d6c6c4::fe67a752-515a-4243-9a59-cc13e6934082
        status: 200 OK
        code: 200
        duration: 193.927143ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances/b9a2653a-a6be-4006-94e6-59a4280aa6cc
        method: GET
      response:
        body: '{"guid":"b9a2653a-a6be-4006-94e6-59a4280aa6cc","created_at":"2024-03-25T10:39:24Z","updated_at":"2024-03-25T10:39:24Z","name":"test-si-managed","tags":[],"last_operation":{"type":"creat[...]
[...]
