---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"relationships":{"service_instance":{"data":{"guid":"a92e1186-b229-4711-b233-a8726879dad6"}},"route":{"data":{"guid":"490d6825-5d8f-4dd2-b332-1e8ea6ae5158"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_route_bindings
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/ad286a8d-3f73-4e75-9c66-cebb617d9810
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1718688788"
            X-Vcap-Request-Id:
                - 34ac9658-2be5-4c1b-7e1d-71fe7fbf1397::5361b6cc-c109-4db3-9168-d2a6a4275967
        status: 202 Accepted
        code: 202
        duration: 271.495833ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/ad286a8d-3f73-4e75-9c66-cebb617d9810
        method: GET
      response:
        body: '{"guid":"ad286a8d-3f73-4e75-9c66-cebb617d9810","created_at":"2024-06-18T05:15:13Z","updated_at":"2024-06-18T05:15:14Z","operation":"service_route_bindings.create","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/ad286a8d-3f73-4e75-9c66-cebb617d9810"},"service_route_binding":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings/440310ff-24d4-448e-97b8-ff9a2cf19412"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1718688788"
            X-Vcap-Request-Id:
                - b2c4d9c0-387c-4cbf-7faa-6334b97f7e13::cc9d30c8-bf6a-4f92-8a0d-827fe52b83a4
        status: 200 OK
        code: 200
        duration: 318.718792ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_route_bindings?route_guids=490d6825-5d8f-4dd2-b332-1e8ea6ae5158&service_instance_guids=a92e1186-b229-4711-b233-a8726879dad6
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?page=1\u0026per_page=50\u0026route_guids=490d6825-5d8f-4dd2-b332-1e8ea6ae5158\u0026service_instance_guids=a92e1186-b229-4711-b233-a8726879dad6"},"last":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings?page=1\u0026per_page=50\u0026route_guids=490d6825-5d8f-4dd2-b332-1e8ea6ae5158\u0026service_instance_guids=a92e1186-b229-4711-b233-a8726879dad6"},"next":null,"previous":null},"resources":[{"guid":"440310ff-24d4-448e-97b8-ff9a2cf19412","route_service_url":"https://mobile-approuter.cfapps.sap.hana.ondemand.com/a92e1186-b229-4711-b233-a8726879dad6","created_at":"2024-06-18T05:15:13Z","updated_at":"2024-06-18T05:15:14Z","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2024-06-18T05:15:14Z","created_at":"2024-06-18T05:15:14Z"},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"a92e1186-b229-4711-b233-a8726879dad6"}},"route":{"data":{"guid":"490d6825-5d8f-4dd2-b332-1e8ea6ae5158"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings/440310ff-24d4-448e-97b8-ff9a2cf19412"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/a92e1186-b229-4711-b233-a8726879dad6"},"route":{"href":"https://api.x.x.x.x.com/v3/routes/490d6825-5d8f-4dd2-b332-1e8ea6ae5158"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_route_bindings/440310ff-24d4-448e-97b8-ff9a2cf19412/parameters"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1718688788"
            X-Vcap-Request-Id:
                - d68dfdac-e282-4fc0-45a1-2ee853d6b897::706d1c66-a92e-4adc-b37b-744605c77c57
        status: 200 OK
        code: 200
        duration: 346.857583ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_route_bindings/440310ff-24d4-448e-97b8-ff9a2cf19412
        method: GET
      response:
        body: '{"guid":"440310ff-24d4-448e-97b8-ff9a2cf19412","route_service_url":"https://mobile-approuter.cfapps.sap.hana.ondemand.com/a92e1186-b229-4711-b233-a8726879dad6","created_at":"2024-0[...]
[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_route_bindings/440310ff-24d4-448e-97b8-ff9a2cf19412
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/f11b2671-bfe6-42cd-b5f8-30970abb1cad
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1718688788"
            X-Vcap-Request-Id:
                - a263b607-8882-4bb3-431d-98a9afd73d89::986b0809-bf85-477f-9c85-2296ff591099
        status: 202 Accepted
        code: 202
        duration: 272.407334ms
[...]
