---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers: {}
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.x.x.x.x.com"},"cloud_controller_v3":{"href":"https://api.x.x.x.x.com/v3","meta":{"version":"3.208.0"}},"network_policy_v0":{"href":"https://api.x.x.x.x.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.x.x.x.x.com/networking/v1/external"},"login":{"href":"https://login.x.x.x.x.com"},"uaa":{"href":"https://uaa.x.x.x.x.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.x.x.x.x.com:443"},"log_cache":{"href":"https://log-cache.x.x.x.x.com"},"log_stream":{"href":"https://log-stream.x.x.x.x.com"},"app_ssh":{"href":"ssh.x.x.x.x.com:2222","meta":{"host_key_fingerprint":"aNEJ3ydq+c9iZUUD0p4OjUAbjYbuvWsmYm3YBYbce0Y","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.x.x.x.x.com/v2","meta":{"version":"2.273.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - 1c2d8c1c-8280-4add-5e9e-aa79f65f7c3b::45434ac7-7fcb-4f66-aef4-5aba2e8ca524
        status: 200 OK
        code: 200
        duration: 290.8125ms
    - id: 1
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=password&password=Saponline%40%401234&username=anugrah.gupta%40sap.com
        form:
            grant_type:
                - password
            password:
                - Saponline@@1234
            username:
                - anugrah.gupta@sap.com
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"d394cd406b4048b8b0335d7a0ed8f532-r","expires_in":1199,"scope":"openid uaa.user cloud_controller.read password.write cloud_controller.write","jti":"582906f44aff467286d04a06b8028864"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 6c17ffe6-caee-42df-4019-c121a110f3e5
        status: 200 OK
        code: 200
        duration: 2.36122596s
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"guid":"405a6d48-8d04-4346-a1be-80cb69643434","created_at":"2026-01-20T09:31:22Z","updated_at":"2026-01-20T09:31:22Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/405a6d48-8d04-4346-a1be-80cb69643434"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/405a6d48-8d04-4346-a1be-80cb69643434/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/405a6d48-8d04-4346-a1be-80cb69643434/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768902506"
            X-Vcap-Request-Id:
                - 5c60ce99-02ba-446d-4e3e-9d27d5aa750f::70106f35-a5eb-4690-afd4-44e33f522310
        status: 201 Created
        code: 201
        duration: 333.594833ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":true}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/405a6d48-8d04-4346-a1be-80cb69643434/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768902506"
            X-Vcap-Request-Id:
                - e4a5bf16-d1a7-493a-4cc5-44722461f541::3835535b-e2d3-4361-8256-2bfca3764fb2
        status: 200 OK
        code: 200
        duration: 302.598ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/405a6d48-8d04-4346-a1be-80cb69643434
        method: GET
      response:
        body: '{"guid":"405a6d48-8d04-4346-a1be-80cb69643434","created_at":"2026-01-20T09:31:22Z","updated_at":"2026-01-20T09:31:22Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da4[...]
[...]
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/405a6d48-8d04-4346-a1be-80cb69643434/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/405a6d48-8d04-4346-a1be-80cb69643434/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768902506"
            X-Vcap-Request-Id:
                - 2049d971-ac79-41d7-4a98-d08faf9b6b5b::3ead5c3a-533f-44cf-a2ec-74b54ec30bef
        status: 200 OK
        code: 200
        duration: 359.314959ms
[...]
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/405a6d48-8d04-4346-a1be-80cb69643434/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768902506"
            X-Vcap-Request-Id:
                - d05dbeba-2d62-449b-53df-1624ac8895f7::83dcd16d-9aa6-41d5-bed1-a0cf214eade7
        status: 200 OK
        code: 200
        duration: 296.257958ms
[...]
    - id: 22
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/405a6d48-8d04-4346-a1be-80cb69643434
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/d5ac8909-f067-43af-a59e-9e1b324267fa
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768902507"
            X-Vcap-Request-Id:
                - 39fc5c2d-927f-467d-5a47-3794084b9dce::73b0ffc8-9046-47ee-9e21-c514b48608d4
        status: 202 Accepted
        code: 202
        duration: 318.8125ms
    - id: 23
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/d5ac8909-f067-43af-a59e-9e1b324267fa
        method: GET
      response:
        body: '{"guid":"d5ac8909-f067-43af-a59e-9e1b324267fa","created_at":"2026-01-20T09:31:32Z","updated_at":"2026-01-20T09:31:32Z","operation":"space.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/d5ac8909-f067-43af-a59e-9e1b324267fa"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768902506"
            X-Vcap-Request-Id:
                - 91d53bd3-147f-434e-5dad-7293b8196344::1edb2e6a-e583-43c4-88cf-c59a9c448448
        status: 200 OK
        code: 200
        duration: 298.818875ms
