---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Users?count=100&filter=userName+eq+%22tf-test%22&startIndex=1
        method: GET
      response:
        body: '{"resources":[],"startIndex":1,"itemsPerPage":100,"totalResults":0,"schemas":["urn:scim:schemas:core:1.0"]}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 0755f9a5-ba62-412c-5d17-1e0d4678ce61
        status: 200 OK
        code: 200
        duration: 531.712292ms
    - id: 1
      request:
        host: uaa.x.x.x.x.com
        body: '{"password":"tf-test","userName":"tf-test","name":{"familyName":"tf-family","givenName":"tf-given"},"emails":[{"value":"tf-test@example.com","primary":true}]}'
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Users
        method: POST
      response:
        body: '{"id":"48815cb1-4b2a-4ae3-9bb8-b08d7e328ac0","meta":{"version":0,"created":"2024-07-12T03:28:03.699Z","lastModified":"2024-07-12T03:28:03.699Z"},"userName":"tf-test","name":{"familyName":"tf-family","givenName":"tf-given"},"emails":[{"value":"tf-test@example.com","primary":false}],"groups":[{"value":"f7a63315-0007-4af7-bc2c-0c38e44387df","display":"cloud_controller.write","type":"DIRECT"},{"value":"22dc1ff3-de75-41fb-81a0-ea893a5552d4","display":"scim.me","type":"DIRECT"},{"value":"0c3dbc99-6b06-4099-99eb-ec2bc857aaa6","display":"oauth.approvals","type":"DIRECT"},{"value":"b06d934a-dbee-4a47-b3c7-d39980496fdb","display":"cloud_controller.read","type":"DIRECT"},{"value":"857ba7b3-e379-479f-8282-4b90502144f7","display":"notification_preferences.write","type":"DIRECT"},{"value":"f5c480ca-8fe5-4092-86b2-63ff5867bb50","display":"notification_preferences.read","type":"DIRECT"},{"value":"f1da5b73-b4c4-4c19-b14b-773e5e99dcd3","display":"uaa.user","type":"DIRECT"},{"value":"7a4c7f23-2a37-4f16-b0b8-a54ec518cf2c","display":"cloud_controller_service_permissions.read","type":"DIRECT"},{"value":"fbf50ac0-3219-4def-ad4d-74fbd199dea2","display":"roles","type":"DIRECT"},{"value":"b334f5da-0b49-4f6a-bd97-8b36bc16c34a","display":"openid","type":"DIRECT"},{"value":"0f2e31e6-7053-41b4-b7f5-2e2d69f82bcb","display":"password.write","type":"DIRECT"},{"value":"da8826f4-9d2e-4af5-93a4-8c649be9b723","display":"uaa.offline_token","type":"DIRECT"},{"value":"55ed167c-6562-4cbe-a0fc-6bc79c3c4c51","display":"user_attributes","type":"DIRECT"},{"value":"260420bc-bbe6-4569-ab39-0fa0b7dcf36d","display":"profile","type":"DIRECT"},{"value":"c8a551ac-291e-4504-a056-a058a367b106","display":"approvals.me","type":"DIRECT"}],"approvals":[],"active":true,"verified":true,"origin":"uaa","zoneId":"uaa","passwordLastModified":"2024-07-12T03:28:03.000Z","schemas":["urn:scim:schemas:core:1.0"]}'
        headers:
            Content-Type:
                - application/json
            Etag:
                - '"0"'
            X-Vcap-Request-Id:
                - 49c2870d-c6f2-46f4-4197-4c2a4be8aa4d
        status: 201 Created
        code: 201
        duration: 273.153083ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/48815cb1-4b2a-4ae3-9bb8-b08d7e328ac0
        method: GET
      response:
        body: '{"errors":[{"detail":"User not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 4e40fb4a-4f62-4719-45ed-ab7cdb3e725d::b98e4aa3-b1ca-4959-888e-364eb9957b50
        status: 404 Not Found
        code: 404
        duration: 518.556333ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            {"guid":"48815cb1-4b2a-4ae3-9bb8-b08d7e328ac0","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/users
        method: POST
      response:
        body: '{"guid":"48815cb1-4b2a-4ae3-9bb8-b08d7e328ac0","created_at":"2024-07-12T03:28:04Z","updated_at":"2024-07-12T03:28:04Z","username":"tf-test","presentation_name":"tf-test","origin":"uaa","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/48815cb1-4b2a-4ae3-9bb8-b08d7e328ac0"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - b19e6044-b1c0-4c1e-61bc-ab93a75e1993::9cdf7241-816b-45ec-a785-d7954f906b85
        status: 201 Created
        code: 201
        duration: 253.841917ms
[...]
    - id: 5
      request:
        host: uaa.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            If-Match:
                - '*'
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Users/48815cb1-4b2a-4ae3-9bb8-b08d7e328ac0
        method: GET
      response:
        body: '{"id":"48815cb1-4b2a-4ae3-9bb8-b08d7e328ac0","meta":{"version":0,"created":"2024-07-12T03:28:03.699Z","lastModified":"2024-07-12T03:28:03.699Z"},"userName":"tf-test","name":{"familyName":"tf-family","givenName":"tf-given"},"emails":[{"value":"tf-test@example.com","primary":false}],"groups":[{[...]
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/48815cb1-4b2a-4ae3-9bb8-b08d7e328ac0
        method: GET
      response:
        body: '{"guid":"48815cb1-4b2a-4ae3-9bb8-b08d7e328ac0","created_at":"2024-07-12T03:28:04Z","updated_at":"2024-07-12T03:28:04Z","username":"tf-test2","presentation_name":"tf-test2","origin":"uaa","metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/users/48815cb1-4b2a-4ae3-9bb8-b08d7e328ac0"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f777ce5e-0bf5-4bc5-5a32-a896e62f81b8::d00e6005-1157-4039-8288-506f7b971f03
        status: 200 OK
        code: 200
        duration: 306.70825ms
[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/users/48815cb1-4b2a-4ae3-9bb8-b08d7e328ac0
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/f423974b-2f23-499d-b6b2-2ca00faf2346
            X-Vcap-Request-Id:
                - f4c79e68-9471-4521-54bd-1d1bc0d11f75::0f9236b3-69be-4d5c-8a5b-d30c95da17a2
        status: 202 Accepted
        code: 202
        duration: 192.419875ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/f423974b-2f23-499d-b6b2-2ca00faf2346
        method: GET
      response:
        body: '{"guid":"f423974b-2f23-499d-b6b2-2ca00faf2346","created_at":"2024-07-12T03:28:07Z","updated_at":"2024-07-12T03:28:07Z","operation":"user.delete","state":"PROCESSING","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/f423974b-2f23-499d-b6b2-2ca00faf2346"},"user":{"href":"https://api.x.x.x.x.com/v3/users/48815cb1-4b2a-4ae3-9bb8-b08d7e328ac0"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - ccff0932-4b14-4281-65b7-73f8de5435c4::41ba1d6f-4bc9-4c14-816d-f06a7540e0f9
        status: 200 OK
        code: 200
        duration: 186.405625ms
[...]
