---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-import","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}}},"apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"log_rate_limit_in_bytes_per_second":null,"total_instances":null,"per_app_tasks":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/space_quotas
        method: POST
      response:
        body: '{"guid":"fdd560c1-15ce-47f3-a898-6e12d233e962","created_at":"2024-03-26T14:13:38Z","updated_at":"2024-03-26T14:13:38Z","name":"tf-unit-test-import","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/fdd560c1-15ce-47f3-a898-6e12d233e962"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 172c18d6-1efa-42ce-471f-6ef125122477::7fbc67fb-324b-46c5-b3d0-15dd6b5638f8
        status: 201 Created
        code: 201
        duration: 181.111625ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?guids=fdd560c1-15ce-47f3-a898-6e12d233e962
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=fdd560c1-15ce-47f3-a898-6e12d233e962\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=fdd560c1-15ce-47f3-a898-6e12d233e962\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"fdd560c1-15ce-47f3-a898-6e12d233e962","created_at":"2024-03-26T14:13:38Z","updated_at":"2024-03-26T14:13:38Z","name":"tf-unit-test-import","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/fdd560c1-15ce-47f3-a898-6e12d233e962"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - fa81274c-1ff6-4afa-6969-6818e2c73349::64c2cdda-f8bf-4e6b-94e6-a58df5ff95d7
        status: 200 OK
        code: 200
        duration: 171.752083ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas/fdd560c1-15ce-47f3-a898-6e12d233e962
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/fc9368a4-5ada-4d97-9098-027d8f1c3311
            X-Vcap-Request-Id:
                - 89c7e3e1-c260-46ac-795f-26b964cf5c92::ec51cc0b-fcb1-4e24-bf3a-6e99df48eafb
        status: 202 Accepted
        code: 202
        duration: 210.058875ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/fc9368a4-5ada-4d97-9098-027d8f1c3311
        method: GET
      response:
        body: '{"guid":"fc9368a4-5ada-4d97-9098-027d8f1c3311","created_at":"2024-03-26T14:13:40Z","updated_at":"2024-03-26T14:13:42Z","operation":"space_quota.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/fc9368a4-5ada-4d97-9098-027d8f1c3311"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - ce4a528c-0818-4115-6a32-262c91e63ad3::2d67cbb5-f2c0-44fa-bc1e-44ae87798e95
        status: 200 OK
        code: 200
        duration: 179.847625ms
