---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Groups?count=100&filter=displayName+eq+%22some_random.group%22&startIndex=1
        method: GET
      response:
        body: '{"resources":[],"startIndex":1,"itemsPerPage":100,"totalResults":0,"schemas":["urn:scim:schemas:core:1.0"]}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 83beae15-e069-4562-6e96-a334f42c492b
        status: 200 OK
        code: 200
        duration: 164.221666ms
    - id: 1
      request:
        host: uaa.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Groups?count=100&filter=displayName+eq+%22cloud_controller.admin%22&startIndex=1
        method: GET
      response:
        body: '{"resources":[{"id":"9835ca53-8285-4c4c-8eba-d812c5cd490f","meta":{"version":12280,"created":"2020-07-30T13:12:38.957Z","lastModified":"2024-06-28T06:16:18.712Z"},"displayName":"cloud_controller.admin","zoneId":"uaa","members":[{"origin":"uaa","type":"USER","value":"086df27b-193b-42e5-a037-f73f4c1b9fc0"},{"origin":"uaa","type":"USER","value":"c789e434-0395-4a11-9dac-7a371a2b1594"},{"origin":"uaa","type":"USER","value":"09dc8b84-e341-4ca9-a892-96e4c13d63f8"},{"origin":"uaa","type":"USER","value":"097e53ee-c5f7-471c-8daf-f9a9b260426c"},{"origin":"uaa","type":"GROUP","value":"3b6072a6-87e3-47c4-8974-67cecfd77d09"},{"origin":"uaa","type":"USER","value":"7fa0d749-4d71-4555-a3fb-8bf466b024b3"},{"origin":"uaa","type":"USER","value":"5d12ac31-b973-46b0-85ae-cf7adf[...]
    - id: 2
      request:
        host: uaa.x.x.x.x.com
        body: '{"origin":"uaa","type":"USER","value":"f417c4fb-d555-4c36-86fb-20d24b5da496"}'
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Groups/9835ca53-8285-4c4c-8eba-d812c5cd490f/members
        method: POST
      response:
        body: '{"error_description":"f417c4fb-d555-4c36-86fb-20d24b5da496 is already part of the group: 9835ca53-8285-4c4c-8eba-d812c5cd490f","error":"member_already_exists","message":"f417c4fb-d555-4c36-86fb-20d24b5da496 is already part of the group: 9835ca53-8285-4c4c-8eba-d812c5cd490f"}'
        headers:
            Content-Language:
                - en-US
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 6034fffb-8122-4a33-74b9-d8308a60ac03
        status: 409 Conflict
        code: 409
        duration: 168.204167ms
    - id: 3
      request:
        host: uaa.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            If-Match:
                - '*'
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Users/f417c4fb-d555-4c36-86fb-20d24b5da496
        method: GET
      response:
        body: '{"id":"f417c4fb-d555-4c36-86fb-20d24b5da496","meta":{"version":0,"created":"2024-07-11T08:50:25.117Z","lastModified":"2024-07-11T08:50:25.117Z"},"userName":"test1","name":{"familyName":"test","givenName":"test"},"emails":[{"value":"test@gmail.com","primary":false}],"groups":[{"value":"b06d934a-dbee-4a47-b3c7-d39980496fdb","display":"cloud_controller.read","type":"DIRECT"},{"value":"da8826f4-9d2e-4af5-93a4-8c649be9b723","display":"uaa.offline_token","type":"DIRECT"},{"value":"55ed167c-6562-4cbe-a0fc-6bc79c3c4c51","display":"user_attributes","type":"DIRECT"},{"value":"0f2e31e6-7053-41b4-b7f5-2e2d69f82bcb","display":"password.write","type":"DIRECT"},{"value":"7a4c7f23-2a37-4f16-b0b8-a54ec518cf2c","display":"cloud_controller_service_permissions.read","type":"DIRECT"},{"value":"f7a63315-0007-4af7-bc2c-0c38e44387df","display":"c[...]
[...]
    - id: 8
      request:
        host: uaa.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Groups?count=100&filter=displayName+eq+%22scim.write%22&startIndex=1
        method: GET
      response:
        body: '{"resources":[{"id":"f3f2709c-7755-4c89-a24b-8a408a41c7a9","meta":{"version":14227,"created":"2020-07-30T13:12:39.348Z","lastModified":"2024-07-10T18:28:01.731Z"},"displayName":"scim.write","zoneId":"uaa","description":"Create, modify and delete SCIM entities, i.e. users and groups","members":[{"origin":"uaa","type":"GROUP","value":"3b6072a6-87e3-47c4-8974-67cecfd77d09"},{"origin":"uaa","type":"GROUP","value":"cb87de29-864d-413f-aafa-7a7bc5a79506"},{"origin":"uaa","type":"USER","value":"de27d4dd-e710-4222-99ca-618291f3a356"},{"origin":"uaa","type":"USER","value":"42977453-51fc-4fef-a4a3-bb7933be7281"},{"origin":"uaa","type":"USER","value":"d5e6ff5c-05a3-4f29-9804-ae6bfc82390f"},{"origin":"uaa","type":"USER","v[...]
[...]
    - id: 13
      request:
        host: uaa.x.x.x.x.com
        body: '{"origin":"uaa","type":"USER","value":"f417c4fb-d555-4c36-86fb-20d24b5da496"}'
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Identity-Zone-Id:
                - ""
        url: https://uaa.x.x.x.x.com/Groups/9835ca53-8285-4c4c-8eba-d812c5cd490f/members/f417c4fb-d555-4c36-86fb-20d24b5da496
        method: DELETE
      response:
        body: '{"origin":"uaa","type":"USER","value":"f417c4fb-d555-4c36-86fb-20d24b5da496"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - d4093ec7-17dc-4e21-69c1-f2e5c55bf5c0
        status: 200 OK
        code: 200
        duration: 179.160042ms
[...]
