---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"relationships":{"service_instance":{"data":{"guid":"40b73419-5e01-4be0-baea-932d46cea45b"}},"route":{"data":{"guid":"3966c2fb-d84d-462d-82a5-a81cf7cdab20"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_route_bindings
        method: POST
      response:
        body: '{"errors":[{"detail":"The service instance could not be found: 40b73419-5e01-4be0-baea-932d46cea45b","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1771689931"
            X-Vcap-Request-Id:
                - 68107e36-5193-436c-6952-61fe6c20a3d0::1e282c2f-e4e5-4ac7-95ab-3c515afe8d54
        status: 422 Unprocessable Entity
        code: 422
        duration: 373.814333ms
