---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"username":"tf-test@example.com","origin":"","metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/users
        method: POST
      response:
        body: '{"errors":[{"title":"UnknownError","detail":"An unknown error occurred.","code":10001}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 14ff0b81-8cb8-41be-64de-2d96a7d1ee68::d55ed8cf-7c21-45f7-83d6-c9d867d77cab
        status: 500 Internal Server Error
        code: 500
        duration: 194.038334ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"username":"test","origin":"","metadata":{"labels":{"landscape":"test","purpose@!":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/users
        method: POST
      response:
        body: '{"errors":[{"detail":"Metadata label key error: ''purpose@!'' contains invalid characters","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a6af263d-5cd6-429f-4b32-e629fc1cea34::be8bb102-2e89-4297-803c-b3e81b1ac7cf
        status: 422 Unprocessable Entity
        code: 422
        duration: 165.23925ms
