---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"key","relationships":{"service_instance":{"data":{"guid":"5e2976bb-332e-41e1-8be3-53baafea9296"}}},"name":"tf-test-do-not-delete","metadata":{"labels":null,"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_credential_bindings
        method: POST
      response:
        body: '{"errors":[{"detail":"Service credential bindings of type ''key'' are not supported for user-provided service instances.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756720195"
            X-Vcap-Request-Id:
                - da9a12fe-ad6d-4f8b-67b8-26885e5d87e9::6cdf8581-653b-44d4-9db3-72c6f7833ad8
        status: 422 Unprocessable Entity
        code: 422
        duration: 264.044625ms
