---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/organizations
        method: POST
      response:
        body: '{"guid":"c442665f-f91c-43d4-892e-1813d5bb16be","created_at":"2024-02-04T16:50:58Z","updated_at":"2024-02-04T16:50:58Z","name":"tf-unit-test","suspended":false,"relationships":{"quota":{"data":{"guid":"772993fb-9aae-479b-8001-11e42b9e6a55"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/c442665f-f91c-43d4-892e-1813d5bb16be"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/c442665f-f91c-43d4-892e-1813d5bb16be/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/c442665f-f91c-43d4-892e-1813d5bb16be/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/772993fb-9aae-479b-8001-11e42b9e6a55"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 9c09ddf8-c69e-48c8-5437-4ee12ea0c283::1c8f397d-59c5-4d8a-945b-1cd53e834ce5
        status: 201 Created
        code: 201
        duration: 1.421003213s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?guids=c442665f-f91c-43d4-892e-1813d5bb16be
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?guids=c442665f-f91c-43d4-892e-1813d5bb16be\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?guids=c442665f-f91c-43d4-892e-1813d5bb16be\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"c442665f-f91c-43d4-892e-1813d5bb16be","created_at":"2024-02-04T16:50:58Z","updated_at":"2024-02-04T16:50:58Z","name":"tf-unit-test","suspended":false,"relationships":{"quota":{"data":{"guid":"772993fb-9aae-479b-8001-11e42b9e6a55"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/c442665f-f91c-43d4-892e-1813d5bb16be"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/c442665f-f91c-43d4-892e-1813d5bb16be/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/c442665f-f91c-43d4-892e-1813d5bb16be/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/772993fb-9aae-479b-8001-11e42b9e6a55"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e16520fd-211e-4841-61a8-c8826265c3da::2d6c17e8-f703-4902-b3ab-2a9bdf6e05e4
        status: 200 OK
        code: 200
        duration: 245.387481ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/c442665f-f91c-43d4-892e-1813d5bb16be
        method: GET
      response:
        body: '{"guid":"c442665f-f91c-43d4-892e-1813d5bb16be","created_at":"2024-02-04T16:50:58Z","updated_at":"2024-02-04T16:50:58Z","name":"tf-unit-test","suspended":false,"relationships":{"quota":{"data":{"guid":"772993fb-9aae-479b-8001-11e42b9e6a55"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/c442665f-f91c-43d4-892e-1813d5bb16be"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/c442665f-f91c-43d4-892e-1813d5bb16be/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/c442665f-f91c-43d4-892e-1813d5bb16be/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/772993fb-9aae-479b-8001-11e42b9e6a55"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 978d5e68-d07a-4fe0-4a29-f3acb847da99::5b318d5f-3c03-4410-bebb-a2ba8fc84b05
        status: 200 OK
        code: 200
        duration: 230.12798ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/c442665f-f91c-43d4-892e-1813d5bb16be
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/68d9e5a2-7786-4509-9f58-64958975dbd9
            X-Vcap-Request-Id:
                - 5816e605-14a9-44e6-5105-0757be8892a3::8f8e2c26-2100-402b-b797-a1b07454c72e
        status: 202 Accepted
        code: 202
        duration: 276.463218ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/68d9e5a2-7786-4509-9f58-64958975dbd9
        method: GET
      response:
        body: '{"guid":"68d9e5a2-7786-4509-9f58-64958975dbd9","created_at":"2024-02-04T16:51:02Z","updated_at":"2024-02-04T16:51:02Z","operation":"organization.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/68d9e5a2-7786-4509-9f58-64958975dbd9"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 90f7e41f-78a0-4de3-77c9-3dbfa16802eb::82a7a4b8-3eed-44d7-8962-25f9421d3bc3
        status: 200 OK
        code: 200
        duration: 235.367465ms
