---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"app","relationships":{"app":{"data":{"guid":"ede9258f-5b3d-4837-906f-8b4b2c4cbe58"}},"service_instance":{"data":{"guid":"68fea1b6-11b9-4737-ad79-74e49832533f"}}},"name":"test-ab-managed-provided1","parameters":{"xsappname":"tf-unit-test","tenant-mode":"dedicated","description":"tf test1","foreign-scope-references":["user_attributes"],"scopes":[{"name":"uaa.user","description":"UAA"}],"role-templates":[{"name":"Token_Exchange","description":"UAA","scope-references":["uaa.user"]}]},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_credential_bindings
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/cd539f42-3366-4511-8cb4-e86a3d555745
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756720195"
            X-Vcap-Request-Id:
                - 3148c869-90c7-4e06-609a-ae13350bcec0::037c6cb9-bf0a-44ee-a283-d4614c08f801
        status: 202 Accepted
        code: 202
        duration: 323.789ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/cd539f42-3366-4511-8cb4-e86a3d555745
        method: GET
      response:
        body: '{"guid":"cd539f42-3366-4511-8cb4-e86a3d555745","created_at":"2025-09-01T09:43:15Z","updated_at":"2025-09-01T09:43:16Z","operation":"service_bindings.create","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/cd539f42-3366-4511-8cb4-e86a3d555745"},"service_credential_binding":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/f9cf3b42-2db1-4978-8818-b5effd24517a"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756720196"
            X-Vcap-Request-Id:
                - c78c5a36-5e84-4e7c-6164-f7b3197bf9b0::9d3924d8-2dfb-40e0-896f-b8a7da1e7373
        status: 200 OK
        code: 200
        duration: 260.578416ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?app_guids=ede9258f-5b3d-4837-906f-8b4b2c4cbe58&service_instance_guids=68fea1b6-11b9-4737-ad79-74e49832533f
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?app_guids=ede9258f-5b3d-4837-906f-8b4b2c4cbe58\u0026page=1\u0026per_page=50\u0026service_instance_guids=68fea1b6-11b9-4737-ad79-74e49832533f"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?app_guids=ede9258f-5b3d-4837-906f-8b4b2c4cbe58\u0026page=1\u0026per_page=50\u0026service_instance_guids=68fea1b6-11b9-4737-ad79-74e49832533f"},"next":null,"previous":null},"resources":[{"guid":"f9cf3b42-2db1-4978-8818-b5effd24517a","created_at":"2025-09-01T09:43:15Z","updated_at":"2025-09-01T09:43:16Z","name":"test-ab-managed-provided1","type":"app","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2025-09-01T09:43:16Z","created_at":"2025-09-01T09:43:16Z"},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"68fea1b6-11b9-4737-ad79-74e49832533f"}},"app":{"data":{"guid":"ede9258f-5b3d-4837-906f-8b4b2c4cbe58"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/f9cf3b42-2db1-4978-8818-b5effd24517a"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/f9cf3b42-2db1-4978-8818-b5effd24517a/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/68fea1b6-11b9-4737-ad79-74e49832533f"},"parameters":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/f9cf3b42-2db1-4978-8818-b5effd24517a/parameters"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/ede9258f-5b3d-4837-906f-8b4b2c4cbe58"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756720195"
            X-Vcap-Request-Id:
                - 3735a8f3-2052-42c9-7bec-485cb88446d3::6ac3dcdc-1376-409f-855a-c490b5ab0851
        status: 200 OK
        code: 200
        duration: 264.992959ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/f9cf3b42-2db1-4978-8818-b5effd24517a/details
        method: GET
      response:
        body: '{"credentials":{"tenantmode":"dedicated","sburl":"https://internal-xsuaa.authentication.sap.hana.ondemand.com","subaccountid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","credential-type":"instance-secret","clientid":"sb-tf-test1!t4176","xsappname":"tf-test1!t4176","clientsecret":"w+cgK2v6jZtmJ9NrszDNOasZLyQ=","serviceInstanceId":"68fea1b6-11b9-4737-ad79-74e49832533f","url":"https://performanceteamblr.authentication.sap.hana.ondemand.com","uaadomain":"authentication.sap.hana.ondemand.com","verificationkey":"-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAt0mX/xGskI6pZuVyh9ql\n6y1OBDcC8eIBIYOY0bJGuu7KWnT3H8pY+6DDPmKM3mqoEMsNDwmQo0BF3RvuJkxY\nc4qAJe13p2juqCpuEtd+dRTeiEcL1ZIByiT11OQ2QgIsDDiYJRpSOp8kjB6KtVGY\nGp9wyE2KkaOPP3TsZaJtxoCTuylBMlvEam144O47Y7po/HrvxgUo1nZRb5a2qtna\nhYwnUAu5XjJNvFuZFtXIiLhGypBoqySBcA/0RQhbW5pSUOmY8XI0FHrY+/kolNsj\n0ePsSBCKLdSmh7qByUjbqcDgq424TZsXwRyyFHLy309LzZx9zU5bbANyX6+aq/GJ\nMQIDAQAB\n-----END PUBLIC KEY-----","apiurl":"https://api.authentication.sap.hana.ondemand.com","identityzone":"performanceteamblr","identityzoneid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","tenantid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a","zoneid":"180e0c4e-8005-41be-8b6b-1ad3428a0b4a"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1756720195"
            X-Vcap-Request-Id:
                - 57c4b14a-f544-4b40-70ff-0dcb8876d462::01a49f33-bebe-4fd2-9b9e-bf0ee74d3a33
        status: 200 OK
        code: 200
        duration: 292.793625ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/f9cf3b42-2db1-4978-8818-b5effd24517a
        method: GET
      response:
        body: '{"guid":"f9cf3b42-2db1-4978-8818-b5effd24517a","created_at":"2025-09-01T09:43:15Z","updated_at":"2025-09-01T09:43:16Z","name":"test-ab-managed-provided1","type":"app","last_op[...]
[...]
