---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"segment","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/isolation_segments
        method: POST
      response:
        body: '{"guid":"b59ce779-da52-46f8-9c21-3402b74a67ee","created_at":"2024-06-14T06:44:54Z","updated_at":"2024-06-14T06:44:54Z","name":"segment","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/b59ce779-da52-46f8-9c21-3402b74a67ee"},"organizations":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/b59ce779-da52-46f8-9c21-3402b74a67ee/organizations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 58ee181a-4487-4508-7575-7bdd2efc839f::53656ad8-3e0a-455d-827c-b7906d894e6a
        status: 201 Created
        code: 201
        duration: 539.1755ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments/b59ce779-da52-46f8-9c21-3402b74a67ee
        method: GET
      response:
        body: '{"guid":"b59ce779-da52-46f8-9c21-3402b74a67ee","created_at":"2024-06-14T06:44:54Z","updated_at":"2024-06-14T06:44:54Z","name":"segment","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/b59ce779-da52-46f8-9c21-3402b74a67ee"},"organizations":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/b59ce779-da52-46f8-9c21-3402b74a67ee/organizations"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 421ebbfd-ce39-43ba-7b65-abc299aae260::0d92b1fd-2f2c-4c89-aa6f-6d819480609f
        status: 200 OK
        code: 200
        duration: 170.932334ms
[...]
