---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=redacted
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - redacted
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"redacted","expires_in":1199,"scope":"clients.read openid routing.router_groups.write scim.read cloud_controller.admin uaa.user routing.router_groups.read cloud_controller.read password.write cloud_controller.write network.admin doppler.firehose scim.write","jti":"c7c2941ca0c84c789a3c238ae37bd783"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - f7dad22b-7f76-439c-4d86-170eb97653d2
        status: 200 OK
        code: 200
        duration: 1.142784584s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"2b1ad8c9-c1ba-4285-94fa-5932504d1e2c","created_at":"2026-09-08T06:57:34Z","updated_at":"2026-09-08T06:57:34Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"07308e03-554e-4558-b765-2e6992ecbbe8"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/2b1ad8c9-c1ba-4285-94fa-5932504d1e2c"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/2b1ad8c9-c1ba-4285-94fa-5932504d1e2c/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/2b1ad8c9-c1ba-4285-94fa-5932504d1e2c/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/07308e03-554e-4558-b765-2e6992ecbbe8"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 457906ef-7cfa-46ea-40cd-57c175a4e996::d5e2aab9-cd3c-4847-887b-2fa85d62392e
        status: 200 OK
        code: 200
        duration: 83.415916ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=2b1ad8c9-c1ba-4285-94fa-5932504d1e2c&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=2b1ad8c9-c1ba-4285-94fa-5932504d1e2c\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=2b1ad8c9-c1ba-4285-94fa-5932504d1e2c\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"018e6e9d-4a7e-490d-99f4-a0d50a7f96ea","created_at":"2026-09-08T06:58:06Z","updated_at":"2026-09-08T06:58:06Z","name":"tf-space-1","suspended":false,"relationships":{"organization":{"data":{"guid":"2b1ad8c9-c1ba-4285-94fa-5932504d1e2c"}},"quota":{"data":null}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/2b1ad8c9-c1ba-4285-94fa-5932504d1e2c"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 215e3aef-103b-4835-4834-b2536882751a::cf8fc827-91f1-4c4c-a2e1-81677bae4936
        status: 200 OK
        code: 200
        duration: 6.339917ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin-lifecycle
                  docker:
                    image: kennethreitz/httpbin
                  lifecycle: docker
                  no-route: true
                  metadata:
                    labels: {}
                    annotations: {}
                  instances: 1
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/0b58a01f-7862-4191-9475-dc6459f9d587
            X-Vcap-Request-Id:
                - 9d4cb866-3a83-4aa0-5319-b8680ced9b96::4528420b-bc1e-45d4-9437-1d820a1e4d46
        status: 202 Accepted
        code: 202
        duration: 22.938875ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/0b58a01f-7862-4191-9475-dc6459f9d587
        method: GET
      response:
        body: '{"guid":"0b58a01f-7862-4191-9475-dc6459f9d587","created_at":"2026-09-15T15:10:09Z","updated_at":"2026-09-15T15:10:10Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/0b58a01f-7862-4191-9475-dc6459f9d587"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 04ddb3e0-cbce-4949-75cc-09a3ff101ed8::d8629182-2eb6-4e94-bfd3-1d89cf43bd01
        status: 200 OK
        code: 200
        duration: 7.527791ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin-lifecycle&page=1&per_page=50&space_guids=018e6e9d-4a7e-490d-99f4-a0d50a7f96ea
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-lifecycle\u0026page=1\u0026per_page=50\u0026space_guids=018e6e9d-4a7e-490d-99f4-a0d50a7f96ea"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-lifecycle\u0026page=1\u0026per_page=50\u0026space_guids=018e6e9d-4a7e-490d-99f4-a0d50a7f96ea"},"next":null,"previous":null},"resources":[{"guid":"f8bc103e-af7d-45a3-a014-f51fafac45a1","created_at":"2026-09-15T15:10:09Z","updated_at":"2026-09-15T15:10:10Z","name":"http-bin-lifecycle","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"018e6e9d-4a7e-490d-99f4-a0d50a7f96ea"}},"current_droplet":{"data":{"guid":null}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f4c22928-efa2-44ca-4949-2c08c79698d7::3758cf4a-e0a4-4b4e-8e2e-76725f9d9feb
        status: 200 OK
        code: 200
        duration: 6.185875ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"f8bc103e-af7d-45a3-a014-f51fafac45a1"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"772f8907-a713-4345-9ac1-cf56f2d71ecb","created_at":"2026-09-15T15:10:10Z","updated_at":"2026-09-15T15:10:10Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"f8bc103e-af7d-45a3-a014-f51fafac45a1"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/772f8907-a713-4345-9ac1-cf56f2d71ecb"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a9d09a99-fe23-4dc1-7895-40c2a537acb8::d264d3d1-6750-4600-b448-9002baad208a
        status: 201 Created
        code: 201
        duration: 9.590833ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"772f8907-a713-4345-9ac1-cf56f2d71ecb"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"e1959d2f-9c61-49d7-8850-6bf54bc94535","created_at":"2026-09-15T15:10:10Z","updated_at":"2026-09-15T15:10:10Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"772f8907-a713-4345-9ac1-cf56f2d71ecb"},"droplet":null,"created_by":{"guid":"8deb6c26-1374-439c-aaef-70d764faf553","name":"ccadmin","email":"ccadmin"},"relationships":{"app":{"data":{"guid":"f8bc103e-af7d-45a3-a014-f51fafac45a1"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/e1959d2f-9c61-49d7-8850-6bf54bc94535"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 57708148-62ad-4abe-7bb4-3474e76b4781::a071de47-9882-4910-bc0b-e778e035c4d1
        status: 201 Created
        code: 201
        duration: 34.450958ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/e1959d2f-9c61-49d7-8850-6bf54bc94535
        method: GET
      response:
        body: '{"guid":"e1959d2f-9c61-49d7-8850-6bf54bc94535","created_at":"2026-09-15T15:10:10Z","updated_at":"2026-09-15T15:10:10Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"772f8907-a713-4345-9ac1-cf56f2d71ecb"},"droplet":null,"created_by":{"guid":"8deb6c26-1374-439c-aaef-70d764faf553","name":"ccadmin","email":"ccadmin"},"relationships":{"app":{"data":{"guid":"f8bc103e-af7d-45a3-a014-f51fafac45a1"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/e1959d2f-9c61-49d7-8850-6bf54bc94535"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a5c7ae58-715a-4b2f-6dd8-f7875fae3ae6::8517516b-adfc-4f6d-88dc-95cbaeaeb87a
        status: 200 OK
        code: 200
        duration: 9.157375ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/e1959d2f-9c61-49d7-8850-6bf54bc94535
        method: GET
      response:
        body: '{"guid":"e1959d2f-9c61-49d7-8850-6bf54bc94535","created_at":"2026-09-15T15:10:10Z","updated_at":"2026-09-15T15:10:10Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"772f8907-a713-4345-9ac1-cf56f2d71ecb"},"droplet":null,"created_by":{"guid":"8deb6c26-1374-439c-aaef-70d764faf553","name":"ccadmin","email":"ccadmin"},"relationships":{"app":{"data":{"guid":"f8bc103e-af7d-45a3-a014-f51fafac45a1"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/e1959d2f-9c61-49d7-8850-6bf54bc94535"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e95deb71-a764-4485-4869-6739e2814b45::39122b6b-21c9-450c-8dc5-72a74b248c00
        status: 200 OK
        code: 200
        duration: 10.935375ms
[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/772f8907-a713-4345-9ac1-cf56f2d71ecb/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/772f8907-a713-4345-9ac1-cf56f2d71ecb/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/772f8907-a713-4345-9ac1-cf56f2d71ecb/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"4d96f4af-7a9f-4363-b379-6ed5320fa801","created_at":"2026-09-15T15:10:14Z","updated_at":"2026-09-15T15:10:14Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"f8bc103e-af7d-45a3-a014-f51fafac45a1"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/4d96f4af-7a9f-4363-b379-6ed5320fa801"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/772f8907-a713-4345-9ac1-cf56f2d71ecb"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 4103eab4-bf4a-48d3-42c5-98b55e10cd65::c09c3245-443f-4e3e-b6ad-2d7962048aee
        status: 200 OK
        code: 200
        duration: 10.505583ms
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"4d96f4af-7a9f-4363-b379-6ed5320fa801"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"4d96f4af-7a9f-4363-b379-6ed5320fa801"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - ee6cf849-d8cf-48f1-7b4c-1c563ddc1f61::cac9b2bd-9e04-4272-9ecb-3e03d3c156bd
        status: 200 OK
        code: 200
        duration: 14.234708ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/actions/start
        method: POST
      response:
        body: '{"guid":"f8bc103e-af7d-45a3-a014-f51fafac45a1","created_at":"2026-09-15T15:10:09Z","updated_at":"2026-09-15T15:10:15Z","name":"http-bin-lifecycle","state":"STARTED","lifecycle":{"typ[...]
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: |
            {"var":{}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/environment_variables
        method: PATCH
      response:
        body: '{"var":{},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/environment_variables"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - c85c7f86-e19d-476d-4d35-dd16b8918104::8096d0a4-558f-4b99-ac7b-7c706b7d4fba
        status: 200 OK
        code: 200
        duration: 14.581708ms
    - id: 17
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d9faa254-2088-4604-5f8f-340abf7a0e38::43d9810e-a447-47d2-bbe8-4984a026e1b7
        status: 200 OK
        code: 200
        duration: 10.68225ms
    - id: 18
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin-lifecycle
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              features:
                ssh: false
                revisions: true
                service-binding-k8s: false
                file-based-vcap-services: false
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Vcap-Request-Id:
                - bc8b0921-e435-477f-761c-e4dce3f6be88::9c3766ac-e06f-41b3-85b0-5b3c24329f50
        status: 200 OK
        code: 200
        duration: 16.052209ms
[...]
    - id: 20
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1
        method: GET
      response:
        body: '{"guid":"f8bc103e-af7d-45a3-a014-f51fafac45a1","created_at":"2026-09-15T15:10:09Z","updated_at":"2026-09-15T15:10:15Z","name":"http-bin-lifecycle","state":"STARTED","lifecycle":{"type":"docker","da[...]
[...]
    - id: 23
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea?include=organization
        method: GET
      response:
        body: '{"guid":"018e6e9d-4a7e-490d-99f4-a0d50a7f96ea","created_at":"2026-09-08T06:58:06Z","updated_at":"2026-09-08T06:58:06Z","name":"tf-space-1","suspended":false,"relationships":{"organization":{"data":{"guid":"2b1ad8c9-c1ba-4285-94fa-5932504d1e2c"}},"quota":{"data":null}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/2b1ad8c9-c1ba-4285-94fa-5932504d1e2c"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/018e6e9d-4a7e-490d-99f4-a0d50a7f96ea/actions/apply_manifest","method":"POST"}},"included":{"organizations":[{"guid":"2b1ad8c9-c1ba-4285-94fa-5932504d1e2c","created_at":"2026-09-08T06:57:34Z","updated_at":"2026-09-08T06:57:34Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"07308e03-554e-4558-b765-2e6992ecbbe8"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/2b1ad8c9-c1ba-4285-94fa-5932504d1e2c"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/2b1ad8c9-c1ba-4285-94fa-5932504d1e2c/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/2b1ad8c9-c1ba-4285-94fa-5932504d1e2c/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/07308e03-554e-4558-b765-2e6992ecbbe8"}}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 6ddb4f2c-c679-4bea-5485-dba9029a960b::cbab266d-da11-4c64-9959-ed4be05d27b9
        status: 200 OK
        code: 200
        duration: 9.617125ms
[...]
    - id: 25
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/aa152b67-a765-4e31-a457-d51d852f4dd8
            X-Vcap-Request-Id:
                - b5e6a89a-596c-4449-5397-3accd5946af2::1f572b80-776e-4221-9a10-c13e13dec660
        status: 202 Accepted
        code: 202
        duration: 13.999417ms
    - id: 26
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/aa152b67-a765-4e31-a457-d51d852f4dd8
        method: GET
      response:
        body: '{"guid":"aa152b67-a765-4e31-a457-d51d852f4dd8","created_at":"2026-09-15T15:10:16Z","updated_at":"2026-09-15T15:10:16Z","operation":"app.delete","state":"PROCESSING","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/aa152b67-a765-4e31-a457-d51d852f4dd8"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/f8bc103e-af7d-45a3-a014-f51fafac45a1"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d1b82f25-2925-4dd8-6960-78698bfa285e::bcc7bdf9-3ed8-4b13-b16c-ce698d8bf977
        status: 200 OK
        code: 200
        duration: 9.903542ms
[...]
