---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"hi","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","authentication":{"type":"basic","credentials":{"username":"admin","password":"hi"}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_brokers
        method: POST
      response:
        body: '{"errors":[{"detail":"Name must be unique","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 81aca4c4-2a3a-4f29-4549-0e62cf300f3d::5e3eb95e-9335-4162-8902-4d695869c7d3
        status: 422 Unprocessable Entity
        code: 422
        duration: 194.654125ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"brokerName2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","authentication":{"type":"basic","credentials":{"username":"admin","password":"hello"}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_brokers
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/e983e431-da7e-40cc-afbc-13ae0ec52e65
            X-Vcap-Request-Id:
                - 5e33da2e-9a5a-47c8-6371-dc6629f75ec5::319f5533-3a7a-407d-ad94-eb3c6ee3aff3
        status: 202 Accepted
        code: 202
        duration: 219.713084ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/e983e431-da7e-40cc-afbc-13ae0ec52e65
        method: GET
      response:
        body: '{"guid":"e983e431-da7e-40cc-afbc-13ae0ec52e65","created_at":"2025-02-15T15:56:19Z","updated_at":"2025-02-15T15:56:19Z","operation":"service_broker.catalog.synchronize","state":"FAILED","errors":[{"detail":"Authentication with the service broker failed. Double-check that the username and password are correct.","title":"CF-ServiceBrokerApiAuthenticationFailed","code":10001}],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/e983e431-da7e-40cc-afbc-13ae0ec52e65"},"service_brokers":{"href":"https://api.x.x.x.x.com/v3/service_brokers/854692e2-3d00-4527-8a43-c8f7a05cb966"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 3746ed76-4762-4a3c-6893-f28f5c238f0a::b2c6d6ff-2a8b-4395-895d-4e6a6acca472
        status: 200 OK
        code: 200
        duration: 203.830334ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers?names=brokerName2
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=brokerName2\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=brokerName2\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"854692e2-3d00-4527-8a43-c8f7a05cb966","created_at":"2025-02-15T15:56:19Z","updated_at":"2025-02-15T15:56:19Z","name":"brokerName2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/854692e2-3d00-4527-8a43-c8f7a05cb966"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=854692e2-3d00-4527-8a43-c8f7a05cb966"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f3e07ee0-e079-4110-6630-61bf08ec7590::7349c94a-e2f3-4890-bcd4-a90b5d151c19
        status: 200 OK
        code: 200
        duration: 191.3155ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/854692e2-3d00-4527-8a43-c8f7a05cb966
        method: GET
      response:
        body: '{"guid":"854692e2-3d00-4527-8a43-c8f7a05cb966","created_at":"2025-02-15T15:56:19Z","updated_at":"2025-02-15T15:56:19Z","name":"brokerName2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/854692e2-3d00-4527-8a43-c8f7a05cb966"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=854692e2-3d00-4527-8a43-c8f7a05cb966"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 720e3d2c-1166-44b2-55db-8fe09cbca3d5::589d8cb0-845f-488e-a026-d134abab33f0
        status: 200 OK
        code: 200
        duration: 193.53ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/854692e2-3d00-4527-8a43-c8f7a05cb966
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/dc465af6-92e8-4e22-b436-89390b5331e7
            X-Vcap-Request-Id:
                - cfdc439e-869d-454d-5b0c-3e27c8916bf2::a867e534-4509-4f3b-8c71-8b4f21d150bd
        status: 202 Accepted
        code: 202
        duration: 235.268542ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/dc465af6-92e8-4e22-b436-89390b5331e7
        method: GET
      response:
        body: '{"guid":"dc465af6-92e8-4e22-b436-89390b5331e7","created_at":"2025-02-15T15:56:22Z","updated_at":"2025-02-15T15:56:22Z","operation":"service_broker.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/dc465af6-92e8-4e22-b436-89390b5331e7"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e999eaea-e482-4a2f-78d0-90c1bc9d5763::12ab4185-cf49-44f2-89e7-8f5bb616e427
        status: 200 OK
        code: 200
        duration: 192.910541ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"brokerName2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","authentication":{"type":"basic","credentials":{"username":"admin","password":"hi"}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_brokers
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/be32b538-2b47-4ecb-a919-55a448f1c591
            X-Vcap-Request-Id:
                - e54f31c7-b88a-4448-66e8-180ebcca74cb::3cb08a03-cd09-4776-b656-e5831407d732
        status: 202 Accepted
        code: 202
        duration: 255.6555ms
[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers?names=brokerName2
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=brokerName2\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=brokerName2\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"6e102b9f-0bfd-4355-ae15-684e8b548bc5","created_at":"2025-02-15T15:56:24Z","updated_at":"2025-02-15T15:56:25Z","name":"brokerName2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/6e102b9f-0bfd-4355-ae15-684e8b548bc5"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=6e102b9f-0bfd-4355-ae15-684e8b548bc5"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d8d76d39-d6f0-4d97-7b95-6d8d694b4c9e::c6eae22a-1d6a-48ec-908d-9dfdcc5e8a98
        status: 200 OK
        code: 200
        duration: 193.231583ms
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/6e102b9f-0bfd-4355-ae15-684e8b548bc5
        method: GET
      response:
        body: '{"guid":"6e102b9f-0bfd-4355-ae15-684e8b548bc5","created_at":"2025-02-15T15:56:24Z","updated_at":"2025-02-15T15:56:25Z","name":"brokerName2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/6e102b9f-0bfd-4355-ae15-684e8b548bc5"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=6e102b9f-0bfd-4355-ae15-684e8b548bc5"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - bb664b1f-e35e-4c5b-599b-2de40edcee6b::43bf0429-9735-4bd1-b71d-955be7170e77
        status: 200 OK
        code: 200
        duration: 194.580625ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/6e102b9f-0bfd-4355-ae15-684e8b548bc5
        method: GET
      response:
        body: '{"guid":"6e102b9f-0bfd-4355-ae15-684e8b548bc5","created_at":"2025-02-15T15:56:24Z","updated_at":"2025-02-15T15:56:25Z","name":"brokerName2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/6e102b9f-0bfd-4355-ae15-684e8b548bc5"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=6e102b9f-0bfd-4355-ae15-684e8b548bc5"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a4d61e65-fe37-4eda-5094-98b6deabea53::c1b18eee-9f4e-4227-bc97-bdbbf3b61e82
        status: 200 OK
        code: 200
        duration: 188.465042ms
[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/6e102b9f-0bfd-4355-ae15-684e8b548bc5
        method: GET
      response:
        body: '{"guid":"6e102b9f-0bfd-4355-ae15-684e8b548bc5","created_at":"2025-02-15T15:56:24Z","updated_at":"2025-02-15T15:56:25Z","name":"brokerName2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/6e102b9f-0bfd-4355-ae15-684e8b548bc5"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=6e102b9f-0bfd-4355-ae15-684e8b548bc5"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - cf9cfd36-c38a-445f-62c8-6d70924a039e::b84899a6-44b6-4f51-b7e6-3468b842310d
        status: 200 OK
        code: 200
        duration: 195.135375ms
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"brokerName2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","authentication":{"type":"basic","credentials":{"username":"admin","password":"hello"}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_brokers/6e102b9f-0bfd-4355-ae15-684e8b548bc5
        method: PATCH
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/835fd069-ad06-4133-be6c-629d8c1d0da8
            X-Vcap-Request-Id:
                - ce4f7d27-1fb9-45c3-7983-c3fe4714457a::899141f4-eb44-40af-b548-edf55bb940fc
        status: 202 Accepted
        code: 202
        duration: 248.387459ms
[...]
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/6e102b9f-0bfd-4355-ae15-684e8b548bc5
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/b7d12af7-7be9-4c41-b5a0-102d9f52f1d3
            X-Vcap-Request-Id:
                - cc02f747-870f-4f84-531e-23324c742ed1::9b0e2e0f-2bb6-4908-b350-c6420a7f7194
        status: 202 Accepted
        code: 202
        duration: 299.12725ms
    - id: 17
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/b7d12af7-7be9-4c41-b5a0-102d9f52f1d3
        method: GET
      response:
        body: '{"guid":"b7d12af7-7be9-4c41-b5a0-102d9f52f1d3","created_at":"2025-02-15T15:56:31Z","updated_at":"2025-02-15T15:56:31Z","operation":"service_broker.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/b7d12af7-7be9-4c41-b5a0-102d9f52f1d3"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a8e3358f-d71a-443b-5b22-dd89f0282d64::dfc46ef6-765f-4d22-982d-1ee6b67d446e
        status: 200 OK
        code: 200
        duration: 196.827667ms
