---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},{"guid":"121c3a95-0f82-45a6-8ff2-1920b2067edb"}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/security_groups/40b73419-5e01-4be0-baea-932d46cea45b/relationships/running_spaces
        method: POST
      response:
        body: '{"errors":[{"detail":"Security group not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1732195988"
            X-Vcap-Request-Id:
                - 3d304f56-7309-41bb-59a0-a7b0c1c25424::4f69956a-93f5-48f1-be94-e3cd053ff1d9
        status: 404 Not Found
        code: 404
        duration: 235.999209ms
