---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"hifi","position":1,"enabled":false,"locked":false,"stack":"cflinuxfs3","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/buildpacks
        method: POST
      response:
        body: '{"guid":"5227344e-557b-4248-a620-6cd26ca252ab","created_at":"2024-06-20T11:30:08Z","updated_at":"2024-06-20T11:30:08Z","name":"hifi","stack":"cflinuxfs3","state":"AWAITING_UPLOAD","filename":null,"position":1,"enabled":false,"locked":false,"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/buildpacks/5227344e-557b-4248-a620-6cd26ca252ab"},"upload":{"href":"https://api.x.x.x.x.com/v3/buildpacks/5227344e-557b-4248-a620-6cd26ca252ab/upload","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 643809c8-8825-4c71-5e18-265eec51631f::bb859c93-3446-4e73-adc9-281a5bec0083
        status: 201 Created
        code: 201
        duration: 1.86078725s
[...]
