---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test123","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"guid":"111efe6b-9578-4bb7-9f1c-fa93267adbd7","created_at":"2024-03-01T09:31:49Z","updated_at":"2024-03-01T09:31:49Z","name":"tf-unit-test123","relationships":{"organization":{"data":{"guid":"ca721b24-e24d-4171-83e1-1ef6bd836b38"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/111efe6b-9578-4bb7-9f1c-fa93267adbd7"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/ca721b24-e24d-4171-83e1-1ef6bd836b38"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/111efe6b-9578-4bb7-9f1c-fa93267adbd7/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/111efe6b-9578-4bb7-9f1c-fa93267adbd7/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 8af5e5f9-c5c0-4a36-4cfd-9bf82c28a4bf::50ce42bf-1db5-4878-b1bc-727f709bda49
        status: 201 Created
        code: 201
        duration: 227.218959ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":true}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/111efe6b-9578-4bb7-9f1c-fa93267adbd7/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - ca208113-0f70-419d-790d-230ad443b4a1::f2d050b0-c1cd-4b1e-bcc2-84043caa01bc
        status: 200 OK
        code: 200
        duration: 185.608084ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"40b73419-5e01-4be0-baea-932d46cea45b"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/111efe6b-9578-4bb7-9f1c-fa93267adbd7/relationships/isolation_segment
        method: PATCH
      response:
        body: '{"errors":[{"detail":"Unable to assign isolation segment with guid ''40b73419-5e01-4be0-baea-932d46cea45b''. Ensure it has been entitled to the organization that this space belongs to.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 82aacdfa-5936-4c76-4d23-0563a98a62bf::81ab71c3-6fa6-41a4-96e1-84e9ee8b95b1
        status: 422 Unprocessable Entity
        code: 422
        duration: 190.985625ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/111efe6b-9578-4bb7-9f1c-fa93267adbd7
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/e0b16c5c-751d-438c-8d5e-b919d99b2cae
            X-Vcap-Request-Id:
                - ca880ad2-01e6-4071-576a-ca3999301cff::80249f5f-a238-4c39-ba24-d15dd28229f1
        status: 202 Accepted
        code: 202
        duration: 209.133667ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/e0b16c5c-751d-438c-8d5e-b919d99b2cae
        method: GET
      response:
        body: '{"guid":"e0b16c5c-751d-438c-8d5e-b919d99b2cae","created_at":"2024-03-01T09:31:50Z","updated_at":"2024-03-01T09:31:51Z","operation":"space.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/e0b16c5c-751d-438c-8d5e-b919d99b2cae"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 3a367840-f60d-4491-7efc-1e767f3781b1::56810e96-7870-4c42-bbb3-2f5a17634b2c
        status: 200 OK
        code: 200
        duration: 191.914291ms
