---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"organization_user","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/roles
        method: POST
      response:
        body: '{"guid":"e4efd3fc-2a51-4ccc-bd74-4021c8a1abf6","created_at":"2024-04-08T05:45:29Z","updated_at":"2024-04-08T05:45:29Z","type":"organization_user","relationships":{"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}},"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/e4efd3fc-2a51-4ccc-bd74-4021c8a1abf6"},"user":{"href":"https://api.x.x.x.x.com/v3/users/4467eb10-a5dd-4c46-904f-d5a1c86f05a2"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712556472"
            X-Vcap-Request-Id:
                - d3536d25-d12a-47b3-6b49-4bb7f06e8a08::38089dc0-14ed-4266-91ad-224cf5659e1d
        status: 201 Created
        code: 201
        duration: 972.682875ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/e4efd3fc-2a51-4ccc-bd74-4021c8a1abf6
        method: GET
      response:
        body: '{"guid":"e4efd3fc-2a51-4ccc-bd74-4021c8a1abf6","created_at":"2024-04-08T05:45:29Z","updated_at":"2024-04-08T05:45:29Z","type":"organization_user","relationships":{"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}},"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/e4efd3fc-2a51-4ccc-bd74-4021c8a1abf6"},"user":{"href":"https://api.x.x.x.x.com/v3/users/4467eb10-a5dd-4c46-904f-d5a1c86f05a2"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712556473"
            X-Vcap-Request-Id:
                - cae18b19-f78d-4ad2-4c5a-297fb6ab15ed::72c1e9d0-d506-47be-b29d-1a462005ebe2
        status: 200 OK
        code: 200
        duration: 263.052166ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/e4efd3fc-2a51-4ccc-bd74-4021c8a1abf6
        method: GET
      response:
        body: '{"guid":"e4efd3fc-2a51-4ccc-bd74-4021c8a1abf6","created_at":"2024-04-08T05:45:29Z","updated_at":"2024-04-08T05:45:29Z","type":"organization_user","relationships":{"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}},"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/e4efd3fc-2a51-4ccc-bd74-4021c8a1abf6"},"user":{"href":"https://api.x.x.x.x.com/v3/users/4467eb10-a5dd-4c46-904f-d5a1c86f05a2"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712556473"
            X-Vcap-Request-Id:
                - abd07657-c4e4-4b2a-48c7-9c09d984cf20::ff72ca11-2bcd-4d19-a970-6baff43f4ac7
        status: 200 OK
        code: 200
        duration: 259.720375ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/e4efd3fc-2a51-4ccc-bd74-4021c8a1abf6
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/dcb4ff4c-67a6-483b-90f9-0ebbce0698de
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712556473"
            X-Vcap-Request-Id:
                - 09d0dc7f-d820-4302-7f38-2a405fcfad43::b5b4fe2c-bf70-4421-bfd8-e939f1254a7e
        status: 202 Accepted
        code: 202
        duration: 332.680917ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/dcb4ff4c-67a6-483b-90f9-0ebbce0698de
        method: GET
      response:
        body: '{"guid":"dcb4ff4c-67a6-483b-90f9-0ebbce0698de","created_at":"2024-04-08T05:45:31Z","updated_at":"2024-04-08T05:45:31Z","operation":"role.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/dcb4ff4c-67a6-483b-90f9-0ebbce0698de"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712556473"
            X-Vcap-Request-Id:
                - ed5a1bb3-1cb2-4cbc-6f65-393e21545a06::9818c5f1-2750-4d16-aba2-8a418a1a5f3f
        status: 200 OK
        code: 200
        duration: 249.018833ms
