---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},{"guid":"121c3a95-0f82-45a6-8ff2-1920b2067edb"}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_instances/5e2976bb-332e-41e1-8be3-53baafea9296/relationships/shared_spaces
        method: POST
      response:
        body: '{"data":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},{"guid":"121c3a95-0f82-45a6-8ff2-1920b2067edb"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_instances/5e2976bb-332e-41e1-8be3-53baafea9296/relationships/shared_spaces"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760514478"
            X-Vcap-Request-Id:
                - 0acd979e-0b75-48b5-4d38-ed70bf718748::6aed611f-d87e-4f2a-8db4-57ae4ea68e26
        status: 200 OK
        code: 200
        duration: 657.704541ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances/5e2976bb-332e-41e1-8be3-53baafea9296/relationships/shared_spaces/121c3a95-0f82-45a6-8ff2-1920b2067edb
        method: DELETE
      response:
        body: ""
        headers:
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760514478"
            X-Vcap-Request-Id:
                - d4350e7a-4492-44cb-7c09-3f36f437c7a7::445aab66-f824-4a5d-98e2-87b56ea67f21
        status: 204 No Content
        code: 204
        duration: 61.2445ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_instances/5e2976bb-332e-41e1-8be3-53baafea9296/relationships/shared_spaces/592c4741-9fb2-4b5d-8848-4f7db2d2c4c4
        method: DELETE
      response:
        body: ""
        headers:
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1760514478"
            X-Vcap-Request-Id:
                - df946a3d-4507-424f-4ef7-bfa1ef1abdd0::81cfdc58-48c7-4cf6-81cd-f3348692af07
        status: 204 No Content
        code: 204
        duration: 42.889292ms
