---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"log_rate_limit_in_bytes_per_second":null,"total_instances":null,"per_app_tasks":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"domains":{"total_domains":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/organization_quotas
        method: POST
      response:
        body: '{"guid":"cb811dba-8027-4b69-8e21-35198a067a61","created_at":"2024-03-27T04:23:38Z","updated_at":"2024-03-27T04:23:38Z","name":"tf-unit-test","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"domains":{"total_domains":null},"relationships":{"organizations":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/cb811dba-8027-4b69-8e21-35198a067a61"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d8ac6c38-1cd2-4cad-4e8b-e3ab4931f415::65244f11-054b-4abe-b11e-bb3ddc5c4753
        status: 201 Created
        code: 201
        duration: 651.825458ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organization_quotas?guids=cb811dba-8027-4b69-8e21-35198a067a61
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?guids=cb811dba-8027-4b69-8e21-35198a067a61\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organization_quotas?guids=cb811dba-8027-4b69-8e21-35198a067a61\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"cb811dba-8027-4b69-8e21-35198a067a61","created_at":"2024-03-27T04:23:38Z","updated_at":"2024-03-27T04:23:38Z","name":"tf-unit-test","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":true,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"domains":{"total_domains":null},"relationships":{"organizations":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/cb811dba-8027-4b69-8e21-35198a067a61"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 1d42c207-1b40-4ce7-621a-c417e493aef5::dd2e48d0-205a-4b02-80c1-25047ab43d8c
        status: 200 OK
        code: 200
        duration: 172.762459ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organization_quotas/cb811dba-8027-4b69-8e21-35198a067a61
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/20204429-7fd1-404e-bff7-516ff246ec39
            X-Vcap-Request-Id:
                - 1074f201-70f9-432c-5b60-17de654d30b0::c6a9588a-5b13-4ee7-b6e7-bc24a20c2350
        status: 202 Accepted
        code: 202
        duration: 202.312042ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/20204429-7fd1-404e-bff7-516ff246ec39
        method: GET
      response:
        body: '{"guid":"20204429-7fd1-404e-bff7-516ff246ec39","created_at":"2024-03-27T04:23:39Z","updated_at":"2024-03-27T04:23:40Z","operation":"organization_quota.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/20204429-7fd1-404e-bff7-516ff246ec39"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e7b7ae57-ed8e-4b14-66e9-3bb708c5e9c1::983f708d-1eb4-40e8-aa9c-d4cd3dc9664f
        status: 200 OK
        code: 200
        duration: 180.113875ms
