---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers: {}
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.x.x.x.x.com"},"cloud_controller_v3":{"href":"https://api.x.x.x.x.com/v3","meta":{"version":"3.208.0"}},"network_policy_v0":{"href":"https://api.x.x.x.x.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.x.x.x.x.com/networking/v1/external"},"login":{"href":"https://login.x.x.x.x.com"},"uaa":{"href":"https://uaa.x.x.x.x.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.x.x.x.x.com:443"},"log_cache":{"href":"https://log-cache.x.x.x.x.com"},"log_stream":{"href":"https://log-stream.x.x.x.x.com"},"app_ssh":{"href":"ssh.x.x.x.x.com:2222","meta":{"host_key_fingerprint":"aNEJ3ydq+c9iZUUD0p4OjUAbjYbuvWsmYm3YBYbce0Y","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.x.x.x.x.com/v2","meta":{"version":"2.273.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - 43635257-f2ec-4c37-49ae-55c664c4129e::61beb076-840c-49b8-8ba0-90d935a52bdf
        status: 200 OK
        code: 200
        duration: 1.024192208s
    - id: 1
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=password&password=Saponline%40%401234&username=anugrah.gupta%40sap.com
        form:
            grant_type:
                - password
            password:
                - Saponline@@1234
            username:
                - anugrah.gupta@sap.com
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"92a0a8e209f94eb98630710fa054dd82-r","expires_in":1199,"scope":"openid uaa.user cloud_controller.read password.write cloud_controller.write","jti":"3811fc7f72c740978c138290865e7e32"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - b1f7b5a0-5cca-4bc1-4de0-6382b7a79baf
        status: 200 OK
        code: 200
        duration: 1.138728292s
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers: {}
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.x.x.x.x.com"},"cloud_controller_v3":{"href":"https://api.x.x.x.x.com/v3","meta":{"version":"3.208.0"}},"network_policy_v0":{"href":"https://api.x.x.x.x.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.x.x.x.x.com/networking/v1/external"},"login":{"href":"https://login.x.x.x.x.com"},"uaa":{"href":"https://uaa.x.x.x.x.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.x.x.x.x.com:443"},"log_cache":{"href":"https://log-cache.x.x.x.x.com"},"log_stream":{"href":"https://log-stream.x.x.x.x.com"},"app_ssh":{"href":"ssh.x.x.x.x.com:2222","meta":{"host_key_fingerprint":"aNEJ3ydq+c9iZUUD0p4OjUAbjYbuvWsmYm3YBYbce0Y","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.x.x.x.x.com/v2","meta":{"version":"2.273.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - b1ef6d41-504f-4f41-6290-0ef42290ec11::5fd928fa-8bd2-4fb9-9fb6-5f5a25f13d4e
        status: 200 OK
        code: 200
        duration: 293.934251ms
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"guid":"63be6a0a-eaf2-4692-8391-abd8afe678f4","created_at":"2026-01-13T11:50:51Z","updated_at":"2026-01-13T11:50:51Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/63be6a0a-eaf2-4692-8391-abd8afe678f4"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/63be6a0a-eaf2-4692-8391-abd8afe678f4/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/63be6a0a-eaf2-4692-8391-abd8afe678f4/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306706"
            X-Vcap-Request-Id:
                - f2479c9b-7da3-41e4-437b-7ec1de2021dd::f19ce518-87df-4271-a0fe-61d4d9170306
        status: 201 Created
        code: 201
        duration: 322.150708ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":true}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/63be6a0a-eaf2-4692-8391-abd8afe678f4/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306706"
            X-Vcap-Request-Id:
                - 4d718572-9a73-46a4-59a4-f1e62c8db7e2::33f66cc2-ce16-4c97-9905-1892a72dfcff
        status: 200 OK
        code: 200
        duration: 304.125ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/63be6a0a-eaf2-4692-8391-abd8afe678f4
        method: GET
      response:
        body: '{"guid":"63be6a0a-eaf2-4692-8391-abd8afe678f4","created_at":"2026-01-13T11:50:51Z","updated_at":"2026-01-13T11:50:51Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da4[...]
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/63be6a0a-eaf2-4692-8391-abd8afe678f4/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306706"
            X-Vcap-Request-Id:
                - e294fd4f-274c-45df-667e-53006d99c74f::3705e935-d38b-4ba1-822f-5f30fd37590e
        status: 200 OK
        code: 200
        duration: 397.578333ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/63be6a0a-eaf2-4692-8391-abd8afe678f4/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/63be6a0a-eaf2-4692-8391-abd8afe678f4/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306706"
            X-Vcap-Request-Id:
                - 97e3b6c2-a039-4f91-4168-d03ec4c89822::a297b2af-a953-490b-b2cb-bf967c290dae
        status: 200 OK
        code: 200
        duration: 385.734042ms
[...]
    - id: 21
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/63be6a0a-eaf2-4692-8391-abd8afe678f4/relationships/isolation_segment
        method: PATCH
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/63be6a0a-eaf2-4692-8391-abd8afe678f4/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306706"
            X-Vcap-Request-Id:
                - c3fdd3ca-628c-4c84-7d12-7bdd3d0e5d93::5039c6cf-2658-460e-a0ac-2e6c740b73fe
        status: 200 OK
        code: 200
        duration: 343.476ms
[...]
    - id: 29
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/63be6a0a-eaf2-4692-8391-abd8afe678f4/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/63be6a0a-eaf2-4692-8391-abd8afe678f4/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306706"
            X-Vcap-Request-Id:
                - c5d843bf-7240-4656-5d61-af4d48e99c85::6651558c-fbb0-4403-b0df-ee8c8c95a915
        status: 200 OK
        code: 200
        duration: 410.318125ms
[...]
    - id: 34
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/63be6a0a-eaf2-4692-8391-abd8afe678f4
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/89985d75-d49b-4fda-b822-a838c6e4537e
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306706"
            X-Vcap-Request-Id:
                - 3d9bf28b-4a1b-4b3d-76a8-4160b8e1782f::58c1a310-449e-4b4c-89f2-5bcd5eea3ac3
        status: 202 Accepted
        code: 202
        duration: 325.970792ms
    - id: 35
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/89985d75-d49b-4fda-b822-a838c6e4537e
        method: GET
      response:
        body: '{"guid":"89985d75-d49b-4fda-b822-a838c6e4537e","created_at":"2026-01-13T11:51:04Z","updated_at":"2026-01-13T11:51:04Z","operation":"space.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/89985d75-d49b-4fda-b822-a838c6e4537e"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768306706"
            X-Vcap-Request-Id:
                - 12c88164-4a1b-4b7e-52da-9f8db6696b8c::9a237585-77cb-4f1b-aa5a-35b770e8469d
        status: 200 OK
        code: 200
        duration: 367.642709ms
