---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"app","relationships":{"app":{"data":{"guid":"80327e5f-1e98-4f19-8e48-978865809c80"}},"service_instance":{"data":{"guid":"5e2976bb-332e-41e1-8be3-53baafea9296"}}},"name":"test-ab-user-provided","metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_credential_bindings
        method: POST
      response:
        body: '{"guid":"3e1ed8d3-1833-4b60-aef3-bc760483fbf5","created_at":"2024-04-18T08:23:09Z","updated_at":"2024-04-18T08:23:09Z","name":"test-ab-user-provided","type":"app","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2024-04-18T08:23:09Z","created_at":"2024-04-18T08:23:09Z"},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"5e2976bb-332e-41e1-8be3-53baafea9296"}},"app":{"data":{"guid":"80327e5f-1e98-4f19-8e48-978865809c80"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/3e1ed8d3-1833-4b60-aef3-bc760483fbf5"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/3e1ed8d3-1833-4b60-aef3-bc760483fbf5/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/5e2976bb-332e-41e1-8be3-53baafea9296"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/80327e5f-1e98-4f19-8e48-978865809c80"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1713429188"
            X-Vcap-Request-Id:
                - 467b3686-924f-4e5b-556a-c2d1a5094aba::c19c2654-bddc-40fa-9b47-833fef02283a
        status: 201 Created
        code: 201
        duration: 246.72125ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/3e1ed8d3-1833-4b60-aef3-bc760483fbf5
        method: GET
      response:
        body: '{"guid":"3e1ed8d3-1833-4b60-aef3-bc760483fbf5","created_at":"2024-04-18T08:23:09Z","updated_at":"2024-04-18T08:23:09Z","name":"test-ab-user-provided","type":"app","last_operat[...]
[...]
