---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"40b73419-5e01-4be0-baea-932d46cea45b"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"errors":[{"detail":"Invalid organization. Ensure the organization exists and you have access to it.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f621b14f-0e2f-4328-418f-74b9957ca9f7::41482d45-89eb-40fc-871d-c9b4561c9607
        status: 422 Unprocessable Entity
        code: 422
        duration: 185.794875ms
