---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test-import","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}},"apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"log_rate_limit_in_bytes_per_second":null,"total_instances":null,"per_app_tasks":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/space_quotas
        method: POST
      response:
        body: '{"guid":"cf572400-2cec-4db3-9aa4-d03a02325479","created_at":"2026-01-21T11:16:05Z","updated_at":"2026-01-21T11:16:05Z","name":"tf-unit-test-import","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/cf572400-2cec-4db3-9aa4-d03a02325479"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768994306"
            X-Vcap-Request-Id:
                - 4be5784f-4881-4378-7c86-ea779867bd5e::4a77da42-f33c-4357-aa9b-8e7e901c3422
        status: 201 Created
        code: 201
        duration: 320.99975ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?guids=cf572400-2cec-4db3-9aa4-d03a02325479&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=cf572400-2cec-4db3-9aa4-d03a02325479\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?guids=cf572400-2cec-4db3-9aa4-d03a02325479\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"cf572400-2cec-4db3-9aa4-d03a02325479","created_at":"2026-01-21T11:16:05Z","updated_at":"2026-01-21T11:16:05Z","name":"tf-unit-test-import","apps":{"total_memory_in_mb":null,"per_process_memory_in_mb":null,"total_instances":null,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":null,"total_service_keys":null},"routes":{"total_routes":null,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/cf572400-2cec-4db3-9aa4-d03a02325479"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768994305"
            X-Vcap-Request-Id:
                - 352d4e92-846d-4f24-58e3-2635a6779a67::4eaee631-37fe-465d-b005-28c32fff59d7
        status: 200 OK
        code: 200
        duration: 311.865875ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas/cf572400-2cec-4db3-9aa4-d03a02325479
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/80bc50f9-4287-468f-b9b4-9f93caf93124
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768994306"
            X-Vcap-Request-Id:
                - 5ed8944f-eeac-4d50-5eb7-57437a78abb4::c43b7343-d9ee-4bdd-9231-d2735080c52d
        status: 202 Accepted
        code: 202
        duration: 333.162792ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/80bc50f9-4287-468f-b9b4-9f93caf93124
        method: GET
      response:
        body: '{"guid":"80bc50f9-4287-468f-b9b4-9f93caf93124","created_at":"2026-01-21T11:16:06Z","updated_at":"2026-01-21T11:16:06Z","operation":"space_quota.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/80bc50f9-4287-468f-b9b4-9f93caf93124"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768994306"
            X-Vcap-Request-Id:
                - 112468cb-63d3-4a51-5947-af8dc2e7cf9a::33278283-a20e-4f4a-bc5a-435b876305c4
        status: 200 OK
        code: 200
        duration: 350.512584ms
