---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},{"guid":"121c3a95-0f82-45a6-8ff2-1920b2067edb"}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/security_groups/56eedab7-cb97-469b-a3e9-89521827c039/relationships/running_spaces
        method: POST
      response:
        body: '{"data":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},{"guid":"121c3a95-0f82-45a6-8ff2-1920b2067edb"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/56eedab7-cb97-469b-a3e9-89521827c039/relationships/running_spaces"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1732195988"
            X-Vcap-Request-Id:
                - 9e3b3aa9-2f01-4f75-762a-7374a76960f8::d4c8336c-5660-4031-b4d0-1a003e8e6edc
        status: 200 OK
        code: 200
        duration: 800.82125ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/security_groups/56eedab7-cb97-469b-a3e9-89521827c039/relationships/staging_spaces
        method: POST
      response:
        body: '{"data":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/56eedab7-cb97-469b-a3e9-89521827c039/relationships/staging_spaces"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1732195988"
            X-Vcap-Request-Id:
                - b188b17a-fd21-4463-7730-5c4fb480b6a6::d067f0fa-f794-4fd7-8033-2110a3bf8f16
        status: 200 OK
        code: 200
        duration: 841.34125ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups/56eedab7-cb97-469b-a3e9-89521827c039
        method: GET
      response:
        body: '{"guid":"56eedab7-cb97-469b-a3e9-89521827c039","created_at":"2016-07-05T13:48:33Z","updated_at":"2024-11-20T22:34:43Z","name":"dns","rules":[{"destination":"10.0.0.0/8","ports":"53","protocol":"tcp"},{"destination":"10.0.0.0/8","ports":"53","protocol":"udp"},{"destination":"169.254.0.0/16","ports":"53","protocol":"tcp"},{"destination":"169.254.0.0/16","ports":"53","protocol":"udp"},{"destination":"172.16.0.0/12","ports":"53","protocol":"tcp"},{"destination":"172.16.0.0/12","ports":"53","protocol":"udp"},{"destination":"192.168.0.0/16","ports":"53","protocol":"tcp"},{"destination":"192.168.0.0/16","ports":"53","protocol":"udp"}],"globally_enabled":{"running":true,"staging":true},"relationships":{"running_spaces":{"data":[{"guid":"121c3a95-0f82-45a6-8ff2-1920b2067edb"},{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}]},"staging_spaces":{"data":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/56eedab7-cb97-469b-a3e9-89521827c039"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1732195987"
            X-Vcap-Request-Id:
                - c8dbb2b5-bbe5-4b6e-442a-bd68ffc580c7::8c82ea79-6bcd-49da-9fc0-3689aced481f
        status: 200 OK
        code: 200
        duration: 251.211333ms
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups/56eedab7-cb97-469b-a3e9-89521827c039/relationships/running_spaces/121c3a95-0f82-45a6-8ff2-1920b2067edb
        method: DELETE
      response:
        body: ""
        headers:
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1732195988"
            X-Vcap-Request-Id:
                - 3fd9f654-7cfd-4369-6b5d-b823c3e7a2fc::1a30fdbb-d246-49fb-aeae-f6960eab44ff
        status: 204 No Content
        code: 204
        duration: 344.037417ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups/56eedab7-cb97-469b-a3e9-89521827c039/relationships/staging_spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: DELETE
      response:
        body: ""
        headers:
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1732195988"
            X-Vcap-Request-Id:
                - 6a488fd9-b23a-402d-7e6a-2666ab4aaa46::c433f9cc-7ce5-4630-a722-eacb1ede996c
        status: 204 No Content
        code: 204
        duration: 288.504625ms
[...]
