---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces
        method: POST
      response:
        body: '{"guid":"8503f4d9-f45d-4d52-a014-1d6aa073e5af","created_at":"2026-01-21T07:55:07Z","updated_at":"2026-01-21T07:55:07Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"}},"quota":{"data":null}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/8503f4d9-f45d-4d52-a014-1d6aa073e5af"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/b4da43cd-2055-4d4d-ae6e-4066ce53a8b9"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/8503f4d9-f45d-4d52-a014-1d6aa073e5af/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/8503f4d9-f45d-4d52-a014-1d6aa073e5af/actions/apply_manifest","method":"POST"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - 7c595062-65d3-4948-449f-1861a16effe0::9ee4a45c-11c1-4e3d-89cf-17228595c3ee
        status: 201 Created
        code: 201
        duration: 989.500041ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":true}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/8503f4d9-f45d-4d52-a014-1d6aa073e5af/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - 91f760dd-b092-456a-4e3e-3ca36db0065b::4be6e691-4b32-4089-a3d8-764774ed967f
        status: 200 OK
        code: 200
        duration: 309.287667ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/8503f4d9-f45d-4d52-a014-1d6aa073e5af
        method: GET
      response:
        body: '{"guid":"8503f4d9-f45d-4d52-a014-1d6aa073e5af","created_at":"2026-01-21T07:55:07Z","updated_at":"2026-01-21T07:55:07Z","name":"tf-unit-test","relationships":{"organization":{"data":{"guid":"b4da43[...]
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/8503f4d9-f45d-4d52-a014-1d6aa073e5af/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/8503f4d9-f45d-4d52-a014-1d6aa073e5af/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - 3d2e7b9d-a6d2-4d3a-68f5-68f3e0433f6c::97a5dcc1-e7e2-48d4-a8cc-b1b2b37649e3
        status: 200 OK
        code: 200
        duration: 301.474125ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/8503f4d9-f45d-4d52-a014-1d6aa073e5af/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/8503f4d9-f45d-4d52-a014-1d6aa073e5af/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - b6016c11-1821-4e87-542b-d11d12d3dfc7::8d307bb6-846f-4e7f-b8a3-b223943dda86
        status: 200 OK
        code: 200
        duration: 298.994459ms
[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/spaces/8503f4d9-f45d-4d52-a014-1d6aa073e5af/relationships/isolation_segment
        method: PATCH
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/8503f4d9-f45d-4d52-a014-1d6aa073e5af/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - fb28307d-9e19-4120-77e9-9b0e5aa3b880::72c9cd3b-aba2-4ed7-94ff-bc90927f14df
        status: 200 OK
        code: 200
        duration: 322.441083ms
[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/8503f4d9-f45d-4d52-a014-1d6aa073e5af
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/67078539-d9ea-4485-b7ea-04a92b5308fe
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - 9e5b6929-6313-47c0-4d10-1fdf2b01d94b::7ee4c4a6-bc13-495a-ba03-3a7983006ff3
        status: 202 Accepted
        code: 202
        duration: 321.302625ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/67078539-d9ea-4485-b7ea-04a92b5308fe
        method: GET
      response:
        body: '{"guid":"67078539-d9ea-4485-b7ea-04a92b5308fe","created_at":"2026-01-21T07:55:14Z","updated_at":"2026-01-21T07:55:14Z","operation":"space.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/67078539-d9ea-4485-b7ea-04a92b5308fe"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1768983506"
            X-Vcap-Request-Id:
                - 0cda866b-528f-43d3-7d70-68fd852260c6::db0aeeb2-fce8-4f86-b3b3-741e62316360
        status: 200 OK
        code: 200
        duration: 303.362333ms
