---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"space_manager","relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"user":{"data":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2"}}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/roles
        method: POST
      response:
        body: '{"errors":[{"detail":"Users cannot be assigned roles in a space if they do not have a role in that space''s organization.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1712556473"
            X-Vcap-Request-Id:
                - 2ef93edf-0135-4540-687d-86e5df3597cb::b5b5dcec-1bed-4747-b4ae-ec6aa44f3351
        status: 422 Unprocessable Entity
        code: 422
        duration: 272.855833ms
