---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5
        method: GET
      response:
        body: '{"guid":"3d3fcf37-a526-45f6-be96-4d7c4cee92a5","created_at":"2025-01-07T08:30:32Z","updated_at":"2025-01-07T08:31:35Z","name":"terraform-integration-prod_test-utu6l6uy","suspended":false,"relationships":{"quota":{"data":{"guid":"1840c11f-e233-499d-9b0d-fd3045ce4f26"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/1840c11f-e233-499d-9b0d-fd3045ce4f26"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736512024"
            X-Vcap-Request-Id:
                - 281a2853-a6b8-4029-6b0e-f6ca35a3d8af::b0eb2836-702e-4748-b929-ead6ab7a4426
        status: 200 OK
        code: 200
        duration: 380.902417ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?organization_guids=3d3fcf37-a526-45f6-be96-4d7c4cee92a5&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":2,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?organization_guids=3d3fcf37-a526-45f6-be96-4d7c4cee92a5\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?organization_guids=3d3fcf37-a526-45f6-be96-4d7c4cee92a5\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"192c2202-446b-4779-b5a7-54a1525c7b0e","created_at":"2025-01-10T11:03:49Z","updated_at":"2025-01-10T11:03:49Z","name":"space-quota-1","apps":{"total_memory_in_mb":512,"per_process_memory_in_mb":8000,"total_instances":20,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":250,"total_service_keys":null},"routes":{"total_routes":5,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"3d3fcf37-a526-45f6-be96-4d7c4cee92a5"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/192c2202-446b-4779-b5a7-54a1525c7b0e"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5"}}},{"guid":"a32fc4e7-4f43-445d-a4ec-d17b2f8646da","created_at":"2025-01-10T11:04:26Z","updated_at":"2025-01-10T11:04:26Z","name":"space-quota-2","apps":{"total_memory_in_mb":512,"per_process_memory_in_mb":8000,"total_instances":20,"per_app_tasks":null,"log_rate_limit_in_bytes_per_second":null},"services":{"paid_services_allowed":false,"total_service_instances":250,"total_service_keys":null},"routes":{"total_routes":5,"total_reserved_ports":null},"relationships":{"organization":{"data":{"guid":"3d3fcf37-a526-45f6-be96-4d7c4cee92a5"}},"spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/space_quotas/a32fc4e7-4f43-445d-a4ec-d17b2f8646da"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736512023"
            X-Vcap-Request-Id:
                - 0636b0c7-0d98-4949-4fc1-f00b3f48526d::0686f089-4cb2-4414-a93e-6b99eefaf3fd
        status: 200 OK
        code: 200
        duration: 166.029125ms
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5
        method: GET
      response:
        body: '{"guid":"3d3fcf37-a526-45f6-be96-4d7c4cee92a5","created_at":"2025-01-07T08:30:32Z","updated_at":"2025-01-07T08:31:35Z","name":"terraform-integration-prod_test-utu6l6uy","suspended":false,"relationships":{"quota":{"data":{"guid":"1840c11f-e233-499d-9b0d-fd3045ce4f26"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/1840c11f-e233-499d-9b0d-fd3045ce4f26"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736512023"
            X-Vcap-Request-Id:
                - c58dc125-133a-4668-52d3-8835071e6d50::97127b89-88e7-4706-b625-e33eeeb79bcc
        status: 200 OK
        code: 200
        duration: 154.852792ms
[...]
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5
        method: GET
      response:
        body: '{"guid":"3d3fcf37-a526-45f6-be96-4d7c4cee92a5","created_at":"2025-01-07T08:30:32Z","updated_at":"2025-01-07T08:31:35Z","name":"terraform-integration-prod_test-utu6l6uy","suspended":false,"relationships":{"quota":{"data":{"guid":"1840c11f-e233-499d-9b0d-fd3045ce4f26"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/1840c11f-e233-499d-9b0d-fd3045ce4f26"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736512023"
            X-Vcap-Request-Id:
                - ee15f75d-ad07-469e-6a1c-584d277f06f0::90773fef-c09d-40d7-8a35-2f6dbecf5335
        status: 200 OK
        code: 200
        duration: 147.546959ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?names=space-quota-1&organization_guids=3d3fcf37-a526-45f6-be96-4d7c4cee92a5&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?names=space-quota-1\u0026o[...]
[...]
