---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/40b73419-5e01-4be0-baea-932d46cea45b
        method: GET
      response:
        body: '{"errors":[{"detail":"Space not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729661588"
            X-Vcap-Request-Id:
                - c6651aa9-c684-4ebf-46b1-b20724ce1f41::d7cd17e9-baf4-4b2a-b1b8-c514cb403652
        status: 404 Not Found
        code: 404
        duration: 235.501667ms
