---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=39a6ec7b22404475b4bfa28751a61199-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 39a6ec7b22404475b4bfa28751a61199-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"39a6ec7b22404475b4bfa28751a61199-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"c7207d5964ea4201a59d86d6f9464e93"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - f76e6e31-2b11-439e-7d32-24153aa6d717
        status: 200 OK
        code: 200
        duration: 278.234666ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_plans?page=1&per_page=50&service_offering_names=xsuaa
        method: GET
      response:
        body: '{"pagination":{"total_results":7,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_plans?page=1\u0026per_page=50\u0026service_offering_names=xsuaa"},"last":{"href":"https://api.x.x.x.x.com/v3/service_plans?page=1\u0026per_page=50\u0026service_offering_names=xsuaa"},"next":null,"previous":null},"resources":[{"guid":"67e11930-ce7b-4e25-b933-584bf31486ea","created_at":"2016-07-25T09:18:30Z","updated_at":"2025-01-08T18:36:55Z","name":"default","visibility_type":"organization","available":true,"free":true,"costs":[],"description":"Production","maintenance_info":{},"broker_catalog":{"id":"qQq/po7bRu1vii5XWFr3RM7+lvW1wJ/++ryAFfRfCu4=","metadata":{"supportedPlatforms":["cloudfoundry"],"supportedMinOSBVersion":"2.11","supportedMaxOSBVersion":"2.14","sm_plan_id":"77f153a8-c1f4-407d-99fa-ad19b34513c0"},"maximum_polling_duration":null,"features":{"bindable":true,"plan_updateable":false}},"schemas":{"service_instance":{"create":{"parameters":{}},"update":{"parameters":{}}},"service_binding":{"create":{"parameters":{}}}},"relationships":{"service_offering":{"data":{"guid":"c1876449-7493-43dc-a36b-0a8215fa46ad"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_plans/67e11930-ce7b-4e25-b933-584bf31486ea"},"service_offering":{"href":"https://api.x.x.x.x.com/v3/service_offerings/c1876449-7493-43dc-a36b-0a8215fa46ad"},"visibility":{"href":"https://api.x.x.x.x.com/v3/service_plans/67e11930-ce7b-4e25-b933-584bf31486ea/visibility"}}},{"guid":"4c15e9a6-6cbc-4d58-9243-273f57aca7d5","created_at":"2016-07-25T09:18:30Z","updated_at":"2025-01-09T10:01:14Z","name":"space","visibility_type":"organization","available":true,"free":true,"costs":[],"description":"Space specific name adoption (required to run same applications in different spaces)","maintenance_info":{},"broker_catalog":{"id":"/IvfZ/PEyH9NStntRxiLzaORj1r2fpU1oytXMzZ/yjY=[...]
[...]
