---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=66209766bd8c4a469b2866361b1ada3e-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 66209766bd8c4a469b2866361b1ada3e-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"66209766bd8c4a469b2866361b1ada3e-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"2f897b18a19842498aa0460bc4b1f2a2"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 5f87f23f-ed27-4aa9-749e-271d94e34d36
        status: 200 OK
        code: 200
        duration: 257.293958ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/stacks?names=cflinuxfs4&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/stacks?names=cflinuxfs4\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/stacks?names=cflinuxfs4\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"4bc294a9-f0be-4b6f-a29f-3c747a797e61","created_at":"2023-01-12T05:06:45Z","updated_at":"2023-01-12T05:06:45Z","name":"cflinuxfs4","description":"Cloud Foundry Linux-based filesystem (Ubuntu 22.04)","run_rootfs_image":"cflinuxfs4","build_rootfs_image":"cflinuxfs4","default":true,"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/stacks/4bc294a9-f0be-4b6f-a29f-3c747a797e61"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1731059885"
            X-Vcap-Request-Id:
                - 7ebbf7bc-172f-4d99-7f41-c2de7e8fba92::c40f7666-1618-4822-b775-d0251235c906
        status: 200 OK
        code: 200
        duration: 198.57525ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/stacks?names=cflinuxfs4&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/stacks?names=cflinuxfs4\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/stacks?names=cflinuxfs4\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"4bc294a9-f0be-4b6f-a29f-3c747a797e61","created_at":"2023-01-12T05:06:45Z","updated_at":"2023-01-12T05:06:45Z","name":"cflinuxfs4","description":"Cloud Foundry Linux-based filesystem (Ubuntu 22.04)","run_rootfs_image":"cflinuxfs4","build_rootfs_image":"cflinuxfs4","default":true,"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/stacks/4bc294a9-f0be-4b6f-a29f-3c747a797e61"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1731059884"
            X-Vcap-Request-Id:
                - eccf4395-0cdd-4773-67d4-f33a94235d72::e04fea67-29ed-40ff-8feb-cd1c14ccda73
        status: 200 OK
        code: 200
        duration: 209.454667ms
[...]
