---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=66209766bd8c4a469b2866361b1ada3e-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 66209766bd8c4a469b2866361b1ada3e-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"66209766bd8c4a469b2866361b1ada3e-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"bebb0732a4a74b2baf97383b2b8e9117"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 534c5fbd-2c74-4e5b-44a9-2a5243ea588f
        status: 200 OK
        code: 200
        duration: 754.595584ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/stacks?names=40b73419-5e01-4be0-baea-932d46cea45b&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/stacks?names=40b73419-5e01-4be0-baea-932d46cea45b\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/stacks?names=40b73419-5e01-4be0-baea-932d46cea45b\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1731059884"
            X-Vcap-Request-Id:
                - e230149a-2320-4967-6163-2b798e82716c::ed3bc9ca-a4b7-43a6-b0af-3b28614295bf
        status: 200 OK
        code: 200
        duration: 577.116791ms
