---
version: 2
interactions:
    - id: 0
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers: {}
        url: https://api.cf.eu10.hana.ondemand.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com"},"cloud_controller_v3":{"href":"https://api.cf.eu10.hana.ondemand.com/v3","meta":{"version":"3.182.0"}},"network_policy_v0":{"href":"https://api.cf.eu10.hana.ondemand.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.cf.eu10.hana.ondemand.com/networking/v1/external"},"login":{"href":"https://login.cf.eu10.hana.ondemand.com"},"uaa":{"href":"https://uaa.cf.eu10.hana.ondemand.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.cf.eu10.hana.ondemand.com:443"},"log_cache":{"href":"https://log-cache.cf.eu10.hana.ondemand.com"},"log_stream":{"href":"https://log-stream.cf.eu10.hana.ondemand.com"},"app_ssh":{"href":"ssh.cf.eu10.hana.ondemand.com:2222","meta":{"host_key_fingerprint":"TD1dRQINLi2KxilVLzAI8tXB2h8MP79oyVJnUwshjdc","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.cf.eu10.hana.ondemand.com/v2","meta":{"version":"2.247.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - b35f2740-638b-4575-4dfc-bcd1f338a2c4::ee8e4083-8e88-489b-825c-19873e3248f4
        status: 200 OK
        code: 200
        duration: 201.815708ms
    - id: 1
      request:
        host: uaa.cf.eu10.hana.ondemand.com
        body: grant_type=password&password=Saponline%40%401234&username=anugrah.gupta%40sap.com
        form:
            grant_type:
                - password
            password:
                - Saponline@@1234
            username:
                - anugrah.gupta@sap.com
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.cf.eu10.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"1786391e1fac49cca505f0df0169a48c-r","expires_in":1199,"scope":"cloud_controller.write openid uaa.user cloud_controller.read password.write","jti":"7124256e106d485dbdffdc394f1650bb"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - d533563f-830a-4d6c-4dd3-361553c1ce53
        status: 200 OK
        code: 200
        duration: 4.157767376s
    - id: 2
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e
        method: GET
      response:
        body: '{"guid":"261e5031-3e54-4b12-b316-94b3195b5f8e","created_at":"2024-10-22T19:52:22Z","updated_at":"2024-10-22T19:52:22Z","name":"terraform-integration-prod_demo-tfexporter-m1tnmlap","suspended":false,"relationships":{"quota":{"data":{"guid":"60c00c3a-b8d1-49b1-b7a0-e9d2bfddc2da"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e"},"domains":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e/domains"},"default_domain":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e/domains/default"},"quota":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organization_quotas/60c00c3a-b8d1-49b1-b7a0-e9d2bfddc2da"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736503084"
            X-Vcap-Request-Id:
                - 2b73f718-b2be-4fb1-53cf-baa052251ab7::e3c1db12-ae03-4ded-86d7-12d6debda579
        status: 200 OK
        code: 200
        duration: 240.853917ms
    - id: 3
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.cf.eu10.hana.ondemand.com/v3/spaces?names=wrong-space-name&organization_guids=261e5031-3e54-4b12-b316-94b3195b5f8e&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/spaces?names=wrong-space-name\u0026organization_guids=261e5031-3e54-4b12-b316-94b3195b5f8e\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/spaces?names=wrong-space-name\u0026organization_guids=261e5031-3e54-4b12-b316-94b3195b5f8e\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736503085"
            X-Vcap-Request-Id:
                - 0460dd01-4b34-48fa-528d-e3e20dedc9da::f3a547cf-8e0c-4a27-a626-fde645c6305c
        status: 200 OK
        code: 200
        duration: 295.874167ms
    - id: 4
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers: {}
        url: https://api.cf.eu10.hana.ondemand.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com"},"cloud_controller_v3":{"href":"https://api.cf.eu10.hana.ondemand.com/v3","meta":{"version":"3.182.0"}},"network_policy_v0":{"href":"https://api.cf.eu10.hana.ondemand.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.cf.eu10.hana.ondemand.com/networking/v1/external"},"login":{"href":"https://login.cf.eu10.hana.ondemand.com"},"uaa":{"href":"https://uaa.cf.eu10.hana.ondemand.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.cf.eu10.hana.ondemand.com:443"},"log_cache":{"href":"https://log-cache.cf.eu10.hana.ondemand.com"},"log_stream":{"href":"https://log-stream.cf.eu10.hana.ondemand.com"},"app_ssh":{"href":"ssh.cf.eu10.hana.ondemand.com:2222","meta":{"host_key_fingerprint":"TD1dRQINLi2KxilVLzAI8tXB2h8MP79oyVJnUwshjdc","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.cf.eu10.hana.ondemand.com/v2","meta":{"version":"2.247.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - e255aea1-7324-4573-7857-4ec4a8e241f0::67917bd9-3add-45e9-be72-7acc2cc4b359
        status: 200 OK
        code: 200
        duration: 214.531709ms
[...]
    - id: 6
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e
        method: GET
      response:
        body: '{"guid":"261e5031-3e54-4b12-b316-94b3195b5f8e","created_at":"2024-10-22T19:52:22Z","updated_at":"2024-10-22T19:52:22Z","name":"terraform-integration-prod_demo-tfexporter-m1tnmlap","suspended":false,"relationships":{"quota":{"data":{"guid":"60c00c3a-b8d1-49b1-b7a0-e9d2bfddc2da"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e"},"domains":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e/domains"},"default_domain":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e/domains/default"},"quota":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organization_quotas/60c00c3a-b8d1-49b1-b7a0-e9d2bfddc2da"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736503084"
            X-Vcap-Request-Id:
                - d3c2ce43-3db2-47f6-7e56-3e3ac3075dc4::56214617-c3cf-492d-b462-a48a42e2a96d
        status: 200 OK
        code: 200
        duration: 216.986875ms
    - id: 7
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.cf.eu10.hana.ondemand.com/v3/spaces?names=wrong-space-name&organization_guids=261e5031-3e54-4b12-b316-94b3195b5f8e&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/spaces?names=wrong-space-name\u0026organization_guids=261e5031-3e54-4b12-b316-94b3195b5f8e\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/spaces?names=wrong-space-name\u0026organization_guids=261e5031-3e54-4b12-b316-94b3195b5f8e\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736503084"
            X-Vcap-Request-Id:
                - ad1bb366-e12b-4bc0-56d5-188620957a13::9f48c842-3b9a-4459-a35d-f8874ebd66d6
        status: 200 OK
        code: 200
        duration: 310.087084ms
[...]
    - id: 11
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.cf.eu10.hana.ondemand.com/v3/spaces?names=wrong-space-name&organization_guids=261e5031-3e54-4b12-b316-94b3195b5f8e&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/spaces?names=wrong-space-name\u0026organization_guids=261e5031-3e54-4b12-b316-94b3195b5f8e\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/spaces?names=wrong-space-name\u0026organization_guids=261e5031-3e54-4b12-b316-94b3195b5f8e\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736503084"
            X-Vcap-Request-Id:
                - f735caf8-6662-4ca2-7d2e-81bc33324bcd::a4da73c9-6536-4c68-af4b-45b61d14ef74
        status: 200 OK
        code: 200
        duration: 279.742376ms
[...]
