---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=a9d90095c23749238e2e6b6e90bd2047-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - a9d90095c23749238e2e6b6e90bd2047-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"a9d90095c23749238e2e6b6e90bd2047-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"70586f3d80a64f36af02143d390d22bc"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 5799265b-ddd8-4456-61fc-11f05f418476
        status: 200 OK
        code: 200
        duration: 729.076458ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/isolation_segments?names=trial&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/isolation_segments?names=trial\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/isolation_segments?names=trial\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"07632c44-95c2-4ce6-92c6-a47e7cbe340b","created_at":"2019-09-27T14:01:25Z","updated_at":"2019-09-27T14:01:25Z","name":"trial","metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/07632c44-95c2-4ce6-92c6-a47e7cbe340b"},"organizations":{"href":"https://api.x.x.x.x.com/v3/isolation_segments/07632c44-95c2-4ce6-92c6-a47e7cbe340b/organizations"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1730889188"
            X-Vcap-Request-Id:
                - a53c7ab4-36bc-427f-7ae1-51889e6f17fc::b16d9178-2a7c-4d8f-a7d7-db4fd1c3cb0d
        status: 200 OK
        code: 200
        duration: 786.660417ms
[...]
