---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=bacbee5af0514e12bec2abcee6437dbb-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - bacbee5af0514e12bec2abcee6437dbb-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"bacbee5af0514e12bec2abcee6437dbb-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"910333542c8d4167b41bab2ecb86a4d0"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 356dcda6-7c31-4093-68e9-f91b13e05cb2
        status: 200 OK
        code: 200
        duration: 267.307958ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers?names=invalid-service-broker-name&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=invalid-service-broker-name\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=invalid-service-broker-name\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1730790188"
            X-Vcap-Request-Id:
                - ff105749-7d6c-448c-4a18-71c45d6b49a8::eaf641b0-4e3d-4970-848a-b6caf1d4b078
        status: 200 OK
        code: 200
        duration: 285.098958ms
