---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/routes?page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":23,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/routes?page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/routes?page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"e0a14101-375a-4d26-875b-23bacacc51a9","created_at":"2024-03-01T10:10:13Z","updated_at":"2024-03-01T10:10:13Z","protocol":"http","host":"testing123","path":"/cart","port":null,"url":"testing123.cfapps.sap.hana.ondemand.com/cart","destinations":[],"metadata":{"labels":{},"annotations":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"domain":{"data":{"guid":"9aa474f9-3f82-4967-a2e1-dfe0cd155064"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/routes/e0a14101-375a-4d26-875b-23bacacc51a9"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"destinations":{"href":"https://api.x.x.x.x.com/v3/routes/e0a14101-375a-4d26-875b-23bacacc51a9/destinations"},"domain":{"href":"https://api.x.x.x.x.com/v3/domains/9aa474f9-3f82-4967-a2e1-dfe0cd155064"}}},{"guid":"e1113bf9-cedb-4522-ab94-605b9a470134","created_at":"2024-03-14T05:49:30Z","updated_at":"2024-03-14T05:49:30Z","prot[...]
[...]
