---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56
        method: GET
      response:
        body: '{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - 72461a6f-b8fe-4ab9-5766-f8d33dc04df9::471d55b7-804c-4b16-8682-78c74a14658a
        status: 200 OK
        code: 200
        duration: 982.933958ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56
        method: GET
      response:
        body: '{"pagination":{"total_results":16,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"67e7a9ff-7390-45af-b713-06e4594c74ac","created_at":"2017-07-07T10:20:09Z","updated_at":"2018-09-10T05:45:26Z","name":"Demo","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":{"guid":"79878f64-e1d1-4a71-9b69-7db01ac0119f"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/67e7a9ff-7390-45af-b713-06e4594c74ac"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/67e7a9ff-7390-45af-b713-06e4594c74ac/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/67e7a9ff-7390-45af-b713-06e4594c74ac/actions/apply_manifest","method":"POST"},"quota":{"href":"https://api.x.x.x.x.com/v3/space_quotas/79878f64-e1d1-4a71-9b69-7db01ac0119f"}}},{"guid":"dd457c79-f7c9-4828-862b-35843d3b646d","created_at":"2018-09-22T11:00:53Z","updated_at":"2018-09-22T11:00:53Z","name":"PerformanceTeamBLR","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{[...]
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/67e7a9ff-7390-45af-b713-06e4594c74ac/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - ed31b107-a5d0-464b-5864-26cbc1b03bdb::9137f748-ae4c-4a2b-b451-d9ed5e737fc1
        status: 200 OK
        code: 200
        duration: 248.493ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/67e7a9ff-7390-45af-b713-06e4594c74ac/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/67e7a9ff-7390-45af-b713-06e4594c74ac/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - 47425ca0-8c52-42e0-7c7e-2ecd02635ad8::f2a06eec-1d42-447c-a475-a7c802fc0129
        status: 200 OK
        code: 200
        duration: 237.714709ms
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/dd457c79-f7c9-4828-862b-35843d3b646d/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/dd457c79-f7c9-4828-862b-35843d3b646d/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - d5a94586-f405-472d-7798-37ee050fb3be::7e36d67f-420f-4190-b97a-ddcddfa863fb
        status: 200 OK
        code: 200
        duration: 249.984875ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/d364c6ce-421c-4d9d-8333-16403cf1d580/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - ee711fd3-c8de-419a-5676-0097280754ae::7d589d02-0cd8-4cef-8d53-53e6c1d09b3d
        status: 200 OK
        code: 200
        duration: 245.847625ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/d364c6ce-421c-4d9d-8333-16403cf1d580/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/d364c6ce-421c-4d9d-8333-16403cf1d580/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - a0d5d8ce-4127-49ad-4565-e62861e47e78::f5f62396-38ed-4c2b-95c8-9c74e647942a
        status: 200 OK
        code: 200
        duration: 298.509625ms
[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/fa59c516-451e-4d5b-84f7-7f7a1073dc36/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/fa59c516-451e-4d5b-84f7-7f7a1073dc36/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - b19241a0-4c9a-4a38-6957-94dcf26d5526::25ec6118-06aa-4f50-9715-6f007620d317
        status: 200 OK
        code: 200
        duration: 237.299084ms
[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/121c3a95-0f82-45a6-8ff2-1920b2067edb/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/121c3a95-0f82-45a6-8ff2-1920b2067edb/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504987"
            X-Vcap-Request-Id:
                - a9931217-4970-4997-78bf-3a106bfe28ec::af26f8b3-b959-45d4-b362-6131ccf8fe57
        status: 200 OK
        code: 200
        duration: 239.45075ms
[...]
    - id: 21
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/6293bc61-9551-4d43-bcd3-3f5c8fb775fd/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/6293bc61-9551-4d43-bcd3-3f5c8fb775fd/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - d198e044-5fa2-4e5e-40aa-fe25ea977dac::2194fb29-50d9-431b-bbba-b35d612c40fc
        status: 200 OK
        code: 200
        duration: 245.712375ms
[...]
    - id: 26
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/1d9e1cae-cedc-4827-91d5-57ba57f6a91e/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - cf7997cc-62da-4de3-6a79-61a6dd116b11::2bd26e70-580d-41e4-a4da-0fd9b91d3681
        status: 200 OK
        code: 200
        duration: 306.011333ms
[...]
    - id: 29
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/0668fb26-eebb-4ad6-92cb-2e11a1f11844/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/0668fb26-eebb-4ad6-92cb-2e11a1f11844/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - b5850932-7db2-450b-45b6-245da026c791::a224c87a-bb43-4cd6-9d2c-c9bf4d5706d1
        status: 200 OK
        code: 200
        duration: 250.586042ms
[...]
    - id: 36
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/67e7a9ff-7390-45af-b713-06e4594c74ac/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - ddaa0c7b-688d-47c2-46de-53588a45cbae::c4a9bfcc-5d2b-42dc-bed8-38c5b9fba1b2
        status: 200 OK
        code: 200
        duration: 274.236333ms
    - id: 37
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/67e7a9ff-7390-45af-b713-06e4594c74ac/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/67e7a9ff-7390-45af-b713-06e4594c74ac/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - a691ce7f-ce53-425e-5acb-da072223dd7e::022c63df-a94a-49d1-98b5-2c67b8b897db
        status: 200 OK
        code: 200
        duration: 306.432583ms
    - id: 38
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/dd457c79-f7c9-4828-862b-35843d3b646d/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - e95e89e1-b7f5-45f4-5693-5111bbf39f16::52a9e9b1-3f53-4d01-a171-2817d67ba4fd
        status: 200 OK
        code: 200
        duration: 306.955333ms
    - id: 39
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/dd457c79-f7c9-4828-862b-35843d3b646d/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/dd457c79-f7c9-4828-862b-35843d3b646d/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - f3614e85-7a84-4bce-5149-5661477e6a9b::e08c8df0-48eb-43de-b656-a25a7b80bd20
        status: 200 OK
        code: 200
        duration: 307.256083ms
    - id: 40
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/d364c6ce-421c-4d9d-8333-16403cf1d580/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - ca7eee96-81da-43dc-5829-64ad344bf565::6285085c-7e77-4951-9ddd-0a2b196d3082
        status: 200 OK
        code: 200
        duration: 236.623417ms
    - id: 41
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/d364c6ce-421c-4d9d-8333-16403cf1d580/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/d364c6ce-421c-4d9d-8333-16403cf1d580/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - dc0caeac-3a5d-4fd1-4922-8e58a4cddd7b::c69425b8-898c-430e-9b9d-1387f8c75201
        status: 200 OK
        code: 200
        duration: 239.892917ms
[...]
    - id: 43
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/fa59c516-451e-4d5b-84f7-7f7a1073dc36/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/fa59c516-451e-4d5b-84f7-7f7a1073dc36/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - ea7be899-8af7-4e0e-5618-b4a149b33310::d84fab30-c2df-41d2-a65b-236a61d93535
        status: 200 OK
        code: 200
        duration: 241.844125ms
    - id: 44
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/5d133eb9-2720-4cb1-970c-d8f35365082b/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - a4b4e25e-a368-4f35-5a8a-274f80d9109c::1742a873-ffdd-4e72-af59-536660422d70
        status: 200 OK
        code: 200
        duration: 254.316166ms
[...]
    - id: 46
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/121c3a95-0f82-45a6-8ff2-1920b2067edb/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - a2369e8a-94db-4cbc-57ac-bc45c2612dc2::53ef7f46-7029-4556-ad3c-a3c1ae66543b
        status: 200 OK
        code: 200
        duration: 306.605083ms
    - id: 47
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/121c3a95-0f82-45a6-8ff2-1920b2067edb/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/121c3a95-0f82-45a6-8ff2-1920b2067edb/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - f9dee47b-3baf-4c78-78fb-eb43d2c2ed17::5b316887-404f-426d-a18e-2a194d68483b
        status: 200 OK
        code: 200
        duration: 306.39825ms
    - id: 48
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - d3bd0606-c9d2-4c8e-5595-f166ce0b145b::9699223d-828d-4149-9c1d-1d2a29730ec6
        status: 200 OK
        code: 200
        duration: 307.039958ms
[...]
    - id: 51
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/ba4a40c0-c3b0-468f-bdf0-660183da3261/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/ba4a40c0-c3b0-468f-bdf0-660183da3261/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - c6ae8cb3-7205-4a54-5913-cf3793e70c1f::109a416e-9a49-4b67-83f1-6e1c695f8d1d
        status: 200 OK
        code: 200
        duration: 309.06ms
[...]
    - id: 53
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/baeb7a7a-145f-447e-b6d2-fd64825fbf79/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/baeb7a7a-145f-447e-b6d2-fd64825fbf79/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - aab82e94-b0ea-4486-43a4-9eb919eca400::03118000-c9f9-4367-ac07-03892653f512
        status: 200 OK
        code: 200
        duration: 238.170875ms
    - id: 54
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/6293bc61-9551-4d43-bcd3-3f5c8fb775fd/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - cabee5d0-75cb-42b5-5e08-fc3def0aa4db::e2fec442-6ee6-4511-a9c7-60c7b646a50a
        status: 200 OK
        code: 200
        duration: 338.346667ms
    - id: 55
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/6293bc61-9551-4d43-bcd3-3f5c8fb775fd/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/6293bc61-9551-4d43-bcd3-3f5c8fb775fd/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - f648294f-1cbf-4f2f-6f52-3ed32fcbcd3c::1cd90029-505c-4a43-8043-7ae8957f98b6
        status: 200 OK
        code: 200
        duration: 307.694375ms
[...]
    - id: 61
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/1d9e1cae-cedc-4827-91d5-57ba57f6a91e/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/1d9e1cae-cedc-4827-91d5-57ba57f6a91e/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - c3516ad2-bb4a-4953-4e40-730b61eeaf60::fa9f8364-9386-447f-a2e6-3403fa397a8a
        status: 200 OK
        code: 200
        duration: 306.794958ms
    - id: 62
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/0668fb26-eebb-4ad6-92cb-2e11a1f11844/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - af7296c1-68fb-41b0-4909-9a987260f0ea::9edd5ec9-74a0-4f39-ba90-2fb31961ecaf
        status: 200 OK
        code: 200
        duration: 307.057ms
[...]
    - id: 66
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/11ecb4cb-8d7d-4bdf-bd90-15768fff5968/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
                - a2a55318-ed0d-4006-7140-fabbaf994491::b267ad30-403b-4af8-931b-9db932ebb629
        status: 200 OK
        code: 200
        duration: 298.139334ms
[...]
    - id: 71
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/67e7a9ff-7390-45af-b713-06e4594c74ac/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/67e7a9ff-7390-45af-b713-06e4594c74ac/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729504988"
            X-Vcap-Request-Id:
[...]
