---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=39a6ec7b22404475b4bfa28751a61199-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 39a6ec7b22404475b4bfa28751a61199-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"39a6ec7b22404475b4bfa28751a61199-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"b6ceddc4d83441ef8c01c06678dc1a57"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - f6ddc38a-ef4c-47ba-6aed-69c591ce32bb
        status: 200 OK
        code: 200
        duration: 1.091816791s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/buildpacks?names=40b73419-5e01-4be0-baea-932d46cea45b&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/buildpacks?names=40b73419-5e01-4be0-baea-932d46cea45b\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/buildpacks?names=40b73419-5e01-4be0-baea-932d46cea45b\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736416987"
            X-Vcap-Request-Id:
                - d1bdd4a4-6811-45af-7739-89c81ca2baec::f6721a22-a03a-4e83-9e79-90ec457ee32f
        status: 200 OK
        code: 200
        duration: 574.326333ms
[...]
