---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?page=1&per_page=50&service_instance_guids=40b73419-5e01-4be0-baea-932d46cea45b
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?page=1\u0026per_page=50\u0026service_instance_guids=40b73419-5e01-4be0-baea-932d46cea45b"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?page=1\u0026per_page=50\u0026service_instance_guids=40b73419-5e01-4be0-baea-932d46cea45b"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1731922388"
            X-Vcap-Request-Id:
                - 7323e504-f1bc-4dd9-45a6-9634203b56fa::4e9a5ad6-d6bb-4a1c-b4b2-604ef930bfb8
        status: 200 OK
        code: 200
        duration: 250.89475ms
