---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings?app_guids=e61536de-f863-4da3-9772-a8538e1bad3d&page=1&per_page=50&service_instance_guids=5e2976bb-332e-41e1-8be3-53baafea9296
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?app_guids=e61536de-f863-4da3-9772-a8538e1bad3d\u0026page=1\u0026per_page=50\u0026service_instance_guids=5e2976bb-332e-41e1-8be3-53baafea9296"},"last":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings?app_guids=e61536de-f863-4da3-9772-a8538e1bad3d\u0026page=1\u0026per_page=50\u0026service_instance_guids=5e2976bb-332e-41e1-8be3-53baafea9296"},"next":null,"previous":null},"resources":[{"guid":"3fdfb136-ae63-459b-a4c7-b433e26b3a24","created_at":"2024-11-18T09:11:10Z","updated_at":"2024-11-18T09:11:10Z","name":"hifi","type":"app","last_operation":{"state":"succeeded","description":null,"type":"create","updated_at":"2024-11-18T09:11:10Z","created_at":"2024-11-18T09:11:10Z"},"metadata":{"labels":{},"annotations":{}},"relationships":{"service_instance":{"data":{"guid":"5e2976bb-332e-41e1-8be3-53baafea9296"}},"app":{"data":{"guid":"e61536de-f863-4da3-9772-a8538e1bad3d"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/3fdfb136-ae63-459b-a4c7-b433e26b3a24"},"details":{"href":"https://api.x.x.x.x.com/v3/service_credential_bindings/3fdfb136-ae63-459b-a4c7-b433e26b3a24/details"},"service_instance":{"href":"https://api.x.x.x.x.com/v3/service_instances/5e2976bb-332e-41e1-8be3-53baafea9296"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1731922388"
            X-Vcap-Request-Id:
                - 335e0cf1-6891-4cd1-4a67-5859c92194e1::7dcb6f9b-f2ba-4615-b024-adc659303392
        status: 200 OK
        code: 200
        duration: 312.199125ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/3fdfb136-ae63-459b-a4c7-b433e26b3a24/details
        method: GET
      response:
        body: '{"credentials":{"hi":"wot"},"syslog_drain_url":"https://google.com"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1731922388"
            X-Vcap-Request-Id:
                - 90da9cc4-df4c-42c1-40b5-0f113913aa99::ba3ba7dd-fc21-4a85-9c68-233f5a6573c3
        status: 200 OK
        code: 200
        duration: 700.646042ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/3fdfb136-ae63-459b-a4c7-b433e26b3a24/parameters
        method: GET
      response:
        body: '{"errors":[{"detail":"This service does not support fetching service binding parameters.","title":"CF-ServiceFetchBindingParametersNotSupported","code":90007}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1731922388"
            X-Vcap-Request-Id:
                - a7656501-b610-4341-70a7-26a581254dce::c55517f8-bda3-45fc-87d0-fc6814c7a3bb
        status: 400 Bad Request
        code: 400
        duration: 333.75425ms
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_credential_bindings/3fdfb136-ae63-459b-a4c7-b433e26b3a24/details
        method: GET
      response:
        body: '{"credentials":{"hi":"wot"},"syslog_drain_url":"https://google.com"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1731922387"
            X-Vcap-Request-Id:
                - d371e513-1bcb-4583-792f-c72b43d70322::e540b407-8087-413c-af94-d78212f397db
        status: 200 OK
        code: 200
        duration: 333.135166ms
[...]
