---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=9a145a084c2e4e04b434f0efc550f868-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 9a145a084c2e4e04b434f0efc550f868-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"9a145a084c2e4e04b434f0efc550f868-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"06dfd4f89dda412f940fe24e4be5d0f8"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - d590269d-fa3b-4a13-4682-2264c430b972
        status: 200 OK
        code: 200
        duration: 290.654583ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/40b73419-5e01-4be0-baea-932d46cea45b
        method: GET
      response:
        body: '{"errors":[{"detail":"Organization not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729753084"
            X-Vcap-Request-Id:
                - 0c48e970-8248-4a6f-7011-74e18b434792::4e9ada02-fccb-4f01-ac65-f7c80f49a42d
        status: 404 Not Found
        code: 404
        duration: 242.372334ms
