---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=0e95bc4339d94b6c8caf5d712d4274ef-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 0e95bc4339d94b6c8caf5d712d4274ef-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"0e95bc4339d94b6c8caf5d712d4274ef-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"8bc5d347a20a4e2b9d78dc3bfb2b9e2c"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 317243cf-9fee-4d45-7570-a303c88f2a1b
        status: 200 OK
        code: 200
        duration: 211.398083ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/4c6849f2-6407-4385-a556-0840369f336b
        method: GET
      response:
        body: '{"guid":"4c6849f2-6407-4385-a556-0840369f336b","created_at":"2024-02-05T06:37:21Z","updated_at":"2024-02-05T06:37:21Z","type":"organization_manager","relationships":{"user":{"data":{"guid":"03466e0c-4f6d-466c-8798-a4a5fba01f16"}},"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"space":{"data":null}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/roles/4c6849f2-6407-4385-a556-0840369f336b"},"user":{"href":"https://api.x.x.x.x.com/v3/users/03466e0c-4f6d-466c-8798-a4a5fba01f16"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729067588"
            X-Vcap-Request-Id:
                - 884bd6b8-9114-48fe-49fb-e524d59ce3cf::d7e9be53-b6a8-4e43-8502-874aa823ede2
        status: 200 OK
        code: 200
        duration: 245.932333ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/roles/40b73419-5e01-4be0-baea-932d46cea45b
        method: GET
      response:
        body: '{"errors":[{"detail":"Role not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729067588"
            X-Vcap-Request-Id:
                - 4cb16d0a-5efc-416b-5a6e-0292beedd175::8e6bb8c8-cef9-4e31-b4bf-58a8d47dd48f
        status: 404 Not Found
        code: 404
        duration: 196.966458ms
