---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=ae3e0c8277364596b43ebdd09e10bbb4-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - ae3e0c8277364596b43ebdd09e10bbb4-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"ae3e0c8277364596b43ebdd09e10bbb4-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"c5cce0e74f2141809a391648c8199dbc"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 41a27919-b0c8-448b-4470-a9733ce65a00
        status: 200 OK
        code: 200
        duration: 206.867333ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups?names=40b73419-5e01-4be0-baea-932d46cea45b&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/security_groups?names=40b73419-5e01-4be0-baea-932d46cea45b\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/security_groups?names=40b73419-5e01-4be0-baea-932d46cea45b\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1731061988"
            X-Vcap-Request-Id:
                - ccc2b807-5b02-4958-6577-0f0d764b7d88::d3700489-e874-4bd5-a67d-22691702e28a
        status: 200 OK
        code: 200
        duration: 259.371375ms
