---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=39a6ec7b22404475b4bfa28751a61199-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 39a6ec7b22404475b4bfa28751a61199-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"39a6ec7b22404475b4bfa28751a61199-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"ccc0cc856d1d47f6bd3b065f880e6890"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - dcbcc03d-2005-400e-446a-fba1e7a30345
        status: 200 OK
        code: 200
        duration: 920.460417ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143?include=organization
        method: GET
      response:
        body: '{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}},"included":{"organizations":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736416988"
            X-Vcap-Request-Id:
                - a9b559fc-8474-4d96-7fd4-059b9df25a9a::f567f68b-6e46-4f7a-a95d-f225718ef7f3
        status: 200 OK
        code: 200
        duration: 827.807667ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":9,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"e61536de-f863-4da3-9772-a8538e1bad3d","created_at":"2024-04-30T03:56:21Z","updated_at":"2024-04-30T03:56:56Z","name":"tf-test-do-not-delete-nodejs","state":"STARTED","lifecycle":{"type":"buildpack","data":{"buildpacks":[],"stack":"cflinuxfs4"}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"current_droplet":{"data":{"guid":"d9c1d8ed-9777-48b1-a6ed-c3ce51a87a48"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/features"}}},{"guid":"49cf129e-66f5-4929-bad4-963c0ff95454","created_at":"2024-05-15T04:47:23Z","updated_at":"2024-05-15T04:48:18Z","name":"hello-backend","state":"STARTED","lifecycle":{"type":"buildpack","data":{"buildpacks":["sap_java_buildpack"],"stack":"cflinuxfs4"}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"current_droplet":{"data":{"guid":"e40e6463-6ab3-47e2-88bd-ab8cac35e43d"}}},"metadata":{"labels":{"mta_id":"5d41402abc4b2a76b9719d911017c592"},"annotations":{"mta_id":"hello","mta_version":"1.0.0","mta_module":"{\"name\":\"hello-backend\"}","mta_module_provided_dependencies":"[]","mta_bound_services":"[]"}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/49cf129e-66f5-4929-bad4-963c0ff95454"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/49cf129e-66f5-4929-bad4-963c0ff95454/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/49cf129e-66f5-4929-bad4-963c0ff95454/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/49cf129e-66f5-4929-bad4-963[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-nodejs
              env:
                MY_ENV: red
              lifecycle: buildpack
              stack: cflinuxfs4
              services:
              - tf-test-do-not-delete
              - xsuaa-tf
              routes:
              - route: tf-test-do-not-delete-nodejs.cfapps.sap.hana.ondemand.com
                protocol: http1
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736416988"
            X-Vcap-Request-Id:
                - 60d758df-665a-4a91-5b51-334552a30f66::9c398ef4-9dba-4970-9929-51fb5929ce66
        status: 200 OK
        code: 200
        duration: 277.706875ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/49cf129e-66f5-4929-bad4-963c0ff95454/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: hello-backend
              env:
                MEMORY_CALCULATOR_V1: 'true'
                message: Hello, from hello-backend!
                DEPLOY_ATTRIBUTES: |-
                  {
                    "app-content-digest" : "73CC2934A2B9D7274BB9C65C9C80E3D2"
                  }
              lifecycle: buildpack
              buildpacks:
              - sap_java_buildpack
              stack: cflinuxfs4
              routes:
              - route: hello-backend.cfapps.sap.hana.ondemand.com/content
                protocol: http1
              metadata:
                labels:
                  mta_id: 5d41402abc4b2a76b9719d911017c592
                annotations:
                  mta_id: hello
                  mta_version: 1.0.0
                  mta_module: '{"name":"hello-backend"}'
                  mta_module_provided_dependencies: "[]"
                  mta_bound_services: "[]"
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 256M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736416988"
            X-Vcap-Request-Id:
                - aee97cb3-1d92-4000-481a-05ffef9a6c9a::ee1e4e87-24c7-481a-96e4-bfd03c76e92d
        status: 200 OK
        code: 200
        duration: 272.993625ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/f9ed8370-7800-4cbc-90b4-413ede177b83/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: hello-router
              env:
                MEMORY_CALCULATOR_V1: 'true'
                backend: https://hello-backend.cfapps.sap.hana.ondemand.com/content
                name: backend
                url: https://hello-backend.cfapps.sap.hana.ondemand.com/content
                DEPLOY_ATTRIBUTES: |-
                  {
                    "app-content-digest" : "73CC2934A2B9D7274BB9C65C9C80E3D2"
                  }
              lifecycle: buildpack
              buildpacks:
              - sap_java_buildpack
              stack: cflinuxfs4
              routes:
              - route: h[...]
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/be2bec49-6df9-4ac2-a160-eb0ce3eb0025/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: foo-hello-backend
              env:
                MEMORY_CALCULATOR_V1: 'true'
                message: Hello, from foo-hello-backend!
                DEPLOY_ATTRIBUTES: |-
                  {
                    "app-content-digest" : "73CC2934A2B9D7274BB9C65C9C80E3D2"
                  }
              lifecycle: buildpack
              buildpacks:
              - sap_java_buildpack
              stack: cflinuxfs4
              routes:
              - route: foo-hello-backend.cfapps.sap.hana.ondemand.com/content
                protocol: http1
              metadata:
                labels:
                  mta_id: 5d41402abc4b2a76b9719d911017c592
                  mta_namespace: acbd18db4cc2f85cedef654fccc4a4d8
                annotations:
                  mta_id: hello
                  mta_version: 1.0.0
                  mta_namespace: foo
                  mta_module: '{"name":"hello-backend"}'
                  mta_module_provided_dependencies: "[]"
                  mta_bound_services: "[]"
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 256M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736416988"
            X-Vcap-Request-Id:
                - dff8e1b7-c8d7-4b6e-490b-0240d2b50da5::b998b2fe-ae8f-4e9f-9fa1-482c7116f762
        status: 200 OK
        code: 200
        duration: 294.743125ms
[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/141274f9-d94e-4c51-a10e-1b61793d4568/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: hello-my-cf-app
              env:
                A_MORE_COMPLEX_VAR: '{ "can be an entire":"json object", "with": [ "nested": {
                  "elements": "https://hello-performanceteamblr-tf-space-1-my-mta-managed-app-module.cfapps.sap.hana.ondemand.com"
                  } ]'
                DEPLOY_ATTRIBUTES: |-
                  {
                    "app-content-digest" : "B0FF19ED574D37E24C1FB7AE57B81806",
                    "no-start" : false,
                    "upload-timeout" : 180
                  }
                MY_CF_APP_ENV_VARIABLE: HELLO MTA
              lifecycle: buildpack
              buildpacks:
              - staticfile_buildpack
              stack: cflinuxfs4
              routes:
              - route: hello-performanceteamblr-tf-space-1-my-mta-managed-app-module.cfapps.sap.hana.ondemand.com
                protocol: http1
              metadata:
                labels:
                  mta_id: 551a5eac090e859a6f18d2617790c225
                  mta_namespace: 5d41402abc4b2a76b9719d911017c592
                annotations:
                  mta_id: a.cf.app
                  mta_version: 0.0.0
                  mta_namespace: hello
                  mta_module: '{"name":"my-mta-managed-app-module"}'
                  mta_module_provided_dependencies: "[]"
                  mta_bound_services: "[]"
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/index"
                readiness-health-check-type: process
                timeout: 180
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736416988"
            X-Vcap-Request-Id:
                - 6e8ecdec-0f9f-4de5-4ddc-0e2d84afc3bd::cfae4d5b-c709-4a73-9df5-115b5deb8b01
        status: 200 OK
        code: 200
        duration: 278.143375ms
[...]
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/40fd7b00-1949-4b96-8568-6368deaf04ad/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-hi
              env:
                MY_ENV: hai
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 2
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
              sidecars:
              - name: sidecar-1
                process_types:
                - worker
                command: sleep 5200
                memory: 256M
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736416988"
            X-Vcap-Request-Id:
                - 9890b9d9-0542-49a3-50bc-63608b4c6aab::85cb9eb1-2cf0-430e-9571-b826743bfb4f
        status: 200 OK
        code: 200
        duration: 418.685584ms
[...]
    - id: 27
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/e61536de-f863-4da3-9772-a8538e1bad3d/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-nodejs
              env:
                MY_ENV: red
              lifecycle: buildpack
              stack: cflinuxfs4
              services:
              - tf-test-do-not-delete
              - xsuaa-tf
              routes:
              - route: tf-test-do-not-delete-nodejs.cfapps.sap.hana.ondemand.com
                protocol: http1
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736416988"
            X-Vcap-Request-Id:
                - d6e0d0ec-c44c-452d-7b83-9a1b1dc23728::c8cdccbc-1f0c-4b5d-89d7-45382dab0008
        status: 200 OK
        code: 200
        duration: 271.992584ms
[...]
    - id: 38
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=foo-hello-backend&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=foo-hello-backend\u0026page=1\u0026per[...]
[...]
