---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers: {}
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.x.x.x.x.com"},"cloud_controller_v2":{"href":"https://api.x.x.x.x.com/v2","meta":{"version":"2.243.0"}},"cloud_controller_v3":{"href":"https://api.x.x.x.x.com/v3","meta":{"version":"3.178.0"}},"network_policy_v0":{"href":"https://api.x.x.x.x.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.x.x.x.x.com/networking/v1/external"},"login":{"href":"https://login.x.x.x.x.com"},"uaa":{"href":"https://uaa.x.x.x.x.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.x.x.x.x.com:443"},"log_cache":{"href":"https://log-cache.x.x.x.x.com"},"log_stream":{"href":"https://log-stream.x.x.x.x.com"},"app_ssh":{"href":"ssh.x.x.x.x.com:2222","meta":{"host_key_fingerprint":"TD1dRQINLi2KxilVLzAI8tXB2h8MP79oyVJnUwshjdc","oauth_client":"ssh-proxy"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - 8cc0d223-6f8a-46cf-43d4-c94a2d22c564::833e4cac-a5ce-4b9e-acac-54861a797987
        status: 200 OK
        code: 200
        duration: 232.334417ms
    - id: 1
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=password&password=Onlinesap%40%401234&username=anugrah.gupta%40sap.com
        form:
            grant_type:
                - password
            password:
                - Onlinesap@@1234
            username:
                - anugrah.gupta@sap.com
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"60323657cb98484981c78bc6f9627aca-r","expires_in":1199,"scope":"cloud_controller.write openid uaa.user cloud_controller.read password.write","jti":"8ed6c3df144440f58797b4bd7da14ed1"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 76630068-091d-48ce-64f7-78695a1e362b
        status: 200 OK
        code: 200
        duration: 572.758584ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e
        method: GET
      response:
        body: '{"guid":"261e5031-3e54-4b12-b316-94b3195b5f8e","created_at":"2024-10-22T19:52:22Z","updated_at":"2024-10-22T19:52:22Z","name":"terraform-integration-prod_demo-tfexporter-m1tnmlap","suspended":false,"relationships":{"quota":{"data":{"guid":"60c00c3a-b8d1-49b1-b7a0-e9d2bfddc2da"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/60c00c3a-b8d1-49b1-b7a0-e9d2bfddc2da"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1730197684"
            X-Vcap-Request-Id:
                - 7304bce6-50ee-4198-780b-b2dbe95c6faa::ebcb0e5e-8f3f-4e8a-a1ed-27ed1d5bd57b
        status: 200 OK
        code: 200
        duration: 256.709166ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/domains?organization_guids=261e5031-3e54-4b12-b316-94b3195b5f8e&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":2,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/domains?organization_guids=261e5031-3e54-4b12-b316-94b3195b5f8e\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/domains?organization_guids=261e5031-3e54-4b12-b316-94b3195b5f8e\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"301beac1-9e74-4de7-a31e-e15fb9072a98","created_at":"2024-10-29T08:56:47Z","updated_at":"2024-10-29T08:56:47Z","name":"random.com","internal":false,"router_group":null,"supported_protocols":["http"],"relationships":{"organization":{"data":{"guid":"261e5031-3e54-4b12-b316-94b3195b5f8e"}},"shared_organizations":{"data":[]}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/domains/301beac1-9e74-4de7-a31e-e15fb9072a98"},"route_reservations":{"href":"https://api.x.x.x.x.com/v3/domains/301beac1-9e74-4de7-a31e-e15fb9072a98/route_reservations"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e"},"shared_organizations":{"href":"https://api.x.x.x.x.com/v3/domains/301beac1-9e74-4de7-a31e-e15fb9072a98/relationships/shared_organizations"}}},{"guid":"518f80ff-10ab-48f4-a37b-be2dad5ec019","created_at":"2024-10-29T09:29:59Z","updated_at":"2024-10-29T09:29:59Z","name":"random1.com","internal":[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers: {}
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.x.x.x.x.com"},"cloud_controller_v2":{"href":"https://api.x.x.x.x.com/v2","meta":{"version":"2.243.0"}},"cloud_controller_v3":{"href":"https://api.x.x.x.x.com/v3","meta":{"version":"3.178.0"}},"network_policy_v0":{"href":"https://api.x.x.x.x.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.x.x.x.x.com/networking/v1/external"},"login":{"href":"https://login.x.x.x.x.com"},"uaa":{"href":"https://uaa.x.x.x.x.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.x.x.x.x.com:443"},"log_cache":{"href":"https://log-cache.x.x.x.x.com"},"log_stream":{"href":"https://log-stream.x.x.x.x.com"},"app_ssh":{"href":"ssh.x.x.x.x.com:2222","meta":{"host_key_fingerprint":"TD1dRQINLi2KxilVLzAI8tXB2h8MP79oyVJnUwshjdc","oauth_client":"ssh-proxy"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - ba2c82e7-5ff0-4f37-6277-83dffd433595::92279634-b16b-46ad-bd15-f903bdb6cb71
        status: 200 OK
        code: 200
        duration: 234.138416ms
[...]
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e
        method: GET
      response:
        body: '{"guid":"261e5031-3e54-4b12-b316-94b3195b5f8e","created_at":"2024-10-22T19:52:22Z","updated_at":"2024-10-22T19:52:22Z","name":"terraform-integration-prod_demo-tfexporter-m1tnmlap","suspended":false,"relationships":{"quota":{"data":{"guid":"60c00c3a-b8d1-49b1-b7a0-e9d2bfddc2da"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/60c00c3a-b8d1-49b1-b7a0-e9d2bfddc2da"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1730197684"
            X-Vcap-Request-Id:
                - fec3d3fe-6a52-4958-50ad-446bc983ab18::151c020c-5895-471f-9c1d-d40212532475
        status: 200 OK
        code: 200
        duration: 246.853375ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e
        method: GET
      response:
        body: '{"guid":"261e5031-3e54-4b12-b316-94b3195b5f8e","created_at":"2024-10-22T19:52:22Z","updated_at":"2024-10-22T19:52:22Z","name":"terraform-integration-prod_demo-tfexporter-m1tnmlap","suspended":false,"relationships":{"quota":{"data":{"guid":"60c00c3a-b8d1-49b1-b7a0-e9d2bfddc2da"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/60c00c3a-b8d1-49b1-b7a0-e9d2bfddc2da"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1730197684"
            X-Vcap-Request-Id:
                - b0161fb0-3714-4a19-6212-b537ef2cf0c3::f5acf292-1fb2-487f-b838-86e1babd2951
        status: 200 OK
        code: 200
        duration: 249.319ms
[...]
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers: {}
        url: https://api.x.x.x.x.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.x.x.x.x.com"},"cloud_controller_v2":{"href":"https://api.x.x.x.x.com/v2","meta":{"version":"2.243.0"}},"cloud_controller_v3":{"href":"https://api.x.x.x.x.com/v3","meta":{"version":"3.178.0"}},"network_policy_v0":{"href":"https://api.x.x.x.x.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.x.x.x.x.com/networking/v1/external"},"login":{"href":"https://login.x.x.x.x.com"},"uaa":{"href":"https://uaa.x.x.x.x.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.x.x.x.x.com:443"},"log_cache":{"href":"https://log-cache.x.x.x.x.com"},"log_stream":{"href":"https://log-stream.x.x.x.x.com"},"app_ssh":{"href":"ssh.x.x.x.x.com:2222","meta":{"host_key_fingerprint":"TD1dRQINLi2KxilVLzAI8tXB2h8MP79oyVJnUwshjdc","oauth_client":"ssh-proxy"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - bed30d0a-8b04-424a-7ade-a6f09c3591e1::c4909582-702a-4f02-9ad2-23e8dfdb27c6
        status: 200 OK
        code: 200
        duration: 233.596083ms
[...]
