---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - bc61e129-7940-46cf-5e6f-d72e73149926::0e0766b5-7299-4c6b-ae91-7b21543050bc
        status: 200 OK
        code: 200
        duration: 1.23630625s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229787"
            X-Vcap-Request-Id:
                - 7af15495-d207-420c-736d-2d2355110136::a2f10a8e-2c03-44ed-962f-b14a042ce386
        status: 200 OK
        code: 200
        duration: 314.55925ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=tf-test-do-not-delete-http-bin&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=tf-test-do-not-delete-http-bin\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=tf-test-do-not-delete-http-bin\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"8392ffd4-cbaf-470f-ba93-3d9e65cf06fe","created_at":"2025-04-21T09:06:20Z","updated_at":"2025-04-21T09:06:31Z","name":"tf-test-do-not-delete-http-bin","state":"STARTED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"current_droplet":{"data":{"guid":"78446f7b-a021-4bd3-9d75-4eb2853fb631"}}},"metadata":{"labels":{"app":"backend","env":"production"},"annotations":{"created-by":"me"}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - c7493f76-271c-456a-4463-4d13d366d7c2::ef7c7bde-0a82-40b8-9ed3-cdcc98aa42a3
        status: 200 OK
        code: 200
        duration: 331.769292ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-http-bin
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              metadata:
                labels:
                  app: backend
                  env: production
                annotations:
                  created-by: me
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - 681c07a4-63ea-4fdc-497f-4129db08e091::4d0347db-fd86-4823-ade4-e92299a745d8
        status: 200 OK
        code: 200
        duration: 257.4545ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - 5884829d-6df9-4643-67e6-ef722e23c113::47963528-730b-4144-8f45-92b76392a973
        status: 200 OK
        code: 200
        duration: 258.162875ms
[...]
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-http-bin
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              metadata:
                labels:
                  app: backend
                  env: production
                annotations:
                  created-by: me
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229787"
            X-Vcap-Request-Id:
                - ffea2b21-7b5d-494d-7b66-bde2b495a6d2::28d96f0e-c0fe-49b7-ab27-25528a861b25
        status: 200 OK
        code: 200
        duration: 273.025167ms
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - d66d5a47-912c-4d2c-48f9-9f3fb748fe78::4505b7fd-83cd-4ce5-8913-1cc76685bade
        status: 200 OK
        code: 200
        duration: 246.880542ms
[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: tf-test-do-not-delete-http-bin
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              metadata:
                labels:
                  app: backend
                  env: production
                annotations:
                  created-by: me
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229788"
            X-Vcap-Request-Id:
                - f4d6216f-c1e3-4ce1-5a6f-6c93a8cb7d21::f504708c-48cc-4c30-968e-8be3375128dd
        status: 200 OK
        code: 200
        duration: 264.07775ms
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/8392ffd4-cbaf-470f-ba93-3d9e65cf06fe/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745229787"
            X-Vcap-Request-Id:
                - bf58a2bd-581e-4e40-641f-5776d095361a::baa61c45-8aaf-44ca-99f1-73a15af253a1
        status: 200 OK
        code: 200
        duration: 246.582167ms
