---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=ae3e0c8277364596b43ebdd09e10bbb4-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - ae3e0c8277364596b43ebdd09e10bbb4-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"ae3e0c8277364596b43ebdd09e10bbb4-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"4df8078aa36a4ebbbefc6b6a48ebc277"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 352da4bb-4bbb-4e2b-7a46-438c93ec874d
        status: 200 OK
        code: 200
        duration: 1.138015333s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups?names=postgresql-db-a7dd32b7-f185-4c8d-9a94-d5fa7f1c6f33&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/security_groups?names=postgresql-db-a7dd32b7-f185-4c8d-9a94-d5fa7f1c6f33\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/security_groups?names=postgresql-db-a7dd32b7-f185-4c8d-9a94-d5fa7f1c6f33\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"427319bd-3789-4c4a-a63e-a49891b8140c","created_at":"2024-09-24T06:27:03Z","updated_at":"2024-09-24T06:30:31Z","name":"postgresql-db-a7dd32b7-f185-4c8d-9a94-d5fa7f1c6f33","rules":[{"protocol":"tcp","destination":"10.16.0.0/18","ports":"8907"},{"protocol":"tcp","destination":"10.16.64.0/18","ports":"8907"},{"protocol":"tcp","destination":"10.16.128.0/18","ports":"8907"}],"globally_enabled":{"running":false,"staging":false},"relationships":{"running_spaces":{"data":[{"guid":"0668fb26-eebb-4ad6-92cb-2e11a1f11844"}]},"staging_spaces":{"data":[]}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/security_groups/427319bd-3789-4c4a-a63e-a49891b8140c"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1731061988"
            X-Vcap-Request-Id:
                - cf6c9a3f-3489-4c4e-471f-86966d5be196::22345dbf-0494-4f38-aa7b-959c438a448f
        status: 200 OK
        code: 200
        duration: 911.758875ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/security_groups?page=1&per_page=50&running_space_guids=0668fb26-eebb-4ad6-92cb-2e11a1f11844
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/security_groups?page=1\u0026per_page=50\u0026running_sp[...]
[...]
