---
version: 2
interactions:
    - id: 0
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers: {}
        url: https://api.cf.eu10.hana.ondemand.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com"},"cloud_controller_v3":{"href":"https://api.cf.eu10.hana.ondemand.com/v3","meta":{"version":"3.181.0"}},"network_policy_v0":{"href":"https://api.cf.eu10.hana.ondemand.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.cf.eu10.hana.ondemand.com/networking/v1/external"},"login":{"href":"https://login.cf.eu10.hana.ondemand.com"},"uaa":{"href":"https://uaa.cf.eu10.hana.ondemand.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.cf.eu10.hana.ondemand.com:443"},"log_cache":{"href":"https://log-cache.cf.eu10.hana.ondemand.com"},"log_stream":{"href":"https://log-stream.cf.eu10.hana.ondemand.com"},"app_ssh":{"href":"ssh.cf.eu10.hana.ondemand.com:2222","meta":{"host_key_fingerprint":"TD1dRQINLi2KxilVLzAI8tXB2h8MP79oyVJnUwshjdc","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.cf.eu10.hana.ondemand.com/v2","meta":{"version":"2.246.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - 62cbfdd1-a5a4-45db-484d-160eba479332::fed40628-c414-459b-b96a-a321b50e8836
        status: 200 OK
        code: 200
        duration: 196.67175ms
    - id: 1
      request:
        host: uaa.cf.eu10.hana.ondemand.com
        body: grant_type=password&password=Saponline%40%401234&username=anugrah.gupta%40sap.com
        form:
            grant_type:
                - password
            password:
                - Saponline@@1234
            username:
                - anugrah.gupta@sap.com
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.cf.eu10.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"3cd6876126644dacad963719a135d158-r","expires_in":1199,"scope":"cloud_controller.write openid uaa.user cloud_controller.read password.write","jti":"e6df3c9f777741148767576603bba3ad"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 0f2fb6bf-2ea5-45fc-5627-53a9ab860143
        status: 200 OK
        code: 200
        duration: 679.953959ms
    - id: 2
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.cf.eu10.hana.ondemand.com/v3/organizations/40b73419-5e01-4be0-baea-932d46cea45b
        method: GET
      response:
        body: '{"errors":[{"detail":"Organization not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1735900083"
            X-Vcap-Request-Id:
                - 27cb28d9-a4db-475d-7e44-598a7c227d4c::352ce300-a680-44e3-b32e-0567a76ba38d
        status: 404 Not Found
        code: 404
        duration: 220.253125ms
