---
version: 2
interactions:
    - id: 0
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers: {}
        url: https://api.cf.eu10.hana.ondemand.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com"},"cloud_controller_v3":{"href":"https://api.cf.eu10.hana.ondemand.com/v3","meta":{"version":"3.182.0"}},"network_policy_v0":{"href":"https://api.cf.eu10.hana.ondemand.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.cf.eu10.hana.ondemand.com/networking/v1/external"},"login":{"href":"https://login.cf.eu10.hana.ondemand.com"},"uaa":{"href":"https://uaa.cf.eu10.hana.ondemand.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.cf.eu10.hana.ondemand.com:443"},"log_cache":{"href":"https://log-cache.cf.eu10.hana.ondemand.com"},"log_stream":{"href":"https://log-stream.cf.eu10.hana.ondemand.com"},"app_ssh":{"href":"ssh.cf.eu10.hana.ondemand.com:2222","meta":{"host_key_fingerprint":"TD1dRQINLi2KxilVLzAI8tXB2h8MP79oyVJnUwshjdc","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.cf.eu10.hana.ondemand.com/v2","meta":{"version":"2.247.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - 8947ea8e-4fdc-4e97-5037-24178912e479::c67b7c54-9806-4e67-990d-12fd4937b921
        status: 200 OK
        code: 200
        duration: 770.948ms
    - id: 1
      request:
        host: uaa.cf.eu10.hana.ondemand.com
        body: grant_type=password&password=Saponline%40%401234&username=anugrah.gupta%40sap.com
        form:
            grant_type:
                - password
            password:
                - Saponline@@1234
            username:
                - anugrah.gupta@sap.com
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.cf.eu10.hana.ondemand.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"c4cef32e19994a978af1203e42b95cc0-r","expires_in":1199,"scope":"cloud_controller.write openid uaa.user cloud_controller.read password.write","jti":"8f67246fd5df404e87f588466490ea1f"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - a80c7fc0-b8cb-481d-4abd-7cc08293f6e1
        status: 200 OK
        code: 200
        duration: 1.345145834s
    - id: 2
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e
        method: GET
      response:
        body: '{"guid":"261e5031-3e54-4b12-b316-94b3195b5f8e","created_at":"2024-10-22T19:52:22Z","updated_at":"2024-10-22T19:52:22Z","name":"terraform-integration-prod_demo-tfexporter-m1tnmlap","suspended":false,"relationships":{"quota":{"data":{"guid":"60c00c3a-b8d1-49b1-b7a0-e9d2bfddc2da"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e"},"domains":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e/domains"},"default_domain":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e/domains/default"},"quota":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organization_quotas/60c00c3a-b8d1-49b1-b7a0-e9d2bfddc2da"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736503084"
            X-Vcap-Request-Id:
                - 9e020902-c7b8-4a0e-4dcf-02810c839446::a2ae502a-fc23-4c90-9571-eaaba785014d
        status: 200 OK
        code: 200
        duration: 212.919375ms
    - id: 3
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.cf.eu10.hana.ondemand.com/v3/spaces?organization_guids=261e5031-3e54-4b12-b316-94b3195b5f8e&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":2,"total_pages":1,"first":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/spaces?organization_guids=261e5031-3e54-4b12-b316-94b3195b5f8e\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/spaces?organization_guids=261e5031-3e54-4b12-b316-94b3195b5f8e\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"d92692bc-840b-4b90-b52e-9c59ee766fa7","created_at":"2024-10-23T19:31:18Z","updated_at":"2024-10-23T19:31:18Z","name":"test-space","relationships":{"organization":{"data":{"guid":"261e5031-3e54-4b12-b316-94b3195b5f8e"}},"quota":{"data":null}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/spaces/d92692bc-840b-4b90-b52e-9c59ee766fa7"},"organization":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e"},"features":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/spaces/d92692bc-840b-4b90-b52e-9c59ee766fa7/features"},"apply_manifest":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/spaces/d92692bc-840b-4b90-b52e-9c59ee766fa7/actions/apply_manifest","method":"POST"}}},{"guid":"7d2d62d7-be63-4010-b653-ba4cb7d52a57","created_at":"2024-12-20T10:56:07Z","updated_at":"2024-12-20T10:56:07Z","name":"test-space2","relationships":{"organization":{"data":{"guid":"261e5031-3e54-4b12-b316-94b3195b5f8e"}},"quota":{"data":null}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/spaces/7d2d62d7-be63-4010-b653-ba4cb7d52a57"},"organization":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e"},"features":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/spaces/7d2d62d7-be63-4010-b653-ba4cb7d52a57/features"},"apply_manifest":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/spaces/7d2d62d7-be63-4010-b653-ba4cb7d52a57/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736503084"
            X-Vcap-Request-Id:
                - d5ea8e0e-b6eb-4b22-5dbb-f753ef5359f3::42a8da76-8608-4b55-9490-33a032540c76
        status: 200 OK
        code: 200
        duration: 292.598541ms
    - id: 4
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.cf.eu10.hana.ondemand.com/v3/spaces/d92692bc-840b-4b90-b52e-9c59ee766fa7/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736503084"
            X-Vcap-Request-Id:
                - b6550d25-cd04-4581-5e9f-21cf052c1546::358694cc-8e83-47bf-8e75-567e40a8e756
        status: 200 OK
        code: 200
        duration: 203.01575ms
    - id: 5
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.cf.eu10.hana.ondemand.com/v3/spaces/d92692bc-840b-4b90-b52e-9c59ee766fa7/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/spaces/d92692bc-840b-4b90-b52e-9c59ee766fa7/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736503084"
            X-Vcap-Request-Id:
                - 6a882c5c-7e4b-4928-7780-9a5a919202f0::9789a421-4c14-49b2-8ab8-5c3c4d52c016
        status: 200 OK
        code: 200
        duration: 247.543ms
[...]
    - id: 8
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers: {}
        url: https://api.cf.eu10.hana.ondemand.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com"},"cloud_controller_v3":{"href":"https://api.cf.eu10.hana.ondemand.com/v3","meta":{"version":"3.182.0"}},"network_policy_v0":{"href":"https://api.cf.eu10.hana.ondemand.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.cf.eu10.hana.ondemand.com/networking/v1/external"},"login":{"href":"https://login.cf.eu10.hana.ondemand.com"},"uaa":{"href":"https://uaa.cf.eu10.hana.ondemand.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.cf.eu10.hana.ondemand.com:443"},"log_cache":{"href":"https://log-cache.cf.eu10.hana.ondemand.com"},"log_stream":{"href":"https://log-stream.cf.eu10.hana.ondemand.com"},"app_ssh":{"href":"ssh.cf.eu10.hana.ondemand.com:2222","meta":{"host_key_fingerprint":"TD1dRQINLi2KxilVLzAI8tXB2h8MP79oyVJnUwshjdc","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.cf.eu10.hana.ondemand.com/v2","meta":{"version":"2.247.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - a25c1326-3aa3-4227-56c1-e38757efff0d::fb4c8e82-7ab5-48f8-bd27-72a1073b47fa
        status: 200 OK
        code: 200
        duration: 229.946209ms
[...]
    - id: 10
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e
        method: GET
      response:
        body: '{"guid":"261e5031-3e54-4b12-b316-94b3195b5f8e","created_at":"2024-10-22T19:52:22Z","updated_at":"2024-10-22T19:52:22Z","name":"terraform-integration-prod_demo-tfexporter-m1tnmlap","suspended":false,"relationships":{"quota":{"data":{"guid":"60c00c3a-b8d1-49b1-b7a0-e9d2bfddc2da"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e"},"domains":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e/domains"},"default_domain":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e/domains/default"},"quota":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organization_quotas/60c00c3a-b8d1-49b1-b7a0-e9d2bfddc2da"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736503084"
            X-Vcap-Request-Id:
                - efd47615-9307-4146-5095-4669752cd512::08754b88-ace3-445c-8862-7289e0dbf765
        status: 200 OK
        code: 200
        duration: 218.472625ms
[...]
    - id: 22
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.cf.eu10.hana.ondemand.com/v3/spaces/7d2d62d7-be63-4010-b653-ba4cb7d52a57/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into apps in the space.","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736503084"
            X-Vcap-Request-Id:
                - e9e8d87b-9317-4fe8-642a-4ca926565c1f::20b264db-f50d-493a-8fb8-e1b03befcff4
        status: 200 OK
        code: 200
        duration: 211.794042ms
[...]
    - id: 24
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers: {}
        url: https://api.cf.eu10.hana.ondemand.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com"},"cloud_controller_v3":{"href":"https://api.cf.eu10.hana.ondemand.com/v3","meta":{"version":"3.182.0"}},"network_policy_v0":{"href":"https://api.cf.eu10.hana.ondemand.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.cf.eu10.hana.ondemand.com/networking/v1/external"},"login":{"href":"https://login.cf.eu10.hana.ondemand.com"},"uaa":{"href":"https://uaa.cf.eu10.hana.ondemand.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.cf.eu10.hana.ondemand.com:443"},"log_cache":{"href":"https://log-cache.cf.eu10.hana.ondemand.com"},"log_stream":{"href":"https://log-stream.cf.eu10.hana.ondemand.com"},"app_ssh":{"href":"ssh.cf.eu10.hana.ondemand.com:2222","meta":{"host_key_fingerprint":"TD1dRQINLi2KxilVLzAI8tXB2h8MP79oyVJnUwshjdc","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.cf.eu10.hana.ondemand.com/v2","meta":{"version":"2.247.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - b643f8d6-c306-4c9f-728a-6d4cbd7c5971::7696f978-15cf-4437-837e-fea623f49bb7
        status: 200 OK
        code: 200
        duration: 207.572708ms
[...]
    - id: 27
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.cf.eu10.hana.ondemand.com/v3/spaces?names=test-space&organization_guids=261e5031-3e54-4b12-b316-94b3195b5f8e&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/space[...]
[...]
    - id: 30
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers: {}
        url: https://api.cf.eu10.hana.ondemand.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com"},"cloud_controller_v3":{"href":"https://api.cf.eu10.hana.ondemand.com/v3","meta":{"version":"3.182.0"}},"network_policy_v0":{"href":"https://api.cf.eu10.hana.ondemand.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.cf.eu10.hana.ondemand.com/networking/v1/external"},"login":{"href":"https://login.cf.eu10.hana.ondemand.com"},"uaa":{"href":"https://uaa.cf.eu10.hana.ondemand.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.cf.eu10.hana.ondemand.com:443"},"log_cache":{"href":"https://log-cache.cf.eu10.hana.ondemand.com"},"log_stream":{"href":"https://log-stream.cf.eu10.hana.ondemand.com"},"app_ssh":{"href":"ssh.cf.eu10.hana.ondemand.com:2222","meta":{"host_key_fingerprint":"TD1dRQINLi2KxilVLzAI8tXB2h8MP79oyVJnUwshjdc","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.cf.eu10.hana.ondemand.com/v2","meta":{"version":"2.247.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - f817702b-6870-43aa-44cc-540174e02982::912cdb40-9e15-4c15-aec9-915d19593c81
        status: 200 OK
        code: 200
        duration: 184.295125ms
[...]
    - id: 35
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.cf.eu10.hana.ondemand.com/v3/spaces/d92692bc-840b-4b90-b52e-9c59ee766fa7/relationships/isolation_segment
        method: GET
      response:
        body: '{"data":null,"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/spaces/d92692bc-840b-4b90-b52e-9c59ee766fa7/relationships/isolation_segment"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736503083"
            X-Vcap-Request-Id:
                - f7aeed1f-45da-40aa-40f2-4a910b4d9af9::a4ba2ab4-222d-4385-bcf7-1a08accd9885
        status: 200 OK
        code: 200
        duration: 199.790584ms
[...]
    - id: 38
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e
        method: GET
      response:
        body: '{"guid":"261e5031-3e54-4b12-b316-94b3195b5f8e","created_at":"2024-10-22T19:52:22Z","updated_at":"2024-10-22T19:52:22Z","name":"terraform-integration-prod_demo-tfexporter-m1tnmlap","suspended":false,"relationships":{"quota":{"data":{"guid":"60c00c3a-b8d1-49b1-b7a0-e9d2bfddc2da"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e"},"domains":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e/domains"},"default_domain":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organizations/261e5031-3e54-4b12-b316-94b3195b5f8e/domains/default"},"quota":{"href":"https://api.cf.eu10.hana.ondemand.com/v3/organization_quotas/60c00c3a-b8d1-49b1-b7a0-e9d2bfddc2da"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736503084"
            X-Vcap-Request-Id:
                - c6e2f8a2-a2c0-4565-4f0d-53dd11098d0b::85ce9fc8-4c66-4d7f-b58c-dda3769fe11d
        status: 200 OK
        code: 200
        duration: 210.940875ms
[...]
    - id: 42
      request:
        host: api.cf.eu10.hana.ondemand.com
        body: ""
        form: {}
        headers: {}
        url: https://api.cf.eu10.hana.ondemand.com/
        method: GET
      response:
        body: '{"links":{"self":{"href":"https://api.cf.eu10.hana.ondemand.com"},"cloud_controller_v3":{"href":"https://api.cf.eu10.hana.ondemand.com/v3","meta":{"version":"3.182.0"}},"network_policy_v0":{"href":"https://api.cf.eu10.hana.ondemand.com/networking/v0/external"},"network_policy_v1":{"href":"https://api.cf.eu10.hana.ondemand.com/networking/v1/external"},"login":{"href":"https://login.cf.eu10.hana.ondemand.com"},"uaa":{"href":"https://uaa.cf.eu10.hana.ondemand.com"},"credhub":null,"routing":null,"logging":{"href":"wss://doppler.cf.eu10.hana.ondemand.com:443"},"log_cache":{"href":"https://log-cache.cf.eu10.hana.ondemand.com"},"log_stream":{"href":"https://log-stream.cf.eu10.hana.ondemand.com"},"app_ssh":{"href":"ssh.cf.eu10.hana.ondemand.com:2222","meta":{"host_key_fingerprint":"TD1dRQINLi2KxilVLzAI8tXB2h8MP79oyVJnUwshjdc","oauth_client":"ssh-proxy"}},"cloud_controller_v2":{"href":"https://api.cf.eu10.hana.ondemand.com/v2","meta":{"version":"2.247.0"}}}}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            X-Vcap-Request-Id:
                - f2e9f35f-5d52-4534-6707-7ce435afe246::88b0a5d2-eae2-4f27-8a68-debd797d7bc5
        status: 200 OK
        code: 200
        duration: 196.746959ms
[...]
