---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/40b73419-5e01-4be0-baea-932d46cea45b
        method: GET
      response:
        body: '{"errors":[{"detail":"Organization not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1730705284"
            X-Vcap-Request-Id:
                - c721ec9e-496a-43e1-5569-cc5b41c4312e::89277c1d-153c-4e26-9401-7e66b35cffcf
        status: 404 Not Found
        code: 404
        duration: 874.841625ms
