---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/40b73419-5e01-4be0-baea-932d46cea45b
        method: GET
      response:
        body: '{"errors":[{"detail":"Organization not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736512023"
            X-Vcap-Request-Id:
                - 2d6e009e-6ea2-4d5f-6ef4-748ca92ab857::2951fcf4-eb89-4486-870e-0091c82dcc02
        status: 404 Not Found
        code: 404
        duration: 729.453666ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5
        method: GET
      response:
        body: '{"guid":"3d3fcf37-a526-45f6-be96-4d7c4cee92a5","created_at":"2025-01-07T08:30:32Z","updated_at":"2025-01-07T08:31:35Z","name":"terraform-integration-prod_test-utu6l6uy","suspended":false,"relationships":{"quota":{"data":{"guid":"1840c11f-e233-499d-9b0d-fd3045ce4f26"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/1840c11f-e233-499d-9b0d-fd3045ce4f26"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736512024"
            X-Vcap-Request-Id:
                - 9dccc0d2-26b9-403f-67aa-165107be1e3b::b82c18ff-0daa-41b2-898a-18c1cbbca468
        status: 200 OK
        code: 200
        duration: 148.983041ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?names=hi&organization_guids=3d3fcf37-a526-45f6-be96-4d7c4cee92a5&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?names=hi\u0026organization_guids=3d3fcf37-a526-45f6-be96-4d7c4cee92a5\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?names=hi\u0026organization_guids=3d3fcf37-a526-45f6-be96-4d7c4cee92a5\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736512024"
            X-Vcap-Request-Id:
                - c115cecc-e18d-4897-43dd-6b64030872ae::c1d1b08f-f9ab-4a5a-b7c5-09c3e7449e86
        status: 200 OK
        code: 200
        duration: 149.187833ms
[...]
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?names=hi&organization_guids=3d3fcf37-a526-45f6-be96-4d7c4cee92a5&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?names=hi\u0026organization_guids=3d3fcf37-a526-45f6-be96-4d7c4cee92a5\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?names=hi\u0026organization_guids=3d3fcf37-a526-45f6-be96-4d7c4cee92a5\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736512023"
            X-Vcap-Request-Id:
                - cda79350-3446-4841-49f5-7fe83a264f80::32823193-0177-4c09-8a13-03d3a41273a1
        status: 200 OK
        code: 200
        duration: 149.036625ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5
        method: GET
      response:
        body: '{"guid":"3d3fcf37-a526-45f6-be96-4d7c4cee92a5","created_at":"2025-01-07T08:30:32Z","updated_at":"2025-01-07T08:31:35Z","name":"terraform-integration-prod_test-utu6l6uy","suspended":false,"relationships":{"quota":{"data":{"guid":"1840c11f-e233-499d-9b0d-fd3045ce4f26"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/3d3fcf37-a526-45f6-be96-4d7c4cee92a5/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/1840c11f-e233-499d-9b0d-fd3045ce4f26"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736512023"
            X-Vcap-Request-Id:
                - b5b74042-8b69-48d1-6895-4cf47b2aec08::fdbeeb9f-8fbf-4e4d-a3d2-ef1a1c321c52
        status: 200 OK
        code: 200
        duration: 139.507833ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/space_quotas?names=hi&organization_guids=3d3fcf37-a526-45f6-be96-4d7c4cee92a5&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/space_quotas?names=hi\u0026organization_guids=3d3fcf37-a526-45f6-be96-4d7c4cee92a5\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/space_quotas?names=hi\u0026organization_guids=3d3fcf37-a526-45f6-be96-4d7c4cee92a5\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1736512023"
            X-Vcap-Request-Id:
                - e9de0952-b99b-418f-60c9-830b7e1cc0b6::bd8a3e65-54e7-45fb-b6b4-0443fbbe032b
        status: 200 OK
        code: 200
        duration: 145.304833ms
