---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=39a6ec7b22404475b4bfa28751a61199-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 39a6ec7b22404475b4bfa28751a61199-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"39a6ec7b22404475b4bfa28751a61199-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"dc16e87d661d41fda89309b97bae555b"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - b9ab512a-f981-4d03-777b-90baf5987237
        status: 200 OK
        code: 200
        duration: 794.826458ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/routes?page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":24,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/routes?page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/routes?page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"e0a14101-375a-4d26-875b-23bacacc51a9","created_at":"2024-03-01T10:10:13Z","updated_at":"2024-03-01T10:10:13Z","protocol":"http","host":"testing123","path":"/cart","port":null,"url":"testing123.cfapps.sap.hana.ondemand.com/cart","destinations":[],"metadata":{"labels":{},"annotations":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"domain":{"data":{"guid":"9aa474f9-3f82-4967-a2e1-dfe0cd155064"}}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/routes/e0a14101-375a-4d26-875b-23bacacc51a9"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"destinations":{"href":"https://api.x.x.x.x.com/v3/routes/e0a14101-375a-4d26-875b-23bacacc51a9/destinations"},"domain":{"href":"https://api.x.x.x.x.com/v3/domains/9aa474f9-3f82-4967-a2e1-dfe0cd155064"}}},{"guid":"e1113bf9-cedb-4522-ab94-605b9a470134","created_at":"2024-03-14T05:49:30Z","updated_at":"2024-03-14T05:49:30Z","prot[...]
[...]
