---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=a9d672dfb1bf42039aa3700bcaed0453-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - a9d672dfb1bf42039aa3700bcaed0453-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"a9d672dfb1bf42039aa3700bcaed0453-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"627b853bdcce44318629b7e0962d270c"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - a2a7d39b-ba57-408b-5632-261901d2e958
        status: 200 OK
        code: 200
        duration: 964.305708ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_plans?names=invalid-service-name
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_plans?names=invalid-service-name\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/service_plans?names=invalid-service-name\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1729245788"
            X-Vcap-Request-Id:
                - 7e95622c-f0c6-4e3f-5a8a-485338ec4f77::5dfe205a-2d2b-4544-b2e4-f8fc02354e50
        status: 200 OK
        code: 200
        duration: 771.823625ms
