---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=421a533173bb4b69905a4d6e52735382-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 421a533173bb4b69905a4d6e52735382-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"421a533173bb4b69905a4d6e52735382-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.admin_read_only cloud_controller.write openid scim.read cloud_controller.admin uaa.user","jti":"166a93cb14694b708c820bda0a653f3d"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 813b53ab-369d-420b-729e-55f93ccbdcc4
        status: 200 OK
        code: 200
        duration: 1.153205916s
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"organization","organizations":[{"guid":"3533be5d-272f-42fe-bf70-fc4b108c2043"}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_plans/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/visibility
        method: POST
      response:
        body: '{"errors":[{"detail":"Service plan not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 153a18ec-ca0e-4b01-552d-aa9737303641::bd959f6a-8d9d-4b3c-8cae-b17d20ff7dfc
        status: 404 Not Found
        code: 404
        duration: 669.4435ms
