---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - yaqTCKlQAxWjDwpdUGBsoyiycEr4HRx2pf8S9Q8lH_lMA7ZF-Z2hbpphNiWOPz9sYk1YwRnUXXLBLy9bkc90xjoTLp0oOoN9
            X-Vcap-Request-Id:
                - a7c3fc97-15ff-49f3-6823-de0429bb495e
        status: 204 No Content
        code: 204
        duration: 378.553917ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--dc197108fe4e96367510ff58192034539434f3853429e8c8a424d538b7fc\r\nContent-Disposition: form-data; name=\"file\"; filename=\"my-mta_1.0.0.mtar\"\r\nContent-Type: application/octet-stream\r\n\r\nPK\x03\x04\x14\0\0\0\0\0� \x01Y\0\0\0\0\0\0\0\0\0\0\0\0\t\0\t\0META-INF/UT\x05\0\x013\t�fPK\x03\x04\x14\0\b\0\b\0� \x01Y\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\t\0META-INF/MANIFEST.MFUT\x05\0\x013\t�f\\��J�0\x10@�}�b^ ��\e!��(�h\x11,[...]
[...]
    - id: 3
      request:
        host: deploy-service.x.x.x.x.com
        body: "--114e3ddc81defe9077698d386a4053aaf735f0154482bcee979ded88c001\r\nContent-Disposition: form-data; name=\"file\"; filename=\"prod-scale-vertically.mtaext\"\r\nContent-Type: application/octet-stream\r\n\r\n_schema-version: 3.3.0\nID: my-mta-prod-scale-vertically\nextends: my-mta-prod\nversion: 1.0.0\n\nmodules:\n- name: my-app\n  parameters:\n    memory: 2G\r\n--114e3ddc81defe9077698d386a4053aaf735f0154482bcee979ded88c001--\r\n"
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - multipart/form-data; boundary=114e3ddc81defe9077698d386a4053aaf735f0154482bcee979ded88c001
            X-Csrf-Token:
                - 9OUeY_sEbQ6bzTU3vsjaGde3LEYK9JgEECZlPWzGjT_gaVrrzdV6UMIwWjq2rAYOhuXuKLLTASc-wq4pIkRcXwr2vA7UDWmI
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files?namespace=test
        method: POST
      response:
        body: '{"id":"14886889-4003-4424-b1ed-9f13a9ffbdf7","name":"prod-scale-vertically.mtaext","size":145,"digest":"EF0CBE2F0A77B470B2E2A6164FE6F0B8","digestAlgorithm":"MD5","space":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","namespace":"test"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - abc6634e-68b3-4ee2-6ba1-7ab944e6bd42
        status: 201 Created
        code: 201
        duration: 529.8105ms
[...]
    - id: 6
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=my-mta&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 943aa3aa-c8ee-4378-6a2f-b3f1b3f8dd1a
        status: 200 OK
        code: 200
        duration: 348.438208ms
[...]
    - id: 8
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"test","parameters":{"appArchiveId":"20429b64-cc7e-45c6-a2f4-299e0fd751d1","mtaExtDescriptorId":"14886889-4003-4424-b1ed-9f13a9ffbdf7,199004fd-6320-464c-95f2-135e502ca3ae","mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - FutnXtc3lIdYJ6TPbo0bizW1MZ8rOBtOZGPG28sVw71lCtiOJNlSO-JW8LF1EJ35DKAvulCEHKYYCHpjUwL0vv8l8YgEa73q
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/986ad353-b15c-11ef-834d-eeee0a9b5392?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - Sw10huiznw0_YA9-ZsSIkX5zEuP3ANyQsyT8jAkFEwtJNWypeT9B493S-zsSVzZIBOm8oBtCP9rEML29hEXO6T01IT4oVAnN
            X-Vcap-Request-Id:
                - 6bfb8e4b-450a-4dd7-4352-f42d81a8affb
        status: 202 Accepted
        code: 202
        duration: 477.721542ms
    - id: 9
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/986ad353-b15c-11ef-834d-eeee0a9b5392?embed=messages
        method: GET
      response:
        body: '{"processId":"986ad353-b15c-11ef-834d-eeee0a9b5392","processType":"DEPLOY","startedAt":"2024-12-03T09:54:32.429Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"my-mta","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"RUNNING","messages":[{"id":225431747,"text":"Operation ID: 986ad353-b15c-11ef-834d-eeee0a9b5392","timestamp":"2024-12-03T09:54:32.403Z[UTC]","type":"INFO"},{"id":225431748,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-12-03T09:54:32.546Z[UTC]","type":"INFO"},{"id":225431749,"text":"Using extension descriptors with IDs in this sequence: [my-mta-prod,my-mta-prod-scale-vertically]","timestamp":"2024-12-03T09:54:32.847Z[UTC]","type":"INFO"},{"id":225431750,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-12-03T09:54:32.918Z[UTC]","type":"INFO"},{"id":225431751,"text":"No deployed MTA detected - this is initial deployment of MTA with ID \"my-mta\" and namespace \"test\"","timestamp":"2024-12-03T09:54:33.208Z[UTC]","type":"INFO"},{"id":225431752,"text":"Detected new MTA version: \"1.0.0\"","timestamp":"2024-12-03T09:54:33.387Z[UTC]","type":"INFO"},{"id":225431753,"text":"Processing service \"test-my-service\"...","timestamp":"2024-12-03T09:54:34.083Z[UTC]","type":"INFO"},{"id":225431755,"text":"Creating service \"test-my-service\" from MTA resource \"my-service\"...","timestamp":"2024-12-03T09:54:34.221Z[UTC]","type":"INFO"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - b778cb16-320a-430d-5b36-f4fde3d21f35
        status: 200 OK
        code: 200
        duration: 463.55175ms
[...]
    - id: 50
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/986ad353-b15c-11ef-834d-eeee0a9b5392?embed=messages
        method: GET
      response:
        body: '{"processId":"986ad353-b15c-11ef-834d-eeee0a9b5392","processType":"DEPLOY","startedAt":"2024-12-03T09:54:32.429Z[UTC]","endedAt":"2024-12-03T09:56:08.985Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"my-mta","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"FINISHED","messages":[{"id":225431747,"text":"Operation ID: 986ad353-b15c-11ef-834d-eeee0a9b5392","timestamp":"2024-12-03T09:54:32.403Z[UTC]","type":"INFO"},{"id":225431748,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-12-03T09:54:32.546Z[UTC]","type":"INFO"},{"id":225431749,[...]
    - id: 51
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/mtas?name=my-mta&namespace=test
        method: GET
      response:
        body: '[{"metadata":{"id":"my-mta","version":"1.0.0","namespace":"test"},"modules":[{"moduleName":"my-app","appName":"test-my-app","providedDendencyNames":[],"services":["test-my-service"],"uris":["test-performanceteamblr-tf-space-1-my-app.cfapps.sap.hana.ondemand.com"]}],"services":["test-my-service"]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 896c3c25-3de6-4720-7892-7bba65aa1bfc
        status: 200 OK
        code: 200
        duration: 795.4755ms
[...]
    - id: 62
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"BLUE_GREEN_DEPLOY","namespace":"test","parameters":{"appArchiveId":"692fb53b-237c-4b93-a497-bcaa7bcce6f2","keepOriginalAppNamesAfterDeploy":true,"mtaExtDescriptorId":"a0314991-9f77-4dd2-b26c-d5e257540179,c6f1538a-081d-4502-a907-f83cf4feceab","mtaId":"my-mta","noConfirm":true,"skipIdleStart":true}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 4zbtjR4_uemINQUYQtr3K_E3YYcs5k6kULMxYlNn27-ArxP20wWJvy1bioulDT18IPfDGZRVTOUZ0HmJadEIADVe7t6yy3GU
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/d5fed59e-b15c-11ef-ad7d-eeee0a9397ba?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - AJ9sJGWaHcXB8lE06t0T5Thta5HarLoWHtg0T9pJ45_Y-eV0MKwIFlb-LqfsymlQiPAn110PRvPvmo07J7oNLbxw1v7qnYcW
            X-Vcap-Request-Id:
                - 7fa3a166-b6d2-48e5-7149-d879435d0231
        status: 202 Accepted
        code: 202
        duration: 621.943209ms
[...]
    - id: 101
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"UNDEPLOY","namespace":"test","parameters":{"deleteServices":true,"mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - KqkMONUP9gJ4q9pO5FCewXhJqsVcpgiDowXxN6JzQMNgobCQHs8_WbRqkjRVm-9_0n2q8h15h_1vnzyuwGHCA5dHd_tZl4Ol
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/06f6feec-b15d-11ef-81e3-eeee0a9e69aa?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 5z30O4aDS9DziXwD6fdgin24N57O6hGXCePbig8ZfoscONfH01vHWufmL-beuUky39pUuRiIGqb90yW6aofovjotSbMlDuTy
            X-Vcap-Request-Id:
                - 1922bfd1-fc99-45d4-546f-86ca3bfe4d75
        status: 202 Accepted
        code: 202
        duration: 428.409667ms
[...]
