---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - eOXuehwThixX_g6KZFuU4BL7_s64ZMyFmmdpOilwUNc8tnSqGYfeQyUk4E16zGy9BXag0HHC0_fdU6-oogZQXxkSY-AKjk2d
            X-Vcap-Request-Id:
                - 8f64ef3b-1ba1-4f57-6f0d-0b26f4943f9c
        status: 204 No Content
        code: 204
        duration: 186.204167ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--401f97b2b7cb2c288e0f5a7ac8955422d74ce5aa7c8285be5b5aec0e827b\r\nContent-Disposition: form-data; name=\"file\"; filename=\"a.cf.app.mtar\"\r\nContent-Type: application/octet-stream\r\n\r\nPK\x03\x04\x14\0\0\0\0\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\t\0\t\0META-INF/UT\x05\0\x01z�)fPK\x03\x04\x14\0\b\0\b\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\t\0META-INF/MANIFEST.MFUT\x05\0\x01z�)f�M��LK-.�\rK-*��ϳR0�3���K�M�Rȭ��-I��M�KLOM�M,[...]
    - id: 2
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[{"processId":"669ff0ac-e540-11ef-9727-eeee0a9ed642","processType":"DEPLOY","startedAt":"2025-02-07T10:43:43.43Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}},{"processId":"00600ce0-e54a-11ef-aa27-eeee0a804b5b","processType":"DEPLOY","startedAt":"2025-02-07T11:52:26.849Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 5c1b63b4-0ff6-4b8f-738e-b02dc1469341
        status: 200 OK
        code: 200
        duration: 198.658459ms
[...]
    - id: 4
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Csrf-Token:
                - xl4lf4VaVBoXSdStFZCWEP9ZlpGMowuGsA74oIn54-hJnOawpGdHGuFjN3w6fOGYc72idcttu6m8xmiriWzOkLDK1Yxwq4fS
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/669ff0ac-e540-11ef-9727-eeee0a9ed642?actionId=abort
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/669ff0ac-e540-11ef-9727-eeee0a9ed642?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - RJ3AIAYbkmVQ8HMIK9d9Oiir6HwSelKuScKlnBtFRgltCa0mJqSiRWIi8QN9xUY9TfpJXxyfxUQiHzGDcKCTrCJ2cG1UPsxE
            X-Vcap-Request-Id:
                - d7db8332-4a48-41a9-7663-2fb953836343
        status: 202 Accepted
        code: 202
        duration: 239.093583ms
    - id: 5
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/669ff0ac-e540-11ef-9727-eeee0a9ed642?embed=messages
        method: GET
      response:
        body: '{"processId":"669ff0ac-e540-11ef-9727-eeee0a9ed642","processType":"DEPLOY","startedAt":"2025-02-07T10:43:43.43Z[UTC]","endedAt":"2025-02-07T11:52:30.676Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"ABORTED","messages":[{"id":232892259,"text":"Operation ID: 669ff0ac-e540-11ef-9727-eeee0a9ed642","timestamp":"2025-02-07T10:43:43.42Z[UTC]","type":"INFO"},{"id":232892260,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2025-02-07T10:43:43.509Z[UTC]","type":"INFO"},{"id":232892263,"text":"Detected MTA schema version: \"3\"","timestamp":"2025-02-07T10:43:43.788Z[UTC]","type":"INFO"},{"id":232892264,"text":"No deployed MTA detected - this is initial deployment of MTA with ID \"a.cf.app\" and namespace \"Hello\"","timestamp":"2025-02-07T10:43:44.034Z[UTC]","type":"INFO"},{"id":232892265,"text":"Error collecting system parameters: Could not create a valid host from \"performanceteamblr-tf-space-1-my-mta-managed-app-module\" ","timestamp":"2025-02-07T10:43:44.305Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 12d0f640-6a6b-404e-6e07-bfff243e3135
        status: 200 OK
        code: 200
        duration: 194.501625ms
[...]
    - id: 7
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"Hello","parameters":{"appArchiveId":"d888fa91-4f8d-4b97-8c50-00a8b1be6ba7","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - vRqX7JlHh7Pi8_iij3fTtOeGMe2G8YQcIvxSlJCT_Ny3uhJdjizy26EmvoDPkp6TuFrnjISxHNXiwucxG8lk96SqnbqP3nNv
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/04413ee9-e54a-11ef-bfac-eeee0a82c347?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - GYCHCM1Y6kzMh5t0WQ08jMtxtW039zncNcT75GgldX2P48s1KrbiP_U503_h5v1FbiAItKhGmFVTxFrxDPHNh1wcFBu3h6oH
            X-Vcap-Request-Id:
                - a3c3f21b-d52a-4ac6-4657-3189cf0b89e5
        status: 202 Accepted
        code: 202
        duration: 331.315833ms
    - id: 8
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/04413ee9-e54a-11ef-bfac-eeee0a82c347?embed=messages
        method: GET
      response:
        body: '{"processId":"04413ee9-e54a-11ef-bfac-eeee0a82c347","processType":"DEPLOY","startedAt":"2025-02-07T11:52:33.359Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","errorType":"INFRASTRUCTURE","messages":[{"id":232904375,"text":"Operation ID: 04413ee9-e54a-11ef-bfac-eeee0a82c347","timestamp":"2025-02-07T11:52:33.35Z[UTC]","type":"INFO"},{"id":232904376,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2025-02-07T11:52:33.44Z[UTC]","type":"INFO"},{"id":232904378,"text":"Detected MTA schema version: \"3\"","timestamp":"2025-02-07T11:52:33.687Z[UTC]","type":"INFO"},{"id":232904380,"text":"No deployed MTA detected - this is initial deployment of MTA with ID \"a.cf.app\" and namespace \"Hello\"","timestamp":"2025-02-07T11:52:33.964Z[UTC]","type":"INFO"},{"id":232904383,"text":"Error collecting system parameters: Could not create a valid host from \"performanceteamblr-tf-space-1-my-mta-managed-app-module\" ","timestamp":"2025-02-07T11:52:34.257Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 3aab4518-50ad-4400-5d47-55de45eac340
        status: 200 OK
        code: 200
        duration: 199.336708ms
