---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - f0bb3932-4462-4f27-5e14-7964b0fc7b64::943f1618-9cb2-442f-89e0-f146c39a7712
        status: 200 OK
        code: 200
        duration: 212.657583ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - db2a203f-d58f-41d2-7ac4-f649c3bc1cd1::1ebb9b07-b1c8-4e18-9e84-c35a53f10793
        status: 200 OK
        code: 200
        duration: 262.475792ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - 8a2dce2d-e444-4d92-6c5a-149b9dd7e333::126d46c6-c426-4924-8d40-86339e4ca3e2
        status: 200 OK
        code: 200
        duration: 266.439583ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  processes:
                    - type: web
                      disk_quota: 1024M
                      health-check-type: http
                      health-check-http-endpoint: /get
                      instances: 1
                      memory: 256M
                      readiness-health-check-type: http
                      readiness-health-check-http-endpoint: /get
                  metadata:
                    labels: {}
                    annotations: {}
                  instances: 1
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/f5a348f7-bb63-462b-8673-4de4edee3fc4
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - de4bab26-801e-4bca-5fcc-3661dbfd87bb::65bf935f-7e02-403c-b6bc-d8f255d29c04
        status: 202 Accepted
        code: 202
        duration: 276.147084ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/f5a348f7-bb63-462b-8673-4de4edee3fc4
        method: GET
      response:
        body: '{"guid":"f5a348f7-bb63-462b-8673-4de4edee3fc4","created_at":"2025-02-19T16:52:34Z","updated_at":"2025-02-19T16:52:35Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/f5a348f7-bb63-462b-8673-4de4edee3fc4"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - df6e11b9-9dcb-4254-79cf-ccc40cd5da4d::f44d4f61-6f76-4452-a34c-2b9fd6ad3994
        status: 200 OK
        code: 200
        duration: 184.982958ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"ed7f4558-a452-430f-acf0-bf0a163093ff","created_at":"2025-02-19T16:52:34Z","updated_at":"2025-02-19T16:52:34Z","name":"http-bin","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"current_droplet":{"data":{"guid":null}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - 6f9008b9-9e1d-4e41-4d20-ea7ac5ab1de0::17bb59d4-6c64-41cf-bc37-cb8cfcccfaae
        status: 200 OK
        code: 200
        duration: 271.4565ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"ed7f4558-a452-430f-acf0-bf0a163093ff"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"341d1cc4-28c9-4ac6-987f-1e2ef8b5f786","created_at":"2025-02-19T16:52:36Z","updated_at":"2025-02-19T16:52:36Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"ed7f4558-a452-430f-acf0-bf0a163093ff"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/341d1cc4-28c9-4ac6-987f-1e2ef8b5f786"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - d5c08cff-f824-4e8c-48a9-79b5fac78c7f::23ec2317-3333-4b9c-b83d-b0e8fe8fddd4
        status: 201 Created
        code: 201
        duration: 214.496416ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"341d1cc4-28c9-4ac6-987f-1e2ef8b5f786"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"daad3e1b-f2af-4377-9370-b7e6ae75dd0c","created_at":"2025-02-19T16:52:36Z","updated_at":"2025-02-19T16:52:36Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"341d1cc4-28c9-4ac6-987f-1e2ef8b5f786"},"droplet":null,"created_by":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2","name":"debaditya.ray@sap.com","email":"debaditya.ray@sap.com"},"relationships":{"app":{"data":{"guid":"ed7f4558-a452-430f-acf0-bf0a163093ff"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/daad3e1b-f2af-4377-9370-b7e6ae75dd0c"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - a3f22792-6250-4699-73fd-bb97c0df51a3::85e43b9f-c0c4-4792-acd8-8595fe9889f6
        status: 201 Created
        code: 201
        duration: 277.851208ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/daad3e1b-f2af-4377-9370-b7e6ae75dd0c
        method: GET
      response:
        body: '{"guid":"daad3e1b-f2af-4377-9370-b7e6ae75dd0c","created_at":"2025-02-19T16:52:36Z","updated_at":"2025-02-19T16:52:36Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"stag[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/daad3e1b-f2af-4377-9370-b7e6ae75dd0c
        method: GET
      response:
        body: '{"guid":"daad3e1b-f2af-4377-9370-b7e6ae75dd0c","created_at":"2025-02-19T16:52:36Z","updated_at":"2025-02-19T16:52:36Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"341d1cc4-28c9-4ac6-987f-1e2ef8b5f786"},"droplet":null,"created_by":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2","name":"debaditya.ray@sap.com","email":"debaditya.ray@sap.com"},"relationships":{"app":{"data":{"guid":"ed7f4558-a452-430f-acf0-bf0a163093ff"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/daad3e1b-f2af-4377-9370-b7e6ae75dd0c"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984589"
            X-Vcap-Request-Id:
                - d5b31839-337e-4b43-4aa4-5687aeb182c1::917c2fbb-4a39-4492-9dfd-e81362a72a5a
        status: 200 OK
        code: 200
        duration: 197.156958ms
[...]
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/341d1cc4-28c9-4ac6-987f-1e2ef8b5f786/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/341d1cc4-28c9-4ac6-987f-1e2ef8b5f786/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/341d1cc4-28c9-4ac6-987f-1e2ef8b5f786/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"a1b5bf45-1bfc-4795-b4ea-651059e3bdeb","created_at":"2025-02-19T16:52:39Z","updated_at":"2025-02-19T16:52:39Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"ed7f4558-a452-430f-acf0-bf0a163093ff"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/a1b5bf45-1bfc-4795-b4ea-651059e3bdeb"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/341d1cc4-28c9-4ac6-987f-1e2ef8b5f786"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984589"
            X-Vcap-Request-Id:
                - bbf04ea9-fc28-48a7-708e-2b2ca167b45e::0017426d-ca50-4e9f-89ec-1f6f68105055
        status: 200 OK
        code: 200
        duration: 199.356541ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"a1b5bf45-1bfc-4795-b4ea-651059e3bdeb"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"a1b5bf45-1bfc-4795-b4ea-651059e3bdeb"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - 6a4a9da0-88b5-49f9-51be-73dc27b22961::4c181c02-ac43-4a72-ae28-b948aff017a0
        status: 200 OK
        code: 200
        duration: 222.798333ms
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/actions/start
        method: POST
      response:
        body: '{"guid":"ed7f4558-a452-430f-acf0-bf0a163093ff","created_at":"2025-02-19T16:52:34Z","updated_at":"2025-02-19T16:52:40Z","name":"http-bin","state":"STARTED","lifecycle":{"type":"docker[...]
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: |
            {"var":{}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/environment_variables
        method: PATCH
      response:
        body: '{"var":{},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/environment_variables"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984589"
            X-Vcap-Request-Id:
                - caca844b-1772-4846-76b8-fbfa8f77275c::58baa077-b685-4b7e-8a34-c645499aaf63
        status: 200 OK
        code: 200
        duration: 208.874209ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - 29d35ed3-64ae-4145-4e5e-aca981efe70b::53567eac-6ff9-401c-9ff1-6930abf5c6a5
        status: 200 OK
        code: 200
        duration: 204.988166ms
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff
        method: GET
      response:
        body: '{"guid":"ed7f4558-a452-430f-acf0-bf0a163093ff","created_at":"2025-02-19T16:52:34Z","updated_at":"2025-02-19T16:52:41Z","name":"http-bin","state":"STARTED","lifecycle":{"type":"docker","data":{}},"r[...]
    - id: 17
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/ed7f4558-a452-430f-acf0-bf0a163093ff/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - dcd21164-759f-480c-4e2d-179d5f0f49d6::19ca1d4d-c75a-4c4c-b152-12c3eb1047c5
        status: 200 OK
        code: 200
        duration: 198.624417ms
    - id: 18
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143?include=organization
        method: GET
      response:
        body: '{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}},"included":{"organizations":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - 5a4c89e5-0f84-4ce5-607f-8084768ed987::bad67454-9755-4ce5-8dd1-7e9514326f1d
        status: 200 OK
        code: 200
        duration: 204.395167ms
[...]
    - id: 20
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/1640099f-7e32-4a85-b52a-56dac2888cdc
        method: GET
      response:
        body: '{"guid":"1640099f-7e32-4a85-b52a-56dac2888cdc","created_at":"2025-02-19T16:52:42Z","updated_at":"2025-02-19T16:52:42Z","operation":"app.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/1640099f-7e32-4a85-b52a-56dac2888cdc"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - d51174a8-0acb-4529-5338-8e2979ec405b::37622d2d-e966-4d85-88c8-a94d0ada8b35
        status: 200 OK
        code: 200
        duration: 186.052334ms
