---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"organization","organizations":[{"guid":"3533be5d-272f-42fe-bf70-fc4b108c2043"}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_plans/invalid-02c0cc92-6ecc-44b1-b7b2-096ca19ee143/visibility
        method: POST
      response:
        body: '{"errors":[{"detail":"Service plan not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d9e0f5d8-56d8-45f1-44d3-9fffd64b4d6d::5a5dfcf3-f76c-42d3-b48b-fcc2789f5b43
        status: 404 Not Found
        code: 404
        duration: 164.468541ms
