---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - f16b0d0a-d074-4ba4-5157-e00bd29c844a::f25f8749-6147-4dc7-bb89-11be158069cc
        status: 200 OK
        code: 200
        duration: 315.84575ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200389"
            X-Vcap-Request-Id:
                - a19b4e2c-9dae-4424-4559-4c6d20d6d3af::7e9de524-1758-4dd4-8be7-0e4a004f078b
        status: 200 OK
        code: 200
        duration: 314.443333ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":0,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - f172947d-6d2f-458e-77fe-e88e32c5fa15::711077b7-476b-470e-b186-251d801c3a8a
        status: 200 OK
        code: 200
        duration: 314.760125ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  processes:
                    - type: web
                      disk_quota: 1024M
                      health-check-type: http
                      health-check-http-endpoint: /get
                      instances: 1
                      memory: 256M
                      readiness-health-check-type: http
                      readiness-health-check-http-endpoint: /get
                  metadata:
                    labels: {}
                    annotations: {}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/3ade5087-b47b-4645-a1a4-42ecd1a10869
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - b372bf24-7e52-4fcf-5ea2-63267f0ebb67::43f0f5fe-576c-4ca1-8120-33446f346f10
        status: 202 Accepted
        code: 202
        duration: 347.364042ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/3ade5087-b47b-4645-a1a4-42ecd1a10869
        method: GET
      response:
        body: '{"guid":"3ade5087-b47b-4645-a1a4-42ecd1a10869","created_at":"2024-12-03T04:31:25Z","updated_at":"2024-12-03T04:31:25Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/3ade5087-b47b-4645-a1a4-42ecd1a10869"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200389"
            X-Vcap-Request-Id:
                - 9ad3dda2-a836-4b56-7d6f-f497b780b341::7bccf972-731d-4dff-bdca-5c8c1d563e50
        status: 200 OK
        code: 200
        duration: 273.69175ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"3d54cfad-b44f-4fce-9b08-06478c4e85aa","created_at":"2024-12-03T04:31:25Z","updated_at":"2024-12-03T04:31:25Z","name":"http-bin","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"current_droplet":{"data":{"guid":null}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - bfbaf457-75bc-4dec-6dcc-7adf1149e724::284a41b9-e2a5-487a-a231-af7c62256438
        status: 200 OK
        code: 200
        duration: 319.680625ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"3d54cfad-b44f-4fce-9b08-06478c4e85aa"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"222e9120-1808-4d48-b6a5-6825a1ec2cbf","created_at":"2024-12-03T04:31:27Z","updated_at":"2024-12-03T04:31:27Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"3d54cfad-b44f-4fce-9b08-06478c4e85aa"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/222e9120-1808-4d48-b6a5-6825a1ec2cbf"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - 5b04c582-66b4-4958-5788-47f925ea43c3::da4e2689-8da5-4d5b-8528-2f6609aeb83e
        status: 201 Created
        code: 201
        duration: 294.55125ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"222e9120-1808-4d48-b6a5-6825a1ec2cbf"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"ae31c0a8-767c-43bf-94b1-834ad92784f8","created_at":"2024-12-03T04:31:27Z","updated_at":"2024-12-03T04:31:27Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"222e9120-1808-4d48-b6a5-6825a1ec2cbf"},"droplet":null,"created_by":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2","name":"debaditya.ray@sap.com","email":"debaditya.ray@sap.com"},"relationships":{"app":{"data":{"guid":"3d54cfad-b44f-4fce-9b08-06478c4e85aa"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/ae31c0a8-767c-43bf-94b1-834ad92784f8"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - b96bf179-52d8-4a8a-4b0d-6045412f90d2::bd567e65-03ee-458f-a0d2-6e6146945f1e
        status: 201 Created
        code: 201
        duration: 329.440583ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/ae31c0a8-767c-43bf-94b1-834ad92784f8
        method: GET
      response:
        body: '{"guid":"ae31c0a8-767c-43bf-94b1-834ad92784f8","created_at":"2024-12-03T04:31:27Z","updated_at":"2024-12-03T04:31:27Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"stag[...]
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/222e9120-1808-4d48-b6a5-6825a1ec2cbf/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/222e9120-1808-4d48-b6a5-6825a1ec2cbf/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/222e9120-1808-4d48-b6a5-6825a1ec2cbf/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"9710e5e3-161d-49d8-aa95-3e4cbb61d369","created_at":"2024-12-03T04:31:30Z","updated_at":"2024-12-03T04:31:30Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"3d54cfad-b44f-4fce-9b08-06478c4e85aa"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/9710e5e3-161d-49d8-aa95-3e4cbb61d369"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/222e9120-1808-4d48-b6a5-6825a1ec2cbf"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - f8439f21-2501-461b-795a-f0404dc52a7c::788297e0-9180-49c4-9a36-cf84f349c66e
        status: 200 OK
        code: 200
        duration: 262.691333ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"9710e5e3-161d-49d8-aa95-3e4cbb61d369"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"9710e5e3-161d-49d8-aa95-3e4cbb61d369"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - a158b42c-2bd9-48fb-767f-818e3a8a707e::f5edd178-8ede-4778-80d5-287c3b3b1966
        status: 200 OK
        code: 200
        duration: 282.958042ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/actions/start
        method: POST
      response:
        body: '{"guid":"3d54cfad-b44f-4fce-9b08-06478c4e85aa","created_at":"2024-12-03T04:31:25Z","updated_at":"2024-12-03T04:31:31Z","name":"http-bin","state":"STARTED","lifecycle":{"type":"docker[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - 82a21786-ee17-424e-513c-4903a6301875::cbe599ed-db67-428b-aa58-02ce08f99669
        status: 200 OK
        code: 200
        duration: 322.656ms
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa
        method: GET
      response:
        body: '{"guid":"3d54cfad-b44f-4fce-9b08-06478c4e85aa","created_at":"2024-12-03T04:31:25Z","updated_at":"2024-12-03T04:31:31Z","name":"http-bin","state":"STARTED","lifecycle":{"type":"docker","data":{}},"r[...]
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/3d54cfad-b44f-4fce-9b08-06478c4e85aa/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 256M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: http
                health-check-http-endpoint: "/get"
                readiness-health-check-type: http
                readiness-health-check-http-endpoint: "/get"
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - f8c45049-b3ee-42e7-705e-3ef4fee5ff58::f3bfaa10-5698-4136-83b0-d816878b0edf
        status: 200 OK
        code: 200
        duration: 266.936375ms
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143?include=organization
        method: GET
      response:
        body: '{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}},"included":{"organizations":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - 2a96fb65-065d-4e4f-6b58-21596e02c541::3530bb47-8274-4a20-a86b-5eccc5b5569c
        status: 200 OK
        code: 200
        duration: 260.146917ms
[...]
