---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=redacted
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - redacted
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"redacted","expires_in":599,"scope":"cloud_controller.read password.write cloud_controller.write openid uaa.user","jti":"c7723671f8244a3dad9d2065d8faa480"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 2bc062ad-d677-4235-7998-7c84095e82b1
        status: 200 OK
        code: 200
        duration: 576.115667ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: '{"policies":[{"source":{"id":"d7574c2b-6a04-4f8c-a629-92e9cd08b026"},"destination":{"id":"a2ec5785-5c64-455e-a768-7a92215848c2","protocol":"tcp","ports":{"start":61443,"end":61443}}}]}'
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/networking/v1/external/policies
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            X-Vcap-Request-Id:
                - 42aca5c7-f42d-43a2-7967-e9dbab5d87b4::31e31c8e-cde9-4e5b-5582-40f5771ddffd
        status: 200 OK
        code: 200
        duration: 901.660708ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/networking/v1/external/policies?id=d7574c2b-6a04-4f8c-a629-92e9cd08b026,a2ec5785-5c64-455e-a768-7a92215848c2
        method: GET
      response:
        body: '{"total_policies":1,"policies":[{"source":{"id":"d7574c2b-6a04-4f8c-a629-92e9cd08b026"},"destination":{"id":"a2ec5785-5c64-455e-a768-7a92215848c2","protocol":"tcp","ports":{"start":61443,"end":61443}}}]}'
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            X-Vcap-Request-Id:
                - 9fec30d7-9258-4b97-7987-5f8c4ff21935::3fcee38c-25f4-4367-64d0-6c58ffe0fe53
        status: 200 OK
        code: 200
        duration: 238.949875ms
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/networking/v1/external/policies?id=d7574c2b-6a04-4f8c-a629-92e9cd08b026,a2ec5785-5c64-455e-a768-7a92215848c2
        method: GET
      response:
        body: '{"total_policies":1,"policies":[{"source":{"id":"d7574c2b-6a04-4f8c-a629-92e9cd08b026"},"destination":{"id":"a2ec5785-5c64-455e-a768-7a92215848c2","protocol":"tcp","ports":{"start":61443,"end":61443}}}]}'
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            X-Vcap-Request-Id:
                - ee989042-82f9-4b80-6cd1-09c23cb49f01::9ab32ab0-e275-4f1d-7da4-605555644bc1
        status: 200 OK
        code: 200
        duration: 217.541958ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: '{"policies":[{"source":{"id":"d7574c2b-6a04-4f8c-a629-92e9cd08b026"},"destination":{"id":"a2ec5785-5c64-455e-a768-7a92215848c2","protocol":"tcp","ports":{"start":61443,"end":61443}}}]}'
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/networking/v1/external/policies/delete
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            X-Vcap-Request-Id:
                - 1803535a-ba4d-42a2-7789-af70864ace33::e979f979-ff1e-415a-5f4d-1171de525fd5
        status: 200 OK
        code: 200
        duration: 302.658334ms
    - id: 8
      request:
        host: api.x.x.x.x.com
        body: '{"policies":[{"source":{"id":"d7574c2b-6a04-4f8c-a629-92e9cd08b026"},"destination":{"id":"a2ec5785-5c64-455e-a768-7a92215848c2","protocol":"udp","ports":{"start":61443,"end":61443}}}]}'
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/networking/v1/external/policies
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - text/plain; charset=utf-8
            X-Vcap-Request-Id:
                - aad3546e-510e-4b6b-53ef-f8b64ff52977::b5ae321b-d754-4b95-7fea-9026c09b29c4
        status: 200 OK
        code: 200
        duration: 354.260958ms
[...]
