---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"name":"broker","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","authentication":{"type":"basic","credentials":{"username":"admin","password":"hi"}},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":null}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_brokers
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/f0405e02-fa36-4c3a-8f4c-d82afa7cdbe1
            X-Vcap-Request-Id:
                - 141b4268-0b31-4761-5f0a-415d2c231a6a::a669eadf-7ff3-4be9-9b6f-3d0808108522
        status: 202 Accepted
        code: 202
        duration: 742.097875ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/f0405e02-fa36-4c3a-8f4c-d82afa7cdbe1
        method: GET
      response:
        body: '{"guid":"f0405e02-fa36-4c3a-8f4c-d82afa7cdbe1","created_at":"2025-02-15T15:55:59Z","updated_at":"2025-02-15T15:56:00Z","operation":"service_broker.catalog.synchronize","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/f0405e02-fa36-4c3a-8f4c-d82afa7cdbe1"},"service_brokers":{"href":"https://api.x.x.x.x.com/v3/service_brokers/7369b991-217b-46b9-a383-0edbec7cbd44"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 2e533956-ac2a-448f-6d96-195689e82f50::93f78b4b-6138-4681-8063-9d12d9091e04
        status: 200 OK
        code: 200
        duration: 207.336083ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers?names=broker
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=broker\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/service_brokers?names=broker\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"7369b991-217b-46b9-a383-0edbec7cbd44","created_at":"2025-02-15T15:55:59Z","updated_at":"2025-02-15T15:56:00Z","name":"broker","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/7369b991-217b-46b9-a383-0edbec7cbd44"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=7369b991-217b-46b9-a383-0edbec7cbd44"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 1b2d4119-0399-4f69-5d36-1438ecfe158c::6753295c-4e57-434c-b479-9178770db2cb
        status: 200 OK
        code: 200
        duration: 230.9265ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/7369b991-217b-46b9-a383-0edbec7cbd44
        method: GET
      response:
        body: '{"guid":"7369b991-217b-46b9-a383-0edbec7cbd44","created_at":"2025-02-15T15:55:59Z","updated_at":"2025-02-15T15:56:00Z","name":"broker","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/7369b991-217b-46b9-a383-0edbec7cbd44"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=7369b991-217b-46b9-a383-0edbec7cbd44"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - f18f2319-3084-4f47-6572-8845fa0f15c1::83ab6ca2-9f74-4404-8a1a-09606c7d746e
        status: 200 OK
        code: 200
        duration: 201.337167ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/7369b991-217b-46b9-a383-0edbec7cbd44
        method: GET
      response:
        body: '{"guid":"7369b991-217b-46b9-a383-0edbec7cbd44","created_at":"2025-02-15T15:55:59Z","updated_at":"2025-02-15T15:56:00Z","name":"broker","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"landscape":"test","purpose":"testing"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/7369b991-217b-46b9-a383-0edbec7cbd44"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=7369b991-217b-46b9-a383-0edbec7cbd44"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - d42a4323-1d19-42e1-5f16-cbb50fa74c00::b104233b-eb8a-4878-885e-c908feb9a4c9
        status: 200 OK
        code: 200
        duration: 192.563375ms
[...]
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/7369b991-217b-46b9-a383-0edbec7cbd44
        method: GET
      response:
        body: '{"guid":"7369b991-217b-46b9-a383-0edbec7cbd44","created_at":"2025-02-15T15:55:59Z","updated_at":"2025-02-15T15:56:03Z","name":"broker-2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/7369b991-217b-46b9-a383-0edbec7cbd44"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=7369b991-217b-46b9-a383-0edbec7cbd44"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - a15bc31c-48b7-4bf2-42f6-701ac5d22437::3d91fc8a-ceda-426c-9982-56e896e57d37
        status: 200 OK
        code: 200
        duration: 198.108083ms
[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_brokers/7369b991-217b-46b9-a383-0edbec7cbd44
        method: GET
      response:
        body: '{"guid":"7369b991-217b-46b9-a383-0edbec7cbd44","created_at":"2025-02-15T15:55:59Z","updated_at":"2025-02-15T15:56:03Z","name":"broker-2","url":"https://sample-broker.cert.cfapps.stagingazure.hanavlab.ondemand.com","relationships":{},"metadata":{"labels":{"purpose":"production","status":"fine"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/service_brokers/7369b991-217b-46b9-a383-0edbec7cbd44"},"service_offerings":{"href":"https://api.x.x.x.x.com/v3/service_offerings?service_broker_guids=7369b991-217b-46b9-a383-0edbec7cbd44"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - e8453b73-82e6-4a45-5ff9-f946f8a0e1fc::fb1c4117-5e2b-45c4-b9e9-b2a5a3f1dde3
        status: 200 OK
        code: 200
        duration: 203.253625ms
[...]
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/5ee43c74-2f1d-4ddf-9d0a-580cae35e6ce
        method: GET
      response:
        body: '{"guid":"5ee43c74-2f1d-4ddf-9d0a-580cae35e6ce","created_at":"2025-02-15T15:56:06Z","updated_at":"2025-02-15T15:56:07Z","operation":"service_broker.delete","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/5ee43c74-2f1d-4ddf-9d0a-580cae35e6ce"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - df35a72c-b117-41f8-797d-791e09bbac6c::fa3d8710-7052-48e9-a301-08e2ccd21d6c
        status: 200 OK
        code: 200
        duration: 204.365791ms
