---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - XUEhUC0rAmlGo1djCbk4oqXCp2VABJ89BnEo8cRFZrxf_NSoO3REYEwfMQprwDJQMJQMkZ33igRxNvoQNkEewfQgUYo8yreQ
            X-Vcap-Request-Id:
                - f39c0308-8221-4d87-409b-227aeb10e693
        status: 204 No Content
        code: 204
        duration: 1.40703725s
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--a88bfb4b3f0b95cfb67a837b9890dfa14cce8fe213cf7e82443d311a13b1\r\nContent-Disposition: form-data; name=\"file\"; filename=\"a.cf.app.mtar\"\r\nContent-Type: application/octet-stream\r\n\r\nPK\x03\x04\x14\0\0\0\0\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\t\0\t\0META-INF/UT\x05\0\x01z�)fPK\x03\x04\x14\0\b\0\b\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\t\0META-INF/MANIFEST.MFUT\x05\0\x01z�)f�M��LK-.�\rK-*��ϳR0�3���K�M�Rȭ��-I��M�KLOM�M,[...]
    - id: 2
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 63f908d7-e0c6-4d92-406b-e3e2356ebd0a
        status: 200 OK
        code: 200
        duration: 306.981792ms
[...]
    - id: 4
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"test","parameters":{"appArchiveId":"1628f2b6-949b-40ae-9a91-591647e30785","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - cSO3LGTw4K5_dCA3cgtyMMMnEgaKI88Fx7UsXDswLOPNIaT8R0GDFAbJ1p5SRBhRRiZGA_YQP2S9F_4opdBPOV1TT4GuGcfL
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/5dcda354-b15c-11ef-ad7d-eeee0a9397ba?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - bPPtXlAvVxScJ5Pq600acEfIeqOKyq9I2d4KI_562pLPhwewWpHZZjIWYSSxF6uM32AuQ3L_V8G9_p5lu7tpRpgZufCsv2SH
            X-Vcap-Request-Id:
                - 56c7dadb-c036-4592-7638-24f7b42d80b6
        status: 202 Accepted
        code: 202
        duration: 417.517958ms
    - id: 5
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/5dcda354-b15c-11ef-ad7d-eeee0a9397ba?embed=messages
        method: GET
      response:
        body: '{"processId":"5dcda354-b15c-11ef-ad7d-eeee0a9397ba","processType":"DEPLOY","startedAt":"2024-12-03T09:52:54.076Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"RUNNING","messages":[{"id":225431337,"text":"Operation ID: 5dcda354-b15c-11ef-ad7d-eeee0a9397ba","timestamp":"2024-12-03T09:52:54.064Z[UTC]","type":"INFO"},{"id":225431338,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-12-03T09:52:54.149Z[UTC]","type":"INFO"},{"id":225431339,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-12-03T09:52:54.455Z[UTC]","type":"INFO"},{"id":225431340,"text":"Detected deployed MTA with ID \"a.cf.app\", version \"0.0.0\" and namespace \"test\"","timestamp":"2024-12-03T09:52:54.696Z[UTC]","type":"INFO"},{"id":225431341,"text":"Detected new MTA version: \"0.0.0\"","timestamp":"2024-12-03T09:52:54.846Z[UTC]","type":"INFO"},{"id":225431342,"text":"Deployed MTA version: \"0.0.0\"","timestamp":"2024-12-03T09:52:54.852Z[UTC]","type":"INFO"},{"id":225431356,"text":"Updating application \"test-my-cf-app\"...","timestamp":"2024-12-03T09:52:55.567Z[UTC]","type":"INFO"},{"id":225431362,"text":"Application \"test-my-cf-app\" attributes are not modified and will not be updated","timestamp":"2024-12-03T09:52:55.815Z[UTC]","type":"INFO"},{"id":225431366,"text":"Uploading application \"test-my-cf-app\"...","timestamp":"2024-12-03T09:52:55.95Z[UTC]","type":"INFO"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 68f74e27-efb6-45c5-4b1c-b68d9392c435
        status: 200 OK
        code: 200
        duration: 283.258458ms
    - id: 6
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/5dcda354-b15c-11ef-ad7d-eeee0a9397ba?embed=messages
        method: GET
      response:
        body: '{"processId":"5dcda354-b15c-11ef-ad7d-eeee0a9397ba","processType":"DEPLOY","startedAt":"2024-12-03T09:52:54.076Z[UTC]","endedAt":"2024-12-03T09:52:57.59Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"test","user":"debaditya.ray@sap.com","acquiredLock":false,"state":"FINISHED","messages":[{"id":225431337,"text":"Operation ID: 5dcda354-b15c-11ef-ad7d-eeee0a9397ba","timestamp":"2024-12-03T09:52:54.064Z[UTC]","type":"INFO"},{"id":225431338,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-12-03T09:52:54.149Z[UTC]","type":"INFO"},{"id":225431339[...]
    - id: 7
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/mtas?name=a.cf.app&namespace=test
        method: GET
      response:
        body: '[{"metadata":{"id":"a.cf.app","version":"0.0.0","namespace":"test"},"modules":[{"moduleName":"my-mta-managed-app-module","appName":"test-my-cf-app","providedDendencyNames":[],"services":[],"uris":["test-performanceteamblr-tf-space-1-my-mta-managed-app-module.cfapps.sap.hana.ondemand.com"]}],"services":[]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 40c949c2-b349-4d77-5f5e-b7069b9f26e6
        status: 200 OK
        code: 200
        duration: 694.088ms
[...]
    - id: 11
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"file_url":"aHR0cHM6Ly9naXRodWIuY29tL0RyYXk1Ni9tdGFyLWFyY2hpdmUvcmVsZWFzZXMvZG93bmxvYWQvdjEuMC4wL2EuY2YuYXBwLm10YXI="}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - pF-FfKnredoDf7hg2y9ZfsCBotg3g4XcuzhtRl0wBaD8Og_Ek2bnRJ_TG-guG9wGvgJtTPO2j7oH57HxgglUJz4IYMKZX2n3
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/async?namespace=test
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/jobs/c84b1da3-78b0-461a-929a-fe8f6d260839
            X-Cf-App-Instance:
                - 98f099c0-41d4-455e-affc-b072f5b2b06f:2
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - UAuH7y1MIPqB2h7L2bCccgNkABfxPRaSApTnyJyxLJCjjn1gZzLl1xt0QsisvnqtvJ2oQDBTLXXBWSK_O6Xeqf-JSfLG6xtT
            X-Vcap-Request-Id:
                - e5a49239-4abf-4f66-5a73-40322c250fcd
        status: 202 Accepted
        code: 202
        duration: 296.462166ms
    - id: 12
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            X-Cf-App-Instance:
                - 98f099c0-41d4-455e-affc-b072f5b2b06f:2
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files/jobs/c84b1da3-78b0-461a-929a-fe8f6d260839?namespace=test
        method: GET
      response:
        body: '{"status":"FINISHED","file":{"id":"a79d626b-5b3e-458d-90fc-9c82e63b6ab4","name":"a.cf.app.mtar","size":2365,"digest":"8FC95BAEF1A228E42C775F9E3D44241C","digestAlgorithm":"MD5","space":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","namespace":"test"},"mta_id":"a.cf.app"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 87b4afd6-ec8c-4ebc-68ad-adac27ffb032
        status: 201 Created
        code: 201
        duration: 323.270916ms
[...]
    - id: 27
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=my-mta&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 53d6ed1c-8663-4fbe-6930-14e8397e37f0
        status: 200 OK
        code: 200
        duration: 276.292292ms
[...]
    - id: 29
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"test","parameters":{"appArchiveId":"ec890749-4951-44a5-978d-91a673f4e07f","mtaExtDescriptorId":"d128ba66-5b56-4482-a3f0-369c109b7d60,1ab6eea0-04a2-4b76-85d8-0c277f089922","mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - BdGMFRIJqfFZhUXTpK0UrVNvjBlg2v-NkO14Icy_lUldn_9rYeC-cXM5kcF0432wkoAgyTBXoXsBu5ug9NocQ_Xc8C1o-ctb
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/6a7ae102-b15c-11ef-b048-eeee0a9cff6b?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - R7wpP1vEOF82me63NdKUROOLTGW6wFh13uCSmv3oXk1-j2NUI40bWzr0AG8b_9bUA_-gIICzYQfboTxYutf2-MSLOylL6Vdk
            X-Vcap-Request-Id:
                - 1124619f-75fc-4395-75d8-c713534b693b
        status: 202 Accepted
        code: 202
        duration: 410.5665ms
[...]
    - id: 49
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v2/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/mtas?name=my-mta&namespace=test
        method: GET
      response:
        body: '[{"metadata":{"id":"my-mta","version":"1.0.0","namespace":"test"},"modules":[{"moduleName":"my-app","appName":"test-my-app","providedDendencyNames":[],"services":["test-my-service"],"uris":["test-performanceteamblr-tf-space-1-my-app.cfapps.sap.hana.ondemand.com"]}],"services":["test-my-service"]}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 6e4e537b-d47f-46dc-7491-a31057f80bc4
        status: 200 OK
        code: 200
        duration: 712.498125ms
[...]
    - id: 52
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"UNDEPLOY","namespace":"test","parameters":{"deleteServices":true,"mtaId":"my-mta"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - wD6xh-dL8PyR7ATH0-5XAsGZVza87db5o778K8D-TqPa_ZDZpgyCtYZzxJ682THw5sNjZqWueg6P2u_UlI6dHPPML5Tvm_O6
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/85b2589d-b15c-11ef-a5ae-eeee0a9c7231?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - f9Vss5-DPdVnW9Jx8NUwBWvcAvsJcKlsJCDDO0SCAI7mcsDBGedfgf67CbdKbudGxfgEYQ_rL8M6R5BBExCiDHewYbnTFKOi
            X-Vcap-Request-Id:
                - bb990725-0831-489f-6a4a-fb720a06f408
        status: 202 Accepted
        code: 202
        duration: 387.499916ms
[...]
