---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"organization","organizations":[{"guid":"3533be5d-272f-42fe-bf70-fc4b108c2043"}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_plans/f37176d7-39eb-4e80-a3c0-328dfe36902c/visibility
        method: POST
      response:
        body: '{"type":"organization"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 6c24d567-16cf-4373-69da-6c2db8b6a02a::6e7c0b98-8e5d-48c2-8f88-115ef34283aa
        status: 200 OK
        code: 200
        duration: 534.423542ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_plans/f37176d7-39eb-4e80-a3c0-328dfe36902c/visibility
        method: GET
      response:
        body: '{"type":"organization","organizations":[{"guid":"3533be5d-272f-42fe-bf70-fc4b108c2043","name":"test"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - acce3d81-9460-418d-5e3a-388a24d1d4cc::ff623cef-8a0c-4367-b088-0ea9140dc944
        status: 200 OK
        code: 200
        duration: 170.427ms
[...]
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_plans/f37176d7-39eb-4e80-a3c0-328dfe36902c/visibility
        method: GET
      response:
        body: '{"type":"organization","organizations":[{"guid":"3533be5d-272f-42fe-bf70-fc4b108c2043","name":"test"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - cf43d586-486f-4017-4192-68bbcbc8e23e::8513bf85-248d-4786-85fd-8cfcf9e0cd73
        status: 200 OK
        code: 200
        duration: 174.367ms
[...]
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/service_plans/f37176d7-39eb-4e80-a3c0-328dfe36902c/visibility
        method: GET
      response:
        body: '{"type":"public"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - b5a4b45f-3b4f-468e-7386-b3810640000f::64a66328-8f6e-49cb-83a3-d142d2a1afe6
        status: 200 OK
        code: 200
        duration: 171.381625ms
[...]
