---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":[{"guid":"3bc20dc4-1870-4835-8308-dda2d766e61e"},{"guid":"e6886bba-e263-4b52-aaf1-85d410f15fc8"}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/security_groups/56eedab7-cb97-469b-a3e9-89521827c039/relationships/running_spaces
        method: POST
      response:
        body: '{"errors":[{"detail":"Spaces with guids [\"3bc20dc4-1870-4835-8308-dda2d766e61e\", \"e6886bba-e263-4b52-aaf1-85d410f15fc8\"] do not exist, or you do not have access to them.","title":"CF-UnprocessableEntity","code":10008}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1732195988"
            X-Vcap-Request-Id:
                - 14ae91b1-e519-463e-4e14-52853f566de6::bb672177-2451-4ebe-95ea-d370a62480f1
        status: 422 Unprocessable Entity
        code: 422
        duration: 329.038667ms
