---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227987"
            X-Vcap-Request-Id:
                - a93ac313-d77d-4745-5340-f93fb752b4f3::a4c197be-0ef5-4035-89b0-0aba6096985b
        status: 200 OK
        code: 200
        duration: 221.706291ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227989"
            X-Vcap-Request-Id:
                - fc302dc8-7e30-4c68-59bf-bc9d4aee5e2d::a899b798-d7cb-4335-9b49-ce20b8f8b709
        status: 200 OK
        code: 200
        duration: 264.083584ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin-sidecar
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  sidecars:
                    - name: sidecar-1
                      process_types:
                        - worker
                      command: sleep 5200
                      memory: 256M
                  metadata:
                    labels: {}
                    annotations: {}
                  instances: 1
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/55ab4f35-fed3-439b-b798-985af4594bb1
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227989"
            X-Vcap-Request-Id:
                - 38ba27da-fdcc-46a3-7748-9d00ee792a07::3bfac9af-f274-4e6b-8978-86b13fc182e0
        status: 202 Accepted
        code: 202
        duration: 262.358916ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/55ab4f35-fed3-439b-b798-985af4594bb1
        method: GET
      response:
        body: '{"guid":"55ab4f35-fed3-439b-b798-985af4594bb1","created_at":"2025-04-21T09:26:49Z","updated_at":"2025-04-21T09:26:49Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/55ab4f35-fed3-439b-b798-985af4594bb1"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - e0eca4ac-f9ad-4dff-689b-c6ae6f8fa398::c942c52b-7c33-4eb8-a501-272aef90e56b
        status: 200 OK
        code: 200
        duration: 192.469709ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"269ac60f-a018-401c-a114-82fc2f6025af","created_at":"2025-04-21T09:26:49Z","updated_at":"2025-04-21T09:26:49Z","name":"http-bin-sidecar","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"current_droplet":{"data":{"guid":null}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - 41c65307-9fea-4d0b-48ab-e4ca97915281::d184c9e8-c523-4159-8d67-65942ad7d672
        status: 200 OK
        code: 200
        duration: 268.76175ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"269ac60f-a018-401c-a114-82fc2f6025af"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"f94d783b-8a9f-40b8-9251-fc0f41b5baf9","created_at":"2025-04-21T09:26:51Z","updated_at":"2025-04-21T09:26:51Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"269ac60f-a018-401c-a114-82fc2f6025af"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/f94d783b-8a9f-40b8-9251-fc0f41b5baf9"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - 2f28942a-f614-4c53-6eb4-eafe04e40463::a5700243-3be8-4d56-ac07-9c1e379c3196
        status: 201 Created
        code: 201
        duration: 278.920709ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"f94d783b-8a9f-40b8-9251-fc0f41b5baf9"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"cafb6b11-62d5-4b9a-a2fe-521298db38db","created_at":"2025-04-21T09:26:51Z","updated_at":"2025-04-21T09:26:51Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"f94d783b-8a9f-40b8-9251-fc0f41b5baf9"},"droplet":null,"created_by":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2","name":"debaditya.ray@sap.com","email":"debaditya.ray@sap.com"},"relationships":{"app":{"data":{"guid":"269ac60f-a018-401c-a114-82fc2f6025af"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/cafb6b11-62d5-4b9a-a2fe-521298db38db"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - d2bd9d6b-b037-44c7-619d-f6ea32398ff4::2359489d-d5f9-4a52-adbf-f1a8ab67b494
        status: 201 Created
        code: 201
        duration: 307.725292ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/cafb6b11-62d5-4b9a-a2fe-521298db38db
        method: GET
      response:
        body: '{"guid":"cafb6b11-62d5-4b9a-a2fe-521298db38db","created_at":"2025-04-21T09:26:51Z","updated_at":"2025-04-21T09:26:51Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"f94d783b-8a9f-40b8-9251-fc0f41b5baf9"},"droplet":null,"created_by":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2","name":"debaditya.ray@sap.com","email":"debaditya.ray@sap.com"},"relationships":{"app":{"data":{"guid":"269ac60f-a018-401c-a114-82fc2f6025af"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/cafb6b11-62d5-4b9a-a2fe-521298db38db"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - ebc86af8-a4ef-4f5b-4311-11d1254c462b::54111d77-877b-4e68-82eb-0c7a0dded4b2
        status: 200 OK
        code: 200
        duration: 199.51775ms
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/f94d783b-8a9f-40b8-9251-fc0f41b5baf9/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/f94d783b-8a9f-40b8-9251-fc0f41b5baf9/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/f94d783b-8a9f-40b8-9251-fc0f41b5baf9/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"5ac1adfc-4617-41de-9ee8-8644dcaf9f84","created_at":"2025-04-21T09:26:53Z","updated_at":"2025-04-21T09:26:53Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"269ac60f-a018-401c-a114-82fc2f6025af"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/5ac1adfc-4617-41de-9ee8-8644dcaf9f84"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/f94d783b-8a9f-40b8-9251-fc0f41b5baf9"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227987"
            X-Vcap-Request-Id:
                - 12b49131-544d-402d-5551-3b2d6a36fc1a::69df887f-8841-4be0-b033-122d7870e9a3
        status: 200 OK
        code: 200
        duration: 196.9465ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"5ac1adfc-4617-41de-9ee8-8644dcaf9f84"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"5ac1adfc-4617-41de-9ee8-8644dcaf9f84"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227989"
            X-Vcap-Request-Id:
                - 94138f9d-b6b2-4603-53cb-f0e2d4cca5ce::7456ef88-0a52-441f-a424-ad5b003f430c
        status: 200 OK
        code: 200
        duration: 214.628375ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/actions/start
        method: POST
      response:
        body: '{"guid":"269ac60f-a018-401c-a114-82fc2f6025af","created_at":"2025-04-21T09:26:49Z","updated_at":"2025-04-21T09:26:55Z","name":"http-bin-sidecar","state":"STARTED","lifecycle":{"type"[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: |
            {"var":{}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/environment_variables
        method: PATCH
      response:
        body: '{"var":{},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/environment_variables"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227987"
            X-Vcap-Request-Id:
                - e2fc8e43-dcc5-4bc6-568a-dbc088d67dea::c5f7c273-8f85-4fda-a016-eb31cf169c76
        status: 200 OK
        code: 200
        duration: 224.807708ms
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/features/ssh
        method: PATCH
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - 515fd33c-c102-4d66-4532-88443897d254::9a26d938-f900-428a-81e4-cc92d649505e
        status: 200 OK
        code: 200
        duration: 197.8505ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin-sidecar
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
              sidecars:
              - name: sidecar-1
                process_types:
                - worker
                command: sleep 5200
                memory: 256M
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - 476cbd88-0f11-43f8-60a0-ef286560b94d::9b3b8e51-9f08-4593-9d16-f1c6a4829502
        status: 200 OK
        code: 200
        duration: 214.337916ms
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af
        method: GET
      response:
        body: '{"guid":"269ac60f-a018-401c-a114-82fc2f6025af","created_at":"2025-04-21T09:26:49Z","updated_at":"2025-04-21T09:26:56Z","name":"http-bin-sidecar","state":"STARTED","lifecycle":{"type":"docker","data[...]
    - id: 17
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin-sidecar
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
              sidecars:
              - name: sidecar-1
                process_types:
                - worker
                command: sleep 5200
                memory: 256M
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227987"
            X-Vcap-Request-Id:
                - cda3e176-9e09-4b42-4686-9ea7c76de56b::3e895bc7-bc78-49d9-bf85-cd2683f57ee1
        status: 200 OK
        code: 200
        duration: 217.8875ms
    - id: 18
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/269ac60f-a018-401c-a114-82fc2f6025af/features/ssh
        method: GET
      response:
        body: '{"name":"ssh","description":"Enable SSHing into the app.","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - f74bde21-376a-4a2c-7f50-ba30318ab127::7f8667f2-3692-4dfe-9ce3-ab23d285cfec
        status: 200 OK
        code: 200
        duration: 191.427334ms
    - id: 19
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143?include=organization
        method: GET
      response:
        body: '{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}},"included":{"organizations":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1745227988"
            X-Vcap-Request-Id:
                - 0d4560f0-ac58-4aeb-71e9-3e8e7e638fd9::ef064a65-acc6-4d3b-a400-c8fbefb79b09
        status: 200 OK
        code: 200
        duration: 196.449791ms
[...]
