---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 5wUyz1vxRY5VY_iXY3wpEIiIwwDntOBcZamxsObqIISynzf20TAC-DnIJLt4U8mjW1Edde267jnVg9FxAcuBid_SE7aD_QKQ
            X-Vcap-Request-Id:
                - a86383e7-f9d9-4e26-6cc1-82074dac00a2
        status: 204 No Content
        code: 204
        duration: 266.823458ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--77223629c976928ca9b5abce3292c2c949d2a9b315729d3f089fc9dea147\r\nContent-Disposition: form-data; name=\"file\"; filename=\"provider-config-local.txt\"\r\nContent-Type: application/octet-stream\r\n\r\nprovider_installation {\n  dev_overrides {\n    \"cloudfoundry/cloudfoundry\" = \"/go/bin\"\n  }\n\n  direct {}\n}\r\n--77223629c976928ca9b5abce3292c2c949d2a9b315729d3f089fc9dea147--\r\n"
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - multipart/form-data; boundary=77223629c976928ca9b5abce3292c2c949d2a9b315729d3f089fc9dea147
            X-Csrf-Token:
                - 5wUyz1vxRY5VY_iXY3wpEIiIwwDntOBcZamxsObqIISynzf20TAC-DnIJLt4U8mjW1Edde267jnVg9FxAcuBid_SE7aD_QKQ
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/files
        method: POST
      response:
        body: '{"id":"1bb522da-4d9b-413b-9eee-e7661c51a9f2","name":"provider-config-local.txt","size":104,"digest":"6E1EDD6C9ACB9FCC0FFB04606A638342","digestAlgorithm":"MD5","space":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 693a8841-4ebb-4242-7860-7c063bcb0bf2
        status: 201 Created
        code: 201
        duration: 505.518041ms
[...]
    - id: 10
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 1c37e1ac-e76e-4884-6c35-38aa2970bce8
        status: 200 OK
        code: 200
        duration: 342.783083ms
[...]
    - id: 12
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","parameters":{"appArchiveId":"e9383a77-0eb4-45a5-87c0-86464785f316","mtaExtDescriptorId":"880c2bed-02b4-4b82-8233-866ba8d5f93c","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - 8vna2L86V_DCaO8EhjkQW76P-qfaqIC6PFqDRz54RGRXLeOZlp3p69wNZsDvXIk95xQkbYy218W_zOOXCTizcgxPcVI0G4D6
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/1982c581-b15d-11ef-ad7d-eeee0a9397ba?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - 1fnFwDBzCOfOjn2LptLi2un8HQVzQ_sJZZN6ZYjbtulTozvKsZ3281NEOdfjuhuyx__W7NvFMGcWJ5gkUPFKULrsg98wlVip
            X-Vcap-Request-Id:
                - f5e2c783-e8bd-4009-4d4d-4176a5ad2940
        status: 202 Accepted
        code: 202
        duration: 613.208042ms
    - id: 13
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/1982c581-b15d-11ef-ad7d-eeee0a9397ba?embed=messages
        method: GET
      response:
        body: '{"processId":"1982c581-b15d-11ef-ad7d-eeee0a9397ba","processType":"DEPLOY","startedAt":"2024-12-03T09:58:08.996Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","errorType":"CONTENT","messages":[{"id":225432740,"text":"Operation ID: 1982c581-b15d-11ef-ad7d-eeee0a9397ba","timestamp":"2024-12-03T09:58:08.985Z[UTC]","type":"INFO"},{"id":225432742,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-12-03T09:58:09.099Z[UTC]","type":"INFO"},{"id":225432746,"text":"Error processing MTA extension descriptors: org.cloudfoundry.multiapps.controller.persistence.services.FileStorageException: org.cloudfoundry.multiapps.common.ParsingException: Error while parsing YAML string: \nprovider_installation {\n  dev_overrides {\n    \"cloudfoundry/cloudfoundry\" = \"/go/bin\"\n  }\n\n  direct {}\n}\nclass java.lang.String cannot be cast to class java.util.Map (java.lang.String and java.util.Map are in module java.base of loader ''bootstrap'') ","timestamp":"2024-12-03T09:58:09.399Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - f0c5050b-15f2-4a11-7998-36f538a0686b
        status: 200 OK
        code: 200
        duration: 353.833375ms
