---
version: 2
interactions:
    - id: 0
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/csrf-token
        method: GET
      response:
        body: ""
        headers:
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - S142BZnqig1eCxDm-WfkqOtrfp9-ZmZbJ51yOdNiUX-1gmL3f2wEZ6GI6DtzOyXUyUrQnd0PU_1LVl92RKhFCORSZkjXtwTP
            X-Vcap-Request-Id:
                - c3a075b8-a78b-4f44-4b9b-c19450701348
        status: 204 No Content
        code: 204
        duration: 268.816625ms
    - id: 1
      request:
        host: deploy-service.x.x.x.x.com
        body: "--0cd8b9eb75d0f1cddd4383bc94dccef323b17de908ec4a42b1040c207ad4\r\nContent-Disposition: form-data; name=\"file\"; filename=\"a.cf.app.mtar\"\r\nContent-Type: application/octet-stream\r\n\r\nPK\x03\x04\x14\0\0\0\0\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\t\0\t\0META-INF/UT\x05\0\x01z�)fPK\x03\x04\x14\0\b\0\b\0Y,�X\0\0\0\0\0\0\0\0\0\0\0\0\x14\0\t\0META-INF/MANIFEST.MFUT\x05\0\x01z�)f�M��LK-.�\rK-*��ϳR0�3���K�M�Rȭ��-I��M�KLOM�M,[...]
    - id: 2
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations?mtaId=a.cf.app&state=RUNNING%2CERROR%2CACTION_REQUIRED
        method: GET
      response:
        body: '[{"processId":"1982c581-b15d-11ef-ad7d-eeee0a9397ba","processType":"DEPLOY","startedAt":"2024-12-03T09:58:08.996Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","messages":[],"parameters":{}}]'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 71d4b8b4-c70f-48b8-78e8-9bd0c823e2e9
        status: 200 OK
        code: 200
        duration: 403.522166ms
[...]
    - id: 4
      request:
        host: deploy-service.x.x.x.x.com
        body: |
            {"processType":"DEPLOY","namespace":"Hello","parameters":{"appArchiveId":"e7c7e886-cd02-43e8-8bdb-f1427cc7e939","mtaId":"a.cf.app"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json; charset=utf-8
            X-Csrf-Token:
                - ghsBnmQoivWyT0CET0oa3bUNDAO2F0E1E1xuRjMJu_0f7ttj5yI4qVQeuMSfLXa2LGcu6NRpIWHUcngYIGsKdAdoi8t63LpS
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations
        method: POST
      response:
        body: ""
        headers:
            Location:
                - spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/1c612d23-b15d-11ef-81e3-eeee0a9e69aa?embed=messages
            X-Csrf-Header:
                - X-CSRF-TOKEN
            X-Csrf-Param:
                - _csrf
            X-Csrf-Token:
                - eGGLSs6IP23r2Kg-geYIbmySkzUA02Wlw5ypUr4Zu5Iqnt7SHViyff6-DVzGup4M4ss8Ww32vlditlyI8KvNYIp4i6RPrL_j
            X-Vcap-Request-Id:
                - 0a7de624-813f-4166-5a6d-3cbec7c93ca7
        status: 202 Accepted
        code: 202
        duration: 1.097236458s
    - id: 5
      request:
        host: deploy-service.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://deploy-service.x.x.x.x.com/api/v1/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/operations/1c612d23-b15d-11ef-81e3-eeee0a9e69aa?embed=messages
        method: GET
      response:
        body: '{"processId":"1c612d23-b15d-11ef-81e3-eeee0a9e69aa","processType":"DEPLOY","startedAt":"2024-12-03T09:58:13.909Z[UTC]","spaceId":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","mtaId":"a.cf.app","namespace":"Hello","user":"debaditya.ray@sap.com","acquiredLock":true,"state":"ERROR","errorType":"INFRASTRUCTURE","messages":[{"id":225432767,"text":"Operation ID: 1c612d23-b15d-11ef-81e3-eeee0a9e69aa","timestamp":"2024-12-03T09:58:13.799Z[UTC]","type":"INFO"},{"id":225432769,"text":"Deploying in org \"PerformanceTeamBLR\" and space \"tf-space-1\"","timestamp":"2024-12-03T09:58:14.324Z[UTC]","type":"INFO"},{"id":225432770,"text":"Detected MTA schema version: \"3\"","timestamp":"2024-12-03T09:58:14.775Z[UTC]","type":"INFO"},{"id":225432771,"text":"No deployed MTA detected - this is initial deployment of MTA with ID \"a.cf.app\" and namespace \"Hello\"","timestamp":"2024-12-03T09:58:15.295Z[UTC]","type":"INFO"},{"id":225432772,"text":"Error collecting system parameters: Could not create a valid host from \"performanceteamblr-tf-space-1-my-mta-managed-app-module\" ","timestamp":"2024-12-03T09:58:15.498Z[UTC]","type":"ERROR"}],"parameters":{}}'
        headers:
            Content-Type:
                - application/json
            X-Vcap-Request-Id:
                - 748bd9cb-0f4c-439d-516d-6f9293ec22dd
        status: 200 OK
        code: 200
        duration: 374.256667ms
