---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - 62db3baf-213e-4008-421f-d8c6da582070::1b97f660-fc7d-4b97-a512-4fab1d695f10
        status: 200 OK
        code: 200
        duration: 283.554167ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - fa5a4e5c-6e4c-4b7d-6d62-31e6d81f3215::83589db9-4fa1-4ed4-b1a4-7663b5dc0c66
        status: 200 OK
        code: 200
        duration: 318.561792ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin-sidecar
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  sidecars:
                    - name: sidecar-1
                      process_types:
                        - worker
                      command: sleep 5200
                      memory: 256M
                  metadata:
                    labels: {}
                    annotations: {}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/0f882a2f-94cc-4022-a933-30c57706ce19
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - b71ef4da-1a17-4302-6568-0406f8db8c7c::2ba180b2-dfe1-4ddf-bf75-b8b411b6f061
        status: 202 Accepted
        code: 202
        duration: 325.95725ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/0f882a2f-94cc-4022-a933-30c57706ce19
        method: GET
      response:
        body: '{"guid":"0f882a2f-94cc-4022-a933-30c57706ce19","created_at":"2024-12-03T04:31:36Z","updated_at":"2024-12-03T04:31:36Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/0f882a2f-94cc-4022-a933-30c57706ce19"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200387"
            X-Vcap-Request-Id:
                - 20855b7e-0484-49de-6cb1-7786222537d4::fd59bc4c-84c1-4008-97aa-f68212f48020
        status: 200 OK
        code: 200
        duration: 256.18775ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"f717950d-b151-4adf-abd7-81fcdd6b4c91","created_at":"2024-12-03T04:31:36Z","updated_at":"2024-12-03T04:31:36Z","name":"http-bin-sidecar","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"current_droplet":{"data":{"guid":null}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200389"
            X-Vcap-Request-Id:
                - 94b86a5c-c06b-4d4a-4997-825990cf5c79::d848d2ae-c2d2-460b-821b-1a36435884a1
        status: 200 OK
        code: 200
        duration: 321.800542ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"f717950d-b151-4adf-abd7-81fcdd6b4c91"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"ccb38e20-5755-4582-ac96-aa186de344c7","created_at":"2024-12-03T04:31:38Z","updated_at":"2024-12-03T04:31:38Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"f717950d-b151-4adf-abd7-81fcdd6b4c91"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/ccb38e20-5755-4582-ac96-aa186de344c7"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - c1784cff-7286-4847-713b-f901a9eb9d68::53cdf1f8-fb09-46e5-801d-f4cdbe38e6fe
        status: 201 Created
        code: 201
        duration: 276.279125ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"ccb38e20-5755-4582-ac96-aa186de344c7"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"98c83e72-0a5a-4d14-bbd2-da7dd7adb90b","created_at":"2024-12-03T04:31:38Z","updated_at":"2024-12-03T04:31:38Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"ccb38e20-5755-4582-ac96-aa186de344c7"},"droplet":null,"created_by":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2","name":"debaditya.ray@sap.com","email":"debaditya.ray@sap.com"},"relationships":{"app":{"data":{"guid":"f717950d-b151-4adf-abd7-81fcdd6b4c91"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/98c83e72-0a5a-4d14-bbd2-da7dd7adb90b"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - 6053e490-2e23-4e24-448b-36fd6b1b94fa::fed9d521-9726-4302-943a-0b862511d13b
        status: 201 Created
        code: 201
        duration: 348.910375ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/98c83e72-0a5a-4d14-bbd2-da7dd7adb90b
        method: GET
      response:
        body: '{"guid":"98c83e72-0a5a-4d14-bbd2-da7dd7adb90b","created_at":"2024-12-03T04:31:38Z","updated_at":"2024-12-03T04:31:38Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"stag[...]
[...]
    - id: 9
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/ccb38e20-5755-4582-ac96-aa186de344c7/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/ccb38e20-5755-4582-ac96-aa186de344c7/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/ccb38e20-5755-4582-ac96-aa186de344c7/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"cc65750e-3bce-4a92-9775-28765228363e","created_at":"2024-12-03T04:31:40Z","updated_at":"2024-12-03T04:31:40Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"f717950d-b151-4adf-abd7-81fcdd6b4c91"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/cc65750e-3bce-4a92-9775-28765228363e"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/ccb38e20-5755-4582-ac96-aa186de344c7"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - 6078e9e4-b15e-4a7d-70f6-2242ed0fec00::9f158fdb-1980-4550-89b1-15155cd9a13c
        status: 200 OK
        code: 200
        duration: 264.425167ms
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"cc65750e-3bce-4a92-9775-28765228363e"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"cc65750e-3bce-4a92-9775-28765228363e"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - 584c088f-f4da-43f0-5495-7c9c725013e1::819538c6-3e08-4d59-abd7-c8f46b572794
        status: 200 OK
        code: 200
        duration: 282.405375ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/actions/start
        method: POST
      response:
        body: '{"guid":"f717950d-b151-4adf-abd7-81fcdd6b4c91","created_at":"2024-12-03T04:31:36Z","updated_at":"2024-12-03T04:31:41Z","name":"http-bin-sidecar","state":"STARTED","lifecycle":{"type"[...]
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin-sidecar
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
              sidecars:
              - name: sidecar-1
                process_types:
                - worker
                command: sleep 5200
                memory: 256M
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - ae83759a-7031-45ec-7617-6690a0d499a9::8be4a4f0-5a99-40ac-a073-c1a82a4ec54c
        status: 200 OK
        code: 200
        duration: 277.280417ms
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91
        method: GET
      response:
        body: '{"guid":"f717950d-b151-4adf-abd7-81fcdd6b4c91","created_at":"2024-12-03T04:31:36Z","updated_at":"2024-12-03T04:31:41Z","name":"http-bin-sidecar","state":"STARTED","lifecycle":{"type":"docker","data[...]
[...]
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143?include=organization
        method: GET
      response:
        body: '{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}},"included":{"organizations":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - 0d06233f-cf35-4086-67cd-cb8f66b5b044::cfa71926-2e8a-4c9d-abe9-e6d2be6b6dfe
        status: 200 OK
        code: 200
        duration: 260.729125ms
    - id: 16
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/f717950d-b151-4adf-abd7-81fcdd6b4c91
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/5dc9323f-8dff-4f1e-aff2-59f7b040d4e7
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1733200388"
            X-Vcap-Request-Id:
                - d86f54cc-19ce-4b6b-7a60-94c395b1ca08::96ecb2a8-8f42-4914-9f55-b24d0392453e
        status: 202 Accepted
        code: 202
        duration: 275.762833ms
[...]
