---
version: 2
interactions:
    - id: 0
      request:
        host: uaa.x.x.x.x.com
        body: grant_type=refresh_token&refresh_token=421a533173bb4b69905a4d6e52735382-r
        form:
            grant_type:
                - refresh_token
            refresh_token:
                - 421a533173bb4b69905a4d6e52735382-r
        headers:
            Authorization:
                - Basic Y2Y6
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://uaa.x.x.x.x.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"redacted","token_type":"bearer","id_token":"redacted","refresh_token":"421a533173bb4b69905a4d6e52735382-r","expires_in":1199,"scope":"cloud_controller.read password.write cloud_controller.admin_read_only cloud_controller.write openid scim.read cloud_controller.admin uaa.user","jti":"28783fa9f7654792be4cbd73524b786f"}'
        headers:
            Content-Type:
                - application/json;charset=UTF-8
            X-Vcap-Request-Id:
                - 906c10a4-6eb9-4c97-5345-964cc87e51d4
        status: 200 OK
        code: 200
        duration: 564.543125ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"organization","organizations":[{"guid":"3533be5d-272f-42fe-bf70-fc4b108c2043"}]}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/service_plans/invalid-service-plan/visibility
        method: POST
      response:
        body: '{"errors":[{"detail":"Service plan not found","title":"CF-ResourceNotFound","code":10010}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Vcap-Request-Id:
                - 31482b6e-8966-4ab1-59eb-094d6b080841::7aea1f19-f316-4413-9b55-ef88b54992f7
        status: 404 Not Found
        code: 404
        duration: 545.631834ms
