---
version: 2
interactions:
    - id: 0
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/organizations?names=PerformanceTeamBLR\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - 992d1847-b70e-417d-58a0-70dd6b77a38a::4ee0bc72-fa93-4495-9001-9b5bd32d6e71
        status: 200 OK
        code: 200
        duration: 214.516667ms
    - id: 1
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces?names=tf-space-1&organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56&page=1&per_page=50
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"last":{"href":"https://api.x.x.x.x.com/v3/spaces?names=tf-space-1\u0026organization_guids=784b4cd0-4771-4e4d-9052-a07e178bae56\u0026page=1\u0026per_page=50"},"next":null,"previous":null},"resources":[{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - c9dec718-ac69-4a27-55e3-a0251e60eb25::bac0fce5-c8e9-4212-88f4-e519764b274a
        status: 200 OK
        code: 200
        duration: 300.765625ms
    - id: 2
      request:
        host: api.x.x.x.x.com
        body: |
            applications:
                - name: http-bin-sidecar
                  docker:
                    image: kennethreitz/httpbin
                  no-route: true
                  sidecars:
                    - name: sidecar-1
                      process_types:
                        - worker
                      command: sleep 5200
                      memory: 256M
                  metadata:
                    labels: {}
                    annotations: {}
                  instances: 1
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/x-yaml
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - text/html
            Location:
                - https://api.x.x.x.x.com/v3/jobs/bac25306-f1d2-4d37-bf45-38a188b15d07
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - 09a5cc80-32da-414f-4c0e-d5192240c5b3::3d882b91-e5c9-485c-913c-99ed29a5c537
        status: 202 Accepted
        code: 202
        duration: 279.6305ms
    - id: 3
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/jobs/bac25306-f1d2-4d37-bf45-38a188b15d07
        method: GET
      response:
        body: '{"guid":"bac25306-f1d2-4d37-bf45-38a188b15d07","created_at":"2025-02-19T16:52:45Z","updated_at":"2025-02-19T16:52:45Z","operation":"space.apply_manifest","state":"COMPLETE","errors":[],"warnings":[],"links":{"self":{"href":"https://api.x.x.x.x.com/v3/jobs/bac25306-f1d2-4d37-bf45-38a188b15d07"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - 3e279fe1-8c22-4584-7981-38f5a4b2b71d::3586db44-599d-466a-beb9-f3f8ddeb5edd
        status: 200 OK
        code: 200
        duration: 188.241583ms
    - id: 4
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar&page=1&per_page=50&space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"last":{"href":"https://api.x.x.x.x.com/v3/apps?names=http-bin-sidecar\u0026page=1\u0026per_page=50\u0026space_guids=02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"next":null,"previous":null},"resources":[{"guid":"8164aed6-3453-4c89-819d-6a9f3fa44c5c","created_at":"2025-02-19T16:52:45Z","updated_at":"2025-02-19T16:52:45Z","name":"http-bin-sidecar","state":"STOPPED","lifecycle":{"type":"docker","data":{}},"relationships":{"space":{"data":{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143"}},"current_droplet":{"data":{"guid":null}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c"},"environment_variables":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/environment_variables"},"space":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"processes":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/processes"},"packages":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/packages"},"current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/droplets/current"},"droplets":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/droplets"},"tasks":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/tasks"},"start":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/actions/start","method":"POST"},"stop":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/actions/stop","method":"POST"},"clear_buildpack_cache":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/actions/clear_buildpack_cache","method":"POST"},"revisions":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/revisions"},"deployed_revisions":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/revisions/deployed"},"features":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/features"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984589"
            X-Vcap-Request-Id:
                - 77025bcf-a385-4c78-7a37-e8fdd91401d0::1e252376-a3e1-4323-9353-f9e94b3d69d0
        status: 200 OK
        code: 200
        duration: 270.746542ms
    - id: 5
      request:
        host: api.x.x.x.x.com
        body: |
            {"type":"docker","relationships":{"app":{"data":{"guid":"8164aed6-3453-4c89-819d-6a9f3fa44c5c"}}},"data":{"image":"kennethreitz/httpbin"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/packages
        method: POST
      response:
        body: '{"guid":"82dce7d1-c125-4e86-85e3-1227a47433c5","created_at":"2025-02-19T16:52:47Z","updated_at":"2025-02-19T16:52:47Z","type":"docker","data":{"image":"kennethreitz/httpbin","username":null,"password":null},"state":"READY","relationships":{"app":{"data":{"guid":"8164aed6-3453-4c89-819d-6a9f3fa44c5c"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/packages/82dce7d1-c125-4e86-85e3-1227a47433c5"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - 0d0064c5-4c04-4f25-400b-9ad645682e39::7a468619-9d71-4541-a8ea-1adb0a0d66f7
        status: 201 Created
        code: 201
        duration: 223.275542ms
    - id: 6
      request:
        host: api.x.x.x.x.com
        body: |
            {"package":{"guid":"82dce7d1-c125-4e86-85e3-1227a47433c5"},"lifecycle":{"type":"docker","data":{}}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/builds
        method: POST
      response:
        body: '{"guid":"1976f265-8579-4261-b74e-7cfc04915b22","created_at":"2025-02-19T16:52:47Z","updated_at":"2025-02-19T16:52:47Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"staging_log_rate_limit_bytes_per_second":-1,"error":null,"lifecycle":{"type":"docker","data":{}},"package":{"guid":"82dce7d1-c125-4e86-85e3-1227a47433c5"},"droplet":null,"created_by":{"guid":"4467eb10-a5dd-4c46-904f-d5a1c86f05a2","name":"debaditya.ray@sap.com","email":"debaditya.ray@sap.com"},"relationships":{"app":{"data":{"guid":"8164aed6-3453-4c89-819d-6a9f3fa44c5c"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/builds/1976f265-8579-4261-b74e-7cfc04915b22"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - 46e4e9ed-2716-4801-40d1-6cb817c23d49::1992dfcf-e94e-4244-83a6-864c2a5b94f5
        status: 201 Created
        code: 201
        duration: 307.306625ms
    - id: 7
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/builds/1976f265-8579-4261-b74e-7cfc04915b22
        method: GET
      response:
        body: '{"guid":"1976f265-8579-4261-b74e-7cfc04915b22","created_at":"2025-02-19T16:52:47Z","updated_at":"2025-02-19T16:52:47Z","state":"STAGING","staging_memory_in_mb":1024,"staging_disk_in_mb":4096,"stag[...]
[...]
    - id: 10
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/packages/82dce7d1-c125-4e86-85e3-1227a47433c5/droplets?page=1&per_page=50&states=STAGED
        method: GET
      response:
        body: '{"pagination":{"total_results":1,"total_pages":1,"first":{"href":"https://api.x.x.x.x.com/v3/packages/82dce7d1-c125-4e86-85e3-1227a47433c5/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"last":{"href":"https://api.x.x.x.x.com/v3/packages/82dce7d1-c125-4e86-85e3-1227a47433c5/droplets?page=1\u0026per_page=50\u0026states=STAGED"},"next":null,"previous":null},"resources":[{"guid":"166e886e-20a7-4cdc-9ec9-a9d5600be2f6","created_at":"2025-02-19T16:52:50Z","updated_at":"2025-02-19T16:52:50Z","state":"STAGED","error":null,"lifecycle":{"type":"docker","data":{}},"checksum":null,"buildpacks":null,"stack":null,"image":"kennethreitz/httpbin:latest","execution_metadata":"[PRIVATE DATA HIDDEN IN LISTS]","process_types":{"redacted_message":"[PRIVATE DATA HIDDEN IN LISTS]"},"relationships":{"app":{"data":{"guid":"8164aed6-3453-4c89-819d-6a9f3fa44c5c"}}},"metadata":{"labels":{},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/droplets/166e886e-20a7-4cdc-9ec9-a9d5600be2f6"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c"},"assign_current_droplet":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/relationships/current_droplet","method":"PATCH"},"package":{"href":"https://api.x.x.x.x.com/v3/packages/82dce7d1-c125-4e86-85e3-1227a47433c5"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - 815d5e12-2ea1-4a5c-4f49-8775f37d0441::79dbdb47-05e1-4f2d-b416-9283b90ba81d
        status: 200 OK
        code: 200
        duration: 202.247458ms
    - id: 11
      request:
        host: api.x.x.x.x.com
        body: |
            {"data":{"guid":"166e886e-20a7-4cdc-9ec9-a9d5600be2f6"}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/relationships/current_droplet
        method: PATCH
      response:
        body: '{"data":{"guid":"166e886e-20a7-4cdc-9ec9-a9d5600be2f6"},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/relationships/current_droplet"},"related":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/droplets/current"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - cfad382a-0a15-46ed-57d2-c279b767d53d::dd7cce7d-a093-4524-a367-fd9f8194de50
        status: 200 OK
        code: 200
        duration: 218.706583ms
    - id: 12
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/actions/start
        method: POST
      response:
        body: '{"guid":"8164aed6-3453-4c89-819d-6a9f3fa44c5c","created_at":"2025-02-19T16:52:45Z","updated_at":"2025-02-19T16:52:51Z","name":"http-bin-sidecar","state":"STARTED","lifecycle":{"type"[...]
    - id: 13
      request:
        host: api.x.x.x.x.com
        body: |
            {"var":{}}
        form: {}
        headers:
            Authorization:
                - Bearer redacted
            Content-Type:
                - application/json
        url: https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/environment_variables
        method: PATCH
      response:
        body: '{"var":{},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/environment_variables"},"app":{"href":"https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984589"
            X-Vcap-Request-Id:
                - 85f7acca-0894-460a-4d6c-47072d60a6b8::89ad156f-fe57-4343-8ae9-e8b29e251c18
        status: 200 OK
        code: 200
        duration: 210.165708ms
    - id: 14
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c/manifest
        method: GET
      response:
        body: |
            ---
            applications:
            - name: http-bin-sidecar
              lifecycle: docker
              docker:
                image: kennethreitz/httpbin
              processes:
              - type: web
                instances: 1
                memory: 1024M
                disk_quota: 1024M
                log-rate-limit-per-second: -1
                health-check-type: port
                readiness-health-check-type: process
              sidecars:
              - name: sidecar-1
                process_types:
                - worker
                command: sleep 5200
                memory: 256M
        headers:
            Content-Type:
                - application/x-yaml; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - b120e7d9-3931-4f92-4986-c7f16196b440::64150bce-b999-460d-b563-6150b17ba197
        status: 200 OK
        code: 200
        duration: 210.877625ms
    - id: 15
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/apps/8164aed6-3453-4c89-819d-6a9f3fa44c5c
        method: GET
      response:
        body: '{"guid":"8164aed6-3453-4c89-819d-6a9f3fa44c5c","created_at":"2025-02-19T16:52:45Z","updated_at":"2025-02-19T16:52:52Z","name":"http-bin-sidecar","state":"STARTED","lifecycle":{"type":"docker","data[...]
[...]
    - id: 17
      request:
        host: api.x.x.x.x.com
        body: ""
        form: {}
        headers:
            Authorization:
                - Bearer redacted
        url: https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143?include=organization
        method: GET
      response:
        body: '{"guid":"02c0cc92-6ecc-44b1-b7b2-096ca19ee143","created_at":"2024-02-08T08:26:00Z","updated_at":"2024-02-08T08:26:00Z","name":"tf-space-1","relationships":{"organization":{"data":{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56"}},"quota":{"data":null}},"metadata":{"labels":{"purpose":"prod","test":"pass"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143"},"organization":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"features":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/features"},"apply_manifest":{"href":"https://api.x.x.x.x.com/v3/spaces/02c0cc92-6ecc-44b1-b7b2-096ca19ee143/actions/apply_manifest","method":"POST"}},"included":{"organizations":[{"guid":"784b4cd0-4771-4e4d-9052-a07e178bae56","created_at":"2017-07-04T10:43:11Z","updated_at":"2024-01-08T15:08:31Z","name":"PerformanceTeamBLR","suspended":false,"relationships":{"quota":{"data":{"guid":"c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}},"metadata":{"labels":{"env":"canary"},"annotations":{}},"links":{"self":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56"},"domains":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains"},"default_domain":{"href":"https://api.x.x.x.x.com/v3/organizations/784b4cd0-4771-4e4d-9052-a07e178bae56/domains/default"},"quota":{"href":"https://api.x.x.x.x.com/v3/organization_quotas/c17f045b-cebf-451a-b2d8-6c885fd9dbfc"}}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "20000"
            X-Ratelimit-Remaining:
                - "18000"
            X-Ratelimit-Reset:
                - "1739984588"
            X-Vcap-Request-Id:
                - 03a65ab0-36b6-4b79-564a-2417b1104699::4a10021f-b6fd-4e47-b4bd-6fb85d65b2c4
        status: 200 OK
        code: 200
        duration: 199.665291ms
[...]
