# The primary focus of this provider is Terraform, however, it is nice to see if there are deviations in the implementations between Terraform and OpenTofu.
# This is a restricted test set for OpenTofu
# The full test is defined in the test.yml workflow.
# This file is intended to focus testing the OpenTofu compatibility against the latest provider version.
# This is a manually triggered test.

name: OpenTofu Provider Tests

on:
  workflow_dispatch:

# Testing only needs permission to read the repository contents.
permissions:
  contents: read

env:
  LATEST_VERSION: 1.10.*

jobs:
  # Ensure project builds before running the testing matrix
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6.0.1 # v4.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
          cache: true
      - run: go mod download
      - run: go build -v .
      - name: Run linters
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v3.7.1
        with:
          version: latest


  # Run acceptance tests in a matrix with OpenTofu CLI versions
  test:
    name: Terraform Provider Acceptance Tests for OpenTofu
    needs: build
    runs-on: ubuntu-latest
    # Timeout for tests set to 25 minutes to safeguard long running tests (specifically for service instances)
    timeout-minutes: 25
    strategy:
      fail-fast: false
      matrix:
        # List of OpenTofu versions to be tested - last three versions are in scope
        # Check https://endoflife.date/opentofu for end of support dates
        # '1.6.*' end of security support 09 Jan 2025
        opentofu:
          - '1.7.*'
          - '1.8.*'
          - '1.9.*'
          - '1.10.*'
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version-file: 'go.mod'
          cache: true
      - uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: ${{ matrix.opentofu }}
          tofu_wrapper: false
      - run: go mod download
      - run: go test -v -timeout=900s -parallel=4 ./...
        if: ${{ matrix.opentofu }} != ${{ env.LATEST_VERSION }}
        env:
          TF_ACC: "1"
        timeout-minutes: 20
      # For the latest version we use a dedicated action for a visual display of the test results
      - uses: robherley/go-test-action@v0
        if: ${{ matrix.opentofu == env.LATEST_VERSION }}
        env:
          TF_ACC: "1"
        with:
          testArguments: -v -timeout=900s -parallel=4 ./...
